@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

html
	font-size: 10px

*
	color: #fff

body
	cursor: default
	background: #191919

// CSS Start


@media only screen and (max-width: 480px)
	body

*
	// +outline($blue)