.owl-carousel__slider-container
	.owl-carousel__slider
		.owl-carousel__slide.owl-carousel__slide1
			img.owl-carousel__image(height="500" src="http://source.unsplash.com/770x500", alt="picture")
		.owl-carousel__slide.owl-carousel__slide2
			img.owl-carousel__image(height="500" src="http://source.unsplash.com/774x500", alt="picture")
		.owl-carousel__slide.owl-carousel__slide3
			img.owl-carousel__image(height="500" src="http://source.unsplash.com/778x500", alt="picture")
	.owl-carousel__slider-buttons-container
		button.owl-carousel__slider-button.owl-carousel__prev-button Prev
		button.owl-carousel__slider-button.owl-carousel__next-button Next