// Component CSS
.owl-carousel {
	&__slider-container {
		@include flex(column, wrap, flex-start, center);
	}
	&__slider {
		width: 100%;
		@include flex(column, wrap, flex-start, center);
		@media only screen and (min-width: 768px) {
			width: 760px;
		}
	}
	&__slide {}
	&__slide1 {}
	&__slide2 {}
	&__slide3 {}
	&__image {}
	&__slider-buttons-container {
		margin-top: 10px;
	}
	&__slider-button {
		cursor: pointer;
	}
	&__prev-button {}
	&__next-button {
		margin-left: 10px;
	}
}

// Bootstrap Media Queries
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline($blue)}