doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title test-email
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		style
			include css/main.css
	body(style='margin: 0; padding: 0;')
		div(style='font-size:0px;font-color:#ffffff;opacity:0;visibility:hidden;width:0;height:0;display:none;') Тестовое письмо
		center.wrapper
			.webkit
				table(cellpadding='0' cellspacing='0' width='100%')
					tr
						td
							table.main.table-600(cellpadding='0' cellspacing='0' max-width="600" width="100%" align="center" bgcolor='transparent' style="font-family: Arial, Helvetica, sans-serif, 'Raleway';")

								// HTML Start

								// Header
								tr.section
									td.header
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											tr
												td.header__logo-container(align="center")
													a(href="http://google.com")
														img.header__logo-image(src="https://i.ibb.co/44045zp/logo.png", alt="logo")

								// Main
								tr.section
									td.main
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											tr
												td.main__headline-container(align="center")
													p.main__headline(style="font-family: Arial, Helvetica, sans-serif, 'Inter';") I am Beyoncé always.
											tr
												td.main__cta-link-container(align="center")
													a.main__cta-link(href="http://google.com" style="font-family: Arial, Helvetica, sans-serif, 'Inter';") CTA Text
											tr
												td.main__banner-container(align="center")
													a(href="http://google.com")
														img.main__banner-image(src="https://i.ibb.co/Y3c4L0g/main-banner.png", alt="banner")
											tr
												td.main__paragraph-container(align="center")
													p.main__paragraph(style="font-family: Arial, Helvetica, sans-serif, 'Inter';") My, philosophy is, basically this. And this is something that I live by. And I always have. And I always will. Don’t, ever, for any reason, do anything, to anyone, for any reason, ever, no matter what, no matter where, or who you are with, or, or where you are going, or, or where you’ve been. Ever. For any reason. Whatsoever.
											tr
												td.main__cta-link-container(align="center")
													a.main__cta-link(href="http://google.com" style="font-family: Arial, Helvetica, sans-serif, 'Inter';") CTA Text
								
								// Footer
								tr.section
									td.footer
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											td
												tr
													td.footer__socials-container
														table(cellpadding='0' cellspacing='0' align="center")
															tr
																td.footer__social-link-container(align="center")
																	a.footer__social-link.footer__twitter(href="http://google.com")
																		img(src="https://i.ibb.co/jhqPWhX/footer-twitter.png", alt="twitter link")
																td.footer__social-link-container(align="center")
																	a.footer__social-link.footer__facebook(href="http://google.com")
																		img(src="https://i.ibb.co/6wZN5HH/footer-facebook.png", alt="facebook link")
																td.footer__social-link-container(align="center")
																	a.footer__social-link.footer__instagram(href="http://google.com")
																		img(src="https://i.ibb.co/q7dBVWg/footer-instagram.png", alt="instagram link")
												tr
													td.footer__site-link-container(align="center")
														a.footer__site-link(href="http://google.com" style="font-family: Arial, Helvetica, sans-serif, 'Inter';") dundermifflinpaper.com
												tr
													td.footer__copy-container(align="center")
														p.footer__copy(style="font-family: Arial, Helvetica, sans-serif, 'Inter';") 1725 Slough Avenue #200, Scranton, PA, 18540 
															|
															br
															| &copy; 2020 Bonnie Kate Wolf
												tr
													td.footer__logo-container(align="center")
														a(href="http://google.com")
															img.footer__logo-image(src="https://i.ibb.co/BzwxbZ8/footer-logo.png", alt="logo")
								// HTML End