#bg-image {
  background: #263238 url(../img/pixelplus.jpg) no-repeat 50% 0;
  -webkit-background-size: auto auto;
          background-size: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3; }

#bg-image {
  display: none; }

header {
  font-family: "RobotoLight";
  letter-spacing: .1rem;
  font-size: 2rem;
  color: white;
  background-color: #263238;
  height: 100vh;
  min-height: 60rem;
  padding: 1.5rem 0 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

header .container {
  z-index: 1;
  height: 90vh;
  min-height: 60rem; }

header .container .main-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

header .container .main-menu li {
  padding: 0;
  margin: 0;
  margin-right: 4rem; }

header .container .main-menu li:last-child {
  margin-right: 0; }

header .container .main-menu li .link {
  padding: 0.3rem 0;
  color: white;
  text-decoration: none;
  font-family: "RobotoLight"; }

header .container .portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  min-height: 60rem; }

header .container .portfolio a {
  color: white;
  text-decoration: none;
  margin-right: 5rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 4rem;
  font-family: "RobotoLight";
  font-size: 4rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

header .container .portfolio a:hover {
  background: rgba(255, 255, 255, 0.3); }

header .container .portfolio a:last-child {
  margin-right: 0; }

.skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  min-height: 60rem; }

.skills .skills-list {
  padding: 0;
  list-style-type: none; }

.skills .skills-list li {
  line-height: 1.5; }

.contact {
  height: 90vh;
  min-height: 60rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contact p {
  font-size: 5rem;
  text-align: center;
  margin: 0; }

.contact p span {
  font-size: 3rem; }

.second-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 60rem;
  z-index: 0;
  background: url(../img/bg.svg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  opacity: 0.5; }

.link-active {
  border-bottom: 0.1rem solid white; }

#content {
  overflow: hidden;
  -webkit-animation: fade-in .5s;
          animation: fade-in .5s; }

#content.content-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-in 0.5s;
          animation: fade-in 0.5s; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
