body {
  overflow: hidden; }

.particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 0; }

.header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%; }

.header__wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__nav-link {
  font-family: "RobotoLight";
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: .1rem;
  color: #fff;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  position: relative;
  text-shadow: 0.2rem 0.2rem 0rem rgba(59, 29, 106, 0.5); }

.header__nav-link:last-child {
  margin-right: 0rem; }

.header__nav-link::before {
  content: '';
  width: 100%;
  height: 0.2rem;
  background: #fff;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.header__nav-link.active::before {
  opacity: 1; }

.main {
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  background: -webkit-linear-gradient(45deg, #c4233e, #3B1D6A);
  background: -o-linear-gradient(45deg, #c4233e, #3B1D6A);
  background: linear-gradient(45deg, #c4233e, #3B1D6A);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main__content {
  position: relative;
  z-index: 1; }

.main__content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main__portfolio-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main__project-link {
  background: #512950;
  font-family: "RobotoLight";
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  padding: 3rem 4rem;
  letter-spacing: .1rem;
  margin: 1rem;
  text-shadow: 0.2rem 0.2rem 0rem rgba(59, 29, 106, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.main__project-link:hover {
  background: #5b2e5a; }

.main__skills-list {
  padding: 0rem;
  margin: 0rem;
  list-style-type: none; }

.main__skills-list-item {
  color: #fff;
  font-family: "RobotoLight";
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-top: 1rem;
  text-shadow: 0.2rem 0.2rem 0rem rgba(59, 29, 106, 0.5); }

.main__skills-list-item:first-child {
  margin-top: 0rem; }

.main__contacts-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.main__contacts-link {
  width: 26rem;
  height: auto;
  text-align: center;
  padding: 3rem 0rem;
  font-family: "RobotoLight";
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: .1rem;
  color: #fff;
  background: #512950;
  margin: 1rem auto 0rem;
  text-shadow: 0.2rem 0.2rem 0rem rgba(59, 29, 106, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.main__contacts-link:hover {
  background: #5b2e5a; }

.main__contacts-link:first-child {
  margin-top: 0rem; }
