/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
	body
		// background: purple

	header
		.header__content
			.header__block1
				a
					padding: 0
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		// background: orange

	header
		.header__content
			.header__block1
				a
					padding: 3rem
					font-size: 3rem
			.header__block2
				width: 70%
			.header__block3
				width: 70%
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		// background: lightblue

	header
		padding: 2rem 0
		.header__content
			.header__block1
				width: 90%
				a
					padding: 1.9rem .8rem
					font-size: 2.3rem
			.header__block2
				width: 70%
				.skills
					ul
						li
			.header__block3
				width: 70%
				.contact
					position: relative
					bottom: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		// background: pink

	header
		.header__content
			justify-content: start
			height: 90%
			.header__block1
				flex-direction: column
				justify-content: center
				width: 100%
				a
					margin-top: 1rem
					text-align: center
					padding: 4rem 0
					width: 100%
			.header__block2
				width: 100%
				font-size: 1.8rem
			.header__block3
				width: 100%
				.contact
					width: 100%
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		// background: lightgreen

// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: lightgreen
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: pink
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: lightblue
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1200px)
// 	body
// 		background: purple