* {
	transition: all .2s;
	box-sizing: border-box;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .col-md-1, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 {
	width: 100%; 
	}
}


/*//////////////////// Header /////////////////////*/

header {
	background-color: #EEEFF1;
	.menu {
		float: right;
		margin-top: 65px;
	}
	.logo {
		margin-top: 65px;
	}
	h1 {
		text-align: center;
		color: #4F4F4F;
		text-transform: uppercase;
		font-family: "Ubuntu";
		font-size: 40px;
		margin-top: 205px;
		mark {
			background-color: #B1F1ED;
		}
	}
	.contact-us {
		margin: 0 auto;
		width: 230px;
		margin-top: 150px;
		margin-bottom: 195px;
		a {
			color: #3B3B3C;
			display: block;
			border: 2px solid #3B3B3C;
			border-radius: 3px;
			width: 230px;
			text-align: center;
			padding: 10px 0;
			text-transform: uppercase;
			&:hover {
				background-color: #3B3B3C;
				color: white;
			}
		}
	}
}

/*///////////////// About Us //////////////////*/

.about-us {
	text-align: center;
	padding: 0 0 120px 0;
	h1 {
		margin: 130px 0 0;
		text-transform: uppercase;
	}
	p {
		text-transform: uppercase;
	}
	img {
		margin: 145px 55px 0 0;
		width: 100%;
	}
	.block-1, .block-2 {
		h2 {
			text-transform: uppercase;
		}
		p {
			text-align: left;
			line-height: 1.7;
			margin-left: 55px;
			text-transform: none;
		}
	}
	.block-1 {
		margin: 175px 0 0 0;
	}
	.block-2 {
		margin: 50px 0 0 0;
	}
}

/*/////////////////// Featured Works ///////////////////*/

.featured-works {
	padding: 120px 0 250px 0;
	h1, p {
		text-align: center;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 120px;
	}
	img {
		margin: 18px 0 0 0;
	}
}

/*////////////////// Our Services ///////////////////*/

.our-services {
	padding-bottom: 125px;
	h1, p {
		text-align: center;
		text-transform: uppercase;
	}
	.p-margin {
		margin-bottom: 120px;
	}
	.block-1 {
		background-color: #70F5EA;
		width: 652px;
		height: 370px;
		&:hover {
			background-color: orange;
		}
	}
	.block-2 {
		background-image: url("../images/services-2.jpg");
		width: 472px;
		height: 370px;
		color: white;
		&:hover {
			background-image: url("http://placekitten.com/472/370");
			text-shadow: 1px 1px 1px grey;
		}
	}
	.block-3 {
		background-image: url("../images/services-3.jpg");
		width: 652px;
		height: 370px;
		color: white;
		&:hover {
			background-image: url("http://placekitten.com/652/370");
			text-shadow: 1px 1px 1px grey;
		}
	}
	.block-4 {
		background-image: url("../images/services-4.jpg");
		width: 472px;
		height: 370px;
		color: white;
		&:hover {
			background-image: url("http://placekitten.com/472/370");
			text-shadow: 1px 1px 1px grey;
		}
	}
	.block-5 {
		background-image: url("../images/services-5.jpg");
		width: 472px;
		height: 370px;
		color: white;
		&:hover {
			background-image: url("http://placekitten.com/472/370");
			text-shadow: 1px 1px 1px grey;
		}
	}
	.block-6 {
		background-image: url("../images/services-6.jpg");
		width: 652px;
		height: 370px;
		color: white;
		&:hover {
			background-image: url("http://placekitten.com/652/370");
			text-shadow: 1px 1px 1px grey;
		}
	}
	.block-1, .block-2, .block-3,
	.block-4, .block-5, .block-6 {
		margin: 5px;
		padding: 60px;
		h2 {
			text-transform: uppercase;
			font-family: "RobotoLight";
		}
		p {
			text-align: left;
			text-transform: none;
			font-family: "RobotoLight", arial;
		}
		a {
			color: white;
			font-style: italic;
			img {
				margin-left: 10px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/*////////////////////// Team //////////////////////*/

.team {
	padding-top: 125px;
	padding-bottom: 125px;
	.p-margin {
		margin-bottom: 120px;
	}
	h1, p {
		text-align: center;
		text-transform: uppercase;
	}
	.block {
		width: 370px;
		height: 440px;
		margin: 10px;
		position: relative;
		&:hover .info {
			display: block;
		}
		&::before {
			content: "";
			display: table;
			clear: both;
		}
		p {
			text-align: left;
			text-transform: none;
		}
		h2 {
			font-family: "RobotoLight", arial;
			font-size: 20px;
			span {
				color: #747675;
				font-style: italic;
			}
		}
	}
	.block-1 {
		background-image: url("../images/team-1.jpg");
	}
	.block-2 {
		background-image: url("../images/team-2.jpg");
	}
	.block-3 {
		background-image: url("../images/team-3.jpg");
	}
	.block-4 {
		background-image: url("../images/team-4.jpg");
	}
	.block-5 {
		background-image: url("../images/team-5.jpg");
	}
	.block-6 {
		background-image: url("../images/team-1.jpg")
	}
	.info {
		background-color: #6EF5EA;
		margin: 185px 10px 15px 10px;
		padding: 40px 20px 20px 40px;
		width: 350px;
		height: 240px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		.social {
			margin-right: 10px;
		}
		a {
			color: black;
		}
	}
}

/*//////////////// They Say //////////////////*/

.they-say {
	padding-top: 125px;
	padding-bottom: 125px;
	.p-margin {
		margin-bottom: 135px;
	}
	h1, p {
		text-align: center;
	}
	.block-1 {
		width: 450px;
		height: 365px;
		background-color: #E9EAEC;
		display: inline-block;
		.photo {
			position: absolute;
			left: 55px;
			top: -35px;
			box-shadow: 1px 1px 2px lightgrey;
		}
	}
	.block-2 {
		width: 665px;
		height: 365px;
		background-color: #E9EAEC;
		display: inline-block;
		padding: 50px 85px 70px 50px;
		font-family: "RobotoLight", arial;
		position: relative;
		h2 {
			text-align: center;
			span {
				color: grey;
			}
		}
		.stars {
			margin-top: 15px;
			position: absolute;
			left: 265px;
		}
	}
	.block-3 {
		float: right;
	}
	.arrow {
		display: inline-block;
		position: relative;
		left: 13px;
		margin-top: 30px;
		box-shadow: 1px 1px 3px lightgrey;
		&:hover {
			background-color: #70F5EA;
		}
	}
	.arrow-l {
		background-image: url("../images/team-arrow-l.png");
		width: 55px;
		height: 55px;
		background-repeat: no-repeat;
		background-position: 45% 50%;
		border-radius: 3px;
		margin-right: 30px;
		opacity: .3;
	}
	.arrow-r {
		background-image: url("../images/team-arrow-r.png");
		width: 55px;
		height: 55px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border-radius: 3px;
	}
}

/*/////////////////// Pre Footer /////////////////*/

.pre-footer {
	padding-top: 80px;
	h1 {
		text-align: center;
	}
	.container-fluid {
		background-image: url("../images/footer-bg.jpg");
		height: 797px;
		background-size: cover;
	}
	.block-1 {
		background-color: rgba(69, 87, 97, .8);
		width: 570px;
		height: 460px;
		margin-top: 150px;
		padding: 30px;
		.input {
			background: none;
			border: none;
			border-bottom: 1px solid white;
			width: 510px;
			color: white;
			font-family: "RobotoLight", arial;
			padding: 10px 0;
			opacity: .7;
			margin: 5px;
		}
		.submit {
			margin-top: 30px;
			padding: 10px 20px;
			width: 245px;
			background-color: #6DEDE3;
			border: none;
			border-radius: 3px;
			&:hover {
				background-color: orange;
				color: white;
			}
		}
	}
	.block-2 {
		background-color: rgba(69, 87, 97, .8);
		width: 515px;
		height: 460px;
		margin-top: 150px;
		padding: 30px;
		.text {
			color: white;
			opacity: .7;
			font-family: "RobotoLight", arial;
			line-height: .8;
			margin-top: 10px;
		}
		p {
			margin: 0;
		}
		.map {
			margin-top: 40px;
		}
	}
}

/*///////////////// Footer ///////////////*/

.footer {
	background-color: #252A2D;
	padding-bottom: 60px;
	h2 {
		color: white;
		font-family: "RobotoLight", arial;
		text-align: center;
		margin-top: 60px;
	}
	p {
		color: #7C7F81;
		text-align: center;
	}
	.social {
		color: white;
		text-align: center;
		a {
			color: #BAB7B8;
			margin: 2px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #414547;
			border-radius: 2px;
			&:hover {
				background-color: #6DEDE3;
				color: #252A2D;
			}
		}
		.fa {
			display: inline;
			vertical-align: middle;
		}
	}
}