* {
  transition: all .2s;
  box-sizing: border-box;
}
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 100%;
  }
}
/*//////////////////// Header /////////////////////*/
header {
  background-color: #EEEFF1;
}
header .menu {
  float: right;
  margin-top: 65px;
}
header .logo {
  margin-top: 65px;
}
header h1 {
  text-align: center;
  color: #4F4F4F;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-size: 40px;
  margin-top: 205px;
}
header h1 mark {
  background-color: #B1F1ED;
}
header .contact-us {
  margin: 0 auto;
  width: 230px;
  margin-top: 150px;
  margin-bottom: 195px;
}
header .contact-us a {
  color: #3B3B3C;
  display: block;
  border: 2px solid #3B3B3C;
  border-radius: 3px;
  width: 230px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
header .contact-us a:hover {
  background-color: #3B3B3C;
  color: white;
}
/*///////////////// About Us //////////////////*/
.about-us {
  text-align: center;
  padding: 0 0 120px 0;
}
.about-us h1 {
  margin: 130px 0 0;
  text-transform: uppercase;
}
.about-us p {
  text-transform: uppercase;
}
.about-us img {
  margin: 145px 55px 0 0;
  width: 100%;
}
.about-us .block-1 h2,
.about-us .block-2 h2 {
  text-transform: uppercase;
}
.about-us .block-1 p,
.about-us .block-2 p {
  text-align: left;
  line-height: 1.7;
  margin-left: 55px;
  text-transform: none;
}
.about-us .block-1 {
  margin: 175px 0 0 0;
}
.about-us .block-2 {
  margin: 50px 0 0 0;
}
/*/////////////////// Featured Works ///////////////////*/
.featured-works {
  padding: 120px 0 250px 0;
}
.featured-works h1,
.featured-works p {
  text-align: center;
  text-transform: uppercase;
}
.featured-works p {
  margin-bottom: 120px;
}
.featured-works img {
  margin: 18px 0 0 0;
}
/*////////////////// Our Services ///////////////////*/
.our-services {
  padding-bottom: 125px;
}
.our-services h1,
.our-services p {
  text-align: center;
  text-transform: uppercase;
}
.our-services .p-margin {
  margin-bottom: 120px;
}
.our-services .block-1 {
  background-color: #70F5EA;
  width: 652px;
  height: 370px;
}
.our-services .block-1:hover {
  background-color: orange;
}
.our-services .block-2 {
  background-image: url("../images/services-2.jpg");
  width: 472px;
  height: 370px;
  color: white;
}
.our-services .block-2:hover {
  background-image: url("http://placekitten.com/472/370");
  text-shadow: 1px 1px 1px grey;
}
.our-services .block-3 {
  background-image: url("../images/services-3.jpg");
  width: 652px;
  height: 370px;
  color: white;
}
.our-services .block-3:hover {
  background-image: url("http://placekitten.com/652/370");
  text-shadow: 1px 1px 1px grey;
}
.our-services .block-4 {
  background-image: url("../images/services-4.jpg");
  width: 472px;
  height: 370px;
  color: white;
}
.our-services .block-4:hover {
  background-image: url("http://placekitten.com/472/370");
  text-shadow: 1px 1px 1px grey;
}
.our-services .block-5 {
  background-image: url("../images/services-5.jpg");
  width: 472px;
  height: 370px;
  color: white;
}
.our-services .block-5:hover {
  background-image: url("http://placekitten.com/472/370");
  text-shadow: 1px 1px 1px grey;
}
.our-services .block-6 {
  background-image: url("../images/services-6.jpg");
  width: 652px;
  height: 370px;
  color: white;
}
.our-services .block-6:hover {
  background-image: url("http://placekitten.com/652/370");
  text-shadow: 1px 1px 1px grey;
}
.our-services .block-1,
.our-services .block-2,
.our-services .block-3,
.our-services .block-4,
.our-services .block-5,
.our-services .block-6 {
  margin: 5px;
  padding: 60px;
}
.our-services .block-1 h2,
.our-services .block-2 h2,
.our-services .block-3 h2,
.our-services .block-4 h2,
.our-services .block-5 h2,
.our-services .block-6 h2 {
  text-transform: uppercase;
  font-family: "RobotoLight";
}
.our-services .block-1 p,
.our-services .block-2 p,
.our-services .block-3 p,
.our-services .block-4 p,
.our-services .block-5 p,
.our-services .block-6 p {
  text-align: left;
  text-transform: none;
  font-family: "RobotoLight", arial;
}
.our-services .block-1 a,
.our-services .block-2 a,
.our-services .block-3 a,
.our-services .block-4 a,
.our-services .block-5 a,
.our-services .block-6 a {
  color: white;
  font-style: italic;
}
.our-services .block-1 a img,
.our-services .block-2 a img,
.our-services .block-3 a img,
.our-services .block-4 a img,
.our-services .block-5 a img,
.our-services .block-6 a img {
  margin-left: 10px;
}
.our-services .block-1 a:hover,
.our-services .block-2 a:hover,
.our-services .block-3 a:hover,
.our-services .block-4 a:hover,
.our-services .block-5 a:hover,
.our-services .block-6 a:hover {
  text-decoration: underline;
}
/*////////////////////// Team //////////////////////*/
.team {
  padding-top: 125px;
  padding-bottom: 125px;
}
.team .p-margin {
  margin-bottom: 120px;
}
.team h1,
.team p {
  text-align: center;
  text-transform: uppercase;
}
.team .block {
  width: 370px;
  height: 440px;
  margin: 10px;
  position: relative;
}
.team .block:hover .info {
  display: block;
}
.team .block::before {
  content: "";
  display: table;
  clear: both;
}
.team .block p {
  text-align: left;
  text-transform: none;
}
.team .block h2 {
  font-family: "RobotoLight", arial;
  font-size: 20px;
}
.team .block h2 span {
  color: #747675;
  font-style: italic;
}
.team .block-1 {
  background-image: url("../images/team-1.jpg");
}
.team .block-2 {
  background-image: url("../images/team-2.jpg");
}
.team .block-3 {
  background-image: url("../images/team-3.jpg");
}
.team .block-4 {
  background-image: url("../images/team-4.jpg");
}
.team .block-5 {
  background-image: url("../images/team-5.jpg");
}
.team .block-6 {
  background-image: url("../images/team-1.jpg");
}
.team .info {
  background-color: #6EF5EA;
  margin: 185px 10px 15px 10px;
  padding: 40px 20px 20px 40px;
  width: 350px;
  height: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.team .info .social {
  margin-right: 10px;
}
.team .info a {
  color: black;
}
/*//////////////// They Say //////////////////*/
.they-say {
  padding-top: 125px;
  padding-bottom: 125px;
}
.they-say .p-margin {
  margin-bottom: 135px;
}
.they-say h1,
.they-say p {
  text-align: center;
}
.they-say .block-1 {
  width: 450px;
  height: 365px;
  background-color: #E9EAEC;
  display: inline-block;
}
.they-say .block-1 .photo {
  position: absolute;
  left: 55px;
  top: -35px;
  box-shadow: 1px 1px 2px lightgrey;
}
.they-say .block-2 {
  width: 665px;
  height: 365px;
  background-color: #E9EAEC;
  display: inline-block;
  padding: 50px 85px 70px 50px;
  font-family: "RobotoLight", arial;
  position: relative;
}
.they-say .block-2 h2 {
  text-align: center;
}
.they-say .block-2 h2 span {
  color: grey;
}
.they-say .block-2 .stars {
  margin-top: 15px;
  position: absolute;
  left: 265px;
}
.they-say .block-3 {
  float: right;
}
.they-say .arrow {
  display: inline-block;
  position: relative;
  left: 13px;
  margin-top: 30px;
  box-shadow: 1px 1px 3px lightgrey;
}
.they-say .arrow:hover {
  background-color: #70F5EA;
}
.they-say .arrow-l {
  background-image: url("../images/team-arrow-l.png");
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: 45% 50%;
  border-radius: 3px;
  margin-right: 30px;
  opacity: .3;
}
.they-say .arrow-r {
  background-image: url("../images/team-arrow-r.png");
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 3px;
}
/*/////////////////// Pre Footer /////////////////*/
.pre-footer {
  padding-top: 80px;
}
.pre-footer h1 {
  text-align: center;
}
.pre-footer .container-fluid {
  background-image: url("../images/footer-bg.jpg");
  height: 797px;
  background-size: cover;
}
.pre-footer .block-1 {
  background-color: rgba(69, 87, 97, 0.8);
  width: 570px;
  height: 460px;
  margin-top: 150px;
  padding: 30px;
}
.pre-footer .block-1 .input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 510px;
  color: white;
  font-family: "RobotoLight", arial;
  padding: 10px 0;
  opacity: .7;
  margin: 5px;
}
.pre-footer .block-1 .submit {
  margin-top: 30px;
  padding: 10px 20px;
  width: 245px;
  background-color: #6DEDE3;
  border: none;
  border-radius: 3px;
}
.pre-footer .block-1 .submit:hover {
  background-color: orange;
  color: white;
}
.pre-footer .block-2 {
  background-color: rgba(69, 87, 97, 0.8);
  width: 515px;
  height: 460px;
  margin-top: 150px;
  padding: 30px;
}
.pre-footer .block-2 .text {
  color: white;
  opacity: .7;
  font-family: "RobotoLight", arial;
  line-height: .8;
  margin-top: 10px;
}
.pre-footer .block-2 p {
  margin: 0;
}
.pre-footer .block-2 .map {
  margin-top: 40px;
}
/*///////////////// Footer ///////////////*/
.footer {
  background-color: #252A2D;
  padding-bottom: 60px;
}
.footer h2 {
  color: white;
  font-family: "RobotoLight", arial;
  text-align: center;
  margin-top: 60px;
}
.footer p {
  color: #7C7F81;
  text-align: center;
}
.footer .social {
  color: white;
  text-align: center;
}
.footer .social a {
  color: #BAB7B8;
  margin: 2px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #414547;
  border-radius: 2px;
}
.footer .social a:hover {
  background-color: #6DEDE3;
  color: #252A2D;
}
.footer .social .fa {
  display: inline;
  vertical-align: middle;
}
