// Reset
h1,h2,h3,h4,h5,h6,p {
  padding: 0 !important;
  margin: 0 !important;
}

// Colors
$blue: #1890FF;
$bg: #FAFAFA;

// CSS Start
.body {
	background: #F3F3F3 !important;
}

.main-headline {
	font-size: 16px;
	font-weight: 400;
	color: #515759;
}
.secondary-headline {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #0C1014;
	padding-bottom: 6px !important;
}

// Header
.header {
}

// Main
.main {
	&__text-container {
		text-decoration: none !important;
	}
	&__item-new {
		font-size: 12px;
		font-weight: 400;
		color: $blue;
		padding-top: 5px !important;
		padding-right: 18px !important;
		padding-bottom: 5px !important;
		padding-left: 18px !important;
		border: 1px solid $blue !important;
		border-radius: 4px !important;
	}
	&__item-paragraph {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #515759;
	}
}

// Footer
.footer {
	.divider {
		border: none !important;
		height: 1px !important;
		background: #D5D7D9 !important;
	}
	&__paragraph {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		color: #949494;
	}
	&__link {
		text-decoration: none !important;
		color: $blue;
	}
}

// Outline
.columns {
  // border: 1px solid lightblue !important;
}