doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Gift Store
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					p.header__logo Logo
				nav.header__menu
					a.prevdef.header__menu-link(href="#") Home
					a.prevdef.header__menu-link(href="#") About Us
					a.prevdef.header__menu-link(href="#") Services
					a.prevdef.header__menu-link(href="#") Blogs
				a.prevdef.header__gift-finder-link(href="#") Gift Finder

		// Main Section
		.main
			.main__wrapper.wrapper
				.main__block.main__block1
					h3.main__block1-headline Find a gift for your wife or girlfriend
					p.main__block1-paragraph Struggling to find a gift for your wife or girlfriend? No problem!
					a.prevdef.main__block1-link(href="#") Find Gift Now
				.main__block.main__block2
				.main__block.main__block3
				.main__block.main__block4
					h3.main__block4-headline How we work
					p.main__block4-paragraph We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.
					a.prevdef.main__block4-link(href="#") Learn More

		// Gifts Section
		.gifts
			.gifts__wrapper.wrapper
				h3.gifts__headline Gifts for all Occasions
				p.gifts__paragraph “Try our web app to find the best gifts for all occasions”
				.gifts__content
					a.prevdef.gifts__item.gifts__item1(href="#")
						.gifts__item-pic.gifts__item-pic1
						.gifts__text-container
							h3.gifts__item-headline Birthday
							p.gifts__item-paragraph See More
					a.prevdef.gifts__item.gifts__item2(href="#")
						.gifts__item-pic.gifts__item-pic2
						.gifts__text-container
							h3.gifts__item-headline Anniversary
							p.gifts__item-paragraph See More
					a.prevdef.gifts__item.gifts__item3(href="#")
						.gifts__item-pic.gifts__item-pic3
						.gifts__text-container
							h3.gifts__item-headline Valentine's Day
							p.gifts__item-paragraph See More
					a.prevdef.gifts__item.gifts__item4(href="#")
						.gifts__item-pic.gifts__item-pic4
						.gifts__text-container
							h3.gifts__item-headline Christmas
							p.gifts__item-paragraph See More

		// Contact Section
		.contact
			.contact__wrapper.wrapper
				.contact__text-container
					h3.contact__headline Ready to get started?
					p.contact__paragraph Sign up or contact us
				.contact__links-container
					a.prevdef.contact__find-gift-link(href="#") Find Gift Now
					a.prevdef.contact__how-it-works-link(href="#") How It Works

		// Blogs Section
		.blogs
			.blogs__wrapper.wrapper
				h3.blogs__headline Our Best Blogs Ever
				p.blogs__paragraph “Try our blog to find the best tips and tricks to select your gift”
				.blogs__main-content
					img.blogs__main-content-pic(src="assets/blogs__main-content-pic.webp", alt="pic")
					.blogs__main-content-text-container
						p.blogs__main-content-author Mr. John Doe
						p.blogs__main-content-paragraph The best way to wish your wife
						a.prevdef.blogs__main-content-read-more-link(href="#") Read More
				.blogs__secondary-content
					a.prevdef.blogs__secondary-block.blogs__secondary-block1(href="#")
						h3.blogs__secondary-content-headline Database to find the gifts for your girlfriend
						p.blogs__secondary-content-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
						p.blogs__secondary-content-read-more Read More
					a.prevdef.blogs__secondary-block.blogs__secondary-block2(href="#")
						h3.blogs__secondary-content-headline How Artificial Intelligence read your mind to find the best gift
						p.blogs__secondary-content-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
						p.blogs__secondary-content-read-more Read More

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]