// Fonts
$gg: 'Georgia'

// Colors
$space-grey: #1B1B1B
$pink: #D24260
$purple: #512950
$red: #c4233e
$yellow: #ffdd00
$green: #07b75f
$orange: #F58220
$blue: #178CC6
$light-grey: #999999
$brown: #201E1D

$media-green: #254823
$media-pink: #59363B
$media-blue: #2B4146
$media-orange: #85552B
$media-purple: #2D1D34