body {
  background: #393E40;
  color: white; }

.container {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  font-family: "RobotoLight";
  font-size: 1.6rem; }

.container .content {
  color: #263238;
  width: 70%; }

.container .content .main-table h1 {
  margin: 0; }

.container .content .result-table td {
  text-align: right; }

.container .content .calculate-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.container .content .calculate-container .calculate {
  border: none;
  background: orange;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1.5rem 4rem;
  margin: 2rem 0 0;
  outline: none; }

.container .content .calculate-container .calculate:hover {
  background: #ffaa0f; }

.container .content .calculate-container .calculate:active {
  background: orange; }

.container .content h1 {
  margin: 3rem 0 0;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  color: white;
  text-align: center; }

.container .content input {
  outline: none;
  border: none;
  text-align: right;
  width: 100%; }

.container .content textarea {
  outline: none;
  border: none;
  width: 100%; }

.container .content table {
  margin: 2rem 0 0;
  width: 100%; }

.container .content table tr td {
  background: white;
  padding: .5rem;
  height: 4rem; }

.container .content table tr td:first-child {
  width: 20%; }

.container .content table tr td:nth-child(2) {
  width: 10%; }

.container .content table tr td:nth-child(3) {
  width: 60%; }

.container .content table tr td:last-child {
  width: 10%; }

.container .content table tr .bold {
  font-family: "RobotoBold"; }

.container .content table tr .delete {
  background: rgba(0, 0, 0, 0); }

.container .content table tr .cost,
.container .content table tr .summ {
  text-align: right; }

.container .content table tr .summ {
  font-family: "RobotoBold"; }
