doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title test
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		.first-section

		.main
			h2.main__section-name Section Name
			h3.main__headline Section Headline
			hr.main__splitter
			p.main__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias necessitatibus adipisci illo delectus, quo aspernatur! Error eaque consequatur iure nihil nostrum dolore, culpa, suscipit ex, sunt deserunt laboriosam. Eius impedit, perspiciatis sequi sunt aliquid minus cum incidunt. Animi eaque, facilis perferendis ut distinctio ipsa eos blanditiis, earum vero, quaerat obcaecati optio. Ut sit repellat minus nostrum id quae consequuntur, quis asperiores nesciunt iste minima expedita laboriosam neque, unde nisi! Quos?
			ul.main__list
				li.main__list-item
					a.prevdef.main__list-link.active(href="index.html") first
				li.main__list-item
					a.prevdef.main__list-link(href="second.html") second
				li.main__list-item
					a.prevdef.main__list-link(href="third.html") third
				li.main__list-item
					a.prevdef.main__list-link(href="fourth.html") fourth
				li.main__list-item
					a.prevdef.main__list-link(href="fifth.html") fifth
			.main__content-container
				.main__content
					.main__block
						.main__image
						.main__block-text
							h3.main__block-headline Block Headline
							p.main__block-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ducimus.
					.main__pics-container.main__pics-container1.active
						a.prevdef.main__pic.main__pic1(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic2(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic3(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic4(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic5(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic6(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic7(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic8(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic9(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic10(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic11(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic12(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
					.main__pics-container.main__pics-container2
						a.prevdef.main__pic.main__pic1(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic2(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic3(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic4(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic5(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic6(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic7(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic8(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic9(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic10(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic11(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
						a.prevdef.main__pic.main__pic12(href="#")
							.main__pic-text
								h3.main__pic-headline Pic Headline
								p.main__pic-paragraph Pic Paragraph
					a.prevdef.main__show-more-link(href="#") Show More

		.last-section

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.5.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]