@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
		background: $media-purple

	.section
		padding-top: .2rem
		&__headline
			font-size: 1.2rem
			span
				font-size: 1rem
		&__paragraph
			font-size: 1.2rem
		&__block1-img
			margin-top: 1rem
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		background: $media-orange

	.section
		padding-top: .2rem
		&__headline
			font-size: 1.2rem
			span
				font-size: 1rem
		&__paragraph
			font-size: 1.2rem
		&__block1-img
			margin-top: 1rem
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		background: $media-pink

	.section
		padding-top: .2rem
		&__headline
			font-size: 1.2rem
			span
				font-size: 1rem
		&__paragraph
			font-size: 1.2rem
		&__block1-img
			margin-top: 1rem
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		background: $media-blue

	.section
		padding-top: .2rem
		&__headline
			font-size: 1.2rem
			span
				font-size: 1rem
		&__paragraph
			font-size: 1.2rem
		&__block1-img
			margin-top: 1rem
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		background: $media-green

	.section
		padding-top: .2rem
		&__headline
			font-size: 1.2rem
			span
				font-size: 1rem
		&__paragraph
			font-size: 1.2rem
		&__block1-img
			margin-top: 1rem
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple