@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/* Mobile First Method */
/* Extra Small Devices, Phones (SM) */
@media only screen and (min-width: 576px)
	body
	*
		outline-color: $media-blue


/* Small Devices, Tablets (MD) */
@media only screen and (min-width: 768px)
	body
	*
		outline-color: $media-pink
/* Medium Devices, Desktops (LG) */
@media only screen and (min-width: 992px)
	body
	*
		outline-color: $media-orange
/* Large Devices, Wide Screens (XL) */
@media only screen and (min-width: 1200px)
	body
	*
		outline-color: $media-purple