mixin pagescroll2id()

	.pagescroll2id__container
		nav.pagescroll2id__menu
			a.pagescroll2id__menu-link(href="#pagescroll2id__section1") link1
			a.pagescroll2id__menu-link(href="#pagescroll2id__section2") link2
			a.pagescroll2id__menu-link(href="#pagescroll2id__section3") link3
			a.pagescroll2id__menu-link(href="#pagescroll2id__section4") link4
			a.pagescroll2id__menu-link(href="#pagescroll2id__section5") link5
		.pagescroll2id__section.pagescroll2id__section1#pagescroll2id__section1 1
		.pagescroll2id__section.pagescroll2id__section2#pagescroll2id__section2 2
		.pagescroll2id__section.pagescroll2id__section3#pagescroll2id__section3 3
		.pagescroll2id__section.pagescroll2id__section4#pagescroll2id__section4 4
		.pagescroll2id__section.pagescroll2id__section5#pagescroll2id__section5 5
		a.to-top-link(href="#pagescroll2id__section1") ^