@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default

.wrapper
	@include wrapper(96rem, auto)

// 1rem === 10px

.top-panel
	background: #212D3A
	padding-top: 1.7rem
	padding-bottom: 1.7rem
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
	&__socials-container
		@include flex(row, wrap, flex-start, center)
	&__social-link
		@include size(2.6rem, 2.6rem)
		background: #2E3F51
		border-radius: 50%
		@include flex(row, wrap, center, center)
		transition: .2s
		margin-right: 1rem
		&:last-child
			margin-right: 0rem
		&:hover
			background: #DB4A39
		svg
			@include size(1.4rem, 1.4rem)
			path
				fill: #657181
				transition: .2s
		&:hover svg path
			fill: #fff
	&__social-linkedin
	&__social-twitter
	&__social-pinterest
	&__social-google-plus
		svg
			@include size(1.9rem, 1.9rem)
	&__social-rss
	&__search-input
		outline: none
		background: url('../assets/top-panel__search-input.png') no-repeat 18.5rem center, #2E3F51
		border-radius: 2rem
		width: 21rem
		border: none
		padding-top: 0.8rem
		padding-bottom: 0.6rem
		padding-left: 1rem
		padding-right: 2.9rem
		font-family: $gg
		font-weight: 400
		font-size: 1.1rem
		color: #fff
		letter-spacing: .1rem

.header
	padding-top: 2.9rem
	padding-bottom: 3.8rem
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
	&__logo-container
		text-decoration: none
		@include flex(column, wrap, flex-start, flex-start)
	&__logo
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 3.3rem
		color: #4A4A4A
		text-transform: uppercase
		text-align: left
		span
			font-size: 2.6rem
	&__logo-description
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
		text-align: left
		margin-top: 0.8rem
	&__menu-container
		@include flex(row, wrap, flex-start, flex-start)
		margin-top: 2.8rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, flex-start, flex-start)
		margin-right: 2rem
		&:last-child
			margin-right: 0rem
	&__menu-link
		text-decoration: none
		font-family: $gg
		font-weight: 900
		font-size: 1.2rem
		color: #999
		text-transform: uppercase
		transition: .2s
		&:hover
			color: #212D3A

.main
	background: #2E3F51
	padding-top: 3.9rem
	padding-bottom: 3.9rem
	&__wrapper
		position: relative
	&__slider
		@include flex(row, wrap, flex-start, stretch)
	&__slide
		@include flex(row, wrap, flex-start, stretch)
	&__slide1
	&__slide2
	&__slide3
	&__slide-text-container
		@include flex(column, wrap, flex-start, flex-end)
		background: #2F3944
		width: 30rem
		padding-top: 11rem
		padding-left: 2.5rem
	&__slide-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.4rem
		color: #fff
		text-align: left
	&__slide-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		line-height: 2.24rem
		color: #fff
		text-align: left
		margin-top: 2.4rem
		padding-right: 4.6rem
	&__slide-read-more-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #fff
		text-transform: capitalize
		margin-top: 1.9rem
		margin-right: 2.9rem
	&__slide-img
		width: calc(100% - 30rem)
		height: 45rem
		background: url('http://placekitten.com/660/450') no-repeat center
		background-size: cover
	&__slider-button
		@include size(7rem, 10rem)
		outline: none
		cursor: pointer
		border: none
		position: absolute
		top: 0rem
		left: 0rem
	&__prev-button
		background: url('../assets/section1__arrow-left.png') no-repeat center
		top: 0rem
		left: 0rem
	&__next-button
		background: url('../assets/section1__arrow-right.png') no-repeat center
		top: 0rem
		left: 3.9rem

.second
	padding-top: 0.8rem
	width: 100%
	&__wrapper
		width: 96rem
		position: relative
		margin: 0rem auto
	&__slider
		width: 80rem
		margin: 0rem auto
	&__slide
		width: 73rem
		margin: 0rem auto
	&__slide1
	&__slide2
	&__slide3
	&__paragraph
		width: 100%
		color: #505050
		font-family: $gg
		text-align: center
		font-size: 2.4rem
		line-height: 3rem
		font-weight: 400
		font-style: italic
		text-align: center
		display: block
	&__slider-button
		@include size(4rem, 7rem)
		outline: none
		border: none
		position: absolute
		top: 2rem
		cursor: pointer
	&__prev-button
		background: url('../assets/section2__arrow-left.png') no-repeat center
		left: 2.8rem
	&__next-button
		background: url('../assets/section2__arrow-right.png') no-repeat center
		right: 2.8rem

.section1
	padding-bottom: 5rem
	width: 100%
	&__wrapper
		@include flex(row, wrap, center, center)
	&__blocks-container
		width: 100%
		@include flex(row, wrap, flex-start, flex-start)
		padding-top: 4.8rem
	&__block
	&__block1
		@include flex(row, wrap, flex-start, flex-start)
		width: 69%
	&__block2
		@include flex(column, wrap, flex-start, flex-start)
		width: 31%
	&__block3
	&__block1-item
		@include flex(column, wrap, flex-start, flex-start)
		width: 50%
	&__block1-item1
	&__block1-item2
	&__item-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #1F1F1F
		text-align: left
	&__block1-item-img-container
		@include size(30rem, 19rem)
		border: .1rem solid #C8C8C8
		background: #fff
		@include flex(column, wrap, center, center)
		position: relative
		margin-top: 1.2rem
		&::before
			content: ''
			@include size(27rem, 19rem)
			position: absolute
			bottom: 0rem
			left: 50%
			transform: translateX(-50%)
			box-shadow: 0rem 0.4rem 1rem rgba(#000, 0.4)
			z-index: -1
	&__block1-item-img
	&__block1-item-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #807D77
		text-align: left
		margin-top: 2.5rem
		padding-right: 3rem
	&__item-continue-reading-link
		text-decoration: none
		font-family: $gg
		font-weight: 900
		font-size: 1.2rem
		color: #2E3F51
		margin-top: 2rem
	&__block2-item
		width: 100%
	&__block2-item1
	&__block2-item2
		margin-top: 1.8rem
	&__item-headline
	&__block2-item-text-container
		padding-top: 2rem
	&__block2-item-img
		float: left
		margin-right: 1.1rem
	&__block2-item-paragraph
		float: right
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #7F7D77
		text-align: left
		padding-right: 3rem
	&__block2-item &__item-continue-reading-link
		float: right
		margin-top: 0.7rem

.section2
	background: #EEE
	padding-top: 3rem
	&__wrapper
		@include flex(row, wrap, flex-start, flex-start)
		position: relative
		padding-bottom: 4.2rem
		&::before
			content: ''
			@include size(100%, 0.2rem)
			background: #E0E0E0
			position: absolute
			bottom: 0rem
			left: 0rem
	&__block
		@include flex(column, wrap, flex-start, flex-start)
	&__block1
		width: 51%
		padding-right: 7rem
	&__block2
		width: 25%
		padding-right: 3rem
	&__block3
		width: 24%
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #505050
		text-transform: capitalize
		text-align: left
	&__block1-item
		width: 100%
		@include flex(row, wrap, flex-start, flex-start)
		margin-top: 2.6rem
	&__block1-item1
	&__block1-item2
		margin-top: 3rem
	&__block1-post-container
		@include flex(row, wrap, flex-start, flex-start)
		text-decoration: none
	&__block1-item-img
	&__block1-item-text-container
		width: calc(100% - 10.5rem)
		padding-top: 0.8rem
		padding-left: 2rem
	&__block1-img-container
		@include size(10.5rem, 10.5rem)
		border: .1rem solid #8E8F8A
		@include flex(row, wrap, center, center)
	&__block1-item-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: #505050
		text-align: left
	&__block1-item-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 2.1rem
		color: #737373
		text-align: left
		margin-top: 1.2rem
	&__block2-tweet-container
		width: 100%
		margin-top: 2.4rem
		text-decoration: none
	&__block2-tweet-container1
	&__block2-tweet-container2
	&__block2-tweet
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #737373
		text-align: left
		span
			color: #2D3F51
	&__block2-tweet-date
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #737373
		text-align: left
		margin-top: 0.3rem
	&__block3-images-container
		width: 100%
		@include flex(row, wrap, center, center)
		margin-top: 1rem
	&__block3-image-container
		@include flex(row, wrap, center, center)
		margin-right: 1.6rem
		margin-top: 1.6rem
		text-decoration: none
		&:nth-child(3n)
			margin-right: 0rem
	&__block3-img

.copy
	background: #EEE
	padding-top: 2.3rem
	padding-bottom: 2.3rem
	&__wrapper
		@include flex(row, wrap, space-between, center)
	&__paragraph
		width: 50%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #737373
		text-align: left
	&__by-link
		text-decoration: none
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #737373
		text-align: left

*
	// @include outline($blue)