.pagescroll2id__menu-container
	ul.pagescroll2id__menu
		li.pagescroll2id__menu-item
			a.pagescroll2id__menu-link(href="#pagescroll2id-1") link1
		li.pagescroll2id__menu-item
			a.pagescroll2id__menu-link(href="#pagescroll2id-2") link2
		li.pagescroll2id__menu-item
			a.pagescroll2id__menu-link(href="#pagescroll2id-3") link3
		li.pagescroll2id__menu-item
			a.pagescroll2id__menu-link(href="#pagescroll2id-4") link4
		li.pagescroll2id__menu-item
			a.pagescroll2id__menu-link(href="#pagescroll2id-5") link5

.pagescroll2id__sections-container
	.pagescroll2id__section#pagescroll2id-1
	.pagescroll2id__section#pagescroll2id-2
	.pagescroll2id__section#pagescroll2id-3
	.pagescroll2id__section#pagescroll2id-4
	.pagescroll2id__section#pagescroll2id-5