@import 'variables/variables.sass'

@mixin clearfix()
	&::after
		content: ''
		display: table
		clear: both

@mixin wrapper($width, $height)
	width: $width
	height: $height
	margin: 0 auto
	
@mixin flex($flex-direction, $flex-wrap, $justify-content, $align-items)
	display: flex
	flex-direction: $flex-direction
	flex-wrap: $flex-wrap
	justify-content: $justify-content
	align-items: $align-items

@mixin outline($color)
	outline: 2px solid rgba($color, .6)
	outline-offset: -2px

@mixin size($width, $height)
	width: $width
	height: $height

@mixin linkStyle()
	text-decoration: none
	background: $yellow
	padding: 1.7rem 5.1rem
	font-family: $ob
	font-size: 2rem
	color: $space-grey
	text-transform: uppercase
	transition: .2s
	&:hover
		background: darken($yellow, 2%)

@mixin sectionNameStyle()
	width: 100%
	margin: 0rem
	font-family: $or
	font-size: 1.6rem
	color: #515151
	text-transform: uppercase
	text-align: center

@mixin headlineStyle()
	width: 100%
	margin: 0rem
	font-family: $ob
	font-size: 3rem
	color: #000
	text-transform: uppercase
	text-align: center

@mixin splitterStyle()
	background: none
	border: none
	+size(17rem, .3rem)
	background: $yellow
	margin: 0rem auto

@mixin paragraphStyle()
	width: 100%
	margin: 0rem
	font-family: $ol
	font-size: 1.6rem
	line-height: 2.5rem
	color: #707070
	text-align: center