mixin map(props = {})
	- const { message } = props;

	.map-section
		//- img(src=require('../components/map/img/nyan.gif'), alt="pic")
		iframe(src=require('../components/map/img/xtina.m4v'), frameborder="0")
		iframe(src=require('../components/map/img/sample.mp4'), frameborder="0")
		.elem#elem
		.map#map