extends ../templates/page/page
include ../components/test/test
include ../components/owl-carousel/owl-carousel

block head
	- const pageTitle = "Главная";
	- const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
	- const pageKeywords = "webpack, pug, scss";

block content
	+test({
		message: 'Hello World! It\'s test section!'
	})
	+owl-carousel