extends ../templates/page/page
include ../components/test/test
include ../components/map/map

block head
	- const pageTitle = "Главная";
	- const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
	- const pageKeywords = "webpack, pug, scss";

block content
	+test({
		message: 'Hello World!',
		sectionNumber: 'Index Page'
	})
	+map

	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")