extends ../templates/page/page
include ../components/test/test

block head
	- const pageTitle = "Главная";
	- const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
	- const pageKeywords = "webpack, pug, scss";

block content
	+test({
		message: 'Hello World!'
	})