// Content End
// Scripts
// General
script(src="libs/jquery/jquery-3.3.1.min.js")
script(src="js/common.js")
// Masonry
script(src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async)
// Masked Input
script(src="libs/masked-input/jquery.maskedinput.min.js")
// PageScroll2id
script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
// OwlCarousel
script(src="libs/owl-carousel/owl.carousel.min.js")