doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Email-Project
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap")
		style
			include css/main.css
	body(style='margin: 0; padding: 0;')
		div(style='font-size:0px;font-color:#ffffff;opacity:0;visibility:hidden;width:0;height:0;display:none;') Тестовое письмо
		table(cellpadding='0' cellspacing='0' width='100%')
			tr
				td
					table.main.table-850(cellpadding='0' cellspacing='0' width="850" align="center" bgcolor='transparent' style="font-family: Arial, Helvetica, sans-serif, 'Raleway';")
						tr
							td(height="30" width="850")
						tr.section
							td.header(bgcolor="#ffffff")
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td.header__logo(align="left")
											a(href="#")
												img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/logo.png?raw=true", alt="pic")
										td.header__menu(align="right")
											table(cellpadding='0' cellspacing='0')
												tr
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Team
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Features
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Pricing
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Contact
						tr.section
							td.main
								a(href="#")
									img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/banner.png?raw=true", alt="banner")
						tr.section
							td.features(bgcolor="#ffffff")
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td.features__item.features__item1(align="center")
											img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/item-image1.png?raw=true", alt="item-pic")
											p(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") phoncus ut, imperdiet vel
												|
												br
												| venenatis vitae justo ullam
												br
												| dictum felis eu pede mollis
												br
												| pretium massa.
											a(href="#")
												img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/read-more.png?raw=true", alt="pic")
										td.features__item.features__item2(align="center")
											img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/item-image2.png?raw=true", alt="pic")
											p(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") phoncus ut, imperdiet vel
												|
												br
												| venenatis vitae justo ullam
												br
												| dictum felis eu pede mollis
												br
												| pretium massa.
											a(href="#")
												img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/read-more.png?raw=true", alt="pic")
										td.features__item.features__item3(align="center")
											img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/item-image3.png?raw=true", alt="pic")
											p(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") phoncus ut, imperdiet vel
												|
												br
												| venenatis vitae justo ullam
												br
												| dictum felis eu pede mollis
												br
												| pretium massa.
											a(href="#")
												img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/read-more.png?raw=true", alt="pic")
						tr.section
							td.people
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td.people__item.people__item1(align="center")
											p.people__quote(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Donec quam felis ultricies nec pellen
												|
												br
												| tesque pretium quis sem massa quis 
												br
												| enim. Donec pede justo fringilla vel
												br
												| aliquet nec vulputate eget magnis 
												br
												| montes ligula eget.
											table
												tr
													td.people__author-info(align="center")
														img.people__author-image(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/author1.png?raw=true", alt="author-pic")
														p.people__author-name(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Alexander Doe
														p.people__author-position(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Senior UX Developer
										td.people__item.people__item2(align="center")
											p.people__quote(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Donec quam felis ultricies nec pellen
												|
												br
												| tesque pretium quis sem massa quis 
												br
												| enim. Donec pede justo fringilla vel
												br
												| aliquet nec vulputate eget magnis 
												br
												| montes ligula eget.
											table
												tr
													td.people__author-info(align="center")
														img.people__author-image(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/author2.png?raw=true", alt="author-pic")
														p.people__author-name(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Laurie Doe
														p.people__author-position(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Marketing Expert
						tr.section
							td.footer
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td.footer__logo(align="center")
											a(href="#")
												img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project/app/assets/logo2.png?raw=true", alt="logo")
									tr
										td.footer__menu(align="center")
											table
												tr
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") About Us
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Team
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") News
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Contact Us
									tr
										td.footer__copy(align="center")
											p(style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") &copy; 2014 #[span pixelhint.com]. All Rights Reserved
						tr
							td(height="30" width="850")