doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="zxx")
	// <![endif]
	head
		title Unique Tech
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header#home
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					p.header__logo-part1 Unique
					p.header__logo-part2 Tech
				nav.header__menu-container
					a.prevdef.header__menu-link(href="#") Home
					a.prevdef.header__menu-link(href="#") Services
					a.prevdef.header__menu-link(href="#") About
					a.prevdef.header__menu-link(href="#") Portfolio
					a.prevdef.header__menu-link(href="#") Academic
					a.prevdef.header__menu-link(href="#") Blog
					a.prevdef.header__menu-link(href="#") Contact Us

		// Main Section
		.main
			.main__wrapper.wrapper
				.main__slider
					.main__slide.main__slide1
						h3.main__headline Unique-Tech
							|
							br
							| #[span App Development]
						p.main__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
						a.prevdef.main__view-more-link(href="#") View More
					.main__slide.main__slide2
						h3.main__headline Unique-Tech
							|
							br
							| #[span App Development]
						p.main__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
						a.prevdef.main__view-more-link(href="#") View More
					.main__slide.main__slide3
						h3.main__headline Unique-Tech
							|
							br
							| #[span App Development]
						p.main__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
						a.prevdef.main__view-more-link(href="#") View More

		// What We Do
		.what-we-do
			.what-we-do__wrapper.wrapper
				h3.what-we-do__headline What We Do
				.what-we-do__content
					.what-we-do__block.what-we-do__block1
						img.what-we-do__block-image(src="assets/what-we-do__block-image.png", alt="pic")
						.what-we-do__text-container
							h3.what-we-do__block-headline Web Design
							p.what-we-do__block-paragraph.what-we-do__block-paragraph1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							p.what-we-do__block-paragraph.what-we-do__block-paragraph2 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut
							a.prevdef.what-we-do__view-more-link(href="#") View More
					.what-we-do__block.what-we-do__block2
						img.what-we-do__block-image(src="assets/what-we-do__block-image.png", alt="pic")
						.what-we-do__text-container
							h3.what-we-do__block-headline Search Engine Optimization
							p.what-we-do__block-paragraph.what-we-do__block-paragraph1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							p.what-we-do__block-paragraph.what-we-do__block-paragraph2 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut
							a.prevdef.what-we-do__view-more-link(href="#") View More
					.what-we-do__block.what-we-do__block3
						img.what-we-do__block-image(src="assets/what-we-do__block-image.png", alt="pic")
						.what-we-do__text-container
							h3.what-we-do__block-headline Affilate Marketing
							p.what-we-do__block-paragraph.what-we-do__block-paragraph1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							p.what-we-do__block-paragraph.what-we-do__block-paragraph2 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. laborum. Sed ut
							a.prevdef.what-we-do__view-more-link(href="#") View More

		// How We Work
		.how-we-work
			.how-we-work__wrapper.wrapper
				h3.how-we-work__headline How We Work
		
		// Our Features
		.our-features
			.our-features__wrapper.wrapper
				h3.our-features__headline Our Features
				.our-features__content
					.our-features__item.our-features__item1
						h4.our-features__item-headline Visual Composer
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item2
						h4.our-features__item-headline Responsive
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item3
						h4.our-features__item-headline Retina Ready
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item4
						h4.our-features__item-headline Typography
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item5
						h4.our-features__item-headline Theme Options Pannel
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item6
						h4.our-features__item-headline Dummy Content
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item7
						h4.our-features__item-headline Many Style Available
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item8
						h4.our-features__item-headline Header Style
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item9
						h4.our-features__item-headline 10000+ icons
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item10
						h4.our-features__item-headline Support
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item11
						h4.our-features__item-headline Update
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
					.our-features__item.our-features__item12
						h4.our-features__item-headline SEO Ready
						p.our-features__item-paragraph TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.

		// Our Packages
		.our-packages
			.our-packages__wrapper.wrapper
				h3.our-packages__headline Our Packages
				.our-packages__content
					.our-packages__block.our-packages__block1
						p.our-packages__tariff-name.our-packages__tariff-name1 Basic
						p.our-packages__tariff-option.our-packages__tariff-option1 5 web sites
						p.our-packages__tariff-option.our-packages__tariff-option2 15 e-mails
						p.our-packages__tariff-option.our-packages__tariff-option3 5 MySQL databases
						p.our-packages__tariff-option.our-packages__tariff-option4 10 GB storage
						p.our-packages__tariff-price.our-packages__tariff-price1 $5/#[span mo.]
						a.prevdef.our-packages__order-link.our-packages__order-link1(href="#") Order Now
					.our-packages__block.our-packages__block2
						p.our-packages__tariff-name.our-packages__tariff-name2 Standard
						p.our-packages__tariff-option.our-packages__tariff-option1.black 15 web sites
						p.our-packages__tariff-option.our-packages__tariff-option2.black 40 e-mails
						p.our-packages__tariff-option.our-packages__tariff-option3.black 20 MySQL databases
						p.our-packages__tariff-option.our-packages__tariff-option4.black 50 GB storage
						p.our-packages__tariff-price.our-packages__tariff-price2 $12/#[span mo.]
						a.prevdef.our-packages__order-link.our-packages__order-link2(href="#") Order Now
					.our-packages__block.our-packages__block3
						p.our-packages__tariff-name.our-packages__tariff-name3 Premium
						p.our-packages__tariff-option.our-packages__tariff-option1 30 web sites
						p.our-packages__tariff-option.our-packages__tariff-option2 50 e-mails
						p.our-packages__tariff-option.our-packages__tariff-option3 40 MySQL databases
						p.our-packages__tariff-option.our-packages__tariff-option4 100 GB storage
						p.our-packages__tariff-price.our-packages__tariff-price3 $19/#[span mo.]
						a.prevdef.our-packages__order-link.our-packages__order-link3(href="#") Order Now

		// Our History
		.our-history
			.our-history__wrapper.wrapper
				.our-history__text-container
					h3.our-history__headline Our History
					p.our-history__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatisquasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
					a.prevdef.our-history__browse-our-story-link(href="#") Browse Our Story

		// Related Projects
		.related-projects
			.related-projects__wrapper.wrapper
				h3.related-projects__headline Our Business Related Projects
				.related-projects__content
					.related-projects__item.related-projects__item1
						p.related-projects__item-paragraph Technical Aid
					.related-projects__item.related-projects__item2
						p.related-projects__item-paragraph Secure Access
					.related-projects__item.related-projects__item3
						p.related-projects__item-paragraph Market Research
					.related-projects__item.related-projects__item4
						p.related-projects__item-paragraph Credit
					.related-projects__item.related-projects__item5
						p.related-projects__item-paragraph Targeting
					.related-projects__item.related-projects__item6
						p.related-projects__item-paragraph Insurance
					.related-projects__item.related-projects__item7
						p.related-projects__item-paragraph Ecomerce
					.related-projects__item.related-projects__item8
						p.related-projects__item-paragraph Office

		// Our Team
		.our-team
			.our-team__wrapper.wrapper
				h3.our-team__headline Our Team Members
				.our-team__content
					.our-team__item.our-team__item1
						.our-team__worker-pic.our-team__worker-pic1
						p.our-team__worker-name Syed Miraj
						p.our-team__worker-position UI & UX Designer
					.our-team__item.our-team__item2
						.our-team__worker-pic.our-team__worker-pic2
						p.our-team__worker-name Penny Huston
						p.our-team__worker-position Developer
					.our-team__item.our-team__item3
						.our-team__worker-pic.our-team__worker-pic3
						p.our-team__worker-name Lennerd Shelly
						p.our-team__worker-position Reviewer
					.our-team__item.our-team__item4
						.our-team__worker-pic.our-team__worker-pic4
						p.our-team__worker-name Sheldon Cupper
						p.our-team__worker-position Marketing
					.our-team__item.our-team__item5
						.our-team__worker-pic.our-team__worker-pic5
						p.our-team__worker-name Ashley Cole
						p.our-team__worker-position Management

		// Updates
		.updates
			.updates__wrapper.wrapper
				h3.updates__headline Updates & Support
				.updates__content
					.updates__text-container
						p.updates__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
						a.prevdef.updates__support-center-link(href="#") Support Center

		// Hire Us
		.hire-us
			.hire-us__wrapper.wrapper
				.hire-us__content
					.hire-us__text-container
						p.hire-us__paragraph Need Creative Workers?
						a.prevdef.hire-us__hire-us-link(href="#") Hire Us

		// Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					h3.footer__block-headline Portfolio
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Web Design
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Branding & Identity
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Mobile Design
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Print
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") User Interface
				.footer__block.footer__block2
					h3.footer__block-headline About
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") The Company
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") History
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Vision
				.footer__block.footer__block3
					h3.footer__block-headline Gallery
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Flickr
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Picasa
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") iStockPhoto
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") PhotoDune
				.footer__block.footer__block4
					h3.footer__block-headline Contact
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Basic Info
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Map
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Contact Form

		// Copy Section
		.copy
			.copy__wrapper.wrapper
				.copy__socials-container
					a.prevdef.copy__social-link.copy__facebook(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-2x")
							path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.copy__social-link.copy__twitter(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x")
							path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.copy__social-link.copy__google-plus(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-2x")
							path(fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.copy__social-link.copy__linkedin(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-2x")
							path(fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
				p.copy__paragraph Copyright &copy; 2015 Syed Miraj.All rights reserved.

		// To Top Link
		a.prevdef.to-top-link(href="#home")

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]