@import 'variables.sass'
@import 'mixins.sass'
@import 'fonts.sass'

body
	background: #191919
	color: #fff
	user-select: none
	overflow-x: hidden

a
	color: #fff
	text-decoration: none

.wrapper
	+wrapper(90%, auto)