@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes particles-bg-color-change {
  from {
    background: #178CC6; }
  45% {
    background: #07b75f; }
  75% {
    background: #F58220; }
  to {
    background: #c4233e; } }

@keyframes particles-bg-color-change {
  from {
    background: #178CC6; }
  45% {
    background: #07b75f; }
  75% {
    background: #F58220; }
  to {
    background: #c4233e; } }
