@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
	*
		outline-color: $media-purple
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
	*
		outline-color: $media-orange
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
	*
		outline-color: $media-pink
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
	*
		outline-color: $media-blue
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
	*
		outline-color: $media-green
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// 	*
// 		outline-color: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// 	*
// 		outline-color: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// 	*
// 		outline-color: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// 	*
// 		outline-color: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple
// 	*
// 		outline-color: $media-purple