/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "KaushanScript-Regular"; */
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../fonts/KaushanScript-Regular/KaushanScript-Regular.eot');
  src: url('../fonts/KaushanScript-Regular/KaushanScript-Regular.woff2') format('woff2'),
       url('../fonts/KaushanScript-Regular/KaushanScript-Regular.woff') format('woff'),
       url('../fonts/KaushanScript-Regular/KaushanScript-Regular.ttf') format('truetype'),
       url('../fonts/KaushanScript-Regular/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg'),
       url('../fonts/KaushanScript-Regular/KaushanScript-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "Montserrat-Bold"; */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "Montserrat-Regular"; */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "Lato-Bold"; */
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: "Lato-Regular"; */
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: "Lato-Light" */
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light/Lato-Light.eot');
    src: url('../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}