doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Smak2
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Works
		.works
			h4.works__section-name Our Works
			h3.works__headline What We Done So Far
			hr.works__splitter
			p.works__paragraph
			ul.works__menu
				li.works__menu-list-item
					a.works__menu-link.active(href="index.html") All
				li.works__menu-list-item
					a.works__menu-link(href="web-design.html") Web Design
				li.works__menu-list-item
					a.works__menu-link(href="graphic-design.html") Graphic Design
				li.works__menu-list-item
					a.works__menu-link(href="photography.html") Photography
				li.works__menu-list-item
					a.works__menu-link(href="illustration.html") Illustration
			.works__content-container
				.works__content
					.works__block
						img.works__image(src="http://source.unsplash.com/670x440", alt="pic")
						.works__block-text-container
							h3.works__block-headline Our Awesome Illustration
							p.works__block-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blan dit aliquet elit, eget tincidunt ni dictum porta.
							a.prevdef.works__view-live-link(href="#") View Live
					.works__pics-container.works__pics-container1
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
					.works__pics-container.works__pics-container2
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph Illustration
					a.prevdef.works__show-more-link(href="#")
			h3.works__bottom-headline Do You Like Our Portfolio?
			p.works__bottom-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
			a.prevdef.works__contact-us-link(href="#") Contact Us

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]