doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Smak2
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					img.header__logo(src="assets/header__logo.webp", alt="pic")
				nav.header__menu
					a.prevdef.header__menu-link(href="#") Home
					a.prevdef.header__menu-link(href="#") Services
					a.prevdef.header__menu-link(href="#") Work
					a.prevdef.header__menu-link(href="#") About
					a.prevdef.header__menu-link(href="#") Clients
					a.prevdef.header__menu-link(href="#") Contact

		// Main
		.main
			.main__text-container
				h1.main__headline Branding Have Another Definition
				a.prevdef.main__buy-link(href="#") Buy This Theme
			a.prevdef.main__scroll-down-link(href="#")

		// Services
		.services
			.services__wrapper.wrapper
				h4.services__section-name Our Services
				h3.services__headline What We Love To Do
				hr.services__splitter
				p.services__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.services__content
					a.prevdef.services__item.services__item1(href="#")
						.services__item-icon.services__item-icon1
						h3.services__item-headline Web Design
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item2(href="#")
						.services__item-icon.services__item-icon2
						h3.services__item-headline Graphic Design
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item3(href="#")
						.services__item-icon.services__item-icon3
						h3.services__item-headline Photography
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item4(href="#")
						.services__item-icon.services__item-icon4
						h3.services__item-headline Developing
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.

		// We Do
		.we-do
			.we-do__wrapper.wrapper
				h3.we-do__headline How We Do It
				p.we-do__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat.
				.we-do__content
					.we-do__item.we-do__item1
						.we-do__icon.we-do__icon1
						h3.we-do__item-headline Analyse
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam.
					.we-do__item.we-do__item2
						.we-do__icon.we-do__icon2
						h3.we-do__item-headline Preparing
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id dui posu ere blandit
					.we-do__item.we-do__item3
						.we-do__icon.we-do__icon3
						h3.we-do__item-headline Working
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat.
					.we-do__item.we-do__item4
						.we-do__icon.we-do__icon4
						h3.we-do__item-headline Finalyse
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id.
					.we-do__item.we-do__item5
						.we-do__icon.we-do__icon5
						h3.we-do__item-headline Testing
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id dui posu ere blandit
					.we-do__item.we-do__item6
						.we-do__icon.we-do__icon6
						h3.we-do__item-headline Deliver
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cur est bitur.

		// Works
		.works
			h4.works__section-name Our Works
			h3.works__headline What We Done So Far
			hr.works__splitter
			p.works__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
			ul.works__menu
				li.works__menu-list-item
					a.works__menu-link.active(href="index.html") All
				li.works__menu-list-item
					a.works__menu-link(href="web-design.html") Web Design
				li.works__menu-list-item
					a.works__menu-link(href="graphic-design.html") Graphic Design
				li.works__menu-list-item
					a.works__menu-link(href="photography.html") Photography
				li.works__menu-list-item
					a.works__menu-link(href="illustration.html") Illustration
			.works__content-container
				.works__content
					.works__block
						img.works__image(src="http://source.unsplash.com/670x440", alt="pic")
						.works__block-text-container
							h3.works__block-headline Our Awesome All
							p.works__block-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blan dit aliquet elit, eget tincidunt ni dictum porta.
							a.prevdef.works__view-live-link(href="#") View Live
					.works__pics-container.works__pics-container1
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
					.works__pics-container.works__pics-container2
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
					a.prevdef.works__show-more-link(href="#")
			h3.works__bottom-headline Do You Like Our Portfolio?
			p.works__bottom-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
			a.prevdef.works__contact-us-link(href="#") Contact Us

		// Statistics
		.statistics
			.statistics__wrapper.wrapper
				h3.statistics__headline We Are Proud of These Numbers
				p.statistics__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				.statistics__content
					.statistics__item.statistics__item1
						h3.statistics__item-headline 1600
						p.statistics__item-paragraph Happy Clients
					.statistics__item.statistics__item2
						h3.statistics__item-headline 3200
						p.statistics__item-paragraph Completed Projects
					.statistics__item.statistics__item3
						h3.statistics__item-headline 40
						p.statistics__item-paragraph Awards
					.statistics__item.statistics__item4
						h3.statistics__item-headline 20 000
						p.statistics__item-paragraph Coffee Drinks

		// About
		.about
			.about__wrapper.wrapper
				h4.about__section-name About Us
				h3.about__headline Who We Are
				hr.about__splitter
				p.about__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.about__content
					.about__item.about__item1
						h3.about__item-headline On Time Projects
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item2
						h3.about__item-headline Fully Support
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item3
						h3.about__item-headline Professional Experience
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item4
						h3.about__item-headline Communicative Team
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.

		// Team
		.team
			.team__wrapper.wrapper
				h3.team__headline The Team
				p.team__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				.team__items-container
					a.prevdef.team__item.team__item1.active(href="#")
						.team__worker-pic.team__worker-pic1
						h3.team__worker-name John Doe
						p.team__worker-position Creative Director
					a.prevdef.team__item.team__item2(href="#")
						.team__worker-pic.team__worker-pic2
						h3.team__worker-name John Doe
						p.team__worker-position Art Director
					a.prevdef.team__item.team__item3(href="#")
						.team__worker-pic.team__worker-pic3
						h3.team__worker-name John Doe
						p.team__worker-position Web Developer
					a.prevdef.team__item.team__item4(href="#")
						.team__worker-pic.team__worker-pic4
						h3.team__worker-name John Doe
						p.team__worker-position Photographer
				.team__workers-info-container
					.team__worker-info.active
						h3.team__worker-info-name John Doe1
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe2
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe3
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe4
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")

		// Skills
		.skills
			.skills__wrapper.wrapper
				h3.skills__headline Skills
				p.skills__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				.skills__content
					.skills__item.skills__item1
						.skills__icon.skills__icon1
						h3.skills__item-headline HTML&Css
					.skills__item.skills__item2
						.skills__icon.skills__icon2
						h3.skills__item-headline AI & PS
					.skills__item.skills__item3
						.skills__icon.skills__icon3
						h3.skills__item-headline JS & PHP
					.skills__item.skills__item4
						.skills__icon.skills__icon4
						h3.skills__item-headline Photography

		// Clients
		.clients
			.clients__wrapper.wrapper
				h4.clients__section-name Our Clients
				h3.clients__headline Who Love To Work With Us
				h3.clients__splitter
				p.clients__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.clients__content
					.clients__slider
						.clients__slide.clients__slide1
							a.prevdef.clients__item.clients__item1(href="#")
							a.prevdef.clients__item.clients__item2(href="#")
							a.prevdef.clients__item.clients__item3(href="#")
							a.prevdef.clients__item.clients__item4(href="#")
							a.prevdef.clients__item.clients__item5(href="#")
							a.prevdef.clients__item.clients__item6(href="#")
						.clients__slide.clients__slide2
							a.prevdef.clients__item.clients__item1(href="#")
							a.prevdef.clients__item.clients__item2(href="#")
							a.prevdef.clients__item.clients__item3(href="#")
							a.prevdef.clients__item.clients__item4(href="#")
							a.prevdef.clients__item.clients__item5(href="#")
							a.prevdef.clients__item.clients__item6(href="#")
						.clients__slide.clients__slide3
							a.prevdef.clients__item.clients__item1(href="#")
							a.prevdef.clients__item.clients__item2(href="#")
							a.prevdef.clients__item.clients__item3(href="#")
							a.prevdef.clients__item.clients__item4(href="#")
							a.prevdef.clients__item.clients__item5(href="#")
							a.prevdef.clients__item.clients__item6(href="#")
					.clients__slider-buttons-container
						button.clients__slider-button.clients__slider-prev-button
						button.clients__slider-button.clients__slider-next-button

		// Review
		.review
			.review__wrapper.wrapper
				.review__slider
					.review__slide.review__slide1
						p.review__quote “An image is not simply a trademark, a design, a slogan or an easily remembered picture. It is a studiously crafted personality profile of an individual, institution,corporation, product or service”
						hr.review__splitter
						p.review__quote-author Daniel J. Boorstin
					.review__slide.review__slide2
						p.review__quote “An image is not simply a trademark, a design, a slogan or an easily remembered picture. It is a studiously crafted personality profile of an individual, institution,corporation, product or service”
						hr.review__splitter
						p.review__quote-author Daniel J. Boorstin
					.review__slide.review__slide3
						p.review__quote “An image is not simply a trademark, a design, a slogan or an easily remembered picture. It is a studiously crafted personality profile of an individual, institution,corporation, product or service”
						hr.review__splitter
						p.review__quote-author Daniel J. Boorstin
					.review__slide.review__slide4
						p.review__quote “An image is not simply a trademark, a design, a slogan or an easily remembered picture. It is a studiously crafted personality profile of an individual, institution,corporation, product or service”
						hr.review__splitter
						p.review__quote-author Daniel J. Boorstin

		// Contact
		.contact
			.contact__wrapper.wrapper
				h4.contact__section-name Contact Us
				h3.contact__headline Where You Can Find Us
				hr.contact__splitter
				p.contact__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pelle ntesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.contact__content
					.contact__item.contact__item1
						h3.contact__item-headline Our Address
						p.contact__item-paragraph 214 Awesome Street, NY
					.contact__item.contact__item2
						h3.contact__item-headline Our Mail
						p.contact__item-paragraph awesomemail@ourmail.com
					.contact__item.contact__item3
						h3.contact__item-headline Our Phone
						p.contact__item-paragraph (0) 123-456-789-00

		// Send
		.form-section
			.form-section__wrapper.wrapper
				h3.form-section__headline Send Us A Message
				p.form-section__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				form.form-section__form(action="" method="POST")
					.form-section__row.form-section__row1
						input.form-section__input.form-section__name-input(type="text" placeholder="Your Name")
						input.form-section__input.form-section__mail-input(type="text" placeholder="Your Mail")
						input.form-section__input.form-section__subject-input(type="text" placeholder="Subject")
					.form-section__row.form-section__row2
						textarea.form-section__input.form-section__message-input(placeholder="Enter Message Here...")
					button.prevdef.form-section__submit-button Send Message

		// Footer
		footer.footer
			.footer__wrapper.wrapper
				p.footer__copy-paragraph &copy; Copyright 2013 #[span Smak]. All Rights Reserved.
				.footer__socials-container
					a.prevdef.footer__social-link.footer__facebook(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
							path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.footer__social-link.footer__dribble(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="dribbble" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-dribbble fa-w-16 fa-3x")
							path(fill="currentColor" d="M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.footer__social-link.footer__twitter(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
							path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.footer__social-link.footer__google-plus(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-3x")
							path(fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")

		// Modals
		.modal__overlay
		.modal__window.modal__error-container
			p.modal__paragraph.modal__error-paragraph Fill all the inputs, please!
		.modal__window.modal__success-container
			p.modal__paragraph.modal__success-paragraph Our customers will contact you soon!

		

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]