doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Smak2
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					img.header__logo(src="assets/header__logo.webp", alt="pic")
				nav.header__menu
					a.prevdef.header__menu-link(href="#") Home
					a.prevdef.header__menu-link(href="#") Services
					a.prevdef.header__menu-link(href="#") Work
					a.prevdef.header__menu-link(href="#") About
					a.prevdef.header__menu-link(href="#") Clients
					a.prevdef.header__menu-link(href="#") Contact

		// Main
		.main
			.main__text-container
				h1.main__headline Branding Have Another Definition
				a.prevdef.main__buy-link(href="#") Buy This Theme
			a.prevdef.main__scroll-down-link(href="#")

		// Services
		.services
			.services__wrapper.wrapper
				h4.services__section-name Our Services
				h3.services__headline What We Love To Do
				hr.services__splitter
				p.services__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.services__content
					a.prevdef.services__item.services__item1(href="#")
						.services__item-icon.services__item-icon1
						h3.services__item-headline Web Design
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item2(href="#")
						.services__item-icon.services__item-icon2
						h3.services__item-headline Graphic Design
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item3(href="#")
						.services__item-icon.services__item-icon3
						h3.services__item-headline Photography
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
					a.prevdef.services__item.services__item4(href="#")
						.services__item-icon.services__item-icon4
						h3.services__item-headline Developing
						p.services__item-paragraph Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.

		// We Do
		.we-do
			.we-do__wrapper.wrapper
				h3.we-do__headline How We Do It
				p.we-do__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat.
				.we-do__content
					.we-do__item.we-do__item1
						.we-do__icon.we-do__icon1
						h3.we-do__item-headline Analyse
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam.
					.we-do__item.we-do__item2
						.we-do__icon.we-do__icon2
						h3.we-do__item-headline Preparing
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id dui posu ere blandit
					.we-do__item.we-do__item3
						.we-do__icon.we-do__icon3
						h3.we-do__item-headline Working
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat.
					.we-do__item.we-do__item4
						.we-do__icon.we-do__icon4
						h3.we-do__item-headline Finalyse
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id.
					.we-do__item.we-do__item5
						.we-do__icon.we-do__icon5
						h3.we-do__item-headline Testing
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cura bitur aliquet quam id dui posu ere blandit
					.we-do__item.we-do__item6
						.we-do__icon.we-do__icon6
						h3.we-do__item-headline Deliver
						p.we-do__item-paragraph Vivamus suscipit tortor eget felis porttitor volutpat. Cur est bitur.

		// Works
		.works
			h4.works__section-name Our Works
			h3.works__headline What We Done So Far
			hr.works__splitter
			p.works__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
			ul.works__menu
				li.works__menu-list-item
					a.works__menu-link.active(href="index.html") All
				li.works__menu-list-item
					a.works__menu-link(href="web-design.html") Web Design
				li.works__menu-list-item
					a.works__menu-link(href="graphic-design.html") Graphic Design
				li.works__menu-list-item
					a.works__menu-link(href="photography.html") Photography
				li.works__menu-list-item
					a.works__menu-link(href="illustration.html") Illustration
			.works__content-container
				.works__content
					.works__block
						img.works__image(src="http://source.unsplash.com/670x440", alt="pic")
						.works__block-text-container
							h3.works__block-headline Our Awesome All
							p.works__block-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blan dit aliquet elit, eget tincidunt ni dictum porta.
							a.prevdef.works__view-live-link(href="#") View Live
					.works__pics-container.works__pics-container1
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
					.works__pics-container.works__pics-container2
						a.prevdef.works__pic.works__pic1(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic2(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic3(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic4(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic5(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic6(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic7(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic8(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic9(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic10(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic11(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
						a.prevdef.works__pic.works__pic12(href="#")
							.works__pic-text-container
								h3.works__pic-headline Sample Image
								p.works__pic-paragraph All
					a.prevdef.works__show-more-link(href="#")
			h3.works__bottom-headline Do You Like Our Portfolio?
			p.works__bottom-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
			a.prevdef.works__contact-us-link(href="#") Contact Us

		// Statistics
		.statistics
			.statistics__wrapper.wrapper
				h3.statistics__headline We Are Proud of These Numbers
				p.statistics__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				.statistics__content
					.statistics__item.statistics__item1
						h3.statistics__item-headline 1600
						p.statistics__item-paragraph Happy Clients
					.statistics__item.statistics__item2
						h3.statistics__item-headline 3200
						p.statistics__item-paragraph Completed Projects
					.statistics__item.statistics__item3
						h3.statistics__item-headline 40
						p.statistics__item-paragraph Awards
					.statistics__item.statistics__item4
						h3.statistics__item-headline 20 000
						p.statistics__item-paragraph Coffee Drinks

		// About
		.about
			.about__wrapper.wrapper
				h4.about__section-name About Us
				h3.about__headline Who We Are
				hr.about__splitter
				p.about__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellen tesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
				.about__content
					.about__item.about__item1
						h3.about__item-headline On Time Projects
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item2
						h3.about__item-headline Fully Support
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item3
						h3.about__item-headline Professional Experience
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.
					.about__item.about__item4
						h3.about__item-headline Communicative Team
						p.about__item-paragraph Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.Cras ultricies ligula sed magna dictum est ontar des lorem ipsum.

		// Team
		.team
			.team__wrapper.wrapper
				h3.team__headline The Team
				p.team__paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
				.team__items-container
					a.prevdef.team__item.team__item1.active(href="#")
						.team__worker-pic.team__worker-pic1
						h3.team__worker-name John Doe
						p.team__worker-position Creative Director
					a.prevdef.team__item.team__item2(href="#")
						.team__worker-pic.team__worker-pic2
						h3.team__worker-name John Doe
						p.team__worker-position Art Director
					a.prevdef.team__item.team__item3(href="#")
						.team__worker-pic.team__worker-pic3
						h3.team__worker-name John Doe
						p.team__worker-position Web Developer
					a.prevdef.team__item.team__item4(href="#")
						.team__worker-pic.team__worker-pic4
						h3.team__worker-name John Doe
						p.team__worker-position Photographer
				.team__workers-info-container
					.team__worker-info.active
						h3.team__worker-info-name John Doe1
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe2
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe3
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					.team__worker-info
						h3.team__worker-info-name John Doe4
						p.team__worker-info-description Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt ni dictum porta.
						.team__socials
							a.prevdef.team__social-link.team__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-3x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.team__social-link.team__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")

		

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]