doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Smak2
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					img.header__logo(src="assets/header__logo.webp", alt="pic")
				nav.header__menu
					a.prevdef.header__menu-link(href="#") Home
					a.prevdef.header__menu-link(href="#") Services
					a.prevdef.header__menu-link(href="#") Work
					a.prevdef.header__menu-link(href="#") About
					a.prevdef.header__menu-link(href="#") Clients
					a.prevdef.header__menu-link(href="#") Contact

		// Main
		.main
			.main__text-container
				h1.main__headline Branding Have Another Definition
				a.prevdef.main__buy-link(href="#") Buy This Theme
			a.prevdef.main__scroll-down-link(href="#")

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]