doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Gulp Project
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// FontAwesome
		link(rel="stylesheet", href="libs/fontawesome/css/fontawesome-all.min.css")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Animate
		link(rel="stylesheet", href="css/animate.css")
		// Slider.UI
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		// NoUI Slider
		link(rel="stylesheet", href="libs/nouislider/nouislider.min.css")
		// Powerange
		link(rel="stylesheet", href="libs/powerange/powerange.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet", href="css/media.css")
		link(rel="stylesheet", href="libs/selecter/jquery.fs.selecter.min.css")
	body
		// Content Start			
		.portfolio__content-container
			.portfolio__content
				.portfolio__item.portfolio__item1
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
				.portfolio__item.portfolio__item2
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
				.portfolio__item.portfolio__item3
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
				.portfolio__item.portfolio__item4
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
				.portfolio__item.portfolio__item5
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
				.portfolio__item.portfolio__item6
					a.prevdef.portfolio__button(href="#")
					.portfolio__text-container
						h3.portfolio__content-headline Awesome Image
						p.portfolio__content-paragraph App
		// Content End
		// Scripts
		// General
		script(src="js/libs.min.js")
		script(src="js/common.js")
		// Modernizr
		script(src="libs/modernizr/modernizr.js")
		// Selector
		script(src="libs/selecter/jquery.fs.selecter.min.js")
		//- script.
		//- 	$(document).ready(function() {
		//- 		$('select').selecter();
		//- 	});
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// NoUI Slider
		script(src="libs/nouislider/nouislider.min.js")
		// Powerange
		script(src="libs/powerange/powerange.min.js")
		// Slider.UI (https://jqueryui.com/slider/)
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		// WoW
		script(src="libs/wow/wow.min.js")
		script
			//- | new WOW().init();
		// Parallax
		script(src="libs/parallax/parallax.min.js")
		script
			//- | var scene = document.getElementById('scene');
			//- | var parallaxInstance = new Parallax(scene);
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]