.header.global-gradient-horizontal.navbar.navbar-expand-lg.sticky-top
	.header__container.container.d-flex.flex-column.justify-content-lg-between.flex-md-row
		a.prevdef.header__logo-container.navbar-brand.order-1.order-lg-1(href='#')
			img.header__logo-image(src="assets/logo.webp", alt="logo")
		.header__toggler-n-link-container.order-2.d-flex.order-lg-3
			button.header__navbar-toggler.navbar-toggler.order-2(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.header__navbar-toggler-icon.navbar-toggler-icon
			a.prevdef.global-link.header__sign-up.order-1(href="#") Sign Up
		.header__menu-container#navbarSupportedContent.collapse.navbar-collapse.order-3.order-lg-2
			ul.header__navbar.navbar-nav.align-items-center.flex-sm-row.justify-content-sm-center.d-lg-flex.justify-content-lg-center.flex-md-column.align-items-md-start.flex-lg-row
				li.header__nav-item.nav-item
					a.prevdef.header__nav-link.nav-link.active(aria-current='page' href='#') Home
				li.header__nav-item.nav-item
					a.prevdef.header__nav-link.nav-link(href='#') Product
				li.header__nav-item.nav-item
					a.prevdef.header__nav-link.nav-link(href='#') About
				li.header__nav-item.nav-item
					a.prevdef.header__nav-link.nav-link(href='#') Contact