.lead.global-gradient-diagonal
	.lead__container.container
		.lead__row.row.d-flex.flex-column.align-items-center
			h1.lead__main-headline Find the Best Solution in Seconds
			p.global-sub-headline.lead__sub-headline If debugging is the process of removing software bugs.
			.lead__links-container.d-flex.flex-column.align-items-center.flex-md-row
				a.prevdef.global-link.lead__link.lead__get-started(href="#") get started
				a.prevdef.global-link.lead__link.lead__try-for-free(href="#") try for free
			img.lead__image(src="assets/lead__image.webp", alt="graphics image")