button#beyonce beyonce
.product.bg-black
	.container
		.row
			.slider-container.w-auto
				#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
					.carousel-inner
						.carousel-item.active
							img.d-block(src='http://source.unsplash.com/700x500' alt='http://source.unsplash.com/700x500')
						.carousel-item
							img.d-block(src='http://source.unsplash.com/706x500' alt='http://source.unsplash.com/700x500')
						.carousel-item
							img.d-block(src='http://source.unsplash.com/712x500' alt='http://source.unsplash.com/700x500')
					button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.visually-hidden Previous
					button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.visually-hidden Next