mjml
	mj-head
		mj-title mjml-test
		mj-preview Email Preview
		mj-attributes
			mj-text(padding="0" font-size="30px" color="#ffffff")
			mj-section(background-color="#222222" padding="20px")
		mj-style
			include css/main.css
	mj-body
		mj-spacer(height="30px")
		// Code Start
		
		mj-section
			mj-column
				mj-text Hello World!

		// Code End
		mj-spacer(height="30px")