// Reset
h1,h2,h3,h4,h5,h6,p {
	padding: 0 !important;
	margin: 0 !important;
}

img {
	display: block;
}

// Fonts

// Colors

// CSS Start

h1,p {
	color: #fff;
}

.no-decoration {
	text-decoration: none !important;
	text-decoration: none;
}

// Outline
.columns {
  // border: 1px solid lightblue !important;
}