// Reset
h1,h2,h3,h4,h5,h6,p {
  padding: 0 !important;
  margin: 0 !important;
}
.button-section table {
	margin: 0px;
}

// Colors
$section-bg: #1E1B2D;
$wrapper-bg: #0F0D1D;
$button-bg: #E80F4C;

$big-image-radius: 20px;
$small-image-radius: 10px;
$section-border-radius: 20px;

// CSS Start
body, .body {
	background: $wrapper-bg !important;
	background-color: $wrapper-bg !important;
}

.section-headline, .section-paragraph {
	color: #fff;
	padding-left: 6px !important;
}
.section-headline {
	font-weight: bold;
}

.big-image {
	border-radius: $big-image-radius;
}
.small-image {
	border-radius: $small-image-radius;
}

.first-section {
	border-top-left-radius: $section-border-radius;
	border-top-right-radius: $section-border-radius;	
}
.last-section {
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
}

// Outline
.columns {
  // border: 1px solid lightblue !important;
}