// Import Variables
include base/base-partials/variables.pug

doctype html
html(lang="en")
	// Import Head
	include base/base-partials/head.pug

	body
		// Import Sections
		include components/test/test.pug
		include components/owl-carousel/owl-carousel.pug
		include components/pagescroll2id/pagescroll2id.pug

		// Import Scripts
		include base/base-partials/scripts.pug