/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    background: purple; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    background: orange; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    background: lightblue; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    background: pink; } }

/* Custom, iPhone Retina */
