// Reset
h1,h2,h3,h4,h5,h6,p {
  padding: 0 !important;
  margin: 0 !important;
}

// Fonts
$ir: 'Inria Serif', $body-font-family !important;
$it: 'Inter', $body-font-family !important;
$os: 'Open Sans', $body-font-family !important;
$rb: 'Roboto', $body-font-family !important;

// Colors
$green: #219A55;

// CSS Start
.body {
	background-color: $green !important;
}

// Header
.header {
	background-color: #fff !important;
	background: #fff !important;
	&__menu-link {
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
	&__menu-link a {
		font-family: $rb;
		font-weight: 500;
		font-size: 15px;
		color: #000 !important;
	}
	.divider {
		border: none !important;
		height: 2px !important;
		background: $green !important;
	}
}

// Main
.main {
	background-color: #fff !important;
	background: #fff !important;
	&__headline {
		font-family: $rb;
		font-weight: 500;
		font-size: 18px;
		line-height: 29px;
		color: #333;
	}
	&__paragraph {
		font-family: $rb;
		font-weight: 500;
		font-size: 18px;
		line-height: 29px;
		color: #949494;
	}
	&__black {
		font-weight: 700;
		color: #000;
	}
	&__green {
		font-weight: 700;
		color: #fff;
		background: $green;
		padding-left: 3px;
		padding-right: 3px;
	}
}

// Shop
.shop {
	&__starting {
		font-family: $rb;
		font-weight: 400;
		font-size: 18px;
		color: #333;
	}
	&__rs {
		font-family: $rb;
		font-weight: 500;
		font-size: 25px;
		color: #000;
	}
	&__until {
		font-family: $rb;
		font-weight: 400;
		font-size: 12px;
		color: #333;
	}
	&__take-me-button {
		float: right;
	}
	&__take-me-button a {}
	&__collection-button {}
	&__collection-button a {}
	&__button a {
		font-family: $rb;
		font-weight: 500;
		font-size: 18px;
		color: #fff !important;
	}
	&__button {}
	&__get-ready {
		font-family: $ir;
		font-weight: 700;
		font-size: 24px;
		color: #000;
	}
}

// Pre-footer
.pre-footer {
	&__paragraph {
		font-family: $rb;
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #fff;
	}
}

// Footer
.footer {
	&__menu-container {
		color: #707070;
	}
	&__menu-link {
		font-family: $rb;
		font-weight: 400;
		font-size: 15px;
		color: #fff;
	}
	&__social-link {
		display: inline-block !important;
	}
	&__copy {
		font-family: $it;
		font-weight: 500;
		font-size: 14px;
		color: #fff;
	}
	&__additional-info {
		font-family: $rb;
		font-style: italic;
		font-weight: 400;
		font-size: 13px;
		color: #fff;
	}
}

// Outline
.columns {
  // border: 1px solid lightblue !important;
}