mixin owl-carousel()
	
	.owl-carousel__container
		.owl-carousel__slider
			.owl-carousel__slide.owl-carousel__slide1
				img.owl-carousel__image(src="http://dummyimage.com/600x400/111/fff", alt="pic")
			.owl-carousel__slide.owl-carousel__slide2
				img.owl-carousel__image(src="http://dummyimage.com/600x400/111/fff", alt="pic")
			.owl-carousel__slide.owl-carousel__slide3
				img.owl-carousel__image(src="http://dummyimage.com/600x400/111/fff", alt="pic")
		.owl-carousel__buttons-container
			button.owl-carousel__slider-button.owl-carousel__prev-button Prev
			button.owl-carousel__slider-button.owl-carousel__next-button Next