mixin fullpage(props = {})
	- const {  } = props;

	.fullpage
		.fullpage__section.fullpage__section1.section
			h1.fullpage__headline The first section
		.fullpage__section.fullpage__section2.section
			h1.fullpage__headline The second section
		.fullpage__section.fullpage__section3.section
			h1.fullpage__headline The third section
		.fullpage__section.fullpage__section4.section
			h1.fullpage__headline The fourth section
		.fullpage__section.fullpage__section5.section
			h1.fullpage__headline The fifth section
