@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.fullpage {
	&__section {
		height: auto !important;
		@include flex(column, wrap, flex-start, flex-start);
		@media only screen and (min-width: 992px) {
			width: 100%;
			min-height: 100vh;
		}
	}
	&__section1 {
		background: darken($red, 20%);
	}
	&__section2 {
		background: darken($orange, 20%);
		.fp-tableCell {
			background: url('http://source.unsplash.com/1600x900') no-repeat center;
			background-size: cover;
		}
	}
	&__section2 &__headline {
		position: relative;
		background: #000;
		padding: 20px 0;
	}
	&__section3 {
		background: darken($blue, 20%);
	}
	&__section4 {
		background: darken($green, 20%);
	}
	&__section5 {
		background: darken($purple, 10%);
	}
	&__headline {
		text-align: center;
		font-size: toRem(60);
	}
	.fp-tableCell {
		vertical-align: top;
		padding-top: toRem(50);
		padding-right: 5%;
		padding-left: 5%;
	}
}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
