@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.header
		padding-top: 4.2rem//
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			+flex(row, wrap, space-between, flex-start)//
			padding: 0rem 4rem//
		&__block2
		&__logo-container
			width: auto//
		&__logo
			text-align: left//
			span
		&__logo-description
			text-align: left//
		&__socials-n-search-container
			+flex(column, wrap, flex-start, center)//
			padding-top: 0rem//
			width: auto//
		&__socials-container
			+flex(row, wrap, center, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			svg
				path
		&__linkedin
			&:hover
		&__twitter
			&:hover
		&__pinterest
			&:hover
		&__google-plus
			svg
				path
			&:hover
		&__rss
			&:hover
		&__search-container
		&__search-input
			margin-left: 0rem//
			margin-top: 2rem//
		&__menu-container
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 1.2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 96rem//
		&__slider
			+size(92rem, 38rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(92rem, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
		&__slide-headline
		&__slide-paragraph
		&__slider-button
			top: 35%//
			+size(5.2rem, 5.2rem)//
			background-size: auto//
		&__prev-button
			left: 4rem//
		&__next-button
			right: 4rem//

	.section1
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 90%//
			&::before
		&__block
			width: 30%//
			+flex(column, wrap, flex-start, flex-end)//
		&__block1
		&__block2
			margin-top: 0rem//
		&__block3
			margin-top: 0rem//
		&__block-headline
			font-size: 2rem//
			text-align: center//
		&__block-img
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph2
		&__block-link
		&__block-read-more-link
			margin-right: 0rem//
		&__block-item
			+flex(row, wrap, flex-start, flex-start)//
		&__block-item1
		&__block-item2
		&__block-item3
		&__block-item4
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph
		&__view-all-link
			margin-right: 0rem//
		&__quote-container
			+flex(column, wrap, flex-start, flex-end)//
		&__quote-container1
		&__quote-container2
		&__quote-author
			span
		&__quote
		&__view-this-project-link
			margin-right: 0rem//

	.section2
		&::before
		&__wrapper
			+flex(row, wrap, flex-start, center)//
			width: 90%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
			+flex(row, wrap, space-between, center)//
		&__block-headline
			text-align: center//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
		&__item
			width: 21rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item-img
		&__item-headline
		&__item-paragraph

	.footer
		&::before
		&::after
		&__wrapper
			+flex(row, wrap, space-around, stretch)//
			width: 98%//
		&__block
			width: 20%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin: 1rem//
		&__block1
			margin-top: 0rem//
			margin: 1rem//
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__block1-paragraph
		&__tel
		&__fax
		&__email
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
			&:hover
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.header
		padding-top: 4.2rem//
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			+flex(row, wrap, space-between, flex-start)//
			padding: 0rem 0rem//
		&__block2
		&__logo-container
			width: 100%//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__socials-n-search-container
			+flex(column, wrap, flex-start, center)//
			padding-top: 2rem//
			width: 100%//
		&__socials-container
			+flex(row, wrap, center, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			svg
				path
		&__linkedin
			&:hover
		&__twitter
			&:hover
		&__pinterest
			&:hover
		&__google-plus
			svg
				path
			&:hover
		&__rss
			&:hover
		&__search-container
		&__search-input
			margin-left: 0rem//
			margin-top: 2rem//
		&__menu-container
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 1.2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 100%//
		&__slider
			+size(100%, 38rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
		&__slide-headline
		&__slide-paragraph
		&__slider-button
			top: 35%//
			+size(5.2rem, 5.2rem)//
			background-size: auto//
		&__prev-button
			left: 1rem//
		&__next-button
			right: 1rem//

	.section1
		&__wrapper
			+flex(column, wrap, space-between, flex-start)//
			width: 44%//
			&::before
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block1
		&__block2
			margin-top: 4rem//
		&__block3
			margin-top: 4rem//
		&__block-headline
			font-size: 2rem//
			text-align: center//
		&__block-img
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph2
		&__block-link
		&__block-read-more-link
			margin-right: 0rem//
		&__block-item
			+flex(row, wrap, flex-start, flex-start)//
		&__block-item1
		&__block-item2
		&__block-item3
		&__block-item4
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph
		&__view-all-link
			margin-right: 0rem//
		&__quote-container
			+flex(column, wrap, flex-start, flex-end)//
		&__quote-container1
		&__quote-container2
		&__quote-author
			span
		&__quote
		&__view-this-project-link
			margin-right: 0rem//

	.section2
		&::before
		&__wrapper
			+flex(row, wrap, flex-start, center)//
			width: 90%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
			+flex(row, wrap, space-between, center)//
		&__block-headline
			text-align: center//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
		&__item
			width: 21rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item-img
		&__item-headline
		&__item-paragraph

	.footer
		&::before
		&::after
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 98%//
		&__block
			width: 45%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin: 1rem//
		&__block1
			margin-top: 0rem//
			margin: 1rem//
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__block1-paragraph
		&__tel
		&__fax
		&__email
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
			&:hover
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.header
		padding-top: 4.2rem//
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			+flex(row, wrap, space-between, flex-start)//
			padding: 0rem 0rem//
		&__block2
		&__logo-container
			width: 100%//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__socials-n-search-container
			+flex(column, wrap, flex-start, center)//
			padding-top: 2rem//
			width: 100%//
		&__socials-container
			+flex(row, wrap, center, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			svg
				path
		&__linkedin
			&:hover
		&__twitter
			&:hover
		&__pinterest
			&:hover
		&__google-plus
			svg
				path
			&:hover
		&__rss
			&:hover
		&__search-container
		&__search-input
			margin-left: 0rem//
			margin-top: 2rem//
		&__menu-container
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1.2rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 100%//
		&__slider
			+size(100%, 38rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
		&__slide-headline
		&__slide-paragraph
		&__slider-button
			top: 35%//
			+size(5.2rem, 5.2rem)//
			background-size: auto//
		&__prev-button
			left: 1rem//
		&__next-button
			right: 1rem//

	.section1
		&__wrapper
			+flex(column, wrap, space-between, flex-start)//
			width: 60%//
			&::before
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block1
		&__block2
			margin-top: 4rem//
		&__block3
			margin-top: 4rem//
		&__block-headline
			font-size: 2rem//
			text-align: center//
		&__block-img
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph2
		&__block-link
		&__block-read-more-link
			margin-right: 0rem//
		&__block-item
			+flex(row, wrap, flex-start, flex-start)//
		&__block-item1
		&__block-item2
		&__block-item3
		&__block-item4
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph
		&__view-all-link
			margin-right: 0rem//
		&__quote-container
			+flex(column, wrap, flex-start, flex-end)//
		&__quote-container1
		&__quote-container2
		&__quote-author
			span
		&__quote
		&__view-this-project-link
			margin-right: 0rem//

	.section2
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 90%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
		&__item
			width: 21rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item-img
		&__item-headline
		&__item-paragraph

	.footer
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 60%//
		&__block
			width: 70%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin: 1rem//
		&__block1
			margin-top: 0rem//
			margin: 1rem//
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__block1-paragraph
		&__tel
		&__fax
		&__email
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
			&:hover
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.header
		padding-top: 4.2rem//
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			+flex(row, wrap, space-between, flex-start)//
			padding: 0rem 0rem//
		&__block2
		&__logo-container
			width: 100%//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__socials-n-search-container
			+flex(column, wrap, flex-start, center)//
			padding-top: 2rem//
			width: 100%//
		&__socials-container
			+flex(row, wrap, center, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			svg
				path
		&__linkedin
			&:hover
		&__twitter
			&:hover
		&__pinterest
			&:hover
		&__google-plus
			svg
				path
			&:hover
		&__rss
			&:hover
		&__search-container
		&__search-input
			margin-left: 0rem//
			margin-top: 2rem//
		&__menu-container
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1.2rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 100%//
		&__slider
			+size(100%, 38rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
		&__slide-headline
		&__slide-paragraph
		&__slider-button
			top: 35%//
			+size(3rem, 3rem)//
			background-size: 25%//
		&__prev-button
			left: 1rem//
		&__next-button
			right: 1rem//

	.section1
		&__wrapper
			+flex(column, wrap, space-between, flex-start)//
			width: 80%//
			&::before
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block1
		&__block2
			margin-top: 4rem//
		&__block3
			margin-top: 4rem//
		&__block-headline
			font-size: 2rem//
			text-align: center//
		&__block-img
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph2
		&__block-link
		&__block-read-more-link
			margin-right: 0rem//
		&__block-item
			+flex(row, wrap, flex-start, flex-start)//
		&__block-item1
		&__block-item2
		&__block-item3
		&__block-item4
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph
		&__view-all-link
			margin-right: 0rem//
		&__quote-container
			+flex(column, wrap, flex-start, flex-end)//
		&__quote-container1
		&__quote-container2
		&__quote-author
			span
		&__quote
		&__view-this-project-link
			margin-right: 0rem//

	.section2
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 90%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
		&__item
			width: 21rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item-img
		&__item-headline
		&__item-paragraph

	.footer
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 80%//
		&__block
			width: 70%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin: 1rem//
		&__block1
			margin-top: 0rem//
			margin: 1rem//
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__block1-paragraph
		&__tel
		&__fax
		&__email
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
			&:hover
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.header
		padding-top: 4.2rem//
		&::before
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			+flex(row, wrap, space-between, flex-start)//
			padding: 0rem 0rem//
		&__block2
		&__logo-container
			width: 100%//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__socials-n-search-container
			+flex(column, wrap, flex-start, center)//
			padding-top: 2rem//
			width: 100%//
		&__socials-container
			+flex(row, wrap, center, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			svg
				path
		&__linkedin
			&:hover
		&__twitter
			&:hover
		&__pinterest
			&:hover
		&__google-plus
			svg
				path
			&:hover
		&__rss
			&:hover
		&__search-container
		&__search-input
			margin-left: 0rem//
			margin-top: 2rem//
		&__menu-container
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1.2rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 100%//
		&__slider
			+size(100%, 38rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
		&__slide-headline
		&__slide-paragraph
		&__slider-button
			top: 35%//
			+size(3rem, 3rem)//
			background-size: 25%//
		&__prev-button
			left: 1rem//
		&__next-button
			right: 1rem//

	.section1
		&__wrapper
			+flex(column, wrap, space-between, flex-start)//
			width: 80%//
			&::before
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block1
		&__block2
			margin-top: 4rem//
		&__block3
			margin-top: 4rem//
		&__block-headline
			font-size: 2rem//
			text-align: center//
		&__block-img
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph2
		&__block-link
		&__block-read-more-link
			margin-right: 0rem//
		&__block-item
			+flex(row, wrap, flex-start, flex-start)//
		&__block-item1
		&__block-item2
		&__block-item3
		&__block-item4
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph
		&__view-all-link
			margin-right: 0rem//
		&__quote-container
			+flex(column, wrap, flex-start, flex-end)//
		&__quote-container1
		&__quote-container2
		&__quote-author
			span
		&__quote
		&__view-this-project-link
			margin-right: 0rem//

	.section2
		&::before
		&__wrapper
			+flex(row, wrap, flex-start, stretch)//
			width: 90%//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
		&__item
			width: 80%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item-img
		&__item-headline
		&__item-paragraph

	.footer
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			width: 70%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin: 1rem//
		&__block1
			margin-top: 0rem//
			margin: 1rem//
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__block1-paragraph
		&__tel
		&__fax
		&__email
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
			&:hover

	.modal
		&__overlay
		&__window
			+size(100%, 10rem)//
		&__error-container
		&__success-container
		&__paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple