* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default;
  background: #222222; }

.display-none {
  display: none; }

.table-container {
  width: 35.5rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 1rem; }

table {
  color: #fff; }

th {
  border: 0.1rem solid #178CC6;
  padding: 0.6rem 1rem;
  text-align: left; }
  th:last-child {
    text-align: center; }

.input-container {
  border: 0.1rem solid #178CC6; }

input {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  padding: 0.4rem 0.4rem;
  width: 8rem;
  text-align: center; }
  input::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder {
    color: #fff; }
  input:-ms-input-placeholder {
    color: #fff; }
  input::-ms-input-placeholder {
    color: #fff; }
  input::placeholder {
    color: #fff; }

.name-column {
  border: 0.1rem solid #178CC6;
  padding-right: 2rem;
  padding-left: 1rem; }

.output-container {
  border: 0.1rem solid #178CC6; }

output {
  display: block;
  width: 10rem;
  height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.calculate-button, .clear-button {
  display: block;
  outline: none;
  border: 0.1rem solid #E65B70;
  background: #222222;
  padding: 0.4rem 1.8rem;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .calculate-button:hover, .clear-button:hover {
    background: #E65B70; }
  .calculate-button:disabled, .clear-button:disabled {
    opacity: 0.2; }
  .calculate-button:disabled:hover, .clear-button:disabled:hover {
    background: none; }
