@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

body
	cursor: default

// 1rem === 10px

.wrapper
	@include wrapper(120rem, auto)

.top-panel
	@include size(100%, auto)
	position: fixed
	top: 0rem
	left: 0rem
	z-index: 5
	background: #122A2F
	padding-bottom: 2rem
	&__wrapper
		@include flex(row, wrap, space-between, center)
	&__logo
		margin-top: 1.5rem
		margin-left: 1.7rem
	&__image
	&__hamburger
		@include size(4rem, 3rem)
		position: relative
		cursor: pointer
		display: none
	&__hamburger-elem
		@include size(4rem, 0.4rem)
		position: absolute
		background: #fff
		top: 50%
		left: 0rem
		transform: translateY(-50%)
		transition: .2s
		&::before, &::after
			content: ''
			@include size(4rem, .4rem)
			background: #fff
			position: absolute
			left: 0rem
			transition: .2s
		&::before
			top: 1rem
		&::after
			top: -1rem
	&__hamburger.active
	&__hamburger-elem.active
		background: transparent
	&__hamburger-elem.active::before
		top: 0rem
		transform: rotate(225deg)
	&__hamburger-elem.active::after
		top: 0rem
		transform: rotate(-225deg)
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, flex-start, flex-start)
		margin-top: 1.9rem
		margin-right: 1.9rem
	&__menu-list-item
		@include flex(row, wrap, flex-start, flex-start)
		margin-right: 5.2rem
		position: relative
		&:last-child
			margin-right: 0rem
		&::before
			content: ''
			@include size(.5rem, .5rem)
			position: absolute
			background: $yellow
			top: 50%
			left: -2.9rem
			transform: translateY(-50%)
		&:first-child::before
			content: none
	&__menu-link
		font-family: $ow
		font-weight: 900
		font-size: 1.4rem
		color: #fff
		text-transform: uppercase
		text-decoration: none
		@include flex(row, wrap, flex-start, flex-start)
		transition: .2s
		&:hover
			color: $yellow

.header
	background: #11343A
	@include flex(column, wrap, center, center)
	@include size(100%, 100vh)
	position: relative
	&__text-container
		background: #122A2F
		@include flex(column, wrap, center, center)
		padding-top: 5.8rem
		padding-bottom: 6.3rem
		width: 100%
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 6.5rem
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 100%
		transform: scale(1, 1.1)
		padding: 0rem 40rem
	&__buy-this-theme
		text-decoration: none
		font-family: $ow
		font-weight: 900
		font-size: 2rem
		text-align: center
		color: #000
		background: $yellow
		text-transform: uppercase
		padding: 1.7rem 4.9rem
		margin-top: 4.3rem
		transition: .2s
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow
	&__scroll-down
		@include size(6rem, 6rem)
		position: absolute
		bottom: 0rem
		left: 50%
		transform: translateX(-50%)
		background: $yellow
		transition: .2s
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow
	&__scroll-down-arrow
		@include size(1rem, .2rem)
		position: absolute
		left: 50%
		transform: translateX(-50%)
		&::before, &::after
			content: ''
			@include size(1rem, .2rem)
			background: #fff
			position: absolute
		&::before
			transform: rotate(-45deg)
			left: 0.3rem
		&::after
			transform: rotate(45deg)
			left: -0.3rem
	&__scroll-down-arrow1
		top: 2.7rem
	&__scroll-down-arrow2
		top: 3.4rem

.services
	padding-top: 5.9rem
	padding-bottom: 6.4rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		text-align: center
		width: 100%
	&__subheadline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		margin-top: 1.9rem
		width: 100%
	&__hr
		@include size(17rem, .3rem)
		border: none
		background: $yellow
		margin-top: 2.2rem
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		text-align: center
		color: $grey-2
		padding: 0rem 12rem
		margin-top: 1.9rem
		width: 100%
	&__content
		margin-top: 5.7rem
		@include flex(row, wrap, flex-start, flex-start)
	&__item
		@include size(calc(120rem / 4), auto)
		@include flex(column, wrap, center, center)
	&__item1
	&__item2
	&__item3
	&__item4
	&__item-icon
		@include size(10.6rem, 10.7rem)
		border-radius: 50%
		border: .1rem solid #000
		transition: .2s
		cursor: pointer
	&__item-icon1
		background: url('../assets/services__icon1-yellow.png') no-repeat center
		&:hover
			background: $yellow url('../assets/services__icon1-white.png') no-repeat center
			border-color: $yellow
	&__item-icon2
		background: url('../assets/services__icon2-yellow.png') no-repeat center
		&:hover
			background: $yellow url('../assets/services__icon2-white.png') no-repeat center
			border-color: $yellow
	&__item-icon3
		background: url('../assets/services__icon3-yellow.png') no-repeat center
		&:hover
			background: $yellow url('../assets/services__icon3-white.png') no-repeat center
			border-color: $yellow
	&__item-icon4
		background: url('../assets/services__icon4-yellow.png') no-repeat center
		&:hover
			background: $yellow url('../assets/services__icon4-white.png') no-repeat center
			border-color: $yellow
	&__item-headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 2rem
		color: #131316
		text-transform: uppercase
		text-align: center
		margin-top: 2.3rem
		width: 100%
	&__item-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		text-align: center
		margin-top: 1.7rem
		width: 100%

.how-we-do-it
	background: $space-green
	padding-top: 6.1rem
	padding-bottom: 7.5rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: $yellow
		text-transform: uppercase
		text-align: center
		width: 100%
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: #fff
		text-align: center
		margin-top: 2rem
		width: 100%
	&__content
		@include flex(row, wrap, space-between, flex-start)
		margin-top: 6.2rem
	&__item
		@include size(calc(120rem / 6.5), auto)
		@include flex(column, wrap, flex-start, center)
	&__item1
	&__item2
	&__item3
	&__item4
	&__item5
	&__item6
	&__item-icon
		@include size(5rem, 5rem)
	&__item-icon1
		background: url('../assets/how-we-do-it__icon1.png') no-repeat center
	&__item-icon2
		background: url('../assets/how-we-do-it__icon2.png') no-repeat center
	&__item-icon3
		background: url('../assets/how-we-do-it__icon3.png') no-repeat center
	&__item-icon4
		background: url('../assets/how-we-do-it__icon4.png') no-repeat center
	&__item-icon5
		background: url('../assets/how-we-do-it__icon5.png') no-repeat center
	&__item-icon6
		background: url('../assets/how-we-do-it__icon6.png') no-repeat center
	&__item-headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 2rem
		color: #fff
		text-transform: uppercase
		text-align: center
		margin-top: 2.6rem
		width: 100%
	&__item-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2rem
		color: #fff
		text-align: center
		margin-top: 2.1rem
		width: 100%

.work
	@include flex(column, wrap, center, center)
	padding-top: 6.4rem
	padding-bottom: 6.5rem
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		text-align: center
		width: 100%
	&__subheadline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		margin-top: 1.8rem
		width: 100%
	&__hr
		@include size(17rem, .3rem)
		border: none
		background: $yellow
		margin-top: 2.2rem
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		text-align: center
		padding: 0rem 29rem
		margin-top: 1.1rem
		width: 100%
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, center, center)
		margin-bottom: 6.1rem
	&__menu-list-item
		position: relative
		margin-right: 5.6rem
		margin-top: 5.6rem
		&:last-child
			margin-right: 0rem
		&:last-child::before
			content: none
		&::before
			content: ''
			@include size(.5rem, .5rem)
			background: $yellow
			position: absolute
			top: 50%
			right: -3.1rem
			transform: translateY(-50%)
	&__menu-link
		text-decoration: none
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		transition: .2s
		&:hover
			color: $yellow
		&.active
			color: $yellow
	&__content-container
		@include flex(column, wrap, flex-start, center)
		@include size(100%, 114.7rem)
	&__content
		width: 100%
	&__content-wrapper
		@include flex(row, wrap, flex-start, stretch)
	&__content-block
	&__content-block1
		@include size(68.4rem, 44rem)
		background: #11343A
	&__content-block2
		@include size(calc(100% - 68.4rem), auto)
		@include flex(column, wrap, flex-start, flex-start)
		padding-top: 7rem
		padding-left: 3.2rem
	&__content-block-headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2.5rem
		color: $grey-1
		text-transform: capitalize
		width: 100%
	&__content-block-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		margin-top: 1.8rem
		padding-right: 12rem
		width: 100%
	&__content-block-view-live
		text-decoration: none
		font-family: $ow
		font-weight: 900
		font-size: 2rem
		color: #fff
		text-align: center
		text-transform: capitalize
		padding: 1.8rem 4.9rem
		background: $yellow
		margin-top: 2rem
		transition: .2s
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow
	&__examples-container
		width: 100%
		@include flex(row, wrap, flex-start, flex-start)
		margin-top: 6.3rem
	&__example
		@include size(calc(100% / 6), 25rem)
		text-decoration: none
	&__example1
			background: #11343A
	&__example2
			background: #394948
	&__example3
			background: #11343A
	&__example4
			background: #394948
	&__example5
			background: #11343A
	&__example6
			background: #394948
	&__example7
			background: #394948
	&__example8
			background: #11343A
	&__example9
			background: #394948
	&__example10
			background: #11343A
	&__example11
			background: #394948
	&__example12
			background: #11343A
	&__example-text-container
		background: $yellow
		@include size(100%, 100%)
		transition: .2s
		opacity: 0
		@include flex(column, wrap, center, center)
		&:hover
			opacity: 1
	&__example-headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 2.5rem
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 100%
	&__example-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: #fff
		text-transform: uppercase
		text-align: center
		margin-top: 1.6rem
		width: 100%
	&__show-more
		@include size(6rem, 6rem)
		position: relative
		background: $yellow
		transition: .2s
		display: block
		margin: 0rem auto
		margin-top: 2.4rem
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow
	&__show-more-arrow
		@include size(1rem, .2rem)
		position: absolute
		left: 50%
		transform: translateX(-50%)
		&::before, &::after
			content: ''
			@include size(1rem, .2rem)
			background: #fff
			position: absolute
		&::before
			transform: rotate(-45deg)
			left: 0.3rem
		&::after
			transform: rotate(45deg)
			left: -0.3rem
	&__show-more-arrow1
		top: 2.7rem
	&__show-more-arrow2
		top: 3.4rem
	&__bottom-headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		width: 100%
	&__bottom-paragraph
		margin: 0rem
		font-family: $ow
		font-size: 1.6rem
		font-weight: 300
		color: $grey-2
		text-align: center
		margin-top: 2.2rem
		width: 100%
	&__contact-us
		text-decoration: none
		font-family: $ow
		font-weight: 900
		font-size: 1.5rem
		color: #fff
		text-transform: uppercase
		text-align: center
		padding: 2rem 4.8rem
		background: $yellow
		transition: .2s
		margin-top: 6.1rem
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow

.statistics
	background: $space-green
	padding-top: 6rem
	padding-bottom: 6.5rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 100%
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: #fff
		text-align: center
		margin-top: 2.2rem
		width: 100%
	&__content
		@include flex(row, wrap, space-between, center)
		margin-top: 6.2rem
	&__item
		border: .1rem solid $yellow
		@include size(27rem, auto)
		padding-top: 2.6rem
		padding-bottom: 3.6rem
		transform: scale(1, 1.05)
	&__item1
	&__item2
	&__item3
	&__item4
	&__count
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 4rem
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 100%
	&__description
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $yellow
		text-transform: uppercase
		text-align: center
		margin-top: 1.1rem
		width: 100%

.about
	padding-top: 6.3rem
	padding-bottom: 7rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		text-align: center
		width: 100%
	&__subheadline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		margin-top: 2rem
		width: 100%
	&__hr
		@include size(17rem, .3rem)
		border: none
		background: $yellow
		margin-top: 2.1rem
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		text-align: center
		margin-top: 2rem
		padding: 0rem 12rem
		width: 100%
	&__content
		margin-top: 3.2rem
		@include flex(row, wrap, flex-start, flex-start)
	&__item
		@include size(50%, auto)
		@include flex(row, wrap, flex-start, flex-start)
		padding-left: 1.2rem
		margin-top: 6.1rem
	&__item1
	&__item2
	&__item3
	&__item4
	&__icon
		@include size(7.1rem, 7.1rem)
		border-radius: 50%
	&__icon1
		background: $yellow url('../assets/about-us__icon1.png') no-repeat center
	&__icon2
		background: $yellow url('../assets/about-us__icon2.png') no-repeat center
	&__icon3
		background: $yellow url('../assets/about-us__icon3.png') no-repeat center
	&__icon4
		background: $yellow url('../assets/about-us__icon4.png') no-repeat center
	&__text-container
		@include size(calc(100% - 7.1rem), auto)
		padding-left: 3.1rem
	&__item-headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		width: 100%
	&__item-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		margin-top: 1rem
		width: 100%

.team
	padding-top: 4.7rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: $grey-2
		text-align: center
		margin-top: 2.3rem
	&__content
		@include flex(row, wrap, space-between, flex-start)
		margin-top: 6.1rem
	&__item
		@include size(27rem, auto)
		text-decoration: none
		position: relative
		padding-bottom: 1.8rem
		&::before
			content: ''
			@include size(100%, .2rem)
			background: #DFE4E5
			position: absolute
			bottom: 0rem
			left: 0rem
	&__item1
	&__item2
	&__item3
	&__item4
	&__item-photography
	&__employee-name
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: $yellow
		text-transform: uppercase
		text-align: center
		margin-top: 1rem
	&__employee-position
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-2
		text-transform: uppercase
		text-align: center
		margin-top: 1.1rem
	&__employee-cards-container
		@include size(100%, 30.5rem)
		position: relative
		background: $space-grey
		margin-top: 6.2rem
		&::before
			content: ''
			width: 0
			height: 0
			border-style: solid
			border-width: 0 3rem 2rem 3rem
			border-color: transparent transparent $space-grey transparent
			position: absolute
			top: -1.9rem
			left: 31.1rem
	&__employee-cards-container-wrapper
		position: relative
		z-index: 0
	&__employee-card
		@include size(100%, 100%)
		padding-top: 6.4rem
		padding-left: 21.4rem
		position: absolute
		top: 0rem
		left: 0rem
		z-index: -1
		opacity: 0
		transition: .2s
		&.active
			z-index: 5rem
			opacity: 1
	&__employee-card1
	&__employee-card2
	&__employee-card3
	&__employee-card4
	&__employee-card-name
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: $yellow
		text-transform: uppercase
		width: 100%
	&__employee-card-description
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: #fff
		width: 100%
		margin-top: 1.7rem
		padding-right: 21rem
	&__employee-card-socials-container
		margin-top: 2.2rem
		@include flex(row, wrap, flex-start, flex-start)
	&__employee-card-social
		@include size(3.6rem, 3.7rem)
		border: .1rem solid #fff
		text-decoration: none
		@include flex(row, wrap, center, center)
		svg
			@include size(1.8rem, 1.8rem)
			@include flex(row, wrap, center, center)
		 path
		 	fill: #fff
	&__employee-card-facebook
	&__employee-card-twitter
		margin-left: 2.5rem

.skills
	background: $space-green
	padding-top: 6rem
	padding-bottom: 6.4rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #fff
		text-transform: uppercase
		text-align: center
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: #fff
		text-align: center
		margin-top: 2.1rem
	&__content
		@include flex(row, wrap, center, flex-start)
		margin-top: 5.6rem
	&__item
		margin-right: 14.8rem
		&:last-child
			margin-right: 0rem
	&__item1
	&__item2
	&__item3
	&__item4
	&__diagram
		@include size(15rem, 15rem)
		position: relative
	&__diagram1
		background: url('../assets/skills__diagram1.png') no-repeat center
		&::before
			content: '90%'
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-family: $ow
			font-weight: 300
			font-size: 3.5rem
			color: $yellow
	&__diagram2
		background: url('../assets/skills__diagram2.png') no-repeat center
		&::before
			content: '96%'
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-family: $ow
			font-weight: 300
			font-size: 3.5rem
			color: $yellow
	&__diagram3
		background: url('../assets/skills__diagram3.png') no-repeat center
		&::before
			content: '85%'
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-family: $ow
			font-weight: 300
			font-size: 3.5rem
			color: $yellow
	&__diagram4
		background: url('../assets/skills__diagram4.png') no-repeat center
		&::before
			content: '94%'
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-family: $ow
			font-weight: 300
			font-size: 3.5rem
			color: $yellow
	&__diagram-description
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: $yellow
		text-transform: uppercase
		text-align: center
		margin-top: 1.9rem

.clients
	padding-top: 6.3rem
	height: 54.8rem
	&__wrapper
		position: relative
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		text-align: center
	&__subheadline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		margin-top: 1.8rem
	&__hr
		@include size(17rem, .3rem)
		border: none
		background: $yellow
		margin-top: 2.2rem
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		text-align: center
		padding: 0rem 10rem
		margin-top: 1.9rem
	&__content-stripe-container
		position: relative
		overflow: hidden
		@include size(100%, 10rem)
		margin-top: 6.8rem
	&__content-stripe
		font-size: 0rem
		position: absolute
		top: 0rem
		left: -0rem
		transition: .2s
	&__brand
		@include size(calc(120rem / 6), 10rem)
		display: inline-block
	&__brand1
		background: url('../assets/our-clients__logo1.png') no-repeat center
	&__brand2
		background: url('../assets/our-clients__logo2.png') no-repeat center
	&__brand3
		background: url('../assets/our-clients__logo3.png') no-repeat center
	&__brand4
		background: url('../assets/our-clients__logo4.png') no-repeat center
	&__brand5
		background: url('../assets/our-clients__logo5.png') no-repeat center
	&__brand6
		background: url('../assets/our-clients__logo1.png') no-repeat center
	&__brand7
		background: url('../assets/our-clients__logo2.png') no-repeat center
	&__brand8
		background: url('../assets/our-clients__logo3.png') no-repeat center
	&__brand9
		background: url('../assets/our-clients__logo4.png') no-repeat center
	&__brand10
		background: url('../assets/our-clients__logo5.png') no-repeat center
	&__brand11
		background: url('../assets/our-clients__logo1.png') no-repeat center
	&__brand12
		background: url('../assets/our-clients__logo2.png') no-repeat center
	&__prev-button
		position: absolute
		bottom: -6.6rem
		left: 55.4rem
		@include size(3.1rem, 3.1rem)
		border: none
		outline: none
		background: $yellow
		transition: .2s
		&:disabled
			background: grey
	&__next-button
		position: absolute
		bottom: -6.6rem
		right: 55.4rem
		@include size(3.1rem, 3.1rem)
		border: none
		outline: none
		background: $yellow
		cursor: pointer
		transition: .2s
	&__next-button &__arrow
		transform: translateY(-50%) rotate(180deg)
	&__next-button &__arrow1
		left: 1.5rem
	&__next-button &__arrow2
		left: 2rem
	&__arrow
		@include size(.2rem, 1rem)
		position: absolute
		top: 50%
		transform: translateY(-50%)
		&::before, &::after
			content: ''
			@include size(0.7rem, 0.2rem)
			background: #fff
			position: absolute
			left: 0rem
		&::before
			transform: rotate(45deg)
			top: 0.6rem
		&::after
			transform: rotate(-45deg)
			top: 0.2rem
	&__arrow1
		left: 0.9rem
	&__arrow2
		left: 1.4rem

.clients
	&__slider-wrapper
	&__slider-container
		background: $space-green
		padding-top: 6.3rem
		padding-bottom: 9.8rem
	&__slider
	&__slide
		padding: 0rem 31.6rem
		margin: 0rem auto
	&__slide1
	&__slide2
	&__slide3
	&__slide4
	&__slider
	&__slider-quote
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		line-height: 2.5rem
		color: #fff
		text-align: center
		width: 100%
	&__slider-hr
		border: none
		@include size(17.1rem, .2rem)
		background: $yellow
		margin: 0rem auto
		margin-top: 2.3rem
	&__slider-author
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: #fff
		text-align: center
		margin-top: 2.1rem
		width: 100%

.contact
	padding-top: 6.1rem
	padding-bottom: 6.2rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 1.6rem
		color: $grey-1
		text-transform: uppercase
		text-align: center
		width: 100%
	&__subheadline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #000
		text-transform: uppercase
		text-align: center
		width: 100%
		margin-top: 2rem
	&__hr
		border: none
		@include size(17.1rem, .2rem)
		background: $yellow
		margin: 0rem auto
		margin-top: 2rem
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-size: 300px
		font-size: 1.6rem
		line-height: 2.5rem
		color: $grey-2
		text-align: center
		width: 100%
		padding: 0rem 12rem
		margin-top: 2rem
	&__content
		@include flex(row, wrap, flex-start, flex-start)
		margin-top: 5.9rem
	&__item
		@include size(calc(120rem / 3), auto)
		@include flex(column, wrap, flex-start, center)
	&__item1
	&__item2
	&__item3
	&__item-icon
		@include size(4rem, 4rem)
	&__item-icon1
		background: url('../assets/contact-us__icon1.png') no-repeat center
	&__item-icon2
		background: url('../assets/contact-us__icon2.png') no-repeat center
	&__item-icon3
		background: url('../assets/contact-us__icon3.png') no-repeat center
	&__item-paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: #000
		text-transform: uppercase
		text-align: center
		margin-top: 1.8rem
		width: 100%
	&__item-info
		margin: 0rem
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: $grey-1
		text-align: center
		width: 100%
		margin-top: 2.4rem

.form-section
	background: $space-green
	padding-top: 6.2rem
	padding-bottom: 6.8rem
	&__wrapper
	&__headline
		margin: 0rem
		font-family: $ow
		font-weight: 900
		font-size: 3rem
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 100%
	&__paragraph
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: #fff
		text-align: center
		width: 100%
		margin-top: 2.1rem
	&__form
		@include flex(column, wrap, flex-start, center)
		padding-top: 6.2rem
		padding-left: 1.4rem
		padding-right: 1.6rem
	&__row
		@include size(100%, auto)
	&__row1
		@include flex(row, wrap, flex-start, flex-start)
	&__row2
	&__input
		font-family: $ow
		font-weight: 300
		font-size: 1.5rem
		color: #fff
		text-transform: none
		border: .1rem solid #fff
		resize: none
		background: $space-green
		outline: none
		&::placeholder
			font-family: $ow
			font-weight: 300
			font-size: 1.5rem
			color: #fff
			text-transform: capitalize
	&__name, &__mail, &__subject
		width: 37rem
		padding: 2rem 2.1rem
	&__name
		margin-right: 3rem
	&__mail
		margin-right: 3rem
	&__subject
	&__message
		margin-top: 2.8rem
		@include size(100%, 22.1rem)
		padding: 1.9rem 1.7rem
	&__submit-button
		text-decoration: none
		font-family: $ow
		font-weight: 900
		font-size: 1.6rem
		background: $yellow
		color: #161F32
		text-transform: uppercase
		text-align: center
		border: none
		outline: none
		margin-top: 2.6rem
		padding: 2rem 5.4rem
		transition: .2s
		cursor: pointer
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow

.footer
	background: $space-grey
	padding-top: 2.4rem
	&__wrapper
		@include flex(column, wrap, flex-start, center)
	&__copy
		margin: 0rem
		font-family: $ow
		font-weight: 300
		font-size: 1.6rem
		color: #fff
		text-align: center
		width: 100%
	&__smak-span
		color: $yellow
	&__copy-span
		font-size: 1.2rem
	&__socials-container
		margin-top: 2.6rem
	&__social-link
		margin-right: 1.8rem
		text-decoration: none
		transition: .2s
		&:last-child
			margin-right: 0rem
		&:hover svg path
			fill: $yellow
		svg
			@include size(1.8rem, 1.8rem)
			path
				fill: #fff
	&__facebook
	&__dribble
	&__twitter
	&__g-plus
	&__to-top-button
		@include size(6rem, 6rem)
		position: relative
		background: $yellow
		transform: rotate(180deg)
		margin-top: 2.9rem
		transition: .2s
		&:hover
			background: darken($yellow, 3%)
		&:active
			background: $yellow
	&__to-top-button-arrow
		@include size(1rem, .2rem)
		position: absolute
		left: 50%
		transform: translateX(-50%)
		&::before, &::after
			content: ''
			@include size(1rem, .2rem)
			background: #fff
			position: absolute
		&::before
			transform: rotate(-45deg)
			left: 0.3rem
		&::after
			transform: rotate(45deg)
			left: -0.3rem
	&__to-top-button-arrow1
		top: 2.7rem
	&__to-top-button-arrow2
		top: 3.4rem

.modal
	&__overlay
		@include size(100%, 100%)
		position: fixed
		top: 0rem
		left: 0rem
		background: rgba(#000, .95)
		z-index: 999
		display: none
	&__error-container
		@include size(30rem, 10rem)
		position: fixed
		background: $space-grey
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@include flex(column, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__error-paragraph
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center
	&__success-container
		@include size(30rem, 10rem)
		position: fixed
		background: $space-grey
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@include flex(column, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__success-paragraph
		font-family: $ow
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center

*
	// @include outline($blue)