body {
  background: #2a2a2a;
  color: white;
  cursor: default;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.container {
  background: #222222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 2%;
  font-family: "RobotoLight";
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-animation: shadow 30s infinite alternate;
          animation: shadow 30s infinite alternate;
  width: 100%;
  min-height: 25rem; }

.container form {
  font-size: 2rem;
  text-align: center; }

.container form legend {
  color: #07b75f; }

.container form .form-group {
  margin: 2rem 0 0; }

.container form .form-group label {
  font-size: 1.6rem; }

.container form .form-group input {
  width: 100%;
  margin: .5rem 0 0;
  font-size: 1.6rem;
  padding: 0.5rem; }

.container form .btn {
  padding: 0.5rem;
  outline: none;
  border: none;
  margin: 1.5rem 0 0;
  background: #178CC6;
  color: white; }
