
// font-family: 'Lato-Black'
@font-face
	font-family: 'Lato-Black'
	src: url('../fonts/Lato-Black.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Lato-Bold'
@font-face
	font-family: 'Lato-Bold'
	src: url('../fonts/Lato-Bold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Lato-Regular'
@font-face
	font-family: 'Lato-Regular'
	src: url('../fonts/Lato-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Lato-Semibold'
@font-face
	font-family: 'Lato-Semibold'
	src: url('../fonts/Lato-Semibold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap