.global-link {
	text-decoration: none;
	outline: none;
	border: 1px solid $white;
	background: none;
	font-family: $pm;
	font-size: 1rem;
	line-height: 1rem;
	color: #fff;
	padding: 1.125rem 2.8125rem;
	border-radius: 10rem;
	letter-spacing: .2px;
	display: inline-block;
	box-shadow: 0px 0px 20px 5px rgba($black, 0.1);
	text-align: center;
	transition: .2s;
	&:hover {
		color: #fff !important;
		background: $mint !important;
		border-color: $mint !important;
	}
}

.global-headline2 {
	margin: 0;
	width: auto;
	font-family: $pm;
	font-size: 2.875rem;
	line-height: 3.5625rem;
	color: $black;
	text-align: center;
	letter-spacing: .2px;
}

.global-sub-headline {
	margin: 0;
	width: auto;
	font-family: $pb;
	font-size: 1rem;
	line-height: 1.25rem;
	color: $grey;
	letter-spacing: .2px;
}

.global-paragraph {
	margin: 0;
	width: auto;
	font-family: $pr;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	color: $grey;
}

.global-gradient-diagonal {
	background: linear-gradient(to top right, #38BCA7, #CA1CE8);
}
.global-gradient-horizontal {
	background: linear-gradient(to right, #816CC7, #C91DE8);
}