// Reset
h1,h2,h3,h4,h5,h6,p {
  padding: 0 !important;
  margin: 0 !important;
}

// Colors
$blue: #1890FF;

// CSS Start
.divider {
  border-color: #DFE1E4 !important;
  background-color: #DFE1E4 !important;
  border: none !important;
  height: 1px !important;
}


// Header
.header {
  background-image: url('https://i.ibb.co/jWzSW6r/background-image.png') !important;
  background-repeat: no-repeat !important;
  background-position: 100% 46px !important;
  background: #F3F3F3 !important;
  &__logo-container {}
  &__logo {
    display: inline-block !important;
  }
  &__visit-link {
    font-size: 15px;
    font-weight: 600;
    color: $blue;
  }
  &__headline {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #0C1014;
  }
  &__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #515759 !important;
  }
  &__learn-more-button {}
  &__learn-more-button a {
    padding-top: 12px !important;
    padding-right: 81px !important;
    padding-bottom: 12px !important;
    padding-left: 81px !important;
    background: $blue !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #fff;
  }
}

// Main
.main {
  background: #F3F3F3 !important;
  &__item-headline {
    font-size: 18px;
    font-weight: 700;
    color: #0C1014;
  }
  &__item-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #515759;
  }
  &__explore-button {}
  &__explore-button a {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    background: $blue !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #fff;
  }
}

// Footer
.footer {
  background: #F3F3F3 !important;
  &__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #B1BCC0;
  }
  &__unsubscribe-link {
    color: $blue;
  }
  &__socials-container {}
  &__social-link {
    display: inline-block !important;
    vertical-align: middle !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}