@charset "UTF-8";
.top-nav {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0rem;
  left: 0rem;
  z-index: 50; }

.top-nav__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4.9rem 0.9rem 4.9rem 1.1rem; }

.top-nav__menu {
  margin-top: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.top-nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 8.6rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  position: relative; }

.top-nav__link:last-child {
  margin-right: 0rem; }

.top-nav__link::before {
  content: '';
  width: 100%;
  height: 0.2rem;
  background: #fff;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.top-nav__link:hover::before {
  opacity: 1; }

.header {
  width: 100%;
  height: auto;
  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 36rem;
  padding-bottom: 30.9rem;
  position: relative; }

.header__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__block {
  padding-left: 0.7rem;
  position: relative;
  z-index: 5; }

.header__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 6.2rem;
  color: #fff;
  width: 100%;
  height: auto; }

.header__description {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  color: #fff;
  margin-top: 1.2rem;
  width: 100%;
  height: auto; }

.header__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__user-phone {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  color: #A0A0A0;
  padding: 2.2rem 4.7rem;
  -webkit-border-radius: 4rem;
          border-radius: 4rem;
  border: none;
  outline: none;
  margin-top: 3.5rem;
  width: 44.7rem;
  height: auto; }

.header__submit-button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: #22233A;
  padding: 1.7rem 4.7rem;
  -webkit-border-radius: 4rem;
          border-radius: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 44.7rem;
  height: auto;
  margin-top: 1.6rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.4rem 1rem 3rem rgba(0, 0, 0, 0.3); }

.header__submit-button:hover {
  background: #2b2d4a; }

.header__submit-button:active {
  background: #22233A; }

.header__features-image {
  position: absolute;
  top: 34.1rem;
  right: 17.2rem; }

.download-apps {
  padding-top: 14.4rem;
  padding-bottom: 11.8rem;
  background: #fff; }

.download-apps__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.download-apps__title1 {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #5D5D5D;
  text-align: center;
  width: 100%;
  height: auto; }

.download-apps__title2 {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #5D5D5D;
  text-align: center;
  margin-top: 2.6rem;
  width: 100%;
  height: auto; }

.download-apps__paragraph {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #5D5D5D;
  text-align: center;
  padding: 0rem 11rem;
  width: 100%;
  height: auto; }

.download-apps__download-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.8rem;
  text-decoration: none; }

.download-apps__download-button {
  width: 23rem;
  height: 8.1rem;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.download-apps__app-store-download {
  background: #22233A url("../img/download-apps-apple-store.png");
  background-repeat: no-repeat;
  margin-right: 2.2rem;
  background-position: 4.3rem 2.6rem; }

.download-apps__app-store-download::before {
  content: 'Скачать с';
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
  position: absolute;
  top: 2.1rem;
  left: 9.2rem; }

.download-apps__app-store-download::after {
  content: 'Appstore';
  color: #fff;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 4rem;
  left: 9.1rem; }

.download-apps__app-store-download:hover {
  background: #2b2d4a url("../img/download-apps-apple-store.png");
  background-repeat: no-repeat;
  background-position: 4.3rem 2.6rem; }

.download-apps__app-store-download:active {
  background: #22233A url("../img/download-apps-apple-store.png");
  background-repeat: no-repeat;
  background-position: 4.3rem 2.6rem; }

.download-apps__play-store-download {
  background: #22233A url("../img/download-apps-play-store.png");
  background-repeat: no-repeat;
  background-position: 4.3rem 2.6rem; }

.download-apps__play-store-download::before {
  content: 'Скачать с';
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
  position: absolute;
  top: 2.1rem;
  left: 9.2rem; }

.download-apps__play-store-download::after {
  content: 'Playstore';
  color: #fff;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 4rem;
  left: 9.1rem; }

.download-apps__play-store-download:hover {
  background: #2b2d4a url("../img/download-apps-play-store.png");
  background-repeat: no-repeat;
  background-position: 4.3rem 2.6rem; }

.download-apps__play-store-download:active {
  background: #22233A url("../img/download-apps-play-store.png");
  background-repeat: no-repeat;
  background-position: 4.3rem 2.6rem; }

.features {
  width: 100%;
  height: auto;
  background: url("../img/features-bg.jpg") no-repeat center;
  padding-top: 8.9rem;
  padding-bottom: 19.5rem; }

.features__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.features__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #fff;
  text-align: center; }

.features__main-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding-top: 15.7rem;
  padding-bottom: 12.8rem;
  padding-left: 7.1rem;
  padding-right: 7.1rem;
  background: url("../img/features-bg-phone.png") no-repeat center; }

.features__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.features__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.features__elem {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.1rem; }

.features__elem:first-child {
  margin-top: 0rem; }

.features__icon {
  width: 7.8rem;
  height: 7.8rem;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.features__icon1 {
  background: url("../img/features-icon1.png") no-repeat center #fff; }

.features__icon2 {
  background: url("../img/features-icon2.png") no-repeat center #fff; }

.features__icon3 {
  background: url("../img/features-icon3.png") no-repeat center #fff; }

.features__icon4 {
  background: url("../img/features-icon4.png") no-repeat center #fff; }

.features__icon5 {
  background: url("../img/features-icon5.png") no-repeat center #fff; }

.features__icon6 {
  background: url("../img/features-icon6.png") no-repeat center #fff; }

.features__description {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2.1rem; }

.features__list-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 97rem;
  height: auto;
  margin: 0 auto;
  padding-top: 1.1rem;
  padding-left: 9.3rem; }

.features__list-title {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 3rem;
  color: #fff; }

.features__list {
  margin: 0rem;
  padding: 0rem;
  margin-left: 2rem;
  margin-top: 1.6rem;
  width: 100%;
  height: auto; }

.features__list-item {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2.4rem; }

.features__list-item:first-child {
  margin-top: 0rem; }

.loyality {
  padding-top: 14.4rem;
  padding-bottom: 7.6rem;
  background: #fff; }

.loyality:hover .loyality__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.loyality__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.loyality__left {
  width: -webkit-calc(117rem - 50rem);
  width: calc(117rem - 50rem);
  height: auto; }

.loyality__right {
  width: 50rem;
  height: auto; }

.loyality__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  color: #000; }

.loyality__subtitle {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  margin-top: 2.2rem; }

.loyality__paragraph {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  margin-top: 2.2rem; }

.loyality__list-title {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  margin-top: 2.2rem; }

.loyality__list {
  padding: 0rem;
  margin: 0rem;
  padding-left: 2rem;
  margin-top: 2.2rem; }

.loyality__list-item {
  margin-top: 2.4rem; }

.loyality__list-item:first-child {
  margin-top: 0rem; }

.loyality__image-container {
  width: 47rem;
  height: 45.2rem;
  overflow: hidden; }

.loyality__image {
  background: url("../img/loyality-pic.jpg") no-repeat center;
  width: 47rem;
  height: 45.2rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.integration {
  padding-top: 5.5rem;
  padding-bottom: 8.8rem;
  background: #fff; }

.integration:hover .integration__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.integration__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.integration__left {
  width: 47rem;
  height: auto; }

.integration__image-container {
  width: 47rem;
  height: 45.2rem;
  overflow: hidden; }

.integration__image {
  width: 47rem;
  height: 45.2rem;
  background: url("../img/integration-pic.jpg") no-repeat center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.integration__right {
  width: -webkit-calc(117rem - 47rem);
  width: calc(117rem - 47rem);
  height: auto;
  padding-top: 1rem;
  padding-left: 4.8rem; }

.integration__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  color: #000; }

.integration__list-title {
  margin: 0rem;
  margin-top: 2.1rem;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600; }

.integration__list {
  margin: 0rem;
  padding: 0rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.2rem;
  padding-left: 1.7rem; }

.integration__list-item {
  margin-top: 2.6rem; }

.integration__list-item:first-child {
  margin-top: 0rem; }

.integration__paragraph {
  margin: 0rem;
  margin-top: 2.2rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600; }

.prices {
  background: #F8F6F6;
  padding-top: 8.8rem;
  padding-bottom: 6.4rem; }

.prices__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.prices__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #5D5D5D; }

.prices__tariffs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.6rem;
  width: 100%;
  height: auto; }

.prices__tariff {
  background: transparent;
  border: .2rem solid #4085F6;
  width: 36.6rem;
  height: auto;
  margin-right: 3.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  padding-top: 3.5rem;
  padding-bottom: 5.6rem;
  -webkit-box-shadow: 1rem 1rem 2.5rem rgba(128, 128, 128, 0.1);
          box-shadow: 1rem 1rem 2.5rem rgba(128, 128, 128, 0.1); }

.prices__tariff:last-child {
  margin-right: 0rem; }

.prices__tariff.active {
  background: -webkit-gradient(linear, left top, right top, from(#1962D9), to(#3E83F4));
  background: -webkit-linear-gradient(left, #1962D9, #3E83F4);
  background: -o-linear-gradient(left, #1962D9, #3E83F4);
  background: linear-gradient(90deg, #1962D9, #3E83F4);
  -webkit-box-shadow: 1rem 1rem 2.5rem rgba(128, 128, 128, 0.3);
          box-shadow: 1rem 1rem 2.5rem rgba(128, 128, 128, 0.3); }

.prices__tariff.active > p {
  color: #fff; }

.prices__tariff.active > button {
  color: #fff;
  background: #4085F6;
  border-color: #fff; }

.prices__tariff.active .prices__tariff-options::before,
.prices__tariff.active .prices__tariff-options::after {
  background: #fff; }

.prices__tariff-name {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #5D5D5D;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.prices__tariff-price {
  margin: 0rem;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #4085F6;
  margin-top: 2.5rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.prices__tariff-period {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #5D5D5D;
  margin-top: 2rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.prices__tariff-options {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.6rem;
  color: #737373;
  margin-top: 3.4rem;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.prices__tariff-options::before, .prices__tariff-options::after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.prices__tariff-options::before {
  content: '';
  width: 0.6rem;
  height: 0.3rem;
  background: #4085F6;
  position: absolute;
  top: 2rem;
  left: -1.9rem;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg); }

.prices__tariff-options::after {
  content: '';
  width: 1.4rem;
  height: 0.3rem;
  background: #4085F6;
  position: absolute;
  top: 1.8rem;
  left: -1.7rem;
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg); }

.prices__tariff-button {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  padding: 0.8rem 6.7rem;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  margin-top: 2.3rem;
  background: #fff;
  border: .2rem solid #4085F6;
  color: #4085F6;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

.prices__request-container {
  margin-top: 6rem;
  background: #fff;
  width: 117rem;
  height: auto;
  padding: 4.4rem 0rem; }

.prices__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.prices__email {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #A2A2A2;
  border: .2rem solid #D5D5D5;
  padding: 0.5rem 3.6rem;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  outline: none;
  margin-right: 1rem;
  width: 38rem;
  height: auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.prices__email:focus {
  border-color: #226BE2; }

.prices__phone {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #A2A2A2;
  border: .2rem solid #D5D5D5;
  padding: 0.5rem 3.6rem;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  outline: none;
  margin-right: 1rem;
  width: 38rem;
  height: auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.prices__phone:focus {
  border-color: #226BE2; }

.prices__submit-button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  background: #226BE2;
  padding: 1.4rem 3.4rem;
  border: none;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border: .2rem solid #226BE2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.prices__submit-button:hover {
  background: #397ae5;
  border: 0.2rem solid #397ae5; }

.prices__submit-button:active {
  background: #226BE2;
  border: .2rem solid #226BE2; }

.additional-services {
  padding-top: 7.8rem;
  padding-bottom: 4rem;
  background: #fff; }

.additional-services__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.additional-services__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #5D5D5D; }

.additional-services__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 9rem; }

.additional-services__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-calc(117rem / 5.5);
  width: calc(117rem / 5.5);
  height: auto; }

.additional-services__list-item-icon {
  width: 6rem;
  height: 6rem; }

.additional-services__list-item-description {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.8rem;
  color: #5D5D5D;
  text-align: center;
  margin-top: 1.8rem;
  width: 100%;
  height: auto; }

.additional-services__clarification {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.6rem;
  color: #226BE2;
  margin-top: 3rem; }

.additional-services__list-item:nth-child(1) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon1.png") no-repeat center; }

.additional-services__list-item:nth-child(2) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon2.png") no-repeat center; }

.additional-services__list-item:nth-child(3) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon3.png") no-repeat center; }

.additional-services__list-item:nth-child(4) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon4.png") no-repeat center; }

.additional-services__list-item:nth-child(5) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon5.png") no-repeat center; }

.additional-services__list-item:nth-child(6) .additional-services__list-item-icon {
  background: url("../img/additional-services-icon6.png") no-repeat center; }

.blog {
  padding-top: 3.9rem;
  padding-bottom: 9.4rem;
  background: #fff; }

.blog__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto; }

.blog__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #000;
  text-align: center; }

.blog__posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: auto;
  margin-top: 4.4rem; }

.blog__post {
  width: 37.1rem;
  height: auto;
  background: #F7F8F9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.blog__post:nth-child(1) .blog__post-image {
  background: url("../img/blog-pic1.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.blog__post:nth-child(2) .blog__post-image {
  background: url("../img/blog-pic2.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.blog__post:nth-child(3) .blog__post-image {
  background: url("../img/blog-pic3.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.blog__post:hover .blog__post-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.blog__post:hover .blog__post-text {
  background: #226BE2; }

.blog__post:hover .blog__post-meta,
.blog__post:hover .blog__post-title,
.blog__post:hover .blog__post-paragraph {
  color: #fff; }

.blog__post:hover .blog__post-date-container svg path {
  fill: #fff; }

.blog__post:hover .blog__post-views-container svg path {
  fill: #fff; }

.blog__post-image-container {
  width: 37.1rem;
  height: 24rem;
  overflow: hidden; }

.blog__post-image {
  width: 37.1rem;
  height: 24rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.blog__post-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 20rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  padding: 2.2rem 2.4rem; }

.blog__post-title {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 2.2rem;
  color: #212121;
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog__post-paragraph {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #9FA3A7;
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog__post-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: .1rem;
  padding-right: 1rem;
  color: #9FA3A7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog__post-date-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.blog__post-date-container svg {
  width: 1.4rem;
  height: 1.4rem; }

.blog__post-date-container svg path {
  fill: #9FA3A7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog__post-date {
  margin-left: 1rem;
  position: relative;
  top: 0.1rem; }

.blog__post-views-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.blog__post-views-container svg {
  width: 1.9rem;
  height: 1.9rem; }

.blog__post-views-container svg path {
  fill: #9FA3A7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.blog__post-views {
  margin-left: 0.8rem; }

.contacts {
  background: #F7F7F7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.2rem;
  padding-bottom: 8.2rem; }

.contacts__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 6.5rem; }

.contacts__title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.8rem;
  letter-spacing: .1rem;
  color: #3B3B3B; }

.contacts__left, .contacts__right {
  width: 49%;
  height: auto; }

.contacts__left {
  background: #fff;
  padding-top: 7rem;
  padding-left: 12.4rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contacts__left-title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  color: #000; }

.contacts__left-title span {
  font-weight: 400;
  font-size: 1.4rem; }

.contacts__item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3.4rem; }

.contacts__item-container:first-child {
  margin-top: 6.2rem; }

.contacts__item-icon {
  margin-right: 1rem; }

.contacts__item-icon svg {
  width: 2rem;
  height: 2rem; }

.contacts__item-icon svg path {
  fill: #226BE2; }

.contacts__item-phone-icon svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.contacts__item {
  font-family: "PT Sans";
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #3B3B3B;
  cursor: default; }

.contacts__item span {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
  top: 2rem;
  cursor: pointer; }

.contacts__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 8rem; }

.contacts__right-title {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.8rem;
  color: #000; }

.contacts__list {
  margin: 0rem;
  padding: 0rem;
  padding-left: 1.4rem;
  margin-top: 2.9rem; }

.contacts__list-item {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.4rem;
  color: #226BE2;
  margin-top: 3rem; }

.contacts__list-item:first-child {
  margin-top: 0rem; }

.footer {
  background: #13253B;
  padding: 5rem 0rem; }

.footer__wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__to-top {
  width: 6rem;
  height: 6rem;
  background: #13253B;
  border: 0.2rem solid #07b75f;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer__to-top::before, .footer__to-top::after {
  content: '';
  width: 2rem;
  height: 0.2rem;
  background: #07b75f;
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer__to-top::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 2.2rem;
  right: 1.1rem; }

.footer__to-top::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 2.2rem;
  left: 1.1rem; }

.footer__to-top:hover {
  background: #07b75f; }

.footer__to-top:hover::before, .footer__to-top:hover::after {
  background: #13253B; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__link {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: .2rem solid #226BE2;
  background: #13253B;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer__link:hover {
  background: -webkit-linear-gradient(45deg, #226BE2, #178CC6);
  background: -o-linear-gradient(45deg, #226BE2, #178CC6);
  background: linear-gradient(45deg, #226BE2, #178CC6); }

.footer__link:hover svg path {
  fill: #13253B; }

.footer__link:last-child {
  margin-right: 0rem; }

.footer__link svg {
  width: 3rem;
  height: 3rem; }

.footer__link svg path {
  fill: #226BE2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer__vk svg {
  width: 3.4rem;
  height: 3.4rem; }

.footer__instagram svg {
  width: 3.4rem;
  height: 3.4rem; }

.modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 99;
  display: none; }

.modal__header-error, .modal__header-success, .modal__prices-error, .modal__prices-success {
  position: fixed;
  top: -100%;
  left: 50%;
  background: #246CE2;
  width: 30rem;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3rem 3rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  z-index: 999; }

.modal__header-paragraph, .modal__prices-paragraph {
  margin: 0rem;
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
  width: 100%;
  height: auto; }

.modal__header-close-button, .modal__prices-close-button {
  margin-top: 2rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  background: #1855b9;
  padding: 1.4rem 3.4rem;
  border: none;
  -webkit-border-radius: 3rem;
          border-radius: 3rem;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border: .2rem solid #226BE2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.modal__header-close-button:hover, .modal__prices-close-button:hover {
  background: #1957bd; }

.modal__header-close-button:active, .modal__prices-close-button:active {
  background: #1855b9; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #22233A;
  z-index: 1000;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1; }

.preloader .loader {
  width: 7.5rem;
  height: 7.5rem;
  border: 1rem solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top-color: #226BE2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear; }

.preloader.done {
  opacity: 0;
  visibility: hidden; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
