body {
  overflow: hidden; }

.scene {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #178CC6), to(#F58220));
  background: -webkit-linear-gradient(bottom, #178CC6 50%, #F58220 100%);
  background: -o-linear-gradient(bottom, #178CC6 50%, #F58220 100%);
  background: linear-gradient(0deg, #178CC6 50%, #F58220 100%);
  overflow: hidden; }

.scene iframe {
  display: none; }

.scene__fire {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: url("https://stmed.net/sites/default/files/fire-wallpapers-25207-7825014.jpg") no-repeat center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }

.scene__mountains {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 3; }

.scene__beyonce2 {
  width: 40rem;
  position: absolute;
  left: -1%;
  bottom: -38rem;
  z-index: 2;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s; }

.scene__beyonce1 {
  width: 30rem;
  position: absolute;
  left: 50%;
  bottom: -46rem;
  z-index: 4;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s; }

.scene__guitar {
  position: absolute;
  width: 60rem;
  left: 47%;
  bottom: -19rem;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  z-index: 5;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }
