@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*

body
	cursor: default
	user-select: none
	overflow-x: hidden

.wrapper
	+wrapper(90%, auto)

// 1rem === 10px

.header
	background: #EAEAEA
	padding: 3rem 0rem
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__logo
		text-decoration: none
		+size(3.1rem, 2.5rem)
		background: url('../assets/header__logo.webp') no-repeat center
	&__menu
		margin-top: 3rem
		+flex(column, wrap, flex-start, center)
	&__menu-link
		text-decoration: none
		font-family: $mm
		font-size: 1.2rem
		font-weight: 900
		color: $space-grey
		text-transform: uppercase
		transition: .2s
		margin-top: 1.6rem
		&:first-child
			margin-top: 0rem
		&:hover
			color: $blue

.main
	background: #EAEAEA
	padding: 3rem 0rem
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__text-container
		+flex(column, wrap, flex-start, center)
		width: 100%
	&__headline
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 3.8rem
		color: $space-grey
		text-align: center
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $nsr
		font-size: 1.8rem
		line-height: 2.8rem
		color: $light-grey
		text-align: center
		margin-top: 1rem
	&__contact-us-link
		+linkStyle()
		margin-top: 1rem

.about
	padding: 3rem 0rem
	background: #fff
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__headline
		+headlineStyle()
	&__paragraph
		+paragraphStyle()
		margin-top: 1.6rem
	&__signature
		margin-top: 1.6rem
	&__content
		width: 100%
		+flex(column, wrap, flex-start, center)
	&__left
		background: #F8F9F9
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		margin-top: 1.6rem
		padding: 3rem
	&__left-headline
		+headlineStyle()
		text-align: left
	&__skills-container
		width: 100%
		margin-top: 1rem
	&__skill
		margin-top: 1.6rem
	&__skill1
	&__skill2
	&__skill3
	&__skill-info
		+flex(row, wrap, flex-start, flex-start)
	&__skill-name
		width: auto
		margin: 0rem
		font-family: $mm
		font-weight: 900
		font-size: 1.2rem
		color: $space-grey
		text-align: left
		text-transform: uppercase
	&__skill-progress
		width: auto
		margin: 0rem
		font-family: $mm
		font-weight: 900
		font-size: 1.2rem
		color: $space-grey
		text-align: left
		margin-left: 1rem
		text-transform: uppercase
	&__skill-diagram
		+size(90%, .3rem)
		background: #D9D9D9
		position: relative
		margin-top: 1rem
		&::before
			content: ''
			background: $blue
			position: absolute
			top: 0rem
			left: 0rem
	&__skill1-diagram
		&::before
			+size(75%, 100%)
	&__skill2-diagram
		&::before
			+size(90%, 100%)
	&__skill3-diagram
		&::before
			+size(65%, 100%)
	&__right
		+size(100%, 40rem)
		background: url('http://source.unsplash.com/900x500') no-repeat center
		background-size: cover
		margin-top: 1.6rem

.statistics
	background: $blue
	padding: 3rem 0rem
	&__wrapper
		+flex(row, wrap, center, flex-start)
	&__item
		width: 40%
		margin: 1rem
		padding: 1rem 0rem
		padding-left: 6rem
		+flex(column, wrap, flex-start, flex-start)
	&__item1
		background: url('../assets/statistics__icon1.webp') no-repeat 0rem 1rem
	&__item2
		background: url('../assets/statistics__icon2.webp') no-repeat 0rem 1rem
	&__item3
		background: url('../assets/statistics__icon3.webp') no-repeat 0rem 1rem
	&__item4
		background: url('../assets/statistics__icon4.webp') no-repeat 0rem 1rem
	&__counter
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 1.8rem
		color: #fff
		text-transform: uppercase
		text-align: left
	&__description
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		text-align: left
		margin-top: 0.6rem

.gallery
	width: 100%
	background: #F5F5F5
	&__wrapper
		position: relative
		+wrapper(100%, auto)
	&__items-container
		opacity: 0
		z-index: -1
		position: absolute
		transition: 0.5s
		&.active
			opacity: 1
			position: static
			+flex(column, wrap, flex-start, flex-start)
	&__item
		+size(100%, 30rem)
		position: relative
		&::before
			content: ''
			+size(100%, 100%)
			position: absolute
			top: 0rem
			left: 0rem
			background: linear-gradient(45deg, rgba(#F5F5F5, 0.2), rgba($blue, 0.2))
			opacity: 1
			transition: .2s
		&:hover::before
			opacity: 0
	&__item1
		background: url('http://source.unsplash.com/400x400') no-repeat center
		background-size: cover
	&__item2
		background: url('http://source.unsplash.com/400x402') no-repeat center
		background-size: cover
	&__item3
		background: url('http://source.unsplash.com/400x404') no-repeat center
		background-size: cover
	&__item4
		background: url('http://source.unsplash.com/400x406') no-repeat center
		background-size: cover
	&__item5
		background: url('http://source.unsplash.com/400x408') no-repeat center
		background-size: cover
		display: none
	&__item6
		background: url('http://source.unsplash.com/400x410') no-repeat center
		background-size: cover
		display: none
	&__item7
		background: url('http://source.unsplash.com/400x412') no-repeat center
		background-size: cover
		display: none
	&__item8
		background: url('http://source.unsplash.com/400x414') no-repeat center
		background-size: cover
		display: none
	&__load-more-link
		outline: none
		border: none
		cursor: pointer
		width: 100%
		font-family: $mm
		font-size: 1.2rem
		font-weight: 900
		color: #8F8F8F
		text-transform: uppercase
		background: #F5F5F5
		padding: 4rem 0rem
		transition: .2s
		&:hover
			color: darken(#8F8F8F, 5%)
			background: darken(#F5F5F5, 5%)
		&:active
			color: #8F8F8F
			background: #F5F5F5

.process
	background: #fff
	padding: 3rem 0rem
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__headline
		+headlineStyle()
	&__paragraph
		+paragraphStyle()
		margin-top: 1.6rem
	&__video-section
		position: relative
		z-index: 60
		@include size(100%, 30rem)
		overflow: hidden
		margin-top: 3rem
	&__video-container
		position: absolute
		top: 50%
		left: 0rem
		transform: translateY(-50%)
		@include size(100%, 30rem)
		padding: 6rem 0rem
	&__video-overlay
		background: #EAEAEA
		+size(100%, 100%)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1
		@include flex(column, wrap, center, center)
		transition: 1s
		z-index: 2
	&__video-play-button
		+size(8.5rem, 8.5rem)
		border-radius: 50%
		position: relative
		background: $blue
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 52%
			transform: translate(-50%, -50%)
			display: inline-block
			width: 0
			height: 0
			border-style: solid
			border-width: 0.8rem 0 0.8rem 1.4rem
			border-color: transparent transparent transparent #fff
	&__video
		+size(100%, 100%)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 1

.we-do
	background: #F5F5F5
	padding: 3rem 0rem
	&__wrapper
		+flex(row, wrap, center, stretch)
	&__item
		padding-top: 6rem
		margin: 1.2rem
		width: 44%
	&__item1
		background: url('../assets/we-do__icon1.webp') no-repeat center 0rem
	&__item2
		background: url('../assets/we-do__icon2.webp') no-repeat center 0rem
	&__item3
		background: url('../assets/we-do__icon3.webp') no-repeat center 0rem
	&__item4
		background: url('../assets/we-do__icon4.webp') no-repeat center 0rem
	&__item5
		background: url('../assets/we-do__icon5.webp') no-repeat center 0rem
	&__item6
		background: url('../assets/we-do__icon6.webp') no-repeat center 0rem
	&__item7
		background: url('../assets/we-do__icon7.webp') no-repeat center 0rem
	&__item8
		background: url('../assets/we-do__icon8.webp') no-repeat center 0rem
	&__item-headline
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 1.2rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__item-paragraph
		width: auto
		margin: 0rem
		font-family: $nsr
		font-size: 1.6rem
		line-height: 2.4rem
		color: $light-grey
		text-align: center
		margin-top: 0.6rem

.reviews
	background: $blue
	padding-bottom: 3.4rem
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__slider
		position: relative
		padding: 5rem 0rem
		width: 100%
		.owl-wrapper-outer
			margin: 0rem
			padding: 0rem
			.owl-wrapper
				margin: 0rem
				padding: 0rem
		.owl-controls
			margin: 0rem
			padding: 0rem
			position: absolute
			bottom: 1.8rem
			left: 50%
			transform: translateX(-50%)
			.owl-pagination
				margin: 0rem
				padding: 0rem
				+flex(row, wrap, flex-start, center)
				.owl-page
					margin: 0rem
					padding: 0rem
					span
						opacity: 1
						margin: 0rem
						+size(.6rem, .6rem)
						background: #94E9E7
						border-radius: 50%
						margin-right: .9rem
						transition: .2s
				.owl-page:last-child
					span
						margin-right: 0rem
				.owl-page.active
					span
						+size(1rem, 1rem)
						background: #FFF
	&__slide
		+flex(column, wrap, flex-start, center)
		width: 100%
	&__slide1
	&__slide2
	&__slide3
	&__quote
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 2rem
		line-height: 3.2rem
		color: #fff
		text-align: center
		padding: 0rem 4rem
	&__quote-author
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		text-align: center
		margin-top: 1.6rem

.brands
	background: #fff
	padding: 3rem 0rem
	&__wrapper
		+flex(row, wrap, center, center)
	&__item
		+size(30%, 10rem)
		margin: 0.4rem
	&__item1
		background: url('../assets/brands__icon1.webp') no-repeat center
	&__item2
		background: url('../assets/brands__icon2.webp') no-repeat center
	&__item3
		background: url('../assets/brands__icon3.webp') no-repeat center
	&__item4
		background: url('../assets/brands__icon4.webp') no-repeat center
	&__item5
		background: url('../assets/brands__icon1.webp') no-repeat center

.contact
	background: #F5F5F5
	padding: 3rem 0rem
	&__wrapper
		+flex(column, wrap, flex-start, center)
	&__headline
		+headlineStyle()
	&__paragraph
		+paragraphStyle()
		margin-top: 1.6rem
	&__form
		+flex(column, wrap, flex-start, center)
		width: 100%
		margin-top: 1.6rem
	&__form-row
		+flex(column, wrap, flex-start, center)
		width: 100%
	&__input
		outline: none
		border: .1rem solid transparent
		resize: none
		background: #FFF
		font-family: $nsr
		font-size: 1.5rem
		color: $light-grey
		padding: 1.8rem 2rem
		width: 100%
		margin-top: 1rem
		&::placeholder
			font-family: $nsr
			font-size: 1.5rem
			color: $light-grey
	&__name-input
		margin-top: 1rem
	&__email-input
	&__title-input
	&__comment-input
		height: 16rem
	&__send-message-button
		+linkStyle()
		outline: none
		border: none
		cursor: pointer
		margin-top: 1.6rem

.footer
	background: #0C0C0C
	padding: 3rem 0rem
	&__wrapper
	&__block
		display: none
	&__block1
		+flex(column, wrap, flex-start, center)
	&__block2
	&__block3
	&__block4
	&__headline
		width: auto
		margin: 0rem
		font-family: $mm
		font-size: 1.8rem
		color: #fff
		text-align: center
	&__copy
		text-decoration: none
		font-family: $nsr
		font-size: 1.5rem
		color: #BDBDBD
		margin-top: 1rem
	&__designed-by
		text-decoration: none
		font-family: $nsr
		font-size: 1.5rem
		color: #BDBDBD
		margin-top: 1rem
	&__email-link
	&__phone-link
	&__list
	&__list-item
	&__list-link
	&__social-link
	&__facebook-link
	&__twitter-link
	&__instagram-link
	&__dribble-link

.modal
	&__overlay
		+size(100%, 100%)
		background: rgba(#000, 0.95)
		position: fixed
		top: 0rem
		left: 0rem
		z-index: 999
		display: none
	&__window
		+size(100%, 14rem)
		background: #000
		position: fixed
		top: 50%
		left: 0rem
		transform: translateY(-50%)
		z-index: -1
		opacity: 999
		+flex(row, wrap, center, center)
		padding: 0rem 4rem
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $nsr
		font-size: 2rem
		line-height: 2.8rem
		color: #fff
		text-align: center
	&__success-container
	&__error-container
	&__success-paragraph
	&__error-paragraph

.to-top
	bottom: 0rem
	right: 0rem
	width: 5rem
	height: 5rem
	background: darken($blue, 10%)
	text-align: center
	line-height: 5rem
	position: fixed
	color: white
	cursor: pointer
	font-size: 2rem
	text-decoration: none
	transition: 0.2s
	&::before, &::after
		content: ''
		+size(1.6rem, 0.2rem)
		background: #fff
		position: absolute
		top: 2.6rem
	&::before
		transform: rotate(-60deg)
		left: 1.3rem
	&::after
		transform: rotate(60deg)
		right: 1.3rem
	&.mPS2id-highlight
		opacity: 0
		z-index: -1

*
	// @include outline($blue)