@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/* Mobile First Method */
/* Extra Small Devices, Phones (SM) */
@media only screen and (min-width: 576px)
	body
		background: $media-blue
	*
		outline-color: $media-blue

	.header
		&__wrapper
		&__logo
		&__menu
			+flex(row, wrap, center, flex-start)
		&__menu-link
			margin-top: 0rem
			margin-right: 1.4rem
			&:last-child
				margin-right: 0rem
			&:first-child
			&:hover

	.main
		&__wrapper
		&__text-container
			width: 50rem
		&__headline
		&__paragraph
		&__contact-us-link
			&:hover

	.about
		&__wrapper
		&__headline
		&__paragraph
			width: 52rem
		&__signature
		&__content
			width: 50rem
		&__left
		&__left-headline
		&__skills-container
		&__skill
		&__skill1
		&__skill2
		&__skill3
		&__skill-info
		&__skill-name
		&__skill-progress
		&__skill-diagram
			&::before
		&__skill1-diagram
			&::before
		&__skill2-diagram
			&::before
		&__skill3-diagram
			&::before
		&__right

	.statistics
		&__wrapper
		&__item
			width: 21rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__counter
		&__description

	.gallery
		&__wrapper
		&__items-container
			&.active
				+flex(row, wrap, flex-start, flex-start)
		&__item
			width: 50%
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item7
		&__item8
		&__load-more-link
			&:hover
			&:active

	.process
		&__wrapper
		&__headline
		&__paragraph
			width: 50rem
		&__video-section
			+size(100%, 40rem)
		&__video-container
			+size(100%, 40rem)
		&__video-overlay
		&__video-play-button
			&::before
		&__video

	.we-do
		&__wrapper
		&__item
			width: 20rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item7
		&__item8
		&__item-headline
		&__item-paragraph

	.reviews
		&__wrapper
		&__slider
			.owl-wrapper-outer
				.owl-wrapper
			.owl-controls
				.owl-pagination
					.owl-page
						span
					.owl-page:last-child
						span
					.owl-page.active
						span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__quote
			width: 54rem
		&__quote-author

	.brands
		&__wrapper
		&__item
			width: 14rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5

	.contact
		&__wrapper
		&__headline
		&__paragraph
			width: 40rem
		&__form
			width: 40rem
		&__form-row
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__title-input
		&__comment-input
		&__send-message-button

	.modal
		&__overlay
		&__window
			+size(30rem, 14rem)
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&__paragraph
		&__success-container
		&__error-container
		&__success-paragraph
		&__error-paragraph
/* Small Devices, Tablets (MD) */
@media only screen and (min-width: 768px)
	body
		background: $media-pink
	*
		outline-color: $media-pink

	.header
		&__wrapper
			+flex(row, wrap, space-between, center)
		&__logo
		&__menu
			margin-top: 0rem
		&__menu-link
			&:last-child
			&:first-child
			&:hover

	.gallery
		&__wrapper
		&__items-container
			&.active
				+flex(row, wrap, flex-start, flex-start)
		&__item
			width: calc(100% / 4)
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item7
		&__item8
		&__load-more-link
			&:hover
			&:active

	.process
		&__wrapper
		&__headline
		&__paragraph
		&__video-section
			+size(100%, 44rem)
		&__video-container
			+size(100%, 44rem)
		&__video-overlay
		&__video-play-button
			&::before
		&__video

	.we-do
		&__wrapper
		&__item
			margin: 1.6rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item7
		&__item8
		&__item-headline
		&__item-paragraph

	.contact
		&__wrapper
		&__headline
		&__paragraph
			width: 50rem
		&__form
			width: 50rem
		&__form-row
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__title-input
		&__comment-input
		&__send-message-button
/* Medium Devices, Desktops (LG) */
@media only screen and (min-width: 992px)
	body
		background: $media-orange
	*
		outline-color: $media-orange

	.main
		&__wrapper
			+flex(row, wrap, flex-end, flex-start)
		&__text-container
			width: 50rem
			+flex(column, wrap, flex-start, flex-start)
		&__headline
			text-align: left
		&__paragraph
			text-align: left
			margin-top: 2.6rem
			padding-right: 1rem
		&__contact-us-link
			margin-top: 3.3rem
			&:hover

	.about
		&__wrapper
		&__headline
		&__paragraph
		&__signature
		&__content
			+flex(row, wrap, center, stretch)
			width: 100%
			margin-top: 2.6rem
		&__left
			width: 50%
			margin-top: 0rem
			+flex(column, wrap, center, flex-start)
		&__left-headline
		&__skills-container
		&__skill
			margin-top: 3.6rem
		&__skill1
			margin-top: 2rem
		&__skill2
		&__skill3
		&__skill-info
		&__skill-name
		&__skill-progress
		&__skill-diagram
			&::before
		&__skill1-diagram
			&::before
		&__skill2-diagram
			&::before
		&__skill3-diagram
			&::before
		&__right
			width: 50%
			margin-top: 0rem

	.statistics
		padding: 8rem 0rem
		&__wrapper
		&__item
			width: 21rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__counter
		&__description

	.process
		&__wrapper
		&__headline
		&__paragraph
		&__video-section
			+size(100%, 50rem)
		&__video-container
			+size(100%, 50rem)
		&__video-overlay
		&__video-play-button
			&::before
		&__video

	.reviews
		&__wrapper
		&__slider
			.owl-wrapper-outer
				.owl-wrapper
			.owl-controls
				.owl-pagination
					.owl-page
						span
					.owl-page:last-child
						span
					.owl-page.active
						span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__quote
			width: 70rem
		&__quote-author

	.brands
		&__wrapper
			+flex(row, wrap, space-around, flex-start)
		&__item
			width: 14rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5

	.contact
		&__wrapper
		&__headline
		&__paragraph
			width: 52rem
		&__form
			width: 52rem
		&__form-row
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__title-input
		&__comment-input
		&__send-message-button

	.footer
		&__wrapper
			+flex(row, wrap, space-between, flex-start)
		&__block
			+flex(column, wrap, flex-start, flex-start)
		&__block1
		&__block2
		&__block3
			+flex(row, wrap, flex-start, flex-start)
		&__block4
		&__headline
		&__copy
		&__designed-by
		&__email-link
			text-decoration: none
			font-family: $nsr
			font-size: 1.5rem
			color: #BDBDBD
		&__phone-link
			text-decoration: none
			font-family: $nsr
			font-size: 1.5rem
			color: #BDBDBD
			margin-top: 0.8rem
		&__list
			padding: 0rem
			margin: 0rem
			list-style: none
			+flex(column, wrap, flex-start, flex-start)
			&:last-child
				margin-left: 1.4rem
		&__list-item
			+flex(column, wrap, flex-start, flex-start)
			margin-top: 0.8rem
			&:first-child
				margin-top: 0rem
		&__list-link
			text-decoration: none
			font-family: $nsr
			font-size: 1.5rem
			color: #BDBDBD
		&__social-link
			text-decoration: none
			font-family: $nsr
			font-size: 1.5rem
			color: #BDBDBD
			margin-top: 0.8rem
			&:first-child
				margin-top: 0rem
		&__facebook-link
		&__twitter-link
		&__instagram-link
		&__dribble-link
/* Large Devices, Wide Screens (XL) */
@media only screen and (min-width: 1200px)
	body
		background: $media-purple
	*
		outline-color: $media-purple

	.wrapper
		+size(117rem, auto)

	.header
		padding: 3.8rem 0rem
		&__wrapper
			+flex(row, wrap, space-between, flex-start)
		&__logo
		&__menu
			margin-top: 0.5rem
		&__menu-link
			margin-right: 3.7rem
			&:last-child
			&:first-child
			&:hover

	.main
		padding-top: 12.8rem
		padding-bottom: 20.2rem
		&__wrapper
		&__text-container
		&__headline
		&__paragraph
		&__contact-us-link
			&:hover

	.about
		padding-top: 9.6rem
		padding-bottom: 0rem
		&__wrapper
			+wrapper(136.6rem, auto)
		&__headline
		&__paragraph
			margin-top: 2.7rem
			width: 59rem
		&__signature
			margin-top: 3.3rem
		&__content
			margin-top: 10rem
			+flex(row, wrap, flex-start, stretch)
		&__left
			padding-top: 2.9rem
			padding-left: 9.9rem
		&__left-headline
		&__skills-container
		&__skill
			margin-top: 3.9rem
		&__skill1
			margin-top: 2.3rem
		&__skill2
		&__skill3
		&__skill-info
			letter-spacing: .1rem
		&__skill-name
		&__skill-progress
			margin-left: 1.7rem
		&__skill-diagram
			margin-top: 1.8rem
			&::before
		&__skill1-diagram
			&::before
				width: 67%
		&__skill2-diagram
			&::before
				width: 86%
		&__skill3-diagram
			&::before
				width: 56%
		&__right
			height: 57rem

	.statistics
		padding-top: 7.8rem
		padding-bottom: 7.9rem
		&__wrapper
			+flex(row, wrap, space-between, flex-start)
		&__item
			width: 25.5rem
		&__item1
			background: url('../assets/statistics__icon1.webp') no-repeat 0rem 1.4rem
		&__item2
			background: url('../assets/statistics__icon2.webp') no-repeat 0rem 1.2rem
		&__item3
			background: url('../assets/statistics__icon3.webp') no-repeat 0rem 1.2rem
		&__item4
			background: url('../assets/statistics__icon4.webp') no-repeat 0rem 1.3rem
		&__counter
		&__description
			margin-top: 1rem
			letter-spacing: 0.1rem

	.gallery
		&__wrapper
			+wrapper(136.6rem, auto)
		&__items-container
			&.active
				+flex(row, wrap, flex-start, flex-start)
		&__item
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
			display: block
		&__item6
			display: block
		&__item7
			display: block
		&__item8
			display: block
		&__load-more-link
			padding: 4.2rem 0rem
			letter-spacing: .1rem
			&:hover
			&:active

	.process
		padding-top: 9.7rem
		padding-bottom: 9.8rem
		&__wrapper
		&__headline
		&__paragraph
			margin-top: 2.9rem
		&__video-section
			+size(100%, 57.1rem)
			margin-top: 5.2rem
		&__video-container
			+size(100%, 57.1rem)
		&__video-overlay
		&__video-play-button
			&::before
		&__video

	.we-do
		padding-top: 10.4rem
		padding-bottom: 9.5rem
		&__wrapper
			+flex(row, wrap, space-between, flex-start)
		&__item
			width: 27.4rem
			margin: 0rem
			padding-top: 6.8rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
			margin-top: 5.4rem
		&__item6
			margin-top: 5.4rem
		&__item7
			margin-top: 5.4rem
		&__item8
			margin-top: 5.4rem
		&__item-headline
			letter-spacing: .1rem
		&__item-paragraph
			margin-top: 1.3rem
			padding: 0rem 2rem

	.reviews
		padding-top: 12.4rem
		padding-bottom: 12.7rem
		&__wrapper
		&__slider
			.owl-wrapper-outer
				.owl-wrapper
			.owl-controls
				bottom: -6.7rem
				.owl-pagination
					.owl-page
						span
					.owl-page:last-child
						span
					.owl-page.active
						span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__quote
			font-size: 2.4rem
			line-height: 3.6rem
			width: 94rem
		&__quote-author
			margin-top: 2.8rem
			letter-spacing: .1rem

	.brands
		padding-top: 4.6rem
		padding-bottom: 5.4rem
		&__wrapper
			+flex(row, wrap, space-between, flex-start)
		&__item
			width: 14rem
			margin: 0rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5

	.contact
		padding-top: 9.7rem
		padding-bottom: 10.1rem
		&__wrapper
		&__headline
		&__paragraph
			margin-top: 2.8rem
			width: 55rem
		&__form
			margin-top: 2.4rem
			width: 66.7rem
		&__form-row
			+flex(row, wrap, space-between, flex-start)
		&__input
			padding: 1.4rem 1.9rem
			&::placeholder
		&__name-input
			width: 32rem
		&__email-input
			width: 32rem
		&__title-input
			margin-top: 3.3rem
		&__comment-input
			margin-top: 3rem
			height: 16.8rem
		&__send-message-button
			margin-top: 3.1rem
			letter-spacing: .1rem
			padding: 2rem 3.4rem

	.footer
		padding-top: 9.7rem
		padding-bottom: 9.5rem
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)
		&__block
		&__block1
		&__block2
			margin-left: 24.9rem
		&__block3
			margin-left: 14.7rem
		&__block4
			margin-left: 13.6rem
		&__headline
		&__copy
			margin-top: 2.7rem
		&__designed-by
			margin-top: 0.6rem
		&__email-link
		&__phone-link
		&__list
			&:last-child
				margin-left: 5.5rem
		&__list-item
			&:first-child
		&__list-link
		&__social-link
			&:first-child
		&__facebook-link
		&__twitter-link
		&__instagram-link
		&__dribble-link