// Reset
h1,h2,h3,h4,h5,h6,p {
  padding: 0 !important;
  margin: 0 !important;
}

// Header
.header {
  background: #fff !important;
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
}
.header__menu-section {
  background: #444 !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  th {
    padding-bottom: 6px !important;
  }
  .header__menu {}
  .header__menu-link a {
    font-size: 13px;
    font-weight: 400;
    color: #fff !important;
  }
  .header__menu-link {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

// Change
.change {
  border-radius: 8px !important;
  &__headline {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: #0C1014;
  }
  &__paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #515759;
  }
  &__visit-link {
    display: block !important;
    font-size: 15px;
    font-weight: 600;
    color: #1890FF;
  }
  &__buy-link {}
  &__buy-link a {
    font-size: 18px !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 48px !important;
    padding-left: 48px !important;
    background: #1890FF !important;
  }
}

// Check
.check {
  background: #fff !important;
  border-radius: 8px !important;
  &__headline {
    font-size: 24px;
    font-weight: 900;
    color: #0C1014;
  }
  &__see-all-link {
    display: block !important;
    font-size: 15px;
    font-weight: 600;
    color: #1890FF;
    display: block;
    float: right;
  }
  &__item-name {
    font-size: 16px;
    font-weight: 700;
    color: #0C1014;
  }
  &__item-price {
    font-size: 12px;
    font-weight: 400;
    color: #515759;
  }
  &__buy-button {}
  &__buy-button a {
    background: #1890FF !important;
    padding-top: 7px !important;
    padding-right: 18px !important;
    padding-bottom: 7px !important;
    padding-left: 18px !important;
    font-size: 10px !important;
    font-weight: 500 !important;
  }
}

// Footer
.footer {
  border-radius: 8px !important;
  &__headline {
    font-size: 18px;
    font-weight: 600;
    color: #0C1014;
  }
  &__paragraph {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: #515759;
  }
  &__socials-container {}
  &__social-link {
    vertical-align: middle !important;
    display: inline-block;
    padding-right: 27px !important;
  }
  &__social-link a {}
  &__phone {
    font-size: 11px;
    font-weight: 600;
    color: #515759;
  }
  &__support-link {
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: #1890FF;
  }
}