doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title test-email
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		style
			include css/main.css
	body(style='margin: 0; padding: 0;')
		div(style='font-size:0px;font-color:#ffffff;opacity:0;visibility:hidden;width:0;height:0;display:none;') Тестовое письмо
		center.wrapper
			.webkit
				table(cellpadding='0' cellspacing='0' width='100%')
					tr
						td
							table.main.table-600(cellpadding='0' cellspacing='0' max-width="600" width="100%" align="center" bgcolor='transparent' style="font-family: Arial, Helvetica, sans-serif, 'Raleway';")

								// HTML Start

								tr.section
									td.main
										table(cellpadding='0' cellspacing='0' width="100%")
											tr
												td
													table(cellpadding='0' cellspacing='0' width="100%" align="center")
														tr(align="center")
															td.main__paragraph-container
																p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores exercitationem aut neque fuga ratione repellat, quia, consectetur totam! Suscipit aliquam nemo accusamus velit laborum deleniti repellendus. Saepe in fugit, consectetur, voluptatibus nulla alias illum amet, quisquam nesciunt maxime dicta itaque!
															td.main__paragraph-container
																p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores exercitationem aut neque fuga ratione repellat, quia, consectetur totam! Suscipit aliquam nemo accusamus velit laborum deleniti repellendus. Saepe in fugit, consectetur, voluptatibus nulla alias illum amet, quisquam nesciunt maxime dicta itaque!
															td.main__paragraph-container
																p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores exercitationem aut neque fuga ratione repellat, quia, consectetur totam! Suscipit aliquam nemo accusamus velit laborum deleniti repellendus. Saepe in fugit, consectetur, voluptatibus nulla alias illum amet, quisquam nesciunt maxime dicta itaque!
											tr
												td.main__link-container(align="center")
													a(href="#") beyonce

								// HTML End