doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title test-email
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		style
			include css/main.css
	body(style='margin: 0; padding: 0;')
		div(style='font-size:0px;font-color:#ffffff;opacity:0;visibility:hidden;width:0;height:0;display:none;') Тестовое письмо
		center.wrapper
			.webkit
				table(cellpadding='0' cellspacing='0' width='100%')
					tr
						td
							table.main.table-600(cellpadding='0' cellspacing='0' width="600" align="center" bgcolor='transparent' style="font-family: Arial, Helvetica, sans-serif, 'Raleway';")

								// HTML Start

								// Header
								tr.section
									td.header(bgcolor="#1B54DD" align="center")
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											tr
												td(align="center")
													a(href="http://google.com")
														img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/test-email/app/assets/logo.png?raw=true", alt="logo")
								
								// Main
								tr.section
									td.main(bgcolor="#ffffff")
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											tr
												td(style="padding-top: 32px;" align="center")
													p.main__beyonce-paragraph(style="font-family: Arial, Helvetica, sans-serif, 'Inter';") I am Beyoncé always.
											tr
												td(style="padding-top: 32px;" align="center")
													a.main__cta-link(href="http://google.com" style="font-family: Arial, Helvetica, sans-serif, 'Inter';") CTA Text
											tr
												td(align="center" style="padding-top: 32px;")
													a(href="http://google.com")
														img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/test-email/app/assets/main__banner.png?raw=true", alt="banner")
											tr
												td(align="center" style="padding-top: 32px;")
													p.main__paragraph(style="font-family: Arial, Helvetica, sans-serif, 'Inter';") My, philosophy is, basically this. And this is something that I live by. And I always have. And I always will. Don’t, ever, for any reason, do anything, to anyone, for any reason, ever, no matter what, no matter where, or who you are with, or, or where you are going, or, or where you’ve been. Ever. For any reason. Whatsoever.
											tr
												td(style="padding-top: 32px; padding-bottom: 32px;" align="center")
													a.main__cta-link(href="http://google.com" style="font-family: Arial, Helvetica, sans-serif, 'Inter';") CTA Text
								
								// Footer
								tr.section
									td.footer(bgcolor="#E8E8E8")
										table(cellpadding='0' cellspacing='0' width="100%" align="center")
											tr
												td.footer__socials-container
													table(cellpadding='0' cellspacing='0' align="center")
														tr
															td.footer__social-link.footer__twitter
																a(href="http://google.com")
																	img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/test-email/app/assets/footer__twitter.png?raw=true", alt="twitter link")
															td.footer__social-link.footer__facebook
																a(href="http://google.com")
																	img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/test-email/app/assets/footer__facebook.png?raw=true", alt="facebook link")
															td.footer__social-link.footer__instagram
																a(href="http://google.com")
																	img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/test-email/app/assets/footer__instagram.png?raw=true", alt="instagram link")
											tr
												td
													a.footer__site(href="http://google.com") dundermifflinpaper.com
											tr
												td
													p.footer__address 1725 Slough Avenue #200, Scranton, PA, 18540 &copy; 2020 Bonnie Kate Wolf
											tr
												td
													a(href="http://google.com")
														img(src="", alt="footer logo")

								// HTML End