@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.header
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 90%//
			position: relative//
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			position: absolute//
			top: 0rem//
			left: 2rem//
			transform: translateX(0%)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__menu-container
			margin-left: 0rem//
			margin-top: 3.9rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:last-child
		&__menu-link
			&::before
			&:hover::before
		&__search-container
			+flex(row, wrap, center, center)//
			position: absolute//
			top: 0rem//
			right: 2rem//
			transform: translateX(0%)//
			width: auto//
		&__search-input
			right: -100%//
			&::placeholder
		&__search-button

	.main
		padding-bottom: 3rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			width: 100%//
			height: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__block1
			width: 50%//
			padding-left: 0rem//
		&__block2
			width: 90%//
			+flex(row, wrap, center, flex-start)//
		&__item
			+flex(column, wrap, flex-end, flex-start)//
			width: 100%//
			&::before
		&__item:hover
			background-size: cover//
		&__item1
			+size(100%, 26.5rem)//
			background-size: 110%//
			margin: 1rem//
			&:hover
				background-size: 110%//
		&__item2
			+size(25rem, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-left: 0rem//
			margin: 1rem//
		&__item3
			+size(25rem, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-right: 0rem
			margin: 1rem//
		&__item4
			+size(25rem, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-left: 0rem//
			margin-top: 0rem//
			margin: 1rem//
		&__item5
			+size(25rem, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__vehicle
		&__item &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
		&__item &__post-title
		&__item1 &__post-title
			padding-right: 7rem//
		&__item1 &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
			padding-bottom: 2.3rem//
		&__post-info
		&__post-author
		&__post-date
		&__item &__post-title
		&__item1 &__post-title
			font-size: 2rem//
			line-height: 3.2rem//
			color: #fff//
			text-align: left//
			margin-top: 0.6rem//

	.blog
		padding-top: 3.5rem//
		padding-bottom: 3.5rem//
		&__wrapper
			+flex(row, wrap, space-around, flex-start)//
			width: 100%//
		&__center
			width: calc(90% - 35rem)//
			+flex(column, wrap, flex-start, center)//
		&__right
			width: 35rem//
			margin-top: 0rem//
			+flex(column, wrap, flex-start, center)//
		&__center-item
			+flex(column, wrap, flex-start, center)//
			margin-top: 3.6rem//
			width: 100%//
			margin: 0rem//
		&__center-item:hover &__center-img
		&__center-item1
			margin-top: 1rem//
		&__center-item2
			display: flex//
		&__center-item3
			display: flex//
		&__center-item4
			display: flex//
		&__center-item5
			display: none//
		&__center-img-container
			height: 28rem//
		&__center-img
		&__center-img1
		&__center-img2
		&__center-img3
		&__center-img4
		&__center-img5
		&__center-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			position: static//
			bottom: 0rem//
			left: 0rem//
			transform: translateX(0%)//
			padding-left: 1rem//
			padding-right: 1rem//
		&__center-vehicle
		&__center-headline
		&__center-post-info
		&__center-post-author
		&__center-post-date
		&__center-post
		&__center-pagination
			+flex(row, wrap, center, flex-start)//
			margin-top: 3.3rem//
			padding-left: 0rem//
		&__center-pagination-prev-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				left: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__center-pagination-list
			+flex(row, wrap, center, flex-start)//
		&__center-pagination-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__center-pagination-link
			height: 3rem//
			+flex(row, wrap, center, center)//
			padding: 0rem 1rem//
			&.active
			&:hover
		&__center-pagination-next-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				right: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__right-top-post-container
			+flex(column, wrap, flex-start, center)//
		&__right-top-post-img
		&__right-top-post-author
		&__right-top-post-profession
		&__right-top-post
		&__right-top-post-continue-reading
			&:hover
		&__right-popular-posts-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-posts-title
		&__right-popular-post
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post1
		&__right-popular-post2
			display: none//
		&__right-popular-post3
			display: none//
		&__right-popular-post-img-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post-img
		&__right-popular-post-img1
		&__right-popular-post-img2
		&__right-popular-post-img3
		&__right-popular-post-vehicle
		&__right-popular-post-headline
		&__right-popular-post-info
		&__right-popular-post-author
		&__right-popular-post-date
		&__right-instagram-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-instagram-headline
		&__right-instagram-imgs-container
			+flex(row, wrap, center, flex-start)//
		&__right-instagram-img-container
			&:first-child
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
			&:nth-child(6)
		&__right-instagram-img
		&__right-instagram-img1
		&__right-instagram-img2
		&__right-instagram-img3
		&__right-instagram-img4
		&__right-instagram-img5
		&__right-instagram-img6
		&__right-view-instagram
			&:hover
		&__right-tags-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-tags-title
		&__right-tags
			width: 105%//
			+flex(row, wrap, center, flex-start)//
		&__right-tag
			&:hover
		&__right-subscribe-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-subscribe-title
		&__right-subscribe-paragraph
		&__subscribe-form
			+flex(column, wrap, flex-start, flex-start)//
		&__subscribe-input
			&::placeholder
		&__subscribe-name-input
		&__subscribe-email-input
		&__subscribe-submit-button
			&:hover

	.most-popular
		padding-top: 4.9rem//
		padding-bottom: 5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 100%//
		&__headline
			text-align: center//
		&__items-container
			+flex(row, wrap, center, flex-start)//
		&__item
			width: 22rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__item:hover &__img
		&__item1
		&__item2
		&__item3
		&__item4
		&__img-container
		&__img
		&__img1
		&__img2
		&__img3
		&__img4
		&__vehicle
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-headline
		&__post-info
		&__post-author
		&__post-time

	.footer
		padding-top: 4.5rem//
		padding-bottom: 2.6rem//
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin: 2rem//
			&:last-child
				margin-right: 2rem//
		&__block1
		&__block2
		&__block3
			padding-right: 0rem//
		&__block-logo
			+flex(row, wrap, flex-start, flex-start)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__block1-paragraph
		&__keep-in-touch
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:hover
			&:last-child
			svg
				+flex(row, wrap, center, center)//
				path
		&__facebook
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__instagram
		&__block2-headline
		&__post-container
			+flex(row, wrap, flex-start, flex-start)//
		&__post-img
		&__post-img1
		&__post-img2
		&__post-img3
		&__post-text-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__block3-headline
		&__form
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__subscribe-button
			&:hover

	.copy
		padding-left: 0rem//
		padding-right: 0rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy-link
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:first-child
		&__menu-link
			&::before
			&:hover::before
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.header
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 80%//
			position: relative//
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			position: absolute//
			top: 0rem//
			left: 2rem//
			transform: translateX(0%)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__menu-container
			margin-left: 0rem//
			margin-top: 9.6rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:last-child
		&__menu-link
			&::before
			&:hover::before
		&__search-container
			+flex(row, wrap, center, center)//
			position: absolute//
			top: 0rem//
			right: 2rem//
			transform: translateX(0%)//
			width: auto//
		&__search-input
			right: 0rem//
			&::placeholder
		&__search-button

	.main
		padding-bottom: 3rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			width: 31rem//
			height: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__block1
			width: 31rem//
			padding-left: 0rem//
		&__block2
			width: 31rem//
			+flex(row, wrap, flex-start, flex-start)//
		&__item
			+flex(column, wrap, flex-end, flex-start)//
			width: 100%//
			&::before
		&__item:hover
			background-size: cover//
		&__item1
			+size(100%, 26.5rem)//
			background-size: 110%//
			margin: 1rem//
			&:hover
				background-size: 110%//
		&__item2
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-left: 0rem//
			margin: 1rem//
		&__item3
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-right: 0rem
			margin: 1rem//
			display: none//
		&__item4
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-left: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__item5
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__vehicle
		&__item &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
		&__item &__post-title
		&__item1 &__post-title
			padding-right: 7rem//
		&__item1 &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
			padding-bottom: 2.3rem//
		&__post-info
		&__post-author
		&__post-date
		&__item &__post-title
		&__item1 &__post-title
			font-size: 2rem//
			line-height: 3.2rem//
			color: #fff//
			text-align: left//
			margin-top: 0.6rem//

	.blog
		padding-top: 3.5rem//
		padding-bottom: 3.5rem//
		&__wrapper
			+flex(row, wrap, space-around, flex-start)//
			width: 100%//
		&__center
			width: 56%//
			+flex(column, wrap, flex-start, center)//
		&__right
			width: 36%//
			margin-top: 0rem//
			+flex(column, wrap, flex-start, center)//
		&__center-item
			+flex(column, wrap, flex-start, center)//
			margin-top: 3.6rem//
			width: 100%//
			margin: 0rem//
		&__center-item:hover &__center-img
		&__center-item1
			margin-top: 1rem//
		&__center-item2
			display: flex//
		&__center-item3
			display: flex//
		&__center-item4
			display: flex//
		&__center-item5
			display: none//
		&__center-img-container
			height: 28rem//
		&__center-img
		&__center-img1
		&__center-img2
		&__center-img3
		&__center-img4
		&__center-img5
		&__center-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			position: static//
			bottom: 0rem//
			left: 0rem//
			transform: translateX(0%)//
			padding-left: 1rem//
			padding-right: 1rem//
		&__center-vehicle
		&__center-headline
		&__center-post-info
		&__center-post-author
		&__center-post-date
		&__center-post
		&__center-pagination
			+flex(row, wrap, center, flex-start)//
			margin-top: 3.3rem//
			padding-left: 0rem//
		&__center-pagination-prev-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				left: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__center-pagination-list
			+flex(row, wrap, center, flex-start)//
		&__center-pagination-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__center-pagination-link
			height: 3rem//
			+flex(row, wrap, center, center)//
			padding: 0rem 1rem//
			&.active
			&:hover
		&__center-pagination-next-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				right: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__right-top-post-container
			+flex(column, wrap, flex-start, center)//
		&__right-top-post-img
		&__right-top-post-author
		&__right-top-post-profession
		&__right-top-post
		&__right-top-post-continue-reading
			&:hover
		&__right-popular-posts-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-posts-title
		&__right-popular-post
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post1
		&__right-popular-post2
			display: none//
		&__right-popular-post3
			display: none//
		&__right-popular-post-img-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post-img
		&__right-popular-post-img1
		&__right-popular-post-img2
		&__right-popular-post-img3
		&__right-popular-post-vehicle
		&__right-popular-post-headline
		&__right-popular-post-info
		&__right-popular-post-author
		&__right-popular-post-date
		&__right-instagram-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-instagram-headline
		&__right-instagram-imgs-container
			+flex(row, wrap, center, flex-start)//
		&__right-instagram-img-container
			&:first-child
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
			&:nth-child(6)
		&__right-instagram-img
		&__right-instagram-img1
		&__right-instagram-img2
		&__right-instagram-img3
		&__right-instagram-img4
		&__right-instagram-img5
		&__right-instagram-img6
		&__right-view-instagram
			&:hover
		&__right-tags-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-tags-title
		&__right-tags
			width: 105%//
			+flex(row, wrap, center, flex-start)//
		&__right-tag
			&:hover
		&__right-subscribe-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-subscribe-title
		&__right-subscribe-paragraph
		&__subscribe-form
			+flex(column, wrap, flex-start, flex-start)//
		&__subscribe-input
			&::placeholder
		&__subscribe-name-input
		&__subscribe-email-input
		&__subscribe-submit-button
			&:hover

	.most-popular
		padding-top: 4.9rem//
		padding-bottom: 5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 100%//
		&__headline
			text-align: center//
		&__items-container
			+flex(row, wrap, center, flex-start)//
		&__item
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__item:hover &__img
		&__item1
		&__item2
		&__item3
		&__item4
		&__img-container
		&__img
		&__img1
		&__img2
		&__img3
		&__img4
		&__vehicle
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-headline
		&__post-info
		&__post-author
		&__post-time

	.footer
		padding-top: 4.5rem//
		padding-bottom: 2.6rem//
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin: 2rem//
			&:last-child
				margin-right: 2rem//
		&__block1
		&__block2
		&__block3
			padding-right: 0rem//
		&__block-logo
			+flex(row, wrap, flex-start, flex-start)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__block1-paragraph
		&__keep-in-touch
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:hover
			&:last-child
			svg
				+flex(row, wrap, center, center)//
				path
		&__facebook
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__instagram
		&__block2-headline
		&__post-container
			+flex(row, wrap, flex-start, flex-start)//
		&__post-img
		&__post-img1
		&__post-img2
		&__post-img3
		&__post-text-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__block3-headline
		&__form
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__subscribe-button
			&:hover

	.copy
		padding-left: 0rem//
		padding-right: 0rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy-link
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:first-child
		&__menu-link
			&::before
			&:hover::before
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.header
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
			position: relative//
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			position: absolute//
			top: 0rem//
			left: 2rem//
			transform: translateX(0%)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__menu-container
			margin-left: 0rem//
			margin-top: 9.6rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:last-child
		&__menu-link
			&::before
			&:hover::before
		&__search-container
			+flex(row, wrap, center, center)//
			position: absolute//
			top: 0rem//
			right: 2rem//
			transform: translateX(0%)//
			width: auto//
		&__search-input
			right: 0rem//
			&::placeholder
		&__search-button

	.main
		padding-bottom: 3rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			width: 31rem//
			height: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__block1
			width: 31rem//
			padding-left: 0rem//
		&__block2
			width: 31rem//
			+flex(row, wrap, flex-start, flex-start)//
		&__item
			+flex(column, wrap, flex-end, flex-start)//
			width: 100%//
			&::before
		&__item:hover
			background-size: cover//
		&__item1
			+size(100%, 26.5rem)//
			background-size: 110%//
			margin: 1rem//
			&:hover
				background-size: 110%//
		&__item2
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-left: 0rem//
			margin: 1rem//
		&__item3
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-right: 0rem
			margin: 1rem//
			display: none//
		&__item4
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-left: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__item5
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__vehicle
		&__item &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
		&__item &__post-title
		&__item1 &__post-title
			padding-right: 7rem//
		&__item1 &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
			padding-bottom: 2.3rem//
		&__post-info
		&__post-author
		&__post-date
		&__item &__post-title
		&__item1 &__post-title
			font-size: 2rem//
			line-height: 3.2rem//
			color: #fff//
			text-align: left//
			margin-top: 0.6rem//

	.blog
		padding-top: 3.5rem//
		padding-bottom: 3.5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 70%//
		&__center
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__right
			width: 100%//
			margin-top: 3rem//
			+flex(column, wrap, flex-start, center)//
		&__center-item
			+flex(column, wrap, flex-start, center)//
			margin-top: 3.6rem//
			width: 100%//
			margin: 0rem//
		&__center-item:hover &__center-img
		&__center-item1
			margin-top: 1rem//
		&__center-item2
			display: none//
		&__center-item3
			display: none//
		&__center-item4
			display: none//
		&__center-item5
			display: none//
		&__center-img-container
			height: 28rem//
		&__center-img
		&__center-img1
		&__center-img2
		&__center-img3
		&__center-img4
		&__center-img5
		&__center-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			position: static//
			bottom: 0rem//
			left: 0rem//
			transform: translateX(0%)//
			padding-left: 1rem//
			padding-right: 1rem//
		&__center-vehicle
		&__center-headline
		&__center-post-info
		&__center-post-author
		&__center-post-date
		&__center-post
		&__center-pagination
			+flex(row, wrap, center, flex-start)//
			margin-top: 3.3rem//
			padding-left: 0rem//
		&__center-pagination-prev-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				left: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__center-pagination-list
			+flex(row, wrap, center, flex-start)//
		&__center-pagination-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__center-pagination-link
			height: 3rem//
			+flex(row, wrap, center, center)//
			padding: 0rem 1rem//
			&.active
			&:hover
		&__center-pagination-next-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				right: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__right-top-post-container
			+flex(column, wrap, flex-start, center)//
		&__right-top-post-img
		&__right-top-post-author
			text-align: center//
		&__right-top-post-profession
			text-align: center//
		&__right-top-post
			text-align: center//
		&__right-top-post-continue-reading
			&:hover
		&__right-popular-posts-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-posts-title
		&__right-popular-post
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post1
		&__right-popular-post2
			display: none//
		&__right-popular-post3
			display: none//
		&__right-popular-post-img-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post-img
		&__right-popular-post-img1
		&__right-popular-post-img2
		&__right-popular-post-img3
		&__right-popular-post-vehicle
		&__right-popular-post-headline
		&__right-popular-post-info
		&__right-popular-post-author
		&__right-popular-post-date
		&__right-instagram-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-instagram-headline
		&__right-instagram-imgs-container
			+flex(row, wrap, center, flex-start)//
		&__right-instagram-img-container
			&:first-child
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
			&:nth-child(6)
		&__right-instagram-img
		&__right-instagram-img1
		&__right-instagram-img2
		&__right-instagram-img3
		&__right-instagram-img4
		&__right-instagram-img5
		&__right-instagram-img6
		&__right-view-instagram
			&:hover
		&__right-tags-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-tags-title
		&__right-tags
			width: 105%//
			+flex(row, wrap, center, flex-start)//
		&__right-tag
			&:hover
		&__right-subscribe-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-subscribe-title
		&__right-subscribe-paragraph
		&__subscribe-form
			+flex(column, wrap, flex-start, flex-start)//
		&__subscribe-input
			&::placeholder
		&__subscribe-name-input
		&__subscribe-email-input
		&__subscribe-submit-button
			&:hover

	.most-popular
		padding-top: 4.9rem//
		padding-bottom: 5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 100%//
		&__headline
			text-align: center//
		&__items-container
			+flex(row, wrap, center, flex-start)//
		&__item
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__item:hover &__img
		&__item1
		&__item2
		&__item3
		&__item4
		&__img-container
		&__img
		&__img1
		&__img2
		&__img3
		&__img4
		&__vehicle
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-headline
		&__post-info
		&__post-author
		&__post-time

	.footer
		padding-top: 4.5rem//
		padding-bottom: 2.6rem//
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin: 2rem//
			&:last-child
				margin-right: 2rem//
		&__block1
		&__block2
		&__block3
			padding-right: 0rem//
		&__block-logo
			+flex(row, wrap, flex-start, flex-start)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__block1-paragraph
		&__keep-in-touch
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:hover
			&:last-child
			svg
				+flex(row, wrap, center, center)//
				path
		&__facebook
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__instagram
		&__block2-headline
		&__post-container
			+flex(row, wrap, flex-start, flex-start)//
		&__post-img
		&__post-img1
		&__post-img2
		&__post-img3
		&__post-text-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__block3-headline
		&__form
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__subscribe-button
			&:hover

	.copy
		padding-left: 0rem//
		padding-right: 0rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy-link
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:first-child
		&__menu-link
			&::before
			&:hover::before
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.header
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
			position: relative//
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			position: absolute//
			top: 0rem//
			left: 50%//
			transform: translateX(-50%)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__menu-container
			margin-left: 0rem//
			margin-top: 11.6rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 2rem//
			&:last-child
		&__menu-link
			&::before
			&:hover::before
		&__search-container
			+flex(row, wrap, center, center)//
			position: absolute//
			top: 4rem//
			right: 50%//
			transform: translateX(50%)//
			width: 100%//
		&__search-input
			right: 0rem//
			&::placeholder
		&__search-button

	.main
		padding-bottom: 3rem//
		&__wrapper
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block
			width: 31rem//
			height: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__block1
			width: 31rem//
			padding-left: 0rem//
		&__block2
			width: 31rem//
			+flex(row, wrap, flex-start, flex-start)//
		&__item
			+flex(column, wrap, flex-end, flex-start)//
			width: 100%//
			&::before
		&__item:hover
			background-size: cover//
		&__item1
			+size(100%, 26.5rem)//
			background-size: 110%//
			margin: 1rem//
			&:hover
				background-size: 110%//
		&__item2
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-left: 0rem//
			margin: 1rem//
		&__item3
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-right: 0rem
			margin: 1rem//
			display: none//
		&__item4
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-left: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__item5
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__vehicle
		&__item &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
		&__item &__post-title
		&__item1 &__post-title
			padding-right: 7rem//
		&__item1 &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
			padding-bottom: 2.3rem//
		&__post-info
		&__post-author
		&__post-date
		&__item &__post-title
		&__item1 &__post-title
			font-size: 2rem//
			line-height: 3.2rem//
			color: #fff//
			text-align: left//
			margin-top: 0.6rem//

	.blog
		padding-top: 3.5rem//
		padding-bottom: 3.5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 90%//
		&__center
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__right
			width: 100%//
			margin-top: 3rem//
			+flex(column, wrap, flex-start, center)//
		&__center-item
			+flex(column, wrap, flex-start, center)//
			margin-top: 3.6rem//
			width: 100%//
			margin: 0rem//
		&__center-item:hover &__center-img
		&__center-item1
			margin-top: 1rem//
		&__center-item2
			display: none//
		&__center-item3
			display: none//
		&__center-item4
			display: none//
		&__center-item5
			display: none//
		&__center-img-container
			height: 28rem//
		&__center-img
		&__center-img1
		&__center-img2
		&__center-img3
		&__center-img4
		&__center-img5
		&__center-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			position: static//
			bottom: 0rem//
			left: 0rem//
			transform: translateX(0%)//
			padding-left: 1rem//
			padding-right: 1rem//
		&__center-vehicle
		&__center-headline
		&__center-post-info
		&__center-post-author
		&__center-post-date
		&__center-post
		&__center-pagination
			+flex(row, wrap, center, flex-start)//
			margin-top: 3.3rem//
			padding-left: 0rem//
		&__center-pagination-prev-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				left: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__center-pagination-list
			+flex(row, wrap, center, flex-start)//
		&__center-pagination-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__center-pagination-link
			height: 3rem//
			+flex(row, wrap, center, center)//
			padding: 0rem 1rem//
			&.active
			&:hover
		&__center-pagination-next-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				right: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__right-top-post-container
			+flex(column, wrap, flex-start, center)//
		&__right-top-post-img
		&__right-top-post-author
			text-align: center//
		&__right-top-post-profession
			text-align: center//
		&__right-top-post
			text-align: center//
		&__right-top-post-continue-reading
			&:hover
		&__right-popular-posts-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-posts-title
		&__right-popular-post
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post1
		&__right-popular-post2
			display: none//
		&__right-popular-post3
			display: none//
		&__right-popular-post-img-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post-img
		&__right-popular-post-img1
		&__right-popular-post-img2
		&__right-popular-post-img3
		&__right-popular-post-vehicle
		&__right-popular-post-headline
		&__right-popular-post-info
		&__right-popular-post-author
		&__right-popular-post-date
		&__right-instagram-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-instagram-headline
		&__right-instagram-imgs-container
			+flex(row, wrap, center, flex-start)//
		&__right-instagram-img-container
			&:first-child
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
			&:nth-child(6)
		&__right-instagram-img
		&__right-instagram-img1
		&__right-instagram-img2
		&__right-instagram-img3
		&__right-instagram-img4
		&__right-instagram-img5
		&__right-instagram-img6
		&__right-view-instagram
			&:hover
		&__right-tags-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-tags-title
		&__right-tags
			width: 105%//
			+flex(row, wrap, center, flex-start)//
		&__right-tag
			&:hover
		&__right-subscribe-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-subscribe-title
		&__right-subscribe-paragraph
		&__subscribe-form
			+flex(column, wrap, flex-start, flex-start)//
		&__subscribe-input
			&::placeholder
		&__subscribe-name-input
		&__subscribe-email-input
		&__subscribe-submit-button
			&:hover

	.most-popular
		padding-top: 4.9rem//
		padding-bottom: 5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 100%//
		&__headline
			text-align: center//
		&__items-container
			+flex(row, wrap, center, flex-start)//
		&__item
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__item:hover &__img
		&__item1
		&__item2
		&__item3
		&__item4
		&__img-container
		&__img
		&__img1
		&__img2
		&__img3
		&__img4
		&__vehicle
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-headline
		&__post-info
		&__post-author
		&__post-time

	.footer
		padding-top: 4.5rem//
		padding-bottom: 2.6rem//
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin: 2rem//
			&:last-child
				margin-right: 2rem//
		&__block1
		&__block2
		&__block3
			padding-right: 0rem//
		&__block-logo
			+flex(row, wrap, flex-start, flex-start)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__block1-paragraph
		&__keep-in-touch
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:hover
			&:last-child
			svg
				+flex(row, wrap, center, center)//
				path
		&__facebook
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__instagram
		&__block2-headline
		&__post-container
			+flex(row, wrap, flex-start, flex-start)//
		&__post-img
		&__post-img1
		&__post-img2
		&__post-img3
		&__post-text-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__block3-headline
		&__form
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__subscribe-button
			&:hover

	.copy
		padding-left: 0rem//
		padding-right: 0rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy-link
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			margin-top: 2rem//
			&:first-child
				margin-top: 0rem//
			&:first-child
		&__menu-link
			&::before
			&:hover::before
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.header
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
			position: relative//
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			position: absolute//
			top: 0rem//
			left: 50%//
			transform: translateX(-50%)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__menu-container
			margin-left: 0rem//
			margin-top: 11.6rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 2rem//
			&:last-child
		&__menu-link
			&::before
			&:hover::before
		&__search-container
			+flex(row, wrap, center, center)//
			position: absolute//
			top: 4rem//
			right: 50%//
			transform: translateX(50%)//
			width: 100%//
		&__search-input
			right: 0rem//
			&::placeholder
		&__search-button

	.main
		padding-bottom: 3rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block
			width: 100%//
			height: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__block1
			width: 100%//
			padding-left: 0rem//
		&__block2
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
		&__item
			+flex(column, wrap, flex-end, flex-start)//
			width: 100%//
			&::before
		&__item:hover
			background-size: cover//
		&__item1
			+size(100%, 26.5rem)//
			background-size: 110%//
			margin: 1rem//
			&:hover
				background-size: 110%//
		&__item2
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-left: 0rem//
			margin: 1rem//
		&__item3
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin-right: 0rem
			margin: 1rem//
			display: none//
		&__item4
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-left: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__item5
			+size(100%, 26.5rem)//
			background-size: cover//
			margin: 0rem//
			margin-top: 0rem//
			margin: 1rem//
			display: none//
		&__vehicle
		&__item &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
		&__item &__post-title
		&__item1 &__post-title
			padding-right: 7rem//
		&__item1 &__text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1rem//
			padding-bottom: 2.3rem//
		&__post-info
		&__post-author
		&__post-date
		&__item &__post-title
		&__item1 &__post-title
			font-size: 2rem//
			line-height: 3.2rem//
			color: #fff//
			text-align: left//
			margin-top: 0.6rem//

	.blog
		padding-top: 3.5rem//
		padding-bottom: 3.5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 95%//
		&__center
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__right
			width: 100%//
			margin-top: 3rem//
			+flex(column, wrap, flex-start, center)//
		&__center-item
			+flex(column, wrap, flex-start, center)//
			margin-top: 3.6rem//
			width: 100%//
			margin: 0rem//
		&__center-item:hover &__center-img
		&__center-item1
			margin-top: 1rem//
		&__center-item2
			display: none//
		&__center-item3
			display: none//
		&__center-item4
			display: none//
		&__center-item5
			display: none//
		&__center-img-container
			height: 28rem//
		&__center-img
		&__center-img1
		&__center-img2
		&__center-img3
		&__center-img4
		&__center-img5
		&__center-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			position: static//
			bottom: 0rem//
			left: 0rem//
			transform: translateX(0%)//
			padding-left: 1rem//
			padding-right: 1rem//
		&__center-vehicle
		&__center-headline
		&__right-top-post-author
			text-align: center//
		&__right-top-post-profession
			text-align: center//
		&__right-top-post
			text-align: center//
		&__center-pagination
			+flex(row, wrap, center, flex-start)//
			margin-top: 3.3rem//
			padding-left: 0rem//
		&__center-pagination-prev-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				left: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__center-pagination-list
			+flex(row, wrap, center, flex-start)//
		&__center-pagination-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__center-pagination-link
			height: 3rem//
			+flex(row, wrap, center, center)//
			padding: 0rem 1rem//
			&.active
			&:hover
		&__center-pagination-next-button
			+size(3rem, 3rem)//
			&:disabled::before, &:disabled::after
			&::before, &::after
				right: 1.3rem//
			&::before
				top: 0.9rem//
			&::after
				bottom: 0.9rem//
			&:hover
			&:hover::before, &:hover::after
			&:disabled:hover
			&:disabled:hover::before, &:disabled:hover::after
		&__right-top-post-container
			+flex(column, wrap, flex-start, center)//
		&__right-top-post-img
		&__right-top-post-author
		&__right-top-post-profession
		&__right-top-post
		&__right-top-post-continue-reading
			&:hover
		&__right-popular-posts-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-posts-title
		&__right-popular-post
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post1
		&__right-popular-post2
			display: none//
		&__right-popular-post3
			display: none//
		&__right-popular-post-img-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-popular-post-img
		&__right-popular-post-img1
		&__right-popular-post-img2
		&__right-popular-post-img3
		&__right-popular-post-vehicle
		&__right-popular-post-headline
		&__right-popular-post-info
		&__right-popular-post-author
		&__right-popular-post-date
		&__right-instagram-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-instagram-headline
		&__right-instagram-imgs-container
			+flex(row, wrap, center, flex-start)//
		&__right-instagram-img-container
			&:first-child
			&:nth-child(2)
			&:nth-child(3)
			&:nth-child(4)
			&:nth-child(5)
			&:nth-child(6)
		&__right-instagram-img
		&__right-instagram-img1
		&__right-instagram-img2
		&__right-instagram-img3
		&__right-instagram-img4
		&__right-instagram-img5
		&__right-instagram-img6
		&__right-view-instagram
			&:hover
		&__right-tags-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-tags-title
		&__right-tags
			width: 105%//
			+flex(row, wrap, center, flex-start)//
		&__right-tag
			&:hover
		&__right-subscribe-container
			+flex(column, wrap, flex-start, flex-start)//
		&__right-subscribe-title
		&__right-subscribe-paragraph
		&__subscribe-form
			+flex(column, wrap, flex-start, flex-start)//
		&__subscribe-input
			&::placeholder
		&__subscribe-name-input
		&__subscribe-email-input
		&__subscribe-submit-button
			&:hover

	.most-popular
		padding-top: 4.9rem//
		padding-bottom: 5rem//
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 100%//
		&__headline
			text-align: center//
		&__items-container
			+flex(row, wrap, center, flex-start)//
		&__item
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__item:hover &__img
		&__item1
		&__item2
		&__item3
		&__item4
		&__img-container
		&__img
		&__img1
		&__img2
		&__img3
		&__img4
		&__vehicle
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-headline
		&__post-info
		&__post-author
		&__post-time

	.footer
		padding-top: 4.5rem//
		padding-bottom: 2.6rem//
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin: 2rem//
			&:last-child
				margin-right: 2rem//
		&__block1
		&__block2
		&__block3
			padding-right: 0rem//
		&__block-logo
			+flex(row, wrap, flex-start, flex-start)//
		&__logo-paragraph1
		&__logo-paragraph2
		&__block1-paragraph
		&__keep-in-touch
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:hover
			&:last-child
			svg
				+flex(row, wrap, center, center)//
				path
		&__facebook
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__instagram
		&__block2-headline
		&__post-container
			+flex(row, wrap, flex-start, flex-start)//
		&__post-img
		&__post-img1
		&__post-img2
		&__post-img3
		&__post-text-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__block3-headline
		&__form
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__subscribe-button
			&:hover

	.copy
		padding-left: 0rem//
		padding-right: 0rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy-link
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			margin-top: 2rem//
			&:first-child
				margin-top: 0rem//
			&:first-child
		&__menu-link
			&::before
			&:hover::before

	.modal
		&__overlay
		&__window
			+size(100%, 10rem)//
			+flex(row, wrap, center, center)//
		&__error-container
		&__success-container
		&__paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple