@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default
	font-family: $gg

.wrapper
	+wrapper(96rem, auto)

// 1rem === 10px

.header
	background: #EBEBEB
	position: relative
	&__wrapper-container1
		background: #fff
		padding-top: 1rem
		position: relative
		top: -4.9rem
		left: 0rem
		padding-bottom: 0.8rem
		transition: .2s
		&::before
			content: ''
			+size(100%, .1rem)
			background: $pink
			position: absolute
			bottom: 0rem
			left: 0rem
	&__wrapper-container2
		background: #EBEBEB
		padding-top: 5.5rem
		position: relative
		top: -3rem
		transition: .2s
	&__wrapper-container3
		background: #EBEBEB
	&__wrapper-container1 &__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__wrapper-container2 &__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__wrapper-container3 &__wrapper
		+flex(row, wrap, flex-start, flex-start)
	&__wrapper
		position: relative
	&__socials-container
		+flex(row, wrap, flex-start, flex-start)
	&__social-link
		+flex(row, wrap, center, center)
		+size(3.2rem, 3.2rem)
		border-radius: 50%
		background: #D2D2D2
		margin-right: 1rem
		transition: .2s
		&:last-child
			margin-right: 0rem
		&:hover
			background: $orange
		svg
			+size(2rem, 2rem)
			path
				fill: #fff
	&__linkedin
	&__twitter
	&__pinterest
	&__google-plus
		svg
			+size(2.8rem, 2.8rem)
	&__rss
	&__secondary-menu
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
		margin-top: 0.8rem
	&__secondary-menu-list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, flex-start, flex-start)
		position: relative
		margin-right: 1rem
		&:last-child
			margin-right: 0rem
		&::before
			content: ''
			+size(.1rem, 85%)
			position: absolute
			background: $pink
			top: 50%
			right: -0.6rem
			transform: translateY(-50%)
		&:last-child::before
			content: none
	&__secondary-menu-link
		text-decoration: none
		font-weight: 400
		font-size: 1.3rem
		color: $pink
	&__toggle-button
		outline: none
		border: none
		cursor: pointer
		+size(3rem, 2.5rem)
		background: $pink
		border-bottom-left-radius: .4rem
		border-bottom-right-radius: .4rem
		position: absolute
		bottom: -100%
		right: 0rem
		z-index: 20
		transition: .2s
		&::before, &::after
			content: ''
			+size(1.1rem, .1rem)
			background: #fff
			position: absolute
			transition: .2s
		&::before
			top: 1.2rem
			left: 0.9rem
		&::after
			top: 1.2rem
			left: 0.9rem
			transform: rotate(90deg)
			opacity: 0
		&:hover
			background: lighten($pink, 5%)
	&__logo-container
		text-decoration: none
		+flex(row, wrap, flex-start, flex-start)
	&__logo
		margin: 0rem
		font-weight: 400
		font-size: 3.6rem
		color: #333
		text-transform: uppercase
		text-align: left
		span
			font-size: 2.6rem
	&__logo-description
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		text-align: left
		line-height: 1.5rem
		position: relative
		margin-left: 0.8rem
		padding-left: 0.6rem
		position: relative
		top: 0.7rem
		&::before
			content: ''
			+size(.1rem, 100%)
			background: $grey
			position: absolute
			top: 50%
			left: 0rem
			transform: translateY(-50%)
	&__search-container
		+flex(row, wrap, flex-start, stretch)
		margin-top: 0.3rem
	&__search-input
		width: 21.8rem
		background: #fff
		outline: none
		border: none
		font-weight: 400
		font-size: 1.2rem
		color: $grey
		padding: 1rem 1rem
		border-top-left-radius: 0.4rem
		border-bottom-left-radius: 0.4rem
		&::placeholder
			font-weight: 400
			font-size: 1.2rem
			color: $grey
	&__search-button
		outline: none
		border: none
		cursor: pointer
		background: $pink
		color: #fff
		font-weight: 400
		font-size: 1.2rem
		text-transform: uppercase
		padding: 1rem 1.4rem
		border-top-right-radius: 0.4rem
		border-bottom-right-radius: 0.4rem
		transition: .2s
		&:hover
			background: lighten($pink, 5%)
	&__menu-container
		width: 100%
		background: $pink
		border-top-left-radius: 0.6rem
		border-top-right-radius: 0.6rem
		overflow: hidden
		margin-top: 4.4rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, flex-start, flex-start)
	&__menu-link
		text-decoration: none
		font-weight: 400
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		padding: 1.8rem 1.6rem
		transition: .2s
		&:hover
			background: #6A3144


.main
	background: linear-gradient(0deg, #fff 77%, #EBEBEB 25%)
	overflow: hidden
	&__wrapper
		background: #fff
		padding-top: 3.2rem
		padding-bottom: 4.8rem
	&__slider
		+size(90rem, 36rem)
		margin: 0rem auto
		position: relative
		.owl-controls
			width: auto
			height: auto
			position: relative
			bottom: -0.9rem
			left: 50%
			transform: translateX(-50%)
			.owl-page span
				opacity: 1
				margin: 0rem
				+size(1.6rem, 1.6rem)
				margin-right: 0.4rem
				background: #333
				border: 0.3rem solid #333333
			.owl-page:last-child span
				margin-right: 0rem
			.owl-page.active span
				background: none
	&__slide
		+size(90rem, 36rem)
		margin: 0rem auto
		background: url('http://placekitten.com/1000/400') no-repeat center
		background-size: cover
		+flex(row, wrap, flex-end, flex-end)
	&__slide1
	&__slide2
	&__slide3
	&__slide4
	&__slide5
	&__slide-text-container
		+flex(column, wrap, flex-start, flex-start)
		background: #ADADAD
		width: 45.5rem
		padding-top: 0.9rem
		padding-bottom: 1.2rem
		padding-left: 2.8rem
		margin-bottom: 2.9rem
		margin-right: 1.1rem
	&__slide-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 3.6rem
		color: #383838
		text-align: left
	&__slide-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.6rem
		line-height: 2.24rem
		color: #383838
		text-align: left
		margin-top: 0.9rem

.section1
	padding-top: 3.3rem
	padding-bottom: 3.3rem
	&__wrapper
		+flex(row, wrap, flex-start, flex-start)
		+wrapper(90rem, auto)
	&__headline-container
		width: 100%
		position: relative
		+flex(row, wrap, center, flex-start)
		&::before
			content: ''
			+size(100%, .5rem)
			background: #EBEBEB
			position: absolute
			top: 50%
			left: 0rem
			transform: translateY(-50%)
			z-index: -1
	&__headline
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: #333
		text-transform: uppercase
		text-align: left
		background: #fff
		padding: 0rem 0.8rem
	&__blocks-container
		width: 100%
		+flex(row, wrap, space-between, flex-start)
		margin-top: 3.7rem
	&__block
		width: 28rem
		+flex(column, wrap, flex-start, flex-start)
	&__block1
	&__block2
	&__block3
	&__item
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 3.8rem
		&:first-child
			margin-top: 0rem
	&__item1
	&__item2
	&__item-img
	&__item-text-container
		width: calc(100% - 6.4rem)
		padding-left: 1.1rem
	&__item-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: $pink
		text-align: left
	&__item-paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		line-height: 1.82rem
		color: $grey
		text-align: left
		margin-top: 1.2rem

.section2
	padding-top: 1.3rem
	padding-bottom: 5.1rem
	&__wrapper
		+flex(column, wrap, flex-start, flex-start)
		+wrapper(90rem, auto)
	&__row
		width: 100%
	&__row1
		+flex(row, wrap, space-between, flex-start)
	&__row2
		margin-top: 4.7rem
	&__block
	&__block1
		width: 49%
		+flex(column, wrap, flex-start, center)
	&__block2
		width: 49%
		+flex(column, wrap, flex-start, center)
	&__block3
		width: 100%
		background: $pink
		border-radius: 1rem
		+flex(row, wrap, space-between, flex-start)
	&__headline-container
		width: 100%
		position: relative
		+flex(row, wrap, center, center)
		&::before
			content: ''
			+size(100%, .5rem)
			background: #F5F5F5
			position: absolute
			top: 50%
			left: 0rem
			transform: translateY(-50%)
			z-index: -1
	&__block-headline
		width: auto
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: #333
		background: #fff
		text-transform: uppercase
		text-align: center
	&__block1-content
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		padding-top: 2.6rem
	&__block1-img
		border-radius: 50%
	&__block1-text-container
		width: calc(100% - 12.8rem)
		+flex(column, wrap, flex-start, flex-start)
		padding-top: 1rem
		padding-left: 2rem
	&__block1-text-container-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: #333
		text-transform: capitalize
		text-align: left
	&__block1-text-container-paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		line-height: 1.82rem
		color: $grey
		text-align: left
		margin-top: 0.9rem
	&__block1-text-container-read-more-link
		text-decoration: none
		font-weight: 400
		font-size: 1.3rem
		color: $pink
		text-transform: capitalize
		margin-top: 1.2rem
	&__block2-content
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		padding-top: 2.8rem
	&__block2-content-row
		width: 100%
	&__block2-content-row1
		+flex(row, wrap, flex-start, flex-start)
	&__block2-content-row2
	&__block2-img
	&__block2-text-container
		+flex(column, wrap, flex-start, flex-start)
		padding-left: 1.4rem
	&__block2-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: #333
		text-align: left
	&__block2-view-link
		text-decoration: none
		font-weight: 400
		font-size: 1.3rem
		color: $pink
		text-transform: capitalize
		margin-top: 0.6rem
	&__block2-paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		line-height: 1.82rem
		margin-top: 0.6rem
		padding-right: 3.4rem
	&__block3-text-container
		width: 63%
		background: $pink
		border-radius: 1rem
		+flex(row, wrap, flex-start, flex-start)
		padding-top: 1.8rem
		padding-left: 2.9rem
		padding-bottom: 2.1rem
	&__block3-headline
		margin: 0rem
		font-weight: 400
		font-size: 3.6rem
		color: #fff
		text-transform: capitalize
		text-align: left
	&__block3-paragraph
		margin: 0rem
		font-weight: 400
		font-size: 1.8rem
		color: #fff
		text-align: left
		margin-top: 0.6rem
	&__contact-us-today-link
		text-decoration: none
		background: #fff
		color: $pink
		font-weight: 400
		font-size: 2.6rem
		text-transform: uppercase
		border-radius: 0.6rem
		margin-top: 2.4rem
		margin-right: 3rem
		padding: 1.4rem 1rem

.section3
	background: #EBEBEB
	position: relative
	padding-top: 4.2rem
	padding-bottom: 4.2rem
	&::before
		content: ''
		+size(100%, .5rem)
		background: #D2D2D2
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
		+wrapper(96rem, auto)
	&__block
	&__block1
		width: 43.6rem
	&__block2
		width: 19rem
	&__block3
		width: 22.5rem
	&__headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: #333
		text-transform: capitalize
		text-align: left
	&__paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		text-align: left
	&__block-item
		width: 100%
		+flex(row, wrap, flex-start, flex-start)
		margin-top: 2rem
	&__block-item1
	&__block-item2
		margin-top: 3.2rem
	&__item-img
		border: .4rem solid transparent
		box-shadow: 0rem 0rem .1rem .1rem #D2D2D2
	&__item-text-container
		width: calc(100% - 10.3rem)
		padding-top: 0.5rem
		padding-left: 2.1rem
	&__item-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.6rem
		color: $pink
		text-align: left
	&__item-paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 1.2rem
		color: $grey
		line-height: 2.16rem
		text-align: left
		margin-top: 1.2rem
		padding-right: 1.2rem
	&__company-name
		margin-top: 1.7rem
	&__street-name
		margin-top: 0.6rem
	&__town
		margin-top: 0.5rem
	&__postcode
		margin-top: 0.5rem
	&__tel
		margin-top: 1.9rem
	&__fax
		margin-top: 0.5rem
	&__email
		margin-top: 0.5rem
		span
			color: $pink
	&__office-hours
		font-weight: 900
		margin-top: 1.9rem
		span
			font-weight: 400
			position: relative
			top: 0.7rem
	&__form
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
	&__input
		outline: none
		resize: none
		border: .1rem solid transparent
		width: 100%
		border-radius: .4rem
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		padding: 0.8rem 1rem
	&__name-input
		margin-top: 1.9rem
	&__email-input
		margin-top: 1rem
	&__message-input
		margin-top: 0.9rem
		height: 10.9rem
	&__submit-button
		outline: none
		border: none
		cursor: pointer
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		text-transform: uppercase
		background: $pink
		border-radius: .4rem
		padding: 0.8rem 1.5rem
		margin-top: 1rem
		transition: .2s
		&:hover
			background: lighten($pink, 5%)

.copy
	background: #EBEBEB
	position: relative
	padding-top: 2.4rem
	padding-bottom: 2.4rem
	&::before
		content: ''
		+size(100%, .1rem)
		background: #fff
		position: absolute
		top: 0rem
		left: 0rem
	&::after
		content: ''
		+size(100%, .1rem)
		background: #BCBCBC
		position: absolute
		top: -0.1rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__paragraph
		width: 50%
		margin: 0rem
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		text-align: left
	&__by-link
		text-decoration: none
		font-weight: 400
		font-size: 1.3rem
		color: $grey
		transition: .2s
		&:hover
			color: darken($grey, 10%)

.modal
	&__overlay
		+size(100%, 100%)
		background: rgba($space-grey, .9)
		position: fixed
		top: 0rem
		left: 0rem
		display: none
	&__window
		+size(31rem, 10rem)
		background: #000
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		+flex(row, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -5
	&__error-container
	&__success-container
	&__paragraph
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center

*
	// @include outline($blue)