@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
		background: $media-purple

	.header
		&__wrapper-container1
			top: -7.1rem//
			&::before
		&__wrapper-container2
			top: -5rem//
		&__wrapper-container3
		&__wrapper-container1 &__wrapper
			+flex(column, wrap, flex-start, center)//
		&__wrapper-container2 &__wrapper
			+flex(column, wrap, center, center)//
		&__wrapper-container3 &__wrapper
			+flex(row, wrap, center, flex-start)//
		&__wrapper
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__secondary-menu
			+flex(row, wrap, flex-start, flex-start)//
		&__secondary-menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__secondary-menu-link
		&__toggle-button
			bottom: -3.3rem//
			&::before, &::after
			&::before
			&::after
			&:hover
			&.active::after
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
		&__logo
			span
		&__logo-description
			&::before
		&__search-container
			+flex(row, wrap, flex-start, stretch)//
			margin-top: 1rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			border-top-left-radius: 0rem//
			border-top-right-radius: 0rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			width: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-link
			width: auto//
			text-align: center//
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__slider
			+size(90rem, 36rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(90rem, 36rem)//
			+flex(row, wrap, center, flex-end)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1.2rem//
			padding-right: 1.2rem//
			margin-right: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//

	.section1
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			+wrapper(100%, auto)//
		&__headline-container
			+flex(row, wrap, center, flex-start)//
			&::before
		&__headline
		&__blocks-container
			+flex(row, wrap, center, flex-start)//
		&__block
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, flex-start)//
			+wrapper(70%, auto)//
		&__row
		&__row1
			+flex(row, wrap, center, flex-start)//
		&__row2
		&__block
			margin: 0rem//
			margin-top: 2rem//
			padding-left: 1rem//
			padding-right: 1rem//
		&__block1
			width: 50%//
			+flex(column, wrap, flex-start, center)//
		&__block2
			width: 50%//
			+flex(column, wrap, flex-start, center)//
		&__block3
			border-radius: 0rem//
			+flex(row, wrap, space-between, flex-start)//
			padding-bottom: 2rem//
		&__headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-content
			+flex(row, wrap, flex-start, flex-start)//
		&__block1-img
		&__block1-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-text-container-headline
		&__block1-text-container-paragraph
		&__block1-text-container-read-more-link
		&__block2-content
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-content-row
		&__block2-content-row1
			+flex(row, wrap, flex-start, flex-start)//
		&__block2-content-row2
		&__block2-img
		&__block2-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-headline
		&__block2-view-link
		&__block2-paragraph
		&__block3-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			padding-left: 0rem//
		&__block3-headline
			font-size: 2.6rem//
		&__block3-paragraph
		&__contact-us-today-link
			font-size: 1.6rem//
			margin: 0rem//
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		background: $media-orange

	.header
		&__wrapper-container1
			top: -7.1rem//
			&::before
		&__wrapper-container2
			top: -5rem//
		&__wrapper-container3
		&__wrapper-container1 &__wrapper
			+flex(column, wrap, flex-start, center)//
		&__wrapper-container2 &__wrapper
			+flex(column, wrap, center, center)//
		&__wrapper-container3 &__wrapper
			+flex(row, wrap, center, flex-start)//
		&__wrapper
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__secondary-menu
			+flex(row, wrap, flex-start, flex-start)//
		&__secondary-menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__secondary-menu-link
		&__toggle-button
			bottom: -3.3rem//
			&::before, &::after
			&::before
			&::after
			&:hover
			&.active::after
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
		&__logo
			span
		&__logo-description
			&::before
		&__search-container
			+flex(row, wrap, flex-start, stretch)//
			margin-top: 1rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			border-top-left-radius: 0rem//
			border-top-right-radius: 0rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			width: auto//
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-link
			width: auto//
			text-align: center//
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__slider
			+size(100%, 36rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 36rem)//
			+flex(row, wrap, center, flex-end)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1.2rem//
			padding-right: 1.2rem//
			margin-right: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//

	.section1
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			+wrapper(100%, auto)//
		&__headline-container
			+flex(row, wrap, center, flex-start)//
			&::before
		&__headline
		&__blocks-container
			+flex(row, wrap, center, flex-start)//
		&__block
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, flex-start)//
			+wrapper(90%, auto)//
		&__row
		&__row1
			+flex(row, wrap, center, flex-start)//
		&__row2
		&__block
			margin: 0rem//
			margin-top: 2rem//
			padding-left: 1rem//
			padding-right: 1rem//
		&__block1
			width: 50%//
			+flex(column, wrap, flex-start, center)//
		&__block2
			width: 50%//
			+flex(column, wrap, flex-start, center)//
		&__block3
			border-radius: 0rem//
			+flex(row, wrap, space-between, flex-start)//
			padding-bottom: 2rem//
		&__headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-content
			+flex(row, wrap, flex-start, flex-start)//
		&__block1-img
		&__block1-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-text-container-headline
		&__block1-text-container-paragraph
		&__block1-text-container-read-more-link
		&__block2-content
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-content-row
		&__block2-content-row1
			+flex(row, wrap, flex-start, flex-start)//
		&__block2-content-row2
		&__block2-img
		&__block2-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-headline
		&__block2-view-link
		&__block2-paragraph
		&__block3-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			padding-left: 0rem//
		&__block3-headline
			font-size: 2.6rem//
		&__block3-paragraph
		&__contact-us-today-link
			font-size: 1.6rem//
			margin: 0rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		background: $media-pink

	.header
		&__wrapper-container1
			top: -7.1rem//
			&::before
		&__wrapper-container2
			top: -5rem//
		&__wrapper-container3
		&__wrapper-container1 &__wrapper
			+flex(column, wrap, flex-start, center)//
		&__wrapper-container2 &__wrapper
			+flex(column, wrap, center, center)//
		&__wrapper-container3 &__wrapper
			+flex(row, wrap, center, flex-start)//
		&__wrapper
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__secondary-menu
			+flex(row, wrap, flex-start, flex-start)//
		&__secondary-menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__secondary-menu-link
		&__toggle-button
			bottom: -3.3rem//
			&::before, &::after
			&::before
			&::after
			&:hover
			&.active::after
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
		&__logo
			span
		&__logo-description
			&::before
		&__search-container
			+flex(row, wrap, flex-start, stretch)//
			margin-top: 1rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			border-top-left-radius: 0rem//
			border-top-right-radius: 0rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-link
			width: 100%//
			text-align: center//
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__slider
			+size(100%, 36rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 36rem)//
			+flex(row, wrap, center, flex-end)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1.2rem//
			padding-right: 1.2rem//
			margin-right: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//

	.section1
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			+wrapper(100%, auto)//
		&__headline-container
			+flex(row, wrap, center, flex-start)//
			&::before
		&__headline
		&__blocks-container
			+flex(row, wrap, center, flex-start)//
		&__block
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, flex-start)//
			+wrapper(90%, auto)//
		&__row
		&__row1
			+flex(row, wrap, center, flex-start)//
		&__row2
		&__block
			margin: 0rem//
			margin-top: 2rem//
			padding-left: 1rem//
			padding-right: 1rem//
		&__block1
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block2
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block3
			border-radius: 0rem//
			+flex(row, wrap, space-between, flex-start)//
			padding-bottom: 2rem//
		&__headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-content
			+flex(row, wrap, flex-start, flex-start)//
		&__block1-img
		&__block1-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-text-container-headline
		&__block1-text-container-paragraph
		&__block1-text-container-read-more-link
		&__block2-content
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-content-row
		&__block2-content-row1
			+flex(row, wrap, flex-start, flex-start)//
		&__block2-content-row2
		&__block2-img
		&__block2-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-headline
		&__block2-view-link
		&__block2-paragraph
		&__block3-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			padding-left: 0rem//
		&__block3-headline
			font-size: 2.6rem//
		&__block3-paragraph
		&__contact-us-today-link
			font-size: 1.6rem//
			margin: 0rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		background: $media-blue

	.header
		&__wrapper-container1
			top: -7.1rem//
			&::before
		&__wrapper-container2
			top: -5rem//
		&__wrapper-container3
		&__wrapper-container1 &__wrapper
			+flex(column, wrap, flex-start, center)//
		&__wrapper-container2 &__wrapper
			+flex(column, wrap, center, center)//
		&__wrapper-container3 &__wrapper
			+flex(row, wrap, center, flex-start)//
		&__wrapper
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__secondary-menu
			+flex(row, wrap, flex-start, flex-start)//
		&__secondary-menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__secondary-menu-link
		&__toggle-button
			bottom: -3.3rem//
			&::before, &::after
			&::before
			&::after
			&:hover
			&.active::after
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
		&__logo
			span
		&__logo-description
			&::before
		&__search-container
			+flex(row, wrap, flex-start, stretch)//
			margin-top: 1rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			border-top-left-radius: 0rem//
			border-top-right-radius: 0rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-link
			width: 100%//
			text-align: center//
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__slider
			+size(100%, 36rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 36rem)//
			+flex(row, wrap, center, flex-end)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1.2rem//
			padding-right: 1.2rem//
			margin-right: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//

	.section1
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			+wrapper(100%, auto)//
		&__headline-container
			+flex(row, wrap, center, flex-start)//
			&::before
		&__headline
		&__blocks-container
			+flex(row, wrap, center, flex-start)//
		&__block
			width: 27rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, flex-start)//
			+wrapper(100%, auto)//
		&__row
		&__row1
			+flex(row, wrap, center, flex-start)//
		&__row2
		&__block
			margin: 0rem//
			margin-top: 2rem//
			padding-left: 1rem//
			padding-right: 1rem//
		&__block1
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block2
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block3
			border-radius: 0rem//
			+flex(row, wrap, space-between, flex-start)//
			padding-bottom: 2rem//
		&__headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-content
			+flex(row, wrap, flex-start, flex-start)//
		&__block1-img
		&__block1-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-text-container-headline
		&__block1-text-container-paragraph
		&__block1-text-container-read-more-link
		&__block2-content
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-content-row
		&__block2-content-row1
			+flex(row, wrap, flex-start, flex-start)//
		&__block2-content-row2
		&__block2-img
		&__block2-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-headline
		&__block2-view-link
		&__block2-paragraph
		&__block3-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			padding-left: 0rem//
		&__block3-headline
			font-size: 2.6rem//
		&__block3-paragraph
		&__contact-us-today-link
			font-size: 1.6rem//
			margin: 0rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		background: $media-green

	.header
		&__wrapper-container1
			top: -7.1rem//
			&::before
		&__wrapper-container2
			top: -5rem//
		&__wrapper-container3
		&__wrapper-container1 &__wrapper
			+flex(column, wrap, flex-start, center)//
		&__wrapper-container2 &__wrapper
			+flex(column, wrap, center, center)//
		&__wrapper-container3 &__wrapper
			+flex(row, wrap, center, flex-start)//
		&__wrapper
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__secondary-menu
			+flex(row, wrap, flex-start, flex-start)//
		&__secondary-menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__secondary-menu-link
		&__toggle-button
			bottom: -3.3rem//
			&::before, &::after
			&::before
			&::after
			&:hover
			&.active::after
		&__logo-container
			+flex(row, wrap, flex-start, flex-start)//
		&__logo
			span
		&__logo-description
			&::before
		&__search-container
			+flex(row, wrap, flex-start, stretch)//
			margin-top: 1rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			border-top-left-radius: 0rem//
			border-top-right-radius: 0rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-link
			width: 100%//
			text-align: center//
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__slider
			+size(100%, 36rem)//
			.owl-controls
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, 36rem)//
			+flex(row, wrap, center, flex-end)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			+flex(column, wrap, flex-start, flex-start)//
			padding-left: 1.2rem//
			padding-right: 1.2rem//
			margin-right: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//

	.section1
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			+wrapper(100%, auto)//
		&__headline-container
			+flex(row, wrap, center, flex-start)//
			&::before
		&__headline
		&__blocks-container
			+flex(row, wrap, center, flex-start)//
		&__block
			width: 90%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, flex-start)//
			+wrapper(100%, auto)//
		&__row
		&__row1
			+flex(row, wrap, center, flex-start)//
		&__row2
		&__block
			margin: 0rem//
			margin-top: 2rem//
			padding-left: 1rem//
			padding-right: 1rem//
		&__block1
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block2
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block3
			border-radius: 0rem//
			+flex(row, wrap, space-between, flex-start)//
			padding-bottom: 2rem//
		&__headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-content
			+flex(row, wrap, flex-start, flex-start)//
		&__block1-img
		&__block1-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-text-container-headline
		&__block1-text-container-paragraph
		&__block1-text-container-read-more-link
		&__block2-content
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-content-row
		&__block2-content-row1
			+flex(row, wrap, flex-start, flex-start)//
		&__block2-content-row2
		&__block2-img
		&__block2-text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block2-headline
		&__block2-view-link
		&__block2-paragraph
		&__block3-text-container
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			padding-left: 0rem//
		&__block3-headline
			font-size: 2.6rem//
		&__block3-paragraph
		&__contact-us-today-link
			font-size: 1.6rem//
			margin: 0rem//


// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple