mixin masonry(props = {})
	- const {  } = props;

	.masonry__container
		a.prevdef.masonry__item.masonry__item1(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x400", alt="picture")
		a.prevdef.masonry__item.masonry__item2(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x200", alt="picture")
		a.prevdef.masonry__item.masonry__item3(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x600", alt="picture")
		a.prevdef.masonry__item.masonry__item4(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x800", alt="picture")
		a.prevdef.masonry__item.masonry__item5(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x300", alt="picture")
		a.prevdef.masonry__item.masonry__item6(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x400", alt="picture")
		a.prevdef.masonry__item.masonry__item7(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x600", alt="picture")
		a.prevdef.masonry__item.masonry__item8(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x300", alt="picture")
		a.prevdef.masonry__item.masonry__item9(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x800", alt="picture")
		a.prevdef.masonry__item.masonry__item10(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x500", alt="picture")
		a.prevdef.masonry__item.masonry__item11(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x700", alt="picture")
		a.prevdef.masonry__item.masonry__item12(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x500", alt="picture")
		a.prevdef.masonry__item.masonry__item13(href="#")
			img.masonry__image(src="http://source.unsplash.com/400x300", alt="picture")
