@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/* Mobile First Method */
/* Extra Small Devices, Phones (SM) */
@media only screen and (min-width: 576px)
	body
		background: $media-blue
	*
		outline-color: $media-blue

	.header
		&__wrapper
		&__logo-container
		&__logo
		&__menu
			+flex(row, wrap, space-between, flex-start)
		&__menu-link
			margin-top: 0rem
			margin-right: 4rem
			position: relative
			&::before
				content: ''
				+size(.5rem, .5rem)
				background: $yellow
				position: absolute
				top: 50%
				right: -2.3rem
				transform: translateY(-50%)
			&:last-child
				margin-right: 0rem
			&:last-child::before
				content: none
			&:first-child
			&:hover

	.services
		&__wrapper
		&__section-name
		&__headline
		&__splitter
		&__paragraph
		&__content
			+flex(row, wrap, center, center)
			margin-top: 1.2rem
		&__item
			width: 20rem
			margin: 1rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item1:hover &__item-icon1
		&__item2:hover &__item-icon2
		&__item3:hover &__item-icon3
		&__item4:hover &__item-icon4
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-headline
		&__item-paragraph

	.we-do
		&__wrapper
		&__headline
		&__paragraph
		&__content
			+flex(row, wrap, center, stretch)
		&__item
			+size(20rem, auto)
			margin: 2rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__icon5
		&__icon6
		&__item-headline
		&__item-paragraph

	.works
		&__section-name
		&__headline
		&__splitter
		&__paragraph
		&__menu
		&__menu-list-item
		&__menu-link
			&.active
		&__content-container
			width: 51rem
			height: 131rem
		&__content
		&__block
		&__image
		&__block-text-container
		&__block-headline
		&__block-paragraph
		&__view-live-link
		&__pics-container
		&__pics-container1
		&__pics-container2
		&__pic
			&:nth-child(odd)
			&:nth-child(even)
		&__pic:hover &__pic-text-container
		&__pic1
		&__pic2
		&__pic3
		&__pic4
		&__pic5
		&__pic6
		&__pic7
		&__pic8
		&__pic9
		&__pic10
		&__pic11
		&__pic12
		&__pic-text-container
		&__pic-headline
		&__pic-paragraph
		&__show-more-link
			&:hover
		&__bottom-headline
		&__bottom-paragraph
		&__contact-us-link

	.statistics
		&__wrapper
		&__headline
		&__paragraph
			width: 70%
		&__content
			+flex(row, wrap, center, center)
		&__item
			+size(40%, auto)
			margin: 1rem
			&:first-child
				margin: 1rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-headline
		&__item-paragraph

	.about
		&__wrapper
		&__section-name
		&__headline
		&__splitter
		&__paragraph
			width: 90%
		&__content
		&__item
			width: 90%
			&:first-child
			&::before
		&__item1
			&::before
		&__item2
			&::before
		&__item3
			&::before
		&__item4
			&::before
		&__item-headline
		&__item-paragraph

	.team
		&__wrapper
		&__headline
		&__paragraph
		&__items-container
			+flex(row, wrap, center, center)
		&__item
			width: 22rem
			margin: 1rem
			&:first-child
				margin: 1rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__worker-pic
		&__worker-pic1
		&__worker-pic2
		&__worker-pic3
		&__worker-pic4
		&__worker-name
		&__worker-position
		&__workers-info-container
		&__worker-info
		&__worker-info-name
		&__worker-info-description
		&__socials
		&__social-link
		&__facebook
		&__twitter


/* Small Devices, Tablets (MD) */
@media only screen and (min-width: 768px)
	body
		background: $media-pink
	*
		outline-color: $media-pink

	.header
		&__wrapper
			+flex(row, wrap, space-between, center)
		&__logo-container
		&__logo
		&__menu
			margin-top: 1.6rem
		&__menu-link
			&::before
			&:last-child
			&:last-child::before
			&:first-child
			&:hover

	.main
		&__text-container
		&__headline
			width: 50%
		&__buy-link
		&__scroll-down-link
			&:hover

	.services
		&__wrapper
			+flex(column, wrap, center, center)
		&__section-name
		&__headline
		&__splitter
		&__paragraph
			width: 70%
		&__content
			width: 100%
		&__item
			width: 15rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item1:hover &__item-icon1
		&__item2:hover &__item-icon2
		&__item3:hover &__item-icon3
		&__item4:hover &__item-icon4
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-headline
		&__item-paragraph

	.we-do
		&__wrapper
		&__headline
		&__paragraph
		&__content
			width: 60rem
		&__item
			+size(16rem, auto)
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__icon5
		&__icon6
		&__item-headline
		&__item-paragraph

	.works
		&__section-name
		&__headline
		&__splitter
		&__paragraph
		&__menu
		&__menu-list-item
		&__menu-link
			&.active
		&__content-container
			width: 61rem
			height: 134rem
		&__content
		&__block
		&__image
		&__block-text-container
		&__block-headline
		&__block-paragraph
		&__view-live-link
		&__pics-container
		&__pics-container1
		&__pics-container2
			display: none
		&__pic
			&:nth-child(odd)
			&:nth-child(even)
		&__pic:hover &__pic-text-container
		&__pic1
		&__pic2
		&__pic3
		&__pic4
		&__pic5
		&__pic6
		&__pic7
		&__pic8
		&__pic9
		&__pic10
		&__pic11
		&__pic12
		&__pic-text-container
		&__pic-headline
		&__pic-paragraph
		&__show-more-link
			&:hover
		&__bottom-headline
		&__bottom-paragraph
		&__contact-us-link

	.about
		&__wrapper
		&__section-name
		&__headline
		&__splitter
		&__paragraph
		&__content
			+flex(row, wrap, center, stretch)
		&__item
			width: 46%
			margin: 1rem
			&:first-child
				margin: 1rem
			&::before
		&__item1
			&::before
		&__item2
			&::before
		&__item3
			&::before
		&__item4
			&::before
		&__item-headline
		&__item-paragraph


/* Medium Devices, Desktops (LG) */
@media only screen and (min-width: 992px)
	body
		background: $media-orange
	*
		outline-color: $media-orange

	.header
		position: absolute
		top: 0rem
		left: 0rem
		width: 100%
		&__wrapper
		&__logo-container
		&__logo
		&__menu
		&__menu-link
			&::before
			&:last-child
			&:last-child::before
			&:first-child
			&:hover

	.main
		padding: 0rem
		height: 100vh
		+flex(column, wrap, flex-end, center)
		&__text-container
			padding-top: 5.6rem
			padding-bottom: 6.5rem
			position: absolute
			top: 50%
			left: 0rem
			width: 100%
			transform: translateY(-50%)
		&__headline
			font-size: 6.4rem
			width: 70%
		&__buy-link
			margin-top: 4.7rem
		&__scroll-down-link
			margin-top: 0rem
			&:hover

	.services
		&__wrapper
			+flex(column, wrap, center, center)
		&__section-name
		&__headline
		&__splitter
		&__paragraph
			width: 80%
		&__content
			width: 100%
		&__item
			width: 18rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item1:hover &__item-icon1
		&__item2:hover &__item-icon2
		&__item3:hover &__item-icon3
		&__item4:hover &__item-icon4
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-headline
		&__item-paragraph

	.we-do
		&__wrapper
		&__headline
		&__paragraph
		&__content
		&__item
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__icon5
		&__icon6
		&__item-headline
		&__item-paragraph

	.works
		&__section-name
		&__headline
		&__splitter
		&__paragraph
		&__menu
		&__menu-list-item
		&__menu-link
			&.active
		&__content-container
			width: 85rem
			height: 105rem
		&__content
		&__block
		&__image
		&__block-text-container
		&__block-headline
		&__block-paragraph
		&__view-live-link
		&__pics-container
			+flex(row, wrap, center, center)
		&__pics-container1
		&__pics-container2
			display: none
		&__pic
			display: none
			width: calc(100% / 3)
			&:nth-child(odd)
			&:nth-child(even)
		&__pic:hover &__pic-text-container
		&__pic1
			+flex(column, wrap, center, center)
		&__pic2
			+flex(column, wrap, center, center)
		&__pic3
			+flex(column, wrap, center, center)
		&__pic4
		&__pic5
		&__pic6
		&__pic7
		&__pic8
		&__pic9
		&__pic10
		&__pic11
		&__pic12
		&__pic-text-container
		&__pic-headline
		&__pic-paragraph
		&__show-more-link
			&:hover
		&__bottom-headline
		&__bottom-paragraph
		&__contact-us-link

	.statistics
		&__wrapper
		&__headline
		&__paragraph
			width: 70%
		&__content
			+flex(row, wrap, center, center)
		&__item
			+size(22%, auto)
			&:first-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-headline
		&__item-paragraph


/* Large Devices, Wide Screens (XL) */
@media only screen and (min-width: 1200px)
	body
		background: $media-purple
	*
		outline-color: $media-purple

	.wrapper
		+size(117.1rem, auto)

	.header
		padding-top: 1.6rem
		padding-bottom: 2.2rem
		position: absolute
		top: 0rem
		left: 0rem
		width: 100%
		&__wrapper
		&__logo-container
		&__logo
		&__menu
			margin-top: 0.2rem
			margin-right: 0.9rem
		&__menu-link
			margin-right: 5.2rem
			&::before
				right: -2.9rem
			&:last-child
			&:last-child::before
			&:first-child
			&:hover

	.main
		padding: 0rem
		height: 100vh
		+flex(column, wrap, flex-end, center)
		&__text-container
			padding-top: 5.6rem
			padding-bottom: 6.5rem
			position: absolute
			top: 50%
			left: 0rem
			width: 100%
			transform: translateY(-50%)
		&__headline
			font-size: 6.4rem
			width: 50%
		&__buy-link
			margin-top: 4.7rem
		&__scroll-down-link
			margin-top: 0rem
			&:hover

	.services
		padding-top: 5.8rem
		padding-bottom: 3rem
		&__wrapper
		&__section-name
		&__headline
			margin-top: 2.1rem
		&__splitter
			margin-top: 2.1rem
		&__paragraph
			margin-top: 1.9rem
		&__content
			margin-top: 4.9rem
			+flex(row, wrap, space-between, flex-start)
		&__item
			width: 24rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item1:hover &__item-icon1
		&__item2:hover &__item-icon2
		&__item3:hover &__item-icon3
		&__item4:hover &__item-icon4
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-headline
			margin-top: 2.2rem
		&__item-paragraph
			margin-top: 1.6rem

	.we-do
		padding-top: 5.9rem
		padding-bottom: 7.5rem
		&__wrapper
		&__headline
		&__paragraph
			margin-top: 1.9rem
		&__content
			margin-top: 6rem
			width: 100%
			+flex(row, wrap, space-between, flex-start)
		&__item
			width: 14%
			margin: 0rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__icon5
		&__icon6
		&__item-headline
			margin-top: 2.7rem
		&__item-paragraph
			margin-top: 2.2rem

	.works
		padding-top: 6.2rem
		padding-bottom: 6.5rem
		&__section-name
		&__headline
			margin-top: 2.1rem
		&__splitter
			margin-top: 2rem
		&__paragraph
			margin-top: 1.9rem
			width: 64%
		&__menu
			margin-top: 5.7rem
		&__menu-list-item
			margin: 0rem
			margin-right: 5.5rem
			position: relative
			&::before
				content: ''
				+size(.5rem, .5rem)
				background: $yellow
				position: absolute
				top: 50%
				right: -2.9rem
				transform: translateY(-50%)
			&:last-child
				margin-right: 0rem
			&:last-child::before
				content: none
		&__menu-link
			&.active
		&__content-container
			height: 115rem
			width: 100%
		&__content
			width: 100%
		&__block
			+flex(row, wrap, center, flex-start)
			padding-top: 4.4rem
			margin-bottom: 6.5rem
		&__image
		&__block-text-container
			width: 50.1rem
			+flex(row, wrap, flex-start, flex-start)
			padding-left: 2.6rem
			padding-top: 5.7rem
		&__block-headline
			text-align: left
		&__block-paragraph
			text-align: left
			padding-right: 11rem
		&__view-live-link
			margin-top: 2.1rem
		&__pics-container
			+flex(row, wrap, center, center)
		&__pics-container1
		&__pics-container2
			display: none
		&__pic
			+size(calc(100% / 6), 25rem)
			+flex(column, wrap, center, center)
			&:nth-child(odd)
			&:nth-child(even)
		&__pic:hover &__pic-text-container
		&__pic1
		&__pic2
		&__pic3
		&__pic4
		&__pic5
		&__pic6
		&__pic7
		&__pic8
		&__pic9
		&__pic10
		&__pic11
		&__pic12
		&__pic-text-container
		&__pic-headline
		&__pic-paragraph
		&__show-more-link
			margin-top: 2.4rem
			&:hover
		&__bottom-headline
			margin-top: 4.2rem
		&__bottom-paragraph
			margin-top: 2rem
		&__contact-us-link
			margin-top: 5.7rem

	.statistics
		padding-top: 6rem
		padding-bottom: 6.4rem
		&__wrapper
		&__headline
		&__paragraph
			margin-top: 1.9rem
			width: 100%
		&__content
			margin-top: 5.6rem
			+flex(row, wrap, space-between, stretch)
		&__item
			margin: 0rem
			width: 22.7%
			padding: 3.5rem 0rem
			&:first-child
				margin: 0rem
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-headline
		&__item-paragraph

	.about
		padding-top: 6.4rem
		padding-bottom: 5.5rem
		&__wrapper
		&__section-name
		&__headline
			margin-top: 1.8rem
		&__splitter
			margin-top: 2.2rem
		&__paragraph
			width: 82%
		&__content
			margin-top: 9.7rem
			+flex(row, wrap, space-between, stretch)
		&__item
			margin: 0rem
			width: 50%
			padding-left: 9.5rem
			&:first-child
				margin: 0rem
			&::before
				top: 0rem
				left: 0rem
		&__item1
			&::before
		&__item2
			&::before
		&__item3
			margin-top: 5.7rem
			&::before
		&__item4
			margin-top: 5.7rem
			&::before
		&__item-headline
		&__item-paragraph
			margin-top: 1rem
			padding-right: 0rem

	.team
		padding-top: 6.7rem
		padding-bottom: 0rem
		&__wrapper
		&__headline
		&__paragraph
		&__items-container
			margin-top: 6rem
			+flex(row, wrap, space-between, flex-start)
			padding-bottom: 6.4rem
		&__item
			margin: 0rem
			+flex(column, wrap, flex-start, flex-start)
			position: relative
			padding-bottom: 1.7rem
			width: auto
			&::before
				content: ''
				+size(100%, .2rem)
				background: #DFE4E5
				position: absolute
				bottom: 0rem
			&::after
				content: ''
				width: 0
				height: 0
				border-style: solid
				border-width: 0 3rem 1.9rem 3rem
				border-color: transparent transparent $space-grey transparent
				position: absolute
				bottom: -6.4rem
				left: 50%
				transform: translateX(-50%)
				opacity: 0
			&:first-child
				margin: 0rem
			&.active::after
				opacity: 1
		&__item1
		&__item2
		&__item3
		&__item4
		&__worker-pic
			+size(27rem, 25rem)
		&__worker-pic1
		&__worker-pic2
		&__worker-pic3
		&__worker-pic4
		&__worker-name
			margin-top: 1.4rem
		&__worker-position
			margin-top: 1rem
		&__workers-info-container
			+flex(row, wrap, flex-start, flex-start)
			background: $space-grey
			position: relative
			width: 100%
			height: 30rem
		&__worker-info
			position: absolute
			top: 0rem
			left: 0rem
			opacity: 0
			z-index: -1
			padding-top: 6.2rem
			padding-left: 19.7rem
			&.active
				opacity: 1
				z-index: 1
		&__worker-info-name
			width: 100%
			margin: 0rem
			font-family: $or
			font-size: 2rem
			font-weight: 400
			color: $yellow
			text-transform: uppercase
			text-align: left
		&__worker-info-description
			width: 100%
			margin: 0rem
			font-family: $ol
			font-size: 1.6rem
			line-height: 2.5rem
			color: #fff
			text-align: left
			margin-top: 1.8rem
			padding-right: 20rem
		&__socials
			+flex(row, wrap, flex-start, flex-start)
			margin-top: 2.2rem
		&__social-link
			+size(3.7rem, 3.7rem)
			border: .1rem solid #fff
			text-decoration: none
			+flex(column, wrap, center, center)
			transition: .2s
			&:hover
				background: darken($yellow, 10%)
			svg
				+size(1.6rem, 1.6rem)
				+flex(column, wrap, center, center)
				path
					fill: #fff
		&__facebook
		&__twitter
			margin-left: 2.4rem