mixin smooth-scrollbar(props = {})
	- const {  } = props;

	.smooth-scrollbar__container#my-scrollbar
		.smooth-scrollbar__section.smooth-scrollbar__section1
			h1.smooth-scrollbar__headline The first section
			.smooth-scrollbar__text-block
				p.smooth-scrollbar__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates tempora magni, voluptas, fugit ab dolor error necessitatibus eius, odio tempore aperiam mollitia explicabo suscipit esse recusandae numquam eligendi ad minus asperiores consequatur iste amet accusamus aut sunt. Provident recusandae sint temporibus ullam et omnis porro natus, mollitia quo consequuntur? Accusantium omnis delectus atque provident mollitia amet. Dicta labore maiores, natus dolor maxime quisquam facilis fugit ut, ex voluptatum nisi tempora similique quas, nesciunt cumque distinctio sunt officia aspernatur repellat vel hic nobis saepe neque voluptatibus? Fuga impedit nihil quasi itaque consectetur unde at, aspernatur animi praesentium et explicabo rem quam similique distinctio, molestiae ipsum hic perspiciatis laboriosam! Praesentium atque ut quia delectus, quae reiciendis quis. Error consectetur ab eligendi incidunt quae alias quaerat commodi nostrum sit cumque dolorum minima dolor, cum, magnam magni, autem officia? Officia fugiat eligendi eius, error maiores quod tempore molestiae dolores, laborum provident id, cupiditate reprehenderit quaerat ad beatae itaque incidunt ipsam, dignissimos iste voluptates. Voluptas ad hic sequi aperiam delectus! Veniam unde nulla delectus, nemo, maxime, dicta nesciunt non quibusdam a tempore totam fugiat nobis sequi voluptatem numquam ipsum laborum. Qui quos magnam tempora officiis perferendis, unde dolorem alias velit, suscipit sit molestias nam officia!
		.smooth-scrollbar__section.smooth-scrollbar__section2
			h1.smooth-scrollbar__headline The second section
		.smooth-scrollbar__section.smooth-scrollbar__section3
			h1.smooth-scrollbar__headline The third section
		.smooth-scrollbar__section.smooth-scrollbar__section4
			h1.smooth-scrollbar__headline The fourth section
		.smooth-scrollbar__section.smooth-scrollbar__section5
			h1.smooth-scrollbar__headline The fifth section
