@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.smooth-scrollbar {
	&__container {
		@include size(100%, 100vh);
		overflow: auto;
	}
	&__section {
		@include size(100%, 100vh);
		padding-top: toRem(50);
		@include flex(column, wrap, flex-start, center);
	}
	&__section1 {
		background: darken($blue, 20%);
	}
	&__section2 {
		background: darken($red, 20%);
	}
	&__section3 {
		background: darken($orange, 20%);
	}
	&__section4 {
		background: darken($green, 20%);
	}
	&__section5 {
		background: darken($purple, 10%);
	}
	&__headline {
		width: auto;
		margin: 0;
		text-align: center;
	}
	&__text-block {
		margin-top: toRem(80);
		@include size(toRem(400), toRem(400));
		overflow: auto;
	}
	&__paragraph {}
}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
