mixin test(props = {})
	- const { message } = props;

	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		.container-fluid
			a.navbar-brand(href='#') Navbar
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.me-auto.mb-2.mb-lg-0
					li.nav-item
						a.nav-link.active(aria-current='page' href='#') Home
					li.nav-item
						a.nav-link(href='#') Link
					li.nav-item.dropdown
						a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
							| Dropdown
						ul.dropdown-menu(aria-labelledby='navbarDropdown')
							li
								a.dropdown-item(href='#') Action
							li
								a.dropdown-item(href='#') Another action
							li
								hr.dropdown-divider
							li
								a.dropdown-item(href='#') Something else here
					li.nav-item
						a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
				form.d-flex
					input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
					button.btn.btn-outline-success(type='submit') Search
	.test__section.wrapper
		h3.test__headline!= message
		.slider-container.d-flex.flex-row.justify-content-center
			#carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
				.carousel-indicators
					button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
					button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
					button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
				.carousel-inner
					.carousel-item.active
						img(src='http://dummyimage.com/600x500/111/fff' alt='http://dummyimage.com/600x500/111/fff')
					.carousel-item
						img(src='http://dummyimage.com/601x500/111/fff' alt='http://dummyimage.com/600x500/111/fff')
					.carousel-item
						img(src='http://dummyimage.com/602x500/111/fff' alt='http://dummyimage.com/600x500/111/fff')
				button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.visually-hidden Previous
				button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.visually-hidden Next