
// font-family: 'FuturaDemiC-Regular'
@font-face
	font-family: 'FuturaDemiC-Regular'
	src: url('../fonts/futurademic.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'FuturaDemiC-Italic'
@font-face
	font-family: 'FuturaDemiC-Italic'
	src: url('../fonts/FuturaDemiC-Italic.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'FuturaBookC-Regular'
@font-face
	font-family: 'FuturaBookC-Regular'
	src: url('../fonts/futurabookc.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'FuturaMediumC-Regular'
@font-face
	font-family: 'FuturaMediumC-Regular'
	src: url('../fonts/futuramediumc.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'YesevaOne-Regular'
@font-face
	font-family: 'YesevaOne-Regular'
	src: url('../fonts/YesevaOne-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'ProximaNova-Regular'
@font-face
	font-family: 'ProximaNova-Regular'
	src: url('../fonts/ofont.ru_Proxima Nova.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap