// Header
header.header
	.container.header__container
		.row.header__row.d-flex.flex-column.justify-content-start.align-items-center.text-center.flex-lg-row.justify-content-lg-between.align-items-lg-center
			a.prevdef.header__faq(href="#") FAQ
			a.prevdef.header__logo(href="#") Botique Travel Website
			.header__links-container.d-flex.flex-column.align-items-center.flex-sm-row.justify-content-sm-center
				a.prevdef.header__sign-up(href="#") Sign Up
				a.prevdef.header__my-cart(href="#") My Cart
		.row.header__row
			nav.header__menu.d-flex.flex-column.justify-content-start.align-items-center.flex-md-row.justify-content-md-center.justify-content-lg-between
				a.prevdef.header__menu-link(href="#") Home
				a.prevdef.header__menu-link(href="#") Travel
				a.prevdef.header__menu-link(href="#") Life Style
				a.prevdef.header__menu-link(href="#") Soul
				a.prevdef.header__menu-link(href="#") About
				a.prevdef.header__menu-link(href="#") Review
				a.prevdef.header__menu-link(href="#") Stories
				a.prevdef.header__menu-link(href="#") Contact