.travel
	.travel__container.container
		.travel__row.row.d-flex.flex-column.flex-lg-row.justify-content-start.align-items-stretch
			.travel__block.travel__block1.d-flex.flex-column
				.travel__item.travel__item1.d-flex.flex-column.justify-content-lg-between
					h4.travel__item-headline.display-5.text-center.text-lg-start Travel
					.travel__text-container.d-flex.flex-column.align-items-center.align-items-lg-start
						p.travel__item-paragraph.text-center.text-lg-start A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
						a.prevdef.travel__learn-more(href="#") Learn More
			.travel__block.travel__block2.d-flex.flex-column
				.travel__item.travel__item2.d-flex.flex-column.justify-content-lg-between
					h4.travel__item-headline.display-5.text-center.text-lg-start Life Style
					.travel__text-container.d-flex.flex-column.align-items-center.align-items-lg-start
						p.travel__item-paragraph.text-center.text-lg-start I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.
						a.prevdef.travel__learn-more(href="#") Learn More
				.travel__item.travel__item3.d-flex.flex-column.justify-content-lg-between
					h4.travel__item-headline.display-5.text-center.text-lg-start Soul
					.travel__text-container.d-flex.flex-column.align-items-center.align-items-lg-start
						p.travel__item-paragraph.text-center.text-lg-start A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
						a.prevdef.travel__learn-more(href="#") Learn More