@import 'mixins.scss';

.clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.global-gradient-diagonal {
	background: linear-gradient(45deg, #37BDA6, #CB1BE8);
}

.global-gradient-horizontal {
	background: linear-gradient(90deg, #37BDA6, #CB1BE8);
}

.global-a {
	display: inline-block;
	text-decoration: none;
	background: $blue;
	font-family: $pm;
	font-size: toRem(16);
	line-height: toRem(16);
	letter-spacing: $ls;
	color: #fff;
	padding: toRem(18) toRem(45);
	border: 1px solid $blue;
	box-shadow: 0px 4px 37px 10px rgba(#000, .05);
	text-transform: lowercase;
	border-radius: toRem(50);
	transition: 0.2s;
	&:hover {
		background: $mint;
		border-color: $mint;
	}
}

.global-h2 {
	width: auto;
	margin: 0;
	font-family: $pm;
	font-size: toRem(46);
	line-height: toRem(57);
	letter-spacing: $ls;
	color: #000;
	text-align: center;
}

.global-h3 {
	width: auto;
	margin: 0;
	font-family: $pb;
	font-size: toRem(16);
	line-height: toRem(20);
	letter-spacing: $ls;
	color: $grey;
	text-align: left;
}

.global-p {
	width: auto;
	margin: 0;
	font-family: $pr;
	font-size: toRem(18);
	line-height: toRem(27);
	letter-spacing: toRem(0.2);
	color: $grey;
}
