* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default; }

.wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto; }

.top-panel {
  background: #2E2E2E;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  width: 100%;
  position: absolute;
  top: -4.5rem;
  left: 0rem;
  height: 6rem;
  z-index: 3; }

.top-panel__wrapper {
  position: relative;
  top: 0rem;
  left: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem; }

.top-panel__toggle-button {
  position: absolute;
  right: 0rem;
  bottom: -3.1rem;
  width: 3.1rem;
  height: 3.1rem;
  border: none;
  -webkit-border-bottom-left-radius: 0.4rem;
          border-bottom-left-radius: 0.4rem;
  -webkit-border-bottom-right-radius: 0.4rem;
          border-bottom-right-radius: 0.4rem;
  outline: none;
  cursor: pointer;
  background: #2E2E2E; }

.top-panel__toggle-button::before, .top-panel__toggle-button::after {
  content: '';
  width: 1.1rem;
  height: 0.1rem;
  background: #fff;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__toggle-button::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1; }

.top-panel__toggle-button.active::after {
  opacity: 0; }

.top-panel__menu {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 2.2rem;
  left: 0.1rem; }

.top-panel__menu-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 1.1rem;
  position: relative; }

.top-panel__menu-list-item::before {
  content: '';
  width: 0.1rem;
  height: 1.2rem;
  position: absolute;
  top: 0rem;
  right: -0.6rem;
  background: #9F9F9F;
  font-size: 1.2rem; }

.top-panel__menu-list-item:last-child {
  margin-right: 0rem; }

.top-panel__menu-list-item:last-child::before {
  content: none; }

.top-panel__menu-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  color: #9F9F9F;
  font-size: 1.2rem; }

.top-panel__socials-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 1.3rem;
  right: 0rem; }

.top-panel__social-link {
  width: 3.2rem;
  height: 3.2rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #787878;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem; }

.top-panel__social-link:first-child {
  margin-left: 0rem; }

.top-panel__social-link:hover {
  background: #DB4A39; }

.top-panel__social-link svg {
  width: 1.8rem;
  height: 1.8rem; }

.top-panel__social-link svg path {
  fill: #fff; }

.top-panel__social-link:nth-child(4) svg {
  width: 2.6rem;
  height: 2.6rem; }

.header {
  padding-top: 9.8rem;
  padding-bottom: 4.3rem;
  background: #fff;
  position: relative;
  top: -6rem;
  left: 0rem; }

.header__menu {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }

.header__menu::before {
  content: '';
  width: 100%;
  height: 0.5rem;
  background: #F1F1F1;
  position: absolute;
  bottom: 0rem;
  left: 0rem; }

.header__menu-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 2rem; }

.header__menu-list-item:first-child .header__menu-link {
  padding-left: 0rem; }

.header__menu-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.4rem;
  color: #2E2E2E;
  text-transform: uppercase;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  padding: 0rem 0rem 2.2rem;
  position: relative; }

.header__menu-link:hover {
  color: #9F9F9F; }

.header__menu-link::before {
  content: '';
  width: 100%;
  height: 0.5rem;
  background: #0099FF;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0; }

.header__menu-link:hover::before {
  opacity: 1; }

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3.9rem; }

.header__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-size: 3.6rem;
  font-weight: 400;
  color: #333; }

.header__headline b {
  font-weight: 400; }

.header__paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-size: 1.2rem;
  color: #999;
  margin-top: 0.8rem; }

.header__search-container {
  padding-top: 2.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__search-input {
  border: none;
  outline: none;
  width: 21.5rem;
  height: 3.1rem;
  background: #F1F1F1;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #999;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  padding: 0rem 0.9rem; }

.header__search-input::-webkit-input-placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #999; }

.header__search-input::-ms-input-placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #999; }

.header__search-input::placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #999; }

.header__search-button {
  background: #0099FF;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.9rem 0.9rem;
  margin-left: 0.7rem;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.header__search-button:hover {
  background: #0090f0; }

.header__search-button:active {
  background: #0099FF; }

.section1 {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  background: #F1F1F1; }

.section1__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section1__block1 {
  width: -webkit-calc(100% - 55rem);
  width: calc(100% - 55rem);
  padding-top: 13.9rem;
  padding-right: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section1__block2 {
  width: 55rem;
  background: #222222; }

.section1__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #333; }

.section1__paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #666;
  margin-top: 1.9rem; }

.section1__read-more-link {
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  background: #0099FF;
  margin-top: 1.7rem;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  padding: 0.6rem 0.8rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.section1__read-more-link:hover {
  background: #0090f0; }

.section1__read-more-link:active {
  background: #0099FF; }

.section1__slider {
  width: 55rem;
  height: 44rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section1__slider .owl-controls {
  position: absolute;
  bottom: 1.9rem;
  left: 2rem; }

.section1__slider .owl-controls .owl-page span {
  width: 1.6rem;
  height: 1.6rem;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #000;
  border: 0.4rem solid #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 1;
  margin: 0;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin-right: 0.4rem; }

.section1__slider .owl-controls .owl-page.active span {
  background-color: transparent; }

.section1__slide {
  width: 100%;
  height: 44rem;
  margin: 0rem auto; }

.section1__slide1 {
  background: #c4233e; }

.section1__slide2 {
  background: #07b75f; }

.section1__slide3 {
  background: #F58220; }

.section1__slide4 {
  background: #ffdd00; }

.section1__slide5 {
  background: #0099FF; }

.section2 {
  padding-bottom: 4rem; }

.section2__blocks-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section2__block1 {
  width: 50%;
  padding-top: 3.9rem; }

.section2__block2 {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section2__item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section2__item1 {
  margin-top: 3.9rem; }

.section2__item2 {
  margin-top: 3.9rem; }

.section2__item3 {
  margin-top: 3rem; }

.section2__item4 {
  margin-top: 3rem; }

.section2__item-headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  color: #0099FF;
  margin-top: 1rem;
  text-align: center; }

.section2__item-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #666;
  margin-top: 1rem;
  text-align: center;
  padding: 0rem 2rem; }

.section2__block3 {
  width: 100%;
  background: #E0E0E0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3.6rem;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem; }

.section2__block3::before {
  content: '';
  width: 1rem;
  height: 100%;
  background: #0099FF;
  position: absolute;
  top: 0rem;
  left: 0rem; }

.section2__text-container {
  padding-left: 4.3rem; }

.section2__block3-headline {
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 3.6rem;
  color: #333; }

.section2__block3-paragraph {
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.8rem;
  color: #333;
  margin-top: 0.6rem; }

.section2__contact-us {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 2.6rem;
  color: #fff;
  text-transform: uppercase;
  background: #0099FF;
  -webkit-border-radius: 0.6rem;
          border-radius: 0.6rem;
  margin-left: 8.8rem;
  margin-top: 0.6rem;
  padding: 1.4rem 1rem;
  text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.section2__contact-us:hover {
  background: #0090f0; }

.section2__contact-us:active {
  background: #0099FF; }

.footer {
  background: #1A1A1A;
  padding-top: 4.4rem;
  padding-bottom: 4.2rem; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__block {
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__block2 {
  padding-left: 0.5rem; }

.footer__block3 {
  padding-left: 1rem; }

.footer__block4 {
  padding-left: 1.4rem; }

.footer__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase; }

.footer__block1-image-container {
  width: 22.5rem;
  height: auto;
  padding: .4rem 0rem;
  border: .1rem solid #555555;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem; }

.footer__block1-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #666;
  margin-top: 1rem;
  padding-right: 6rem;
  margin-top: 1.7rem; }

.footer__block1-read-more-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #0099FF;
  margin-top: 0.8rem;
  padding-right: 1.5rem;
  margin-left: 15.5rem; }

.footer__block2-list {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  width: 100%;
  padding-top: 1.6rem; }

.footer__block2-list-item {
  position: relative;
  margin-top: 0.9rem;
  padding-left: 1.5rem;
  width: 94%; }

.footer__block2-list-item:last-child::after {
  content: none; }

.footer__block2-list-item:first-child {
  margin-top: 0rem; }

.footer__block2-list-item::before {
  content: '\00bb';
  color: #989898;
  position: absolute;
  top: 50%;
  left: -0.1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.footer__block2-list-item::after {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #232323;
  position: absolute;
  bottom: -0.5rem;
  left: 0rem; }

.footer__block2-list-item-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #0099FF; }

.footer__block3-post-container {
  width: 100%;
  margin-top: 1.8rem; }

.footer__block3-post-container:last-child {
  margin-top: 0.5rem; }

.footer__block3-post-headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  color: #666; }

.footer__block3-post-url {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.1rem;
  color: #666;
  margin-top: -0.2rem; }

.footer__block3-post-date {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.1rem;
  color: #666;
  margin-top: 0rem; }

.footer__block3-post-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #666;
  margin-top: 1.3rem;
  margin-bottom: 1rem; }

.footer__block3-read-more-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #0099FF;
  padding-right: 1.5rem;
  margin-left: 14.6rem; }

.footer__form {
  width: 100%; }

.footer__input {
  width: 100%;
  outline: none;
  border: .1rem solid transparent;
  resize: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #989898;
  background: #232323;
  -webkit-border-radius: .6rem;
          border-radius: .6rem;
  padding: 0.9rem 1.2rem;
  margin-top: 0.7rem; }

.footer__input::-webkit-input-placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #989898; }

.footer__input::-ms-input-placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #989898; }

.footer__input::placeholder {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #989898; }

.footer__name-input {
  margin-top: 1.9rem; }

.footer__message-input {
  height: 10.9rem; }

.footer__submit-button {
  background: #0099FF;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  margin-left: 0rem;
  cursor: pointer;
  margin-top: 0.6rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.footer__submit-button:hover {
  background: #0090f0; }

.footer__submit-button:active {
  background: #0099FF; }

.copyright {
  background: #222;
  position: relative;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem; }

.copyright::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #2D2D2D;
  position: absolute;
  top: 0rem;
  left: 0rem; }

.copyright__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.copyright__copy {
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #666; }

.copyright__right-link {
  text-decoration: none;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #666; }

.modal__overlay {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none; }

.modal__window {
  width: 30rem;
  height: auto;
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0;
  z-index: -1; }
