
// font-family: 'Objective-Bold'
@font-face
	font-family: 'Objective-Bold'
	src: url('../fonts/Objective-Bold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Objective-Medium'
@font-face
	font-family: 'Objective-Medium'
	src: url('../fonts/Objective-Medium.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Objective-Regular'
@font-face
	font-family: 'Objective-Regular'
	src: url('../fonts/Objective-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap