body {
  cursor: default; }

.wrapper {
  width: 120rem;
  height: auto;
  margin: 0 auto; }

.top-panel {
  background: #1B1B1B;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: auto; }

.top-panel__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.9rem;
  padding-left: 2.6rem;
  padding-right: 3.2rem;
  padding-bottom: 1.9rem; }

.top-panel__logo {
  z-index: 10; }

.top-panel__hamburger {
  width: 3.6rem;
  height: 2.6rem;
  margin-top: 0.8rem;
  position: relative;
  cursor: pointer;
  z-index: 800; }

.top-panel__hamburger-elem {
  width: 2.8rem;
  height: 0.4rem;
  background: #FFE500;
  position: absolute;
  top: 50%;
  right: 0rem;
  -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__hamburger-elem::before {
  content: '';
  width: 3.6rem;
  height: 0.4rem;
  background: #FFE500;
  position: absolute;
  top: -1.1rem;
  right: 0rem;
  -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__hamburger-elem::after {
  content: '';
  width: 2.2rem;
  height: 0.4rem;
  background: #FFE500;
  position: absolute;
  top: 1.1rem;
  right: 0rem;
  -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__hamburger-elem.active {
  background: transparent; }

.top-panel__hamburger-elem.active::before {
  top: 50%;
  right: -0.4rem;
  -webkit-transform: translateY(-50%) rotate(225deg);
      -ms-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg); }

.top-panel__hamburger-elem.active::after {
  top: 50%;
  right: -0.4rem;
  -webkit-transform: translateY(-50%) rotate(-225deg);
      -ms-transform: translateY(-50%) rotate(-225deg);
          transform: translateY(-50%) rotate(-225deg);
  width: 3.6rem;
  height: 0.4rem; }

.top-panel__menu-overlay {
  position: absolute;
  width: 100%;
  height: 80rem;
  background: rgba(27, 27, 27, 0.98);
  opacity: 0;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30rem;
  height: auto; }

.top-panel__menu-link {
  text-decoration: none;
  color: #FFE500;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: .1rem;
  margin-top: .5rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2rem 0rem; }

.top-panel__menu-link:first-child {
  margin-top: 0rem; }

.top-panel__menu-link:hover {
  background: #FFE500;
  color: #1B1B1B; }

.top-panel__menu-overlay.active {
  opacity: 1;
  z-index: 700; }

.header {
  background: #1B1B1B;
  height: 100vh;
  padding-top: 34.9rem;
  position: relative; }

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.6rem;
  color: #fff;
  text-transform: uppercase; }

.header__paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  color: #fff;
  margin-top: 3.1rem; }

.header__learn-more {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .4rem;
  color: #1B1B1B;
  text-transform: uppercase;
  background: #FFE500;
  padding: 1.7rem 3.2rem;
  margin-top: 5rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.header__learn-more:hover {
  background: #e6ce00; }

.header__learn-more:active {
  background: #FFE500; }

.header__arrow-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.header__arrow-icon:hover .header__arrow-icon-elem::before,
.header__arrow-icon:hover .header__arrow-icon-elem::after {
  background: #FFE500; }

.header__arrow-icon-elem {
  width: 2.8rem;
  height: 0.2rem;
  position: absolute;
  top: 1rem;
  left: 0rem; }

.header__arrow-icon-elem1::before, .header__arrow-icon-elem1::after {
  content: '';
  width: 1rem;
  height: 0.1rem;
  background: #777;
  position: absolute; }

.header__arrow-icon-elem1::before {
  top: 0.4rem;
  left: 0.7rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.header__arrow-icon-elem1::after {
  top: 0.4rem;
  left: 1.4rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.header__arrow-icon-elem2::before, .header__arrow-icon-elem2::after {
  content: '';
  width: 1.8rem;
  height: 0.1rem;
  background: #777;
  position: absolute; }

.header__arrow-icon-elem2::before {
  top: 0.6rem;
  left: 0rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.header__arrow-icon-elem2::after {
  top: 0.6rem;
  left: 1.3rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.info {
  padding-top: 16.5rem;
  padding-bottom: 19.9rem; }

.info__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.info__paragraph {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: .1rem;
  color: #707070;
  margin-top: 8.3rem;
  width: 61rem;
  height: auto;
  text-align: center; }

.services {
  padding-top: 8.5rem;
  background: #F4F4F4;
  padding-bottom: 1.7rem; }

.services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.services__headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.6rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 3.2rem;
  width: 100%;
  text-align: center; }

.services__paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: .1rem;
  color: #707070;
  padding: 0rem 20rem;
  margin-top: 2.6rem;
  text-align: center;
  width: 100%; }

.services__content {
  width: 100%;
  height: auto;
  margin-top: 7.5rem; }

.services__row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.services__row1 {
  padding-left: 1.5rem; }

.services__row1-block {
  width: 27rem;
  height: 35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(27, 27, 27, 0.1);
          box-shadow: 0rem 0rem 1rem rgba(27, 27, 27, 0.1);
  margin-right: 3rem; }

.services__row1-block:last-child {
  margin-right: 0rem; }

.services__row1-block1 {
  background: #fff url("../assets/services__icon1.png") no-repeat 50% 4.8rem; }

.services__row1-block2 {
  background: #fff url("../assets/services__icon2.png") no-repeat 50% 4.2rem; }

.services__row1-block3 {
  background: #fff url("../assets/services__icon3.png") no-repeat 50% 5.8rem; }

.services__row1-block4 {
  background: #fff url("../assets/services__icon4.png") no-repeat 50% 4.5rem; }

.services__block-headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: .8rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 13.3rem;
  padding: 0rem 5rem;
  text-align: center;
  width: 100%; }

.services__block-paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #707070;
  text-align: center;
  margin-top: 3.3rem;
  padding: 0rem 2rem;
  width: 100%; }

.services__row2 {
  padding-left: 1.5rem;
  margin-top: 2.8rem;
  padding-bottom: 1.8rem; }

.services__row2-block {
  -webkit-box-shadow: 0rem 0rem 1rem rgba(27, 27, 27, 0.1);
          box-shadow: 0rem 0rem 1rem rgba(27, 27, 27, 0.1);
  width: 27rem;
  margin-right: 3rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: .6rem;
  padding-bottom: 2rem;
  background: #fff; }

.services__row2-block:last-child {
  margin-right: 0rem; }

.services__technology-name {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.4rem;
  letter-spacing: 0.3rem;
  color: #1B1B1B;
  margin-left: 0.2rem;
  margin-top: 1.5rem; }

.services__technology-name:first-child {
  margin-top: 0rem; }

.services__technology-stats {
  width: 24.7rem;
  height: 0.5rem;
  background: #F4F4F4;
  margin-top: 0.8rem;
  position: relative; }

.services__technology-stats::before {
  content: '';
  background: #FFE500;
  position: absolute;
  top: 0rem;
  left: 0rem; }

.services__ps-stats::before {
  width: 22.3rem;
  height: 0.5rem; }

.services__ai-stats::before {
  width: 24.3rem;
  height: 0.5rem; }

.services__id-stats::before {
  width: 17.7rem;
  height: 0.5rem; }

.services__ui-stats::before {
  width: 23.9rem;
  height: 0.5rem; }

.services__ux-stats::before {
  width: 21.6rem;
  height: 0.5rem; }

.services__responsive-stats::before {
  width: 22.6rem;
  height: 0.5rem; }

.services__html-stats::before {
  width: 24.3rem;
  height: 0.5rem; }

.services__css-stats::before {
  width: 24.1rem;
  height: 0.5rem; }

.services__js-stats::before {
  width: 18.6rem;
  height: 0.5rem; }

.services__c-stats::before {
  width: 19.8rem;
  height: 0.5rem; }

.services__java-stats::before {
  width: 20.5rem;
  height: 0.5rem; }

.services__swift-stats::before {
  width: 19.2rem;
  height: 0.5rem; }

.services__production {
  background: #1B1B1B;
  padding-top: 8.7rem;
  padding-bottom: 8.3rem; }

.services__production-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 1.5rem; }

.services__production-block {
  background: #fff;
  width: 27rem;
  margin-right: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.8rem; }

.services__production-block:last-child {
  margin-right: 0rem; }

.services__production-counter {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 1.3rem; }

.services__production-paragraph {
  margin: 0rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 0.5rem; }

.portfolio {
  padding-top: 8.3rem;
  padding-bottom: 8.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.portfolio__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.portfolio__headline {
  margin: 0rem;
  text-align: center;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.6rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 3.2rem;
  width: 100%; }

.portfolio__paragraph {
  margin: 0rem;
  text-align: center;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: .1rem;
  color: #707070;
  padding: 0rem 20rem;
  margin-top: 2.6rem;
  width: 100%; }

.portfolio__menu {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 7.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  background: url("../assets/portfolio__logo.jpg") no-repeat center;
  margin-bottom: 8.6rem; }

.portfolio__menu-part1 {
  width: 47rem;
  height: auto; }

.portfolio__menu-part2 {
  width: 47rem;
  height: auto; }

.portfolio__menu-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.portfolio__menu-part::before, .portfolio__menu-part::after {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #1B1B1B;
  position: absolute; }

.portfolio__menu-part::before {
  top: 0rem;
  left: 0rem; }

.portfolio__menu-part::after {
  bottom: 0rem;
  left: 0rem; }

.portfolio__menu-link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: .4rem;
  color: #1B1B1B;
  text-transform: uppercase;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 2.5rem 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__menu-link.active {
  color: #fff;
  background: #1B1B1B; }

.portfolio__content {
  width: 100%;
  height: 35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden; }

.portfolio__content-container {
  width: 100%;
  height: 35rem; }

.portfolio__item {
  text-decoration: none;
  padding: 5.7rem 1rem;
  width: -webkit-calc(100% / 6);
  width: calc(100% / 6);
  height: 35rem; }

.portfolio__item:nth-child(odd) {
  background: #777; }

.portfolio__item:nth-child(even) {
  background: #000; }

.portfolio__item:hover .portfolio__item-text::before,
.portfolio__item:hover .portfolio__item-text::after {
  opacity: 1; }

.portfolio__item-text {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4rem 1rem;
  width: 100%;
  height: auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__item-text::before, .portfolio__item-text::after {
  content: '';
  width: 80%;
  height: 3.5rem;
  background: #FFE500;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__item-text::before {
  top: -1.7rem;
  left: 50%; }

.portfolio__item-text::after {
  bottom: -5.2rem;
  left: 50%; }

.portfolio__item-headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: .4rem;
  color: #1B1B1B;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }

.portfolio__item-paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  color: #1B1B1B;
  width: 100%;
  text-align: center;
  margin-top: 2.2rem; }

.portfolio__like-link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  color: #1B1B1B;
  text-transform: uppercase;
  background: #FFE500;
  padding: 1.8rem 2.8rem;
  margin-top: 8.5rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__like-link:hover {
  background: #e6ce00; }

.portfolio__like-link:active {
  background: #FFE500; }

.portfolio-vid__video-section {
  position: relative;
  z-index: 60;
  width: 100%;
  height: 38rem;
  overflow: hidden;
  margin-top: 0rem; }

.portfolio-vid__video-container {
  position: absolute;
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 38rem;
  padding: 6rem 0rem; }

.portfolio-vid__video-overlay {
  background: #1B1B1B;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 2; }

.portfolio-vid__video-play-button {
  width: 36.9rem;
  height: 7.5rem;
  border: 0.1rem solid #FFE500;
  position: relative;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  color: #FFE500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.portfolio-vid__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1; }

.about-us {
  padding-top: 8.2rem;
  padding-bottom: 4.4rem; }

.about-us__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.about-us__headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.6rem;
  color: #1B1B1B;
  text-transform: uppercase;
  margin-top: 3.2rem;
  text-align: center;
  width: 100%;
  height: auto; }

.about-us__paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.2rem;
  color: #707070;
  padding: 0rem 22rem;
  margin-top: 2.5rem;
  text-align: center;
  width: 100%;
  height: auto; }

.about-us__specialists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 7.9rem;
  padding-left: 1.5rem; }

.about-us__specialist {
  width: 27rem;
  height: auto;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
  margin-right: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.about-us__specialist:last-child {
  margin-right: 0rem; }

.about-us__specialist-photo {
  background: #1B1B1B;
  width: 27rem;
  height: 29rem; }

.about-us__specialist-name {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  color: #1B1B1B;
  background: #D1BC05;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2.2rem 0rem; }

.about-us__specialist-info {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #707070;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 2.7rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.testimonials {
  padding-top: 4.6rem;
  padding-bottom: 5.4rem;
  position: relative; }

.testimonials::before {
  content: '';
  width: 100%;
  height: 21rem;
  background: #FFE500;
  position: absolute;
  top: 23.2rem;
  left: 0rem;
  z-index: -1; }

.testimonials__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.testimonials__block {
  width: 50%;
  height: auto;
  padding-left: 1.6rem; }

.testimonials__text-container {
  background: #1B1B1B;
  width: 57rem;
  height: 37.5rem; }

.testimonials__text {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #fff; }

.testimonials__author {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #1B1B1B;
  text-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.6); }

.testimonials__review {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #707070;
  text-align: center; }

.testimonials__block1-text-container {
  padding-top: 5rem;
  padding-left: 7.7rem; }

.testimonials__block1-text {
  padding-right: 6rem; }

.testimonials__block1-author {
  margin-top: 0.9rem;
  margin-left: 11.3rem; }

.testimonials__block1-review {
  margin-top: 7.5rem;
  padding: 0rem 10rem; }

.testimonials__block2-text-container {
  margin-top: 6.6rem; }

.testimonials__block2-author {
  margin-top: 0.8rem;
  margin-left: 39.2rem; }

.testimonials__block2-review {
  margin-top: 5rem;
  padding: 0rem 8.4rem; }

.footer {
  background: #1B1B1B;
  padding-bottom: 6rem;
  overflow: hidden; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  height: auto; }

.footer__block2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__block3 {
  padding-left: 1.8rem; }

.footer__logo {
  margin-top: 8.8rem;
  margin-left: 3.3rem; }

.footer__block1-paragraph1 {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #fff;
  margin-top: 2rem;
  margin-left: 1.8rem;
  padding-right: 1rem;
  width: 100%; }

.footer__block1-paragraph2 {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #fff;
  margin-top: 5.4rem;
  margin-left: 1.9rem;
  width: 100%; }

.footer__block1-paragraph2 span {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .1rem; }

.footer__block1-paragraph2 span a {
  text-decoration: none;
  color: #FFE500; }

.footer__copyright {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #fff;
  margin-top: 1.3rem;
  margin-left: 1.7rem;
  width: 100%; }

.footer__block2-menu1 {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  padding-top: 9.3rem; }

.footer__block2-menu2 {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 9.3rem;
  padding-left: 2rem; }

.footer__block2-menu1-headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #fff;
  width: 100%; }

.footer__block2-menu2-headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #fff;
  width: 100%; }

.footer__block2-menu1-link {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #fff;
  text-decoration: none;
  margin-top: 2.3rem; }

.footer__block2-menu2-link {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #fff;
  text-decoration: none;
  margin-top: 2.3rem; }

.footer__block3-headline {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #fff;
  margin-top: 9.4rem;
  width: 100%; }

.footer__block3-paragraph {
  margin: 0rem;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: .1rem;
  color: #fff;
  margin-top: 1.5rem;
  padding-right: 1rem;
  width: 100%; }

.footer__email-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3rem;
  color: #1B1B1B;
  background: #FFE500;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 1.6rem 11.6rem;
  text-decoration: none;
  margin-top: 4.2rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.footer__email-link:hover {
  background: #e6ce00; }

.footer__email-link:active {
  background: #FFE500; }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.6rem; }

.footer__social-link {
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.9rem; }

.footer__social-link:last-child {
  margin-right: 0rem; }

.footer__social-link:nth-child(3) {
  width: 3.5rem;
  height: 3.5rem; }

.footer__social-link:nth-child(3) svg {
  width: 2.8rem;
  height: 2.8rem; }

.footer__social-link svg {
  width: 2rem;
  height: 2rem; }

.footer__social-link svg path {
  fill: #1B1B1B; }
