
// font-family: 'Montserrat-Medium'
@font-face
	font-family: 'Montserrat-Medium'
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'NunitoSans-Bold'
@font-face
	font-family: 'NunitoSans-Bold'
	src: url('../fonts/NunitoSans-Bold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'NunitoSans-Regular'
@font-face
	font-family: 'NunitoSans-Regular'
	src: url('../fonts/NunitoSans-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'WorkSans-Regular'
@font-face
	font-family: 'WorkSans-Regular'
	src: url('../fonts/WorkSans-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap