extends ../templates/page/page
include ../components/welcome/welcome
include ../components/general/general
include ../components/for-you/for-you
include ../components/quick-n-easy/quick-n-easy

block head
	- const pageTitle = "Main";
	- const pageDescription = "Page Description";
	- const pageKeywords = "webpack, pug, scss";

block content
	//- +welcome({
	//- 	message: 'Welcome! <br/> Happy coding!'
	//- })
	+general
	+for-you
	+quick-n-easy
