doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Lifestyle
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		//- Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					h3.header__logo L#[span ifestyle]
					p.header__logo-description Free PSD Website Template
				.header__search-n-menu-container
					input.header__search-input(type="text" placeholder="Search Term Here")
					nav.header__menu-container
						ul.header__menu
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Home
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Style Demo
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Full Width
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Dropdown
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Portfolio
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Gallery

		//- Section1
		section.section1
			.section1__img

		//- Section2
		section.section2
			.section2__wrapper.wrapper
				h3.section2__headline Curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et.
				a.prevdef.section2__contact-us-today-link(href="#") Contact Us Today

		//- Section3
		section.section3
			.section3__wrapper.wrapper
				.section3__block.section3__block1
					img.section3__block-img(src="http://placekitten.com/100/100", alt="pic")
					.section3__text-container
						h3.section3__block-headline Service 1
						p.section3__block-paragraph Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.
				.section3__block.section3__block2
					img.section3__block-img(src="http://placekitten.com/100/100", alt="pic")
					.section3__text-container
						h3.section3__block-headline Service 2
						p.section3__block-paragraph Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.
				.section3__block.section3__block3
					img.section3__block-img(src="http://placekitten.com/100/100", alt="pic")
					.section3__text-container
						h3.section3__block-headline Service 3
						p.section3__block-paragraph Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.

		//- Section4
		section.section4
			.section4__wrapper.wrapper
				.section4__headline-container
					h3.section4__headline Indonectetus facilis
				.section4__blocks-container
					.section4__block.section4__block1
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here
					.section4__block.section4__block2
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here
					.section4__block.section4__block3
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here
					.section4__block.section4__block4
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here
					.section4__block.section4__block5
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here
					.section4__block.section4__block6
						img.section4__block-img(src="http://placekitten.com/300/170", alt="pic")
						.section4__text-container
							h3.section4__block-headline Image Name or Title
							p.section4__block-paragraph Some tags or text goes here

		//- Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					h3.footer__block-headline Contact Us
					p.footer__block-paragraph.footer__company-name Company Name
					p.footer__block-paragraph.footer__street-name Street Name & Number
					p.footer__block-paragraph.footer__town Town
					p.footer__block-paragraph.footer__postcode Postcode/Zip
					a.prevdef.footer__block-paragraph.footer__tel(href="#") Tel: xxxxx xxxxxxxxxx
					a.prevdef.footer__block-paragraph.footer__fax(href="#") Fax: xxxxx xxxxxxxxxx
					a.prevdef.footer__block-paragraph.footer__email(href="#") Email: contact@mydomain.com
				.footer__block.footer__block2
					h3.footer__block-headline Quick Links
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
				.footer__block.footer__block3
					h3.footer__block-headline From The Blog
					.footer__post-container
						p.footer__block-paragraph.footer__post-title Blog Post Title
						p.footer__block-paragraph.footer__post-info Posted by #[span.footer__post-author Admin] on #[span.footer__post-time 00.00.0000]
						p.footer__block-paragraph.footer__post Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed facilispede estibulum.
						a.prevdef.footer__read-more-link(href="#") Read More &raquo;
				.footer__block.footer__block4
					h3.footer__block-headline Grab Our Newsletter
					form.footer__form(action="" method="POST")
						input.footer__input.footer__name-input(type="text" placeholder="Name")
						input.footer__input.footer__email-input(type="text" placeholder="Email")
						button.prevdef.footer__submit-button Submit

		//- Copy
		section.copy
			.copy__wrapper.wrapper
				p.copy__paragraph Copyright &copy; 2013 - All Rights Reserved - Domain Name
				a.prevdef.copy__by-link(href="#") Template by OS Templates

		//- Modals
		.modal__overlay
		.modal__error-container.modal__window
			p.modal__paragraph Fill all the inputs, please!
		.modal__success-container.modal__window
			p.modal__paragraph Check your email out!

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]