@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.google-map {
	@include size(100%, 100vh);
	background: #192450;
	color: #000;
	&__pop-up {
		@include flex(column, wrap, flex-start, flex-start);
		padding: toRem(12);
		@media only screen and (min-width: 768px) {
			padding: toRem(30) toRem(50);
		}
	}
	&__pop-up-headline {
		color: $blue;
		width: auto;
		margin: 0;
		font-size: toRem(20);
		@media only screen and (min-width: 768px) {
			font-size: toRem(30);
		}
		@media only screen and (min-width: 992px) {
			font-size: toRem(40);
		}
	}
	&__pop-up-paragraph {
		width: auto;
		margin: 0;
		margin-top: toRem(20);
		font-size: toRem(16);
		@media only screen and (min-width: 992px) {
			font-size: toRem(20);
		}
	}
}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
