* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto; }

.header {
  background: #3F3F3F;
  position: relative;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem; }
  .header::before {
    content: '';
    width: 100%;
    height: 0.3rem;
    background: #303030;
    position: absolute;
    bottom: -1rem;
    left: 0rem; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 4.4rem;
    position: relative; }
    .header__menu-list-item:last-child {
      margin-right: 0rem; }
    .header__menu-list-item::before {
      content: '';
      width: 0.1rem;
      height: 100%;
      background: #B8B8B8;
      position: absolute;
      top: 50%;
      right: -2.2rem;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .header__menu-list-item:last-child::before {
      content: none; }
  .header__menu-link {
    text-decoration: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    color: #B8B8B8;
    text-transform: uppercase;
    text-align: left;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header__menu-link:hover {
      color: #FF9900; }
  .header__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: #252525;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-right: 1rem; }
    .header__social-link:last-child {
      margin-right: 0rem; }
    .header__social-link:hover {
      background: #FF9900; }
    .header__social-link svg {
      width: 1.8rem;
      height: 1.8rem; }
      .header__social-link svg path {
        fill: #fff; }
  .header__google-plus svg {
    width: 2.4rem;
    height: 2.4rem; }

.main {
  background: #252525;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .main__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .main__logo-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-decoration: none; }
  .main__logo {
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 4.6rem;
    color: #fff;
    text-transform: uppercase;
    text-align: left; }
    .main__logo span {
      font-size: 3.7rem; }
  .main__logo-description {
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    color: #999;
    text-align: left;
    margin-top: 3.1rem;
    margin-left: 2rem; }
  .main__search-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 0.9rem; }
  .main__search-input {
    outline: none;
    border: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    color: #7F7F7F;
    text-align: left;
    background: #363636;
    width: 21.5rem;
    padding: 1rem 0.9rem; }
    .main__search-input::-webkit-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.2rem;
      color: #7F7F7F; }
    .main__search-input::-moz-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.2rem;
      color: #7F7F7F; }
    .main__search-input:-ms-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.2rem;
      color: #7F7F7F; }
    .main__search-input::-ms-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.2rem;
      color: #7F7F7F; }
    .main__search-input::placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.2rem;
      color: #7F7F7F; }
  .main__search-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #FF9900;
    padding: 1rem 0.8rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .main__search-button:hover {
      background: #ffa31a; }

.slider-section {
  background: #252525;
  position: relative;
  padding-bottom: 1.5rem; }
  .slider-section::before {
    content: '';
    width: 100%;
    height: 1.5rem;
    background: #FF9900;
    position: absolute;
    bottom: 0rem;
    left: 0rem; }
  .slider-section__slider {
    width: 100%;
    height: 34rem;
    position: relative; }
  .slider-section__slide {
    width: 100%;
    height: 34rem;
    margin: 0rem auto;
    position: absolute;
    top: 0rem;
    left: 0rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 0;
    z-index: -1; }
    .slider-section__slide.active {
      opacity: 1;
      z-index: 999; }
  .slider-section__slide1 {
    background: #c4233e; }
  .slider-section__slide2 {
    background: #07b75f; }
  .slider-section__slide3 {
    background: #178CC6; }
  .slider-section__slide4 {
    background: #ffdd00; }
  .slider-section__slide5 {
    background: #FF9900; }
  .slider-section__pagination {
    width: 96rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #FF9900;
    position: absolute;
    bottom: 0rem;
    left: 50%;
    margin-left: -48rem; }
  .slider-section__pagination-elem {
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5);
    height: 1.5rem;
    background: #FF9900;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .slider-section__pagination-elem.active {
      background: #F0F0F0; }

.section1 {
  background: #E1E1E1; }
  .section1__location-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #F0F0F0;
    position: relative;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
    padding-left: 3rem; }
    .section1__location-container::before {
      content: '';
      width: 100%;
      height: 0.1rem;
      background: #E1E1E1;
      position: absolute;
      bottom: 0rem;
      left: 0rem; }
  .section1__you-are-here {
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #999;
    text-align: left; }
  .section1__homepage {
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    color: #FF9900;
    text-align: left;
    margin-left: 1.3rem; }
  .section1__content {
    width: 100%;
    background: #fff;
    padding-top: 2.9rem; }
  .section1__headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 8.5rem;
    color: #DDD;
    text-align: center;
    text-transform: uppercase; }
    .section1__headline span {
      font-size: 6.5rem; }
  .section1__paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    line-height: 4.1rem;
    font-size: 2.8rem;
    color: #989898;
    text-align: center;
    font-style: italic;
    margin-top: 0rem; }
  .section1__separator {
    border: none;
    width: 94%;
    height: 0.1rem;
    background: #E1E1E1;
    margin: 0rem auto;
    margin-top: 4.6rem; }
  .section1__blocks-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 4.7rem; }
  .section1__block {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section1__block1 {
    padding-left: 3rem; }
  .section1__block2 {
    padding-left: 1rem; }
  .section1__block-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 2.2rem;
    color: #666;
    text-align: left; }
  .section1__block1-item {
    width: 100%; }
  .section1__block1-item2 {
    margin-top: 3.4rem; }
  .section1__block1-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 1.6rem;
    color: #333;
    text-align: left;
    margin-top: 3.8rem;
    padding-left: 6.1rem;
    position: relative; }
    .section1__block1-headline::before {
      content: '';
      width: 5.3rem;
      height: 4.4rem;
      background: url("../assets/section1__quote.png") no-repeat center;
      position: absolute;
      top: -1.2rem;
      left: 0rem; }
    .section1__block1-headline span {
      font-weight: 400; }
  .section1__block1-paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.08rem;
    color: #999;
    text-align: left;
    margin-top: 2rem;
    padding-right: 4rem; }
  .section1__block2-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 2.6rem; }
  .section1__block2-item2 {
    margin-top: 4.7rem; }
  .section1__block2-img {
    border: .4rem solid #FCFCFC;
    -webkit-box-shadow: 0rem 0rem .1rem .1rem #E1E1E1;
            box-shadow: 0rem 0rem .1rem .1rem #E1E1E1; }
  .section1__text-container {
    width: -webkit-calc(100% - 11.8rem);
    width: calc(100% - 11.8rem);
    padding-top: 1.2rem;
    padding-left: 1.3rem; }
  .section1__block2-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 1.6rem;
    color: #333;
    text-align: left; }
  .section1__block2-paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    line-height: 2.08rem;
    color: #999;
    text-align: left;
    margin-top: 1.3rem; }
  .section1__separator2 {
    margin: 0rem;
    border: none;
    width: 94%;
    height: 0.1rem;
    background: #E1E1E1;
    margin: 0rem auto;
    margin-top: 4.6rem; }

.latest-work {
  background: #E1E1E1;
  position: relative; }
  .latest-work::before {
    content: '';
    width: 100%;
    height: 14.5rem;
    background: #252525;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    z-index: 0; }
  .latest-work__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fff;
    position: relative;
    z-index: 3; }
  .latest-work__block1 {
    width: 27%;
    padding-top: 4.7rem;
    padding-left: 3rem; }
  .latest-work__block2 {
    width: 73%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 5rem; }
  .latest-work__block3 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 4.7rem;
    padding-left: 2.6rem;
    padding-bottom: 2.5rem; }
  .latest-work__block1-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 2.2rem;
    color: #666;
    text-align: left; }
  .latest-work__paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.82rem;
    color: #999;
    text-align: left;
    margin-top: 1.6rem;
    padding-right: 4rem; }
  .latest-work__block2-paragraph {
    width: 100%;
    margin: 0rem;
    margin-top: 2.2rem; }
  .latest-work__item {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .latest-work__img {
    width: 21rem;
    height: 14rem;
    background: url("http://placekitten.com/210/140") no-repeat center;
    background-size: cover;
    position: relative; }
    .latest-work__img::before {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      width: 10rem;
      height: 0rem;
      border-bottom: 12rem solid rgba(0, 0, 0, 0.4);
      border-left: 9.4rem solid transparent;
      border-right: 9.4rem solid transparent;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: -1;
      -webkit-filter: blur(0.3rem);
              filter: blur(0.3rem); }
  .latest-work__view-this-project {
    text-decoration: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.4rem;
    color: #FF9900;
    text-align: left;
    margin-top: 1.1rem; }
  .latest-work__block3-twitter-icon {
    width: 11.5rem;
    height: 10rem;
    background: url("../assets/latest-work__twitter-icon.png") no-repeat center; }
  .latest-work__block3-paragraph {
    width: -webkit-calc(100% - 11.5rem);
    width: calc(100% - 11.5rem);
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #999;
    text-align: left;
    padding-left: 4.6rem;
    margin-top: 2.6rem; }

.footer {
  background: #252525;
  padding-top: 2.8rem;
  padding-bottom: 2rem; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .footer__block {
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block2 {
    padding-left: 0.5rem; }
  .footer__block3 {
    padding-left: 1rem; }
  .footer__block4 {
    padding-left: 1.4rem; }
  .footer__headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #666;
    text-transform: uppercase;
    text-align: left; }
  .footer__paragraph {
    text-decoration: none;
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #868686;
    text-align: left; }
  .footer__company-name {
    margin-top: 2.7rem; }
  .footer__street-name {
    margin-top: 0.4rem; }
  .footer__town {
    margin-top: 0.5rem; }
  .footer__postcode {
    margin-top: 0.7rem; }
  .footer__tel {
    margin-top: 0.4rem; }
  .footer__fax {
    margin-top: 0.5rem; }
  .footer__email {
    margin-top: 0.6rem; }
  .footer__list {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 1.8rem; }
  .footer__list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    position: relative; }
    .footer__list-item::before {
      content: '';
      width: 95%;
      height: 0.1rem;
      background: #333;
      position: absolute;
      bottom: 0rem;
      left: 0rem; }
  .footer__list-link {
    text-decoration: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.44rem;
    color: #FF9900;
    padding: 0.8rem 0rem; }
  .footer__post-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 2.6rem; }
  .footer__post-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 900;
    font-size: 1.4rem;
    color: #868686;
    text-align: left; }
  .footer__post-info {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #868686;
    text-align: left;
    margin-top: 0.4rem; }
  .footer__post {
    width: 100%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.92rem;
    color: #868686;
    text-align: left;
    margin-top: 0.7rem; }
  .footer__read-more {
    text-decoration: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #FF9900;
    margin-top: 1.1rem;
    margin-right: 0.4rem; }
  .footer__form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__input {
    outline: none;
    border: .1rem solid transparent;
    border-radius: 0.4rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #868686;
    background: #333;
    width: 100%;
    padding: 0.8rem 1rem; }
    .footer__input::-webkit-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.3rem;
      color: #868686; }
    .footer__input::-moz-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.3rem;
      color: #868686; }
    .footer__input:-ms-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.3rem;
      color: #868686; }
    .footer__input::-ms-input-placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.3rem;
      color: #868686; }
    .footer__input::placeholder {
      font-family: "Georgia";
      font-weight: 400;
      font-size: 1.3rem;
      color: #868686; }
  .footer__name-input {
    margin-top: 2.7rem; }
  .footer__email-input {
    margin-top: 1.2rem; }
  .footer__submit-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #FF9900;
    text-transform: uppercase;
    text-align: center;
    background: #333;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 1rem; }
    .footer__submit-button:hover {
      background: #2b2b2b; }

.copy {
  background: #000;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem; }
  .copy__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copy__paragraph {
    text-decoration: none;
    width: 50%;
    margin: 0rem;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #737373;
    text-align: left; }
  .copy__link {
    text-decoration: none;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 1.3rem;
    color: #737373; }

.modal__overlay {
  background: rgba(34, 34, 34, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 999;
  display: none; }

.modal__window {
  width: 31rem;
  height: 10rem;
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0;
  z-index: -1; }

.modal__paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  text-align: center; }
