doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Smak
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// FontAwesome
		link(rel="stylesheet", href="libs/fontawesome/css/fontawesome-all.min.css")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Animate
		link(rel="stylesheet", href="css/animate.css")
		// Slider.UI
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		// NoUI Slider
		link(rel="stylesheet", href="libs/nouislider/nouislider.min.css")
		// Powerange
		link(rel="stylesheet", href="libs/powerange/powerange.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet", href="css/media.css")
		link(rel="stylesheet", href="libs/selecter/jquery.fs.selecter.min.css")
	body
		// Content Start
		.work__content-container
			.work__content
				.work__content-wrapper.wrapper
					.work__content-block.work__content-block1
					.work__content-block.work__content-block2
						h3.work__content-block-headline Our awesome web design
						p.work__content-block-paragraph Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blan dit aliquet elit, eget tincidunt ni dictum porta.
						a.prevdef.work__content-block-view-live(href="#") View live
				.work__examples-container
					a.prevdef.work__example.work__example1(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example2(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example3(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example4(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example5(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example6(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example7(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example8(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example9(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example10(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example11(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
					a.prevdef.work__example.work__example12(href="#")
						.work__example-text-container
							h3.work__example-headline Sample image
							p.work__example-paragraph Web design
				a.prevdef.work__show-more(href="#")
					.work__show-more-arrow.work__show-more-arrow1
					.work__show-more-arrow.work__show-more-arrow2
		// Content End
		// Scripts
		// General
		script(src="js/libs.min.js")
		script(src="js/common.js")
		// Modernizr
		script(src="libs/modernizr/modernizr.js")
		// Selector
		script(src="libs/selecter/jquery.fs.selecter.min.js")
		//- script.
		//- 	$(document).ready(function() {
		//- 		$('select').selecter();
		//- 	});
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// NoUI Slider
		script(src="libs/nouislider/nouislider.min.js")
		// Powerange
		script(src="libs/powerange/powerange.min.js")
		// Slider.UI (https://jqueryui.com/slider/)
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		// WoW
		script(src="libs/wow/wow.min.js")
		script
			//- | new WOW().init();
		// Parallax
		script(src="libs/parallax/parallax.min.js")
		script
			//- | var scene = document.getElementById('scene');
			//- | var parallaxInstance = new Parallax(scene);
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]