@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default
	user-select: none

.wrapper
	+wrapper(96rem, auto)

// 1rem === 10px

.header
	+size(100%, auto)
	position: absolute
	top: -4.4rem
	left: 0rem
	background: $brown
	padding-bottom: 1rem
	transition: .2s
	&.active
		top: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
		position: relative
	&__toggle-button
		border: none
		outline: none
		position: absolute
		right: 0rem
		bottom: -3.5rem
		+size(3.1rem, 2.5rem)
		background: $lightbrown
		border-bottom-left-radius: 0.4rem
		border-bottom-right-radius: 0.4rem
		cursor: pointer
		&:hover
			background: darken($lightbrown, 5%)
		&::before, &::after
			content: ''
			+size(1.1rem, .1rem)
			background: #fff
			position: absolute
			transition: .2s
		&::before
			left: 1rem
			top: 1.2rem
		&::after
			top: 1.2rem
			left: 1rem
			transform: rotate(90deg)
		&.active::after
			opacity: 0
	&__menu-container
		margin-top: 1.8rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		position: relative
		+flex(row, wrap, flex-start, flex-start)
		padding: 0rem 0.6rem
		&:first-child
			padding-left: 0rem
		&:last-child
			padding-right: 0rem
		&:last-child
			margin-right: 0rem
		&:last-child::before
			content: none
		&::before
			content: ''
			+size(.1rem, 1.2rem)
			background: #999
			position: absolute
			top: 50%
			right: 0rem
			transform: translateY(-50%)
	&__menu-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
	&__socials-container
		+flex(row, wrap, flex-start, flex-start)
		margin-top: 0.9rem
	&__social-link
		+size(3.2rem, 3.2rem)
		border-radius: 50%
		background: $lightbrown
		+flex(row, wrap, center, center)
		margin-right: 1rem
		&:last-child
			margin-right: 0rem
		&:hover
			background: #DB4A39
		svg
			+size(1.9rem, 1.9rem)
			path
				fill: #FFFFFF
	&__linkedin
	&__twitter
	&__pinterest
	&__google-plus
		svg
			+size(2.7rem, 2.7rem)
			path
	&__rss

.main
	padding-top: 8.1rem
	&__wrapper
		+flex(column, wrap, flex-start, flex-start)
	&__block
		+size(100%, auto)
		+flex(row, wrap, space-between, flex-start)
	&__block1
	&__block2
	&__logo-container
		text-decoration: none
		+flex(column, wrap, flex-start, flex-start)
	&__logo
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 4.6rem
		color: #333
		text-transform: uppercase
		span
			font-size: 2.6rem
	&__logo-description
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		margin-top: 0.5rem
	&__search-n-tel-container
		+flex(column, wrap, flex-start, flex-end)
		margin-top: 0.8rem
	&__tel
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: #999
	&__search-container
		width: 100%
		+flex(row, wrap, flex-end, stretch)
		margin-top: 1.2rem
	&__search-input
		outline: none
		border: .1rem solid #DDDDDD
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #7F7F7F
		width: 21.6rem
		padding: 0rem 0.8rem
		&:placeholder
			font-family: $gg
			font-weight: 400
			font-size: 1.3rem
			color: #7F7F7F
	&__search-button
		outline: none
		border: none
		cursor: pointer
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		background: $brown
		border-top-right-radius: 0.4rem
		border-bottom-right-radius: 0.4rem
		transition: .2s
		padding: 1rem 0.9rem
		&:hover
			background: lighten($brown, 10%)
	&__menu-container
		width: 100%
		margin-top: 3.7rem
	&__menu
		width: 100%
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, center, center)
		margin-right: .1rem
		&:last-child
			margin-right: 0rem
	&__menu-link
		text-decoration: none
		width: 100%
		background: $brown
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		text-transform: uppercase
		color: #fff
		padding: 2.3rem 2.1rem
		transition: .2s
		&:hover
			background: $lightbrown
	&__menu-list-item:first-child &__menu-link
		border-top-left-radius: 1rem
		border-bottom-left-radius: 1rem
	&__menu-list-item:last-child &__menu-link
		border-top-right-radius: 1rem
		border-bottom-right-radius: 1rem

.section1
	padding-top: 4.4rem
	&__wrapper
		+flex(column, wrap, flex-start, flex-start)
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 3.6rem
		color: $lightbrown
		text-transform: uppercase
		text-align: center
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.8rem
		line-height: 2.6rem
		color: #999
		text-align: center
		font-style: italic
		margin-top: 0.8rem
		padding: 0rem 18rem
	&__content
		+flex(row, wrap, flex-start, flex-start)
		margin-top: 4.8rem
	&__block
	&__block1
		+size(56.6rem, auto)
	&__block2
		+size(calc(100% - 56.6rem), auto)
		+flex(column, wrap, flex-start, flex-start)
		padding-left: 2.2rem
	&__img
	&__img1
		border: .4rem solid #fff
		box-shadow: 0rem 0rem 0rem 0.1rem #ddd
	&__img2
	&__img3
		margin-top: 0.2rem
	&__img4
		margin-top: 0.2rem

.section2
	padding-top: 4.6rem
	padding-bottom: 4.8rem
	&__wrapper
		+flex(row, wrap, flex-start, flex-start)
	&__block
		+size(50%, auto)
	&__block1
		padding-right: 1rem
	&__block2
		padding-left: 1rem
	&__block-headline-container
		width: 100%
		position: relative
		+flex(row, wrap, center, center)
		&::before
			content: ''
			+size(100%, 0.5rem)
			background: #EBEBEB
			position: absolute
			top: 50%
			left: 0rem
			transform: translateY(-50%)
			z-index: -1
	&__block-headline
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #4A4A4A
		background: #fff
		text-transform: uppercase
		text-align: center
		position: relative
		padding: 0rem 0.4rem
	&__block1-item
		width: 100%
		+flex(row, wrap, flex-start, flex-start)
	&__block1-item1
		margin-top: 2.6rem
	&__block1-item2
		margin-top: 2.6rem
	&__block1-image
		border-radius: 50%
	&__text
		+flex(column, wrap, flex-start, flex-start)
		+size(calc(100% - 12.8rem), auto)
		padding-top: 1.1rem
		padding-left: 2rem
	&__block1-item-headline
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 900
		font-size: 1.4rem
		color: #585B5F
	&__block1-item-paragraph
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2rem
		color: #999
		margin-top: 0.9rem
		padding-right: 5.2rem
	&__read-more
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $lightbrown
		margin-top: 1.4rem
	&__block2-content
		+flex(row, wrap, space-between, flex-start)
		padding-top: 2.6rem
	&__block2-item
		+flex(column, wrap, flex-start, flex-start)
		border: .1rem solid #E4E4E4
		+size(22.3rem, auto)
		cursor: pointer
		transition: .2s
		background: url('../assets/section2__userpic1.png') no-repeat center 2rem #fff
		&:hover
			background: $lightbrown url('../assets/section2__userpic2.png') no-repeat center 2rem
	&__block2-item:hover &__block2-item-headline
		color: #fff
	&__block2-item:hover &__block2-item-paragraph
		color: #fff
	&__block2-item1
		padding-top: 15.3rem
		padding-bottom: 2.1rem
	&__block2-item2
		padding-top: 15.3rem
		padding-bottom: 2.1rem
	&__block2-item-headline
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 3.2rem
		line-height: 3.2rem
		color: #333
		text-align: center
		transition: .2s
		text-transform: uppercase
	&__block2-item-paragraph
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.6rem
		color: #979797
		text-align: center
		transition: .2s
		padding: 0rem 3rem
		margin-top: 1.7rem

.footer
	position: relative
	background: #EFEFEF
	padding-top: 3.4rem
	padding-bottom: 2.2rem
	&::before
		content: ''
		+size(100%, .5rem)
		background: #DDD
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__block
		+size(31%, auto)
		+flex(column, wrap, flex-start, flex-start)
	&__block1
	&__block2
	&__block3
	&__block-headline
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 900
		font-size: 1.2rem
		color: #666
		text-align: left
		text-transform: uppercase
	&__block-headline1
	&__block-headline2
		margin-top: 2.6rem
	&__block-headline3
	&__block-headline4
		margin-top: 2.8rem
	&__block-paragraph
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2rem
		color: #999
		text-align: left
	&__block-paragraph1
		margin-top: 1.9rem
		padding-right: 2rem
	&__block-paragraph3
		margin-top: 1.9rem
	&__read-more
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: $lightbrown
		text-align: left
		margin-top: 1.2rem
	&__post-container
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		text-decoration: none
		margin-top: 1.8rem
	&__post-title
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 900
		font-size: 1.4rem
		text-transform: capitalize
		color: #666
		text-align: left
	&__post-date
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.1rem
		color: #666
		text-align: left
	&__post
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2rem
		color: #999
		text-align: left
		margin-top: 0.4rem
		padding-right: 1rem
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(column, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 2.1rem
	&__list-item
		width: 100%
		padding: 0rem
		margin: 0rem
		+flex(column, wrap, flex-start, flex-start)
		position: relative
		margin-top: 0.9rem
		&:first-child
			margin-top: 0rem
		&::before
			content: ''
			+size(100%, .1rem)
			background: #DDD
			position: absolute
			bottom: 0rem
			left: 0rem
	&__list-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $lightbrown
		position: relative
		padding-left: 1.3rem
		padding-bottom: 0.5rem
		&::after
			content: '\00bb'
			position: absolute
			left: -0.1rem
			top: -0.2rem
	&__form
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		margin-top: 1.7rem
	&__input
		outline: none
		border: .1rem solid transparent
		background: #DDD
		border-radius: .6rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #807D77
		width: 100%
		padding: 0.8rem 0.6rem
		&::placeholder
			font-family: $gg
			font-weight: 400
			font-size: 1.3rem
			color: #807D77
	&__name-input
	&__email-input
		margin-top: 1rem
	&__submit-button
		outline: none
		border: none
		cursor: pointer
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		background: $lightbrown
		text-transform: uppercase
		border-radius: 0.4rem
		padding: 0.9rem 1.4rem
		transition: .2s
		margin-top: 0.9rem
		&:hover
			background: darken($lightbrown, 10%)
	&__tel
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		margin-top: 2.1rem
	&__email
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		margin-top: 0.4rem
		span
			color: $lightbrown

.copy
	background: $brown
	padding-top: 2.4rem
	padding-bottom: 2.3rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__paragraph
		margin: 0rem
		width: 50%
		font-family: $gg
		font-size: 1.3rem
		font-weight: 400
		color: $lightbrown
		text-align: left
	&__by-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $lightbrown

.modal
	&__overlay
		+size(100%, 100%)
		position: fixed
		top: 0rem
		left: 0rem
		background: rgba(#000, .97)
		display: none
	&__window
		+size(31rem, auto)
		background: $space-grey
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		+flex(row, wrap, center, center)
		padding: 4rem 3rem
		opacity: 0
		z-index: -1
	&__paragraph
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 2.1rem
		color: #fff
		text-align: center
	&__error-container
	&__error-paragraph
	&__success-container
	&__success-paragraph

*
	// @include outline($blue)