@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
		background: $media-purple
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		background: $media-orange

	.header
		top: 0rem//
		&.active
		&__wrapper
			width: 90%//
			+flex(row, wrap, space-between, center)//
		&__toggle-button
			display: none//
			&:hover
			&::before, &::after
			&::before
			&::after
			&.active::after
		&__menu-container
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
				padding-left: 0.6rem//
			&:last-child
				padding-right: 0.6rem//
			&:last-child
			&:last-child::before
			&::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.4rem//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
				path
		&__rss

	.main
		&__wrapper
			width: 92%//
			+flex(column, wrap, flex-start, center)//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			padding-top: 2rem//
		&__block2
		&__logo-container
			+flex(column, wrap, flex-start, center)//
		&__logo
			span
		&__logo-description
		&__search-n-tel-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 2rem//
		&__tel
		&__search-container
			+flex(row, wrap, flex-end, stretch)//
		&__search-input
			&:placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 2.7rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, center, center)//
			margin-right: 0rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			text-align: center//
			font-size: 1rem//
			&:hover
		&__menu-list-item:first-child &__menu-link
			border-top-left-radius: 0rem//
			border-bottom-left-radius: 0rem//
		&__menu-list-item:last-child &__menu-link
			border-top-right-radius: 0rem//
			border-bottom-right-radius: 0rem//

	.section1
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 80%//
		&__headline
			padding: 0rem 3%//
		&__paragraph
			padding: 0rem 5%//
		&__content
			+flex(column, wrap, flex-start, center)//
		&__block
		&__block1
			+size(50%, auto)//
		&__block2
			+size(50%, auto)//
			+flex(column, wrap, flex-start, center)//
			padding-left: 0rem//
			margin-top: 1rem//
		&__img
		&__img1
		&__img2
		&__img3
		&__img4

	.section2
		&__wrapper
			width: 50%//
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			padding-right: 0rem//
		&__block2
			padding-left: 0rem//
			padding-top: 4rem//
		&__block-headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-item
			+flex(column, wrap, flex-start, center)//
		&__block1-item1
		&__block1-item2
		&__block1-image
		&__text
			+flex(column, wrap, flex-start, center)//
			+size(100%, auto)//
			padding-left: 0rem//
			width: 80%//
		&__block1-item-headline
			text-align: center//
		&__block1-item-paragraph
			padding-right: 0rem//
			text-align: center//
		&__read-more
		&__block2-content
			+flex(column, wrap, space-between, center)//
		&__block2-item
			+flex(column, wrap, flex-start, flex-start)//
			&:hover
		&__block2-item:hover &__block2-item-headline
		&__block2-item:hover &__block2-item-paragraph
		&__block2-item1
		&__block2-item2
			margin-top: 1rem//
		&__block2-item-headline
		&__block2-item-paragraph

	.footer
		&::before
		&__wrapper
			width: 100%//
			+flex(row, wrap, center, stretch)//
		&__block
			+size(30%, auto)//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block-headline
		&__block-headline1
		&__block-headline2
		&__block-headline3
		&__block-headline4
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph3
		&__read-more
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-title
		&__post-date
		&__post
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
			&::after
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
		&__tel
		&__email
			span

	.copy
		&__wrapper
			width: 100%//
			+flex(column, wrap, space-between, center)//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		background: $media-pink

	.header
		top: 0rem//
		&.active
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__toggle-button
			display: none//
			&:hover
			&::before, &::after
			&::before
			&::after
			&.active::after
		&__menu-container
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
				padding-left: 0.6rem//
			&:last-child
				padding-right: 0.6rem//
			&:last-child
			&:last-child::before
			&::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.4rem//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
				path
		&__rss

	.main
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			padding-top: 2rem//
		&__block2
		&__logo-container
			+flex(column, wrap, flex-start, center)//
		&__logo
			span
		&__logo-description
		&__search-n-tel-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 2rem//
		&__tel
		&__search-container
			+flex(row, wrap, flex-end, stretch)//
		&__search-input
			&:placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 2.7rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, center, center)//
			margin-right: 0rem//
			margin-top: 0.4rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			text-align: center//
			font-size: 1.6rem//
			&:hover
		&__menu-list-item:first-child &__menu-link
			border-top-left-radius: 0rem//
			border-bottom-left-radius: 0rem//
		&__menu-list-item:last-child &__menu-link
			border-top-right-radius: 0rem//
			border-bottom-right-radius: 0rem//

	.section1
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 80%//
		&__headline
			padding: 0rem 3%//
		&__paragraph
			padding: 0rem 5%//
		&__content
			+flex(column, wrap, flex-start, center)//
		&__block
		&__block1
			+size(100%, auto)//
		&__block2
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			padding-left: 0rem//
			margin-top: 1rem//
		&__img
		&__img1
		&__img2
		&__img3
		&__img4

	.section2
		&__wrapper
			width: 70%//
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			padding-right: 0rem//
		&__block2
			padding-left: 0rem//
			padding-top: 4rem//
		&__block-headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-item
			+flex(column, wrap, flex-start, center)//
		&__block1-item1
		&__block1-item2
		&__block1-image
		&__text
			+flex(column, wrap, flex-start, center)//
			+size(100%, auto)//
			padding-left: 0rem//
			width: 80%//
		&__block1-item-headline
			text-align: center//
		&__block1-item-paragraph
			padding-right: 0rem//
			text-align: center//
		&__read-more
		&__block2-content
			+flex(column, wrap, space-between, center)//
		&__block2-item
			+flex(column, wrap, flex-start, flex-start)//
			&:hover
		&__block2-item:hover &__block2-item-headline
		&__block2-item:hover &__block2-item-paragraph
		&__block2-item1
		&__block2-item2
			margin-top: 1rem//
		&__block2-item-headline
		&__block2-item-paragraph

	.footer
		&::before
		&__wrapper
			width: 60%//
			+flex(column, wrap, space-between, stretch)//
		&__block
			+size(100%, auto)//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block-headline
		&__block-headline1
		&__block-headline2
		&__block-headline3
		&__block-headline4
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph3
		&__read-more
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-title
		&__post-date
		&__post
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
			&::after
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
		&__tel
		&__email
			span

	.copy
		&__wrapper
			width: 100%//
			+flex(column, wrap, space-between, center)//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		background: $media-blue

	.header
		top: 0rem//
		&.active
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__toggle-button
			display: none//
			&:hover
			&::before, &::after
			&::before
			&::after
			&.active::after
		&__menu-container
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
				padding-left: 0.6rem//
			&:last-child
				padding-right: 0.6rem//
			&:last-child
			&:last-child::before
			&::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.4rem//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
				path
		&__rss

	.main
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			padding-top: 2rem//
		&__block2
		&__logo-container
			+flex(column, wrap, flex-start, center)//
		&__logo
			span
		&__logo-description
		&__search-n-tel-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 2rem//
		&__tel
		&__search-container
			+flex(row, wrap, flex-end, stretch)//
		&__search-input
			&:placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 2.7rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, center, center)//
			margin-right: 0rem//
			margin-top: 0.4rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			text-align: center//
			font-size: 1.6rem//
			&:hover
		&__menu-list-item:first-child &__menu-link
			border-top-left-radius: 0rem//
			border-bottom-left-radius: 0rem//
		&__menu-list-item:last-child &__menu-link
			border-top-right-radius: 0rem//
			border-bottom-right-radius: 0rem//

	.section1
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 90%//
		&__headline
			padding: 0rem 3%//
		&__paragraph
			padding: 0rem 5%//
		&__content
			+flex(column, wrap, flex-start, center)//
		&__block
		&__block1
			+size(100%, auto)//
		&__block2
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			padding-left: 0rem//
			margin-top: 1rem//
		&__img
		&__img1
		&__img2
		&__img3
		&__img4

	.section2
		&__wrapper
			width: 90%//
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			padding-right: 0rem//
		&__block2
			padding-left: 0rem//
			padding-top: 4rem//
		&__block-headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-item
			+flex(column, wrap, flex-start, center)//
		&__block1-item1
		&__block1-item2
		&__block1-image
		&__text
			+flex(column, wrap, flex-start, center)//
			+size(100%, auto)//
			padding-left: 0rem//
			width: 80%//
		&__block1-item-headline
			text-align: center//
		&__block1-item-paragraph
			padding-right: 0rem//
			text-align: center//
		&__read-more
		&__block2-content
			+flex(column, wrap, space-between, center)//
		&__block2-item
			+flex(column, wrap, flex-start, flex-start)//
			&:hover
		&__block2-item:hover &__block2-item-headline
		&__block2-item:hover &__block2-item-paragraph
		&__block2-item1
		&__block2-item2
			margin-top: 1rem//
		&__block2-item-headline
		&__block2-item-paragraph

	.footer
		&::before
		&__wrapper
			width: 70%//
			+flex(column, wrap, space-between, stretch)//
		&__block
			+size(100%, auto)//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block-headline
		&__block-headline1
		&__block-headline2
		&__block-headline3
		&__block-headline4
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph3
		&__read-more
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-title
		&__post-date
		&__post
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
			&::after
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
		&__tel
		&__email
			span

	.copy
		&__wrapper
			width: 100%//
			+flex(column, wrap, space-between, center)//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		background: $media-green

	.header
		top: 0rem//
		&.active
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__toggle-button
			display: none//
			&:hover
			&::before, &::after
			&::before
			&::after
			&.active::after
		&__menu-container
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
				padding-left: 0.6rem//
			&:last-child
				padding-right: 0.6rem//
			&:last-child
			&:last-child::before
			&::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.4rem//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
				path
		&__rss

	.main
		&__wrapper
			width: 100%//
			+flex(column, wrap, flex-start, center)//
		&__block
			+flex(column, wrap, flex-start, center)//
		&__block1
			padding-top: 2rem//
		&__block2
		&__logo-container
			+flex(column, wrap, flex-start, center)//
		&__logo
			span
		&__logo-description
		&__search-n-tel-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 2rem//
		&__tel
		&__search-container
			+flex(row, wrap, flex-end, stretch)//
		&__search-input
			&:placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 2.7rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			width: 100%//
			+flex(row, wrap, center, center)//
			margin-right: 0rem//
			margin-top: 0.4rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			text-align: center//
			font-size: 1.6rem//
			&:hover
		&__menu-list-item:first-child &__menu-link
			border-top-left-radius: 0rem//
			border-bottom-left-radius: 0rem//
		&__menu-list-item:last-child &__menu-link
			border-top-right-radius: 0rem//
			border-bottom-right-radius: 0rem//

	.section1
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 90%//
		&__headline
			padding: 0rem 3%//
		&__paragraph
			padding: 0rem 5%//
		&__content
			+flex(column, wrap, flex-start, center)//
		&__block
		&__block1
			+size(100%, auto)//
		&__block2
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			padding-left: 0rem//
			margin-top: 1rem//
		&__img
		&__img1
		&__img2
		&__img3
		&__img4

	.section2
		&__wrapper
			width: 90%//
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			padding-right: 0rem//
		&__block2
			padding-left: 0rem//
			padding-top: 4rem//
		&__block-headline-container
			+flex(row, wrap, center, center)//
			&::before
		&__block-headline
		&__block1-item
			+flex(column, wrap, flex-start, center)//
		&__block1-item1
		&__block1-item2
		&__block1-image
		&__text
			+flex(column, wrap, flex-start, center)//
			+size(100%, auto)//
			padding-left: 0rem//
			width: 80%//
		&__block1-item-headline
			text-align: center//
		&__block1-item-paragraph
			padding-right: 0rem//
			text-align: center//
		&__read-more
		&__block2-content
			+flex(column, wrap, space-between, center)//
		&__block2-item
			+flex(column, wrap, flex-start, flex-start)//
			&:hover
		&__block2-item:hover &__block2-item-headline
		&__block2-item:hover &__block2-item-paragraph
		&__block2-item1
		&__block2-item2
			margin-top: 1rem//
		&__block2-item-headline
		&__block2-item-paragraph

	.footer
		&::before
		&__wrapper
			width: 90%//
			+flex(column, wrap, space-between, stretch)//
		&__block
			+size(100%, auto)//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block-headline
		&__block-headline1
		&__block-headline2
		&__block-headline3
		&__block-headline4
		&__block-paragraph
		&__block-paragraph1
		&__block-paragraph3
		&__read-more
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-title
		&__post-date
		&__post
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
		&__list-link
			&::after
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
		&__tel
		&__email
			span

	.copy
		&__wrapper
			width: 100%//
			+flex(column, wrap, space-between, center)//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//

	.modal
		&__overlay
		&__window
			+size(100%, auto)//
		&__paragraph
		&__error-container
		&__error-paragraph
		&__success-container
		&__success-paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple