mixin masked-input()
	
	.masked-input__container
		input.masked-input__phone(type="text")
		input.masked-input__date(type="text")
		input.masked-input__tin(type="text")
		input.masked-input__ssn(type="text")