@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.header {
	&__wrapper {
		@include flex(column, wrap, flex-start, center);
	}
	&__nav {
		@include flex(column, wrap, flex-start, center);
	}
	&__nav-link {
		text-decoration: none;
		font-family: $pr;
		font-size: toRem(15);
		line-height: toRem(27);
		letter-spacing: $ls;
		color: #fff;
		text-transform: capitalize;
	}
	&__sign-up-n-hamburger-container {
		@include flex(row, wrap, flex-start, center);
	}
	&__sign-up-link {
		@extend .global-a;
		border-color: #fff;
		background: transparent;
		text-transform: capitalize;
	}
	&__hamburger {
		@include size(toRem(44), toRem(27));
		position: relative;
		cursor: pointer;
	}
	&__hamburger-elem {
		background: #fff;
		position: absolute;
		right: 0;
	}
	&__hamburger-elem1 {}
	&__hamburger-elem2 {}
	&__hamburger-elem3 {}
}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
