mixin owl-carousel(props = {})
	- const { message } = props;

	.owl-carousel__section
		.owl-carousel__wrapper.d-flex.flex-column.justify-content-start.align-items-center.pt-5
			h1.owl-carousel__headline.text-center.d-2 It's owl-carousel section!
			.owl-carousel.owl-theme.owl-carousel__slider
				.owl-carousel__slide.owl-carousel__slide1
					img.owl-carousel__image(src="http://dummyimage.com/600x500/111/fff", alt="image")
				.owl-carousel__slide.owl-carousel__slide2
					img.owl-carousel__image(src="http://dummyimage.com/601x500/111/fff", alt="image")
				.owl-carousel__slide.owl-carousel__slide3
					img.owl-carousel__image(src="http://dummyimage.com/602x500/111/fff", alt="image")