body {
  background: #2a2a2a;
  color: white;
  cursor: default; }

section {
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden; }

section::before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(#f00), color-stop(#0f0), color-stop(#0ff), color-stop(#ff0), to(#0ff));
  background: -webkit-linear-gradient(left, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
  background: -o-linear-gradient(left, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
  background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
  pointer-events: none;
  mix-blend-mode: color; }

section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

section h1 {
  font-family: sans-serif;
  font-weight: 300;
  margin: 0rem;
  font-size: 10rem;
  letter-spacing: 2rem;
  color: #fff;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }

section h1 span {
  opacity: 0;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards; }

h1 span:nth-child(1) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s; }

h1 span:nth-child(2) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s; }

h1 span:nth-child(3) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s; }

h1 span:nth-child(4) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s; }

h1 span:nth-child(5) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s; }

h1 span:nth-child(6) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s; }

h1 span:nth-child(7) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s; }

@-webkit-keyframes animate {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(1rem);
            filter: blur(1rem); }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0rem);
            filter: blur(0rem); } }

@keyframes animate {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(1rem);
            filter: blur(1rem); }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0rem);
            filter: blur(0rem); } }
