doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="en")
	// <![endif]
	head
		title Repair Design Project
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		//- Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo(href="#") IC "Repair Design Project"
				nav.header__menu-container
					ul.header__menu
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#").active Home
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Projects
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Measurement
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Team
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Reviews
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Contacts
				a.prevdef.header__tel(href="#") +7 (928) 768-32-39
				a.prevdef.header__request-a-call(href="#") Request a call

		//- Main Section
		section.main
			.main__wrapper.wrapper
				a.prevdef.main__instagram(href="#") Instagram
				a.prevdef.main__scroll-down(href="#") Scroll down
				.main__content
					h1.main__headline Turnkey Repair in the city of #[span Rostov-on-Don]
					p.main__paragraph Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
					.main__links-container
						a.prevdef.main__calculate-the-cost(href="#") Calculate the cost
						a.prevdef.main__submit-your-application(href="#") Submit your application

		//- Projects
		section.projects
			.projects__wrapper.wrapper
				ul.projects__list
					li.projects__list-item
						a.prevdef.projects__list-link.active(href="#") Rostov-on-Don Admiral
					li.projects__list-item
						a.prevdef.projects__list-link(href="#") Sochi Thieves
					li.projects__list-item
						a.prevdef.projects__list-link(href="#") Rostov-on-Don Patriotic
				.projects__content
					button.projects__switch-button.projects__prev-button
					button.projects__switch-button.projects__next-button
					.projects__slide.projects__slide1.active
						.projects__block.projects__block1
							.projects__text-container
								h3.projects__headline Completed projects1
								p.projects__paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.projects__characteristics-container
									.projects__characteristic.projects__characteristic1
										p.projects__characteristic-headline City:
										p.projects__characteristic-paragraph Rostov-on-Don LCD admiral
									.projects__characteristic.projects__characteristic2
										p.projects__characteristic-headline Apartment area:
										p.projects__characteristic-paragraph 81 m2
									.projects__characteristic.projects__characteristic3
										p.projects__characteristic-headline Repair time:
										p.projects__characteristic-paragraph 3.5 months
									.projects__characteristic.projects__characteristic4
										p.projects__characteristic-headline Repair cost:
										p.projects__characteristic-paragraph Upon request
						.projects__block.projects__block2
							.projects__img.projects__img1
					.projects__slide.projects__slide2
						.projects__block.projects__block1
							.projects__text-container
								h3.projects__headline Completed projects2
								p.projects__paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.projects__characteristics-container
									.projects__characteristic.projects__characteristic1
										p.projects__characteristic-headline City:
										p.projects__characteristic-paragraph Rostov-on-Don LCD admiral
									.projects__characteristic.projects__characteristic2
										p.projects__characteristic-headline Apartment area:
										p.projects__characteristic-paragraph 81 m2
									.projects__characteristic.projects__characteristic3
										p.projects__characteristic-headline Repair time:
										p.projects__characteristic-paragraph 3.5 months
									.projects__characteristic.projects__characteristic4
										p.projects__characteristic-headline Repair cost:
										p.projects__characteristic-paragraph Upon request
						.projects__block.projects__block2
							.projects__img.projects__img2
					.projects__slide.projects__slide3
						.projects__block.projects__block1
							.projects__text-container
								h3.projects__headline Completed projects3
								p.projects__paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.projects__characteristics-container
									.projects__characteristic.projects__characteristic1
										p.projects__characteristic-headline City:
										p.projects__characteristic-paragraph Rostov-on-Don LCD admiral
									.projects__characteristic.projects__characteristic2
										p.projects__characteristic-headline Apartment area:
										p.projects__characteristic-paragraph 81 m2
									.projects__characteristic.projects__characteristic3
										p.projects__characteristic-headline Repair time:
										p.projects__characteristic-paragraph 3.5 months
									.projects__characteristic.projects__characteristic4
										p.projects__characteristic-headline Repair cost:
										p.projects__characteristic-paragraph Upon request
						.projects__block.projects__block2
							.projects__img.projects__img3

		//- Online control
		section.online-control
			h3.online-control__headline Online Control
			.online-control__separator1
			.online-control__wrapper.wrapper
				.online-control__video-container
					.online-control__video-overlay
					.online-control__video-button
					.online-control__video-relation-ratio
						iframe.online-control__video(width="789" height="444" src="https://www.youtube.com/embed/ZvzNVqpQYsw?autoplay=0&amp;enablejsapi=1&amp;playerapiid=ytplayer;showinfo=0&controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.online-control__separator2
				p.online-control__description At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities! Leave a request below and you will receive a link to the broadcast.
				form.online-control__form(action="" method="POST")
					.online-control__row.online-control__row1
						label.online-control__label Name
							input.online-control__input.online-control__name-input(type="text" placeholder="What is your name:")
						label.online-control__label Phone
							input.online-control__input.online-control__phone-input(type="text" placeholder="Your phone number:")
						button.prevdef.online-control__submit-button Submit
					.online-control__row.online-control__row2
						label.online-control__checkbox-container
							input.online-control__checkbox(type="checkbox")
							.online-control__checkbox-indicator
							p.online-control__checkbox-description I agree to the processing of personal data

		//- Types of repair
		section.types-of-repair
			h3.types-of-repair__headline Types of repair
			.types-of-repair__separator
			.types-of-repair__wrapper.wrapper
				.types-of-repair__block.types-of-repair__block1
					.types-of-repair__img.types-of-repair__img1
					.types-of-repair__text-container
						h3.types-of-repair__block-headline Redecorating
						ul.types-of-repair__list
							li.types-of-repair__list-item Dismantling of old coatings
							li.types-of-repair__list-item Wallpapering
							li.types-of-repair__list-item Painting walls and ceilings
							li.types-of-repair__list-item Laying flooring
							li.types-of-repair__list-item Replacing plumbing
							li.types-of-repair__list-item Replacing sockets and switches
							li.types-of-repair__list-item Replacing doors
						p.types-of-repair__price from 900 rub / m2
				.types-of-repair__block.types-of-repair__block2
					.types-of-repair__img.types-of-repair__img2
					.types-of-repair__text-container
						h3.types-of-repair__block-headline Overhaul
						ul.types-of-repair__list
							li.types-of-repair__list-item Dismantling of old coatings
							li.types-of-repair__list-item Wallpapering
							li.types-of-repair__list-item Painting walls and ceilings
							li.types-of-repair__list-item Laying flooring
							li.types-of-repair__list-item Replacing plumbing
							li.types-of-repair__list-item Replacing sockets and switches
							li.types-of-repair__list-item Replacing doors
						p.types-of-repair__price from 1500 rub / m2
				.types-of-repair__block.types-of-repair__block3
					.types-of-repair__img.types-of-repair__img3
					.types-of-repair__text-container
						h3.types-of-repair__block-headline Designer Repair
						ul.types-of-repair__list
							li.types-of-repair__list-item Dismantling of old coatings
							li.types-of-repair__list-item Wallpapering
							li.types-of-repair__list-item Painting walls and ceilings
							li.types-of-repair__list-item Laying flooring
							li.types-of-repair__list-item Replacing plumbing
							li.types-of-repair__list-item Replacing sockets and switches
							li.types-of-repair__list-item Replacing doors
						p.types-of-repair__price from 1000 rub / m2

		//- Measurement
		section.measurement
			a.prevdef.measurement__discount(href="#") Help save 10 - 20% of the cost of materials
			.measurement__wrapper.wrapper
				.measurement__block.measurement__block1
					p.measurement__block1-paragraph.measurement__block1-paragraph1 Our specialist will arrive for measurements per day contact, or appoint a date convenient for you
					p.measurement__block1-paragraph.measurement__block1-paragraph2 Free metering
					p.measurement__block1-paragraph.measurement__block1-paragraph3 Free consultation
					p.measurement__block1-paragraph.measurement__block1-paragraph4 Get a cost estimate and the timing of your future repairs
				.measurement__block.measurement__block2
					form.measurement__form(action="" method="POST")
						p.measurement__block2-paragraph Leave a request for free departure of the measurer
						label.measurement__label.measurement__label1 Name
							input.measurement__input.measurement__name-input(type="text" placeholder="What is your name:")
						label.measurement__label.measurement__label2 Phone
							input.measurement__input.measurement__phone-input(type="text" placeholder="Your phone number:")
						label.measurement__label.measurement__label3 Email
							input.measurement__input.measurement__email-input(type="text" placeholder="Your email:")
						label.measurement__checkbox-container
							input.measurement__checkbox(type="checkbox")
							.measurement__checkbox-indicator
							p.measurement__checkbox-description I agree to the processing of personal data
						button.prevdef.measurement__submit-button Call the measurer

		//- Wildest fantasies
		section.wildest-fantasies
			.wildest-fantasies__wrapper.wrapper
				.wildest-fantasies__block.wildest-fantasies__block1
					h3.wildest-fantasies__headline We realize your wildest fantasies
					ul.wildest-fantasies__list
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link.active(href="index.html") American classic
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="empire.html") Empire
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="classical.html") Classical
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="loft.html") Loft
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="minimalism.html") Minimalism
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="provence.html") Provence
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="romanticism.html") Romanticism
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="scandinavian-style.html") Scandinavian style
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="mediterranean-style.html") Mediterranean style
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="high-tech.html") High tech
						li.wildest-fantasies__list-item
							a.wildest-fantasies__list-link(href="eclecticism.html") Eclecticism
				.wildest-fantasies__block.wildest-fantasies__block2
					.wildest-fantasies__ajax-section
						.wildest-fantasies__column.wildest-fantasies__column1
							.wildest-fantasies__img.wildest-fantasies__img1
							.wildest-fantasies__img.wildest-fantasies__img2
						.wildest-fantasies__column.wildest-fantasies__column2
							.wildest-fantasies__img.wildest-fantasies__img3
							.wildest-fantasies__img.wildest-fantasies__img4

		//- Design projects
		section.design-projects
			.design-projects__wrapper.wrapper
				h3.design-projects__headline Design Project
				.design-projects__separator
				p.design-projects__paragraph Design project not only helps to make the repair of your apartment more modern, but also significantly reduces the cost of materials and reduces the time of repair work.
				.design-projects__blocks-container
					.design-projects__block.design-projects__block1
						.design-projects__block-img.design-projects__block-img1
						.design-projects__text-container
							h3.design-projects__block-headline Mini
							ul.design-projects__list
								li.design-projects__list-item Measurement drawing
								li.design-projects__list-item Redevelopment
								li.design-projects__list-item Layout of furniture
								li.design-projects__list-item Plumbing plan. equipment
							p.design-projects__price 150 rub / m2
					.design-projects__block.design-projects__block2
						.design-projects__block-img.design-projects__block-img2
						.design-projects__text-container
							h3.design-projects__block-headline Standard
							ul.design-projects__list
								li.design-projects__list-item Measurement drawing
								li.design-projects__list-item Redevelopment
								li.design-projects__list-item Layout of furniture
								li.design-projects__list-item Plan of ceilings
								li.design-projects__list-item Floor Plan
								li.design-projects__list-item Electricians plan
								li.design-projects__list-item Lighting plan
							p.design-projects__price 400 rub / m2
					.design-projects__block.design-projects__block3
						.design-projects__block-img.design-projects__block-img3
						.design-projects__text-container
							h3.design-projects__block-headline Full
							ul.design-projects__list
								li.design-projects__list-item Measurement drawing
								li.design-projects__list-item Redevelopment
								li.design-projects__list-item Layout of furniture
								li.design-projects__list-item Plan of ceilings
								li.design-projects__list-item Floor Plan
								li.design-projects__list-item Electricians plan
								li.design-projects__list-item Lighting plan
								li.design-projects__list-item Wall reamers
								li.design-projects__list-item 3D visualization
								li.design-projects__list-item Bill of materials
								li.design-projects__list-item Departure for a selection of materials
								li.design-projects__list-item Furniture selection
							p.design-projects__price 900 rub / m2

		//- How we are working
		section.working
			.working__wrapper.wrapper
				ul.working__tabs-list
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link.active(href="#") Departure to room measurements
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link(href="#") Compilation estimates
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link(href="#") Development project design
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link(href="#") Purchasing Supplies
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link(href="#") Repair finishing work
					li.working__tabs-list-item
						a.prevdef.working__tabs-list-link(href="#") Departure to room measurements
				.working__content
					.working__slide.working__slide1.active
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 1/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img1
					.working__slide.working__slide2
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 2/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img2
					.working__slide.working__slide3
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 3/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img3
					.working__slide.working__slide4
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 4/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img4
					.working__slide.working__slide5
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 5/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img5
					.working__slide.working__slide6
						.working__text-container
							h3.working__headline1 How we are working
							h3.working__headline2 6 steps to the goal
							p.working__counter 6/6
							h3.working__headline3 Departure for measurements premises
							p.working__paragraph.working__paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.working__paragraph.working__paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.working__img.working__img6
				.working__pagination-container
					button.working__switch-button.working__prev-button
					.working__pagination-elem.working__pagination-elem1.active
					.working__pagination-elem.working__pagination-elem2
					.working__pagination-elem.working__pagination-elem3
					.working__pagination-elem.working__pagination-elem4
					.working__pagination-elem.working__pagination-elem5
					.working__pagination-elem.working__pagination-elem6
					button.working__switch-button.working__next-button

		//- Team
		section.team
			.team__wrapper.wrapper
				h3.team__headline Our Team
				.team__separator1
				p.team__paragraph Our team has helped to become happier for more than 500 families and we are not going to stop
				.team__blocks-container
					.team__block.team__block1
						.team__block-icon.team__block-icon1
						.team__block-img.team__block-img1
						.team__text-container
							h3.team__employee-name Dmitry Tulyakov
							p.team__employee-position Project manager
							p.team__employee-work-exp Work experience 8 years
					.team__block.team__block2
						.team__block-icon.team__block-icon2
						.team__block-img.team__block-img2
						.team__text-container
							h3.team__employee-name Larisa Kotlyarova
							p.team__employee-position Designer
							p.team__employee-work-exp Work experience 6 years
					.team__block.team__block3
						.team__block-icon.team__block-icon3
						.team__block-img.team__block-img3
						.team__text-container
							h3.team__employee-name Alexey Efimov
							p.team__employee-position Foreman
							p.team__employee-work-exp Work experience 12 years
				.team__separator2
				p.team__description.team__description1 Each employee of our company is a qualified full-time specialist with work experience of 6 years.
				p.team__description.team__description2 We do not have laborers and guest workers, each employee carries out work corresponding to his specialty.
				.team

		//- Reviews
		section.reviews
			.reviews__wrapper.wrapper
				h3.reviews__headline Our Clients
				.reviews__separator
				p.reviews__paragraph 80% of our customers recommend us to their friends and family.
				.reviews__blocks-container
					.reviews__block.reviews__block1
						.reviews__img-n-name-container
							.reviews__img.reviews__img1
							h3.reviews__client-name Fedosova Maria Konstantinovna
						p.reviews__client-review I want to thank guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Qality satisfied. Prices democratic. I recommend these masters.
						.reviews__works-area-n-time-container
							p.reviews__works-area 40 m2
							p.reviews__works-time 48 days
					.reviews__block.reviews__block2
						.reviews__img-n-name-container
							.reviews__img.reviews__img2
							h3.reviews__client-name Afanasyev Sergey Alexandrovich
						p.reviews__client-review I want to thank guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Qality satisfied. Prices democratic. I recommend these masters.
						.reviews__works-area-n-time-container
							p.reviews__works-area 90 m2
							p.reviews__works-time 128 days
					.reviews__block.reviews__block3
						.reviews__img-n-name-container
							.reviews__img.reviews__img3
							h3.reviews__client-name Kiriev Egor Leonidovich
						p.reviews__client-review I want to thank guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Qality satisfied. Prices democratic. I recommend these masters.
						.reviews__works-area-n-time-container
							p.reviews__works-area 56 m2
							p.reviews__works-time 86 days

		//- Quesrions
		section.questions
			.questions__wrapper.wrapper
				form.questions__form(action="" method="POST")
					h3.questions__headline Have any questions?
					.questions__form-row.questions__form-row1
						label.questions__label Name
							input.questions__input.questions__name-input(type="text" placeholder="What is your name:")
						label.questions__label Phone
							input.questions__input.questions__phone-input(type="text" placeholder="Your phone number:")
					.questions__form-row.questions__form-row2
						label.questions__label Question
							input.questions__input.questions__question-input(type="text" placeholder="I want to know:")
					label.questions__checkbox-container
						input.questions__checkbox(type="checkbox")
						.questions__checkbox-indicator
						p.questions__checkbox-description I agree to the processing of personal data
					button.prevdef.questions__submit-button Submit

		//- Contacts
		footer.contacts
			.contacts__wrapper.wrapper
				a.prevdef.contacts__link.contacts__address(href="#") Rostov-on-Don, Nansen St., 239 Shopping Center
				a.prevdef.contacts__link.contacts__tel(href="#") Decorum Tel +7 (928) 768 32 29
				.contacts__socials-container
					a.prevdef.contacts__social-link.contacts__email(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fal" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-3x")
							path(fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
					a.prevdef.contacts__social-link.contacts__instagram(href="#")
						svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-3x")
							path(fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
				.contacts__map#contacts__map

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]