doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Gulp Project (Sass)
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					h1.header__logo IC "Repair Design Project"
				nav.header__menu-container
					ul.header__menu
						li.header__menu-list-item
							a.prevdef.header__menu-link.active(href="#") Home
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Project
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Measurement
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Team
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Reviews
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Contact
				a.prevdef.header__tel-link(href="#") +7 (928) 768-32-39
				a.prevdef.header__request-link(href="#") Request a Call

		// Main Section
		section.main
			.main__wrapper.wrapper
				a.prevdef.main__instagram-link(href="#") Instagram
				a.prevdef.main__scroll-down-container(href="#")
					p.main__scroll-down Scroll Down
					.main__scroll-down-icon
				.main__content
					.main__text-container
						h3.main__headline Turnkey Repair in the city of Rostov-on-Don
						p.main__paragraph Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
						.main__links-container
							a.prevdef.main__calculate-the-cost-link(href="#") Calculate the Cost
							a.prevdef.main__submit-your-application-link(href="#") Submit Your Application

		// Section1
		section.section1
			.section1__wrapper.wrapper
				ul.section1__tabs
					li.section1__tabs-list-item
						a.prevdef.section1__tabs-link.active(href="#") Rostov-on-Don Admiral
					li.section1__tabs-list-item
						a.prevdef.section1__tabs-link(href="#") Sochi Thieves
					li.section1__tabs-list-item
						a.prevdef.section1__tabs-link(href="#") Rostov-on-Don Patriotic
				.section1__slider-container
					button.section1__slider-button.section1__prev-button
					button.section1__slider-button.section1__next-button
					.section1__pagination-container
						.section1__pagination-elem.section1__pagination-elem1.active
						.section1__pagination-elem.section1__pagination-elem2
						.section1__pagination-elem.section1__pagination-elem3
					.section1__slider
						.section1__slide.section1__slide1
							.section1__slide-text-container
								h3.section1__slide-headline Completed Projects
								p.section1__slide-paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.section1__project-characteristics
									p.section1__project-characteristic City:
										|
										br
										| #[span Rostov-on-Don LCD admiral]
									p.section1__project-characteristic Apartment Area:
										|
										br
										| #[span 81 m2]
									p.section1__project-characteristic Repair Time:
										|
										br
										| #[span 3.5 months]
									p.section1__project-characteristic Repair Cost:
										|
										br
										| #[span Upon request]
							.section1__slide-image.section1__slide-image1
						.section1__slide.section1__slide2
							.section1__slide-text-container
								h3.section1__slide-headline Completed Projects
								p.section1__slide-paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.section1__project-characteristics
									p.section1__project-characteristic City:
										|
										br
										| #[span Rostov-on-Don LCD admiral]
									p.section1__project-characteristic Apartment Area:
										|
										br
										| #[span 81 m2]
									p.section1__project-characteristic Repair Time:
										|
										br
										| #[span 3.5 months]
									p.section1__project-characteristic Repair Cost:
										|
										br
										| #[span Upon request]
							.section1__slide-image.section1__slide-image2
						.section1__slide.section1__slide3
							.section1__slide-text-container
								h3.section1__slide-headline Completed Projects
								p.section1__slide-paragraph Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
								.section1__project-characteristics
									p.section1__project-characteristic City:
										|
										br
										| #[span Rostov-on-Don LCD admiral]
									p.section1__project-characteristic Apartment Area:
										|
										br
										| #[span 81 m2]
									p.section1__project-characteristic Repair Time:
										|
										br
										| #[span 3.5 months]
									p.section1__project-characteristic Repair Cost:
										|
										br
										| #[span Upon request]
							.section1__slide-image.section1__slide-image3

		// Section2
		section.section2
			.section2__wrapper.wrapper
				h3.section2__headline Online Control
				.section2__separator
				.section2__video-container
					.section2__video-overlay
						button.section2__video-play-button
					iframe.section2__video(width="560" height="315" src="https://www.youtube.com/embed/pZ12_E5R3qc?enablejsapi=1&playerapiid=ytplayer&controls=1&showinfo=1&autohide=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				p.section2__paragraph At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities! Leave a request below and you will receive a link to the broadcast.
				form.section2__form(action="" method="POST")
					label.section2__input-container Name
						input.section2__input.section2__name-input(type="text" placeholder="What is your name:")
					label.section2__input-container Phone
						input.section2__input.section2__name-input(type="text" placeholder="Your phone number:")
					button.prevdef.section2__submit-button Submit
					label.section2__input-container
						input.section2__checkbox(type="checkbox")
						.section2__checkbox-indicator
						p.section2__checkbox-description I agree to the processing of personal data

		// Section3
		section.section3
			.section3__wrapper.wrapper
				.section3__block.section3__block1
					.section3__block-image.section3__block-image1
					.section3__text-container
						h3.section3__block-headline Redecoration
						ul.section3__block-list
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Dismantling of old coatings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Wallpapering
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Painting walls and ceilings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Laying flooring
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing plumbing
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing sockets and switches
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing doors
				.section3__block.section3__block2
					.section3__block-image.section3__block-image2
					.section3__text-container
						h3.section3__block-headline Redecoration
						ul.section3__block-list
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Dismantling of old coatings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Wallpapering
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Painting walls and ceilings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Laying flooring
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing plumbing
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing sockets and switches
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing doors
				.section3__block.section3__block3
					.section3__block-image.section3__block-image3
					.section3__text-container
						h3.section3__block-headline Redecoration
						ul.section3__block-list
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Dismantling of old coatings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Wallpapering
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Painting walls and ceilings
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Laying flooring
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing plumbing
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing sockets and switches
							li.section3__block-list-item
								a.prevdef.section3__block-list-link(href="#") Replacing doors

		// Section4
		section.section4
			.section4__wrapper.wrapper
				a.prevdef.section4__discount(href="#") Help save 10 - 20% of the cost of materials
				.section4__block.section4__block1
					p.section4__block1-paragraph.section4__block1-paragraph1 Our specialist will arrive for measurements per day contact, or appoint a date convenient for you
					p.section4__block1-paragraph.section4__block1-paragraph2 Free metering
					p.section4__block1-paragraph.section4__block1-paragraph3 Free consultation
					p.section4__block1-paragraph.section4__block1-paragraph4 Get a cost estimate and the timing of your future repairs
				.section4__block.section4__block2
					form.section4__form(action="" method="POST")
						label.section4__input-container
							input.section4__input.section4__name-input(type="text" placeholder="What is your name:")
						label.section4__input-container
							input.section4__input.section4__phone-input(type="text" placeholder="Your phone number:")
						label.section4__input-container
							input.section4__input.section4__email-input(type="text" placeholder="Your email:")
						label.section4__checkbox-container
							input.section4__checkbox(type="checkbox")
							.section4__checkbox-indicator
							p.section4__checkbox-description I agree to the processing of personal data
							button.prevdef.section4__submit-button Call the Measurer

		// Section5
		section.section5
			.section5__wrapper.wrapper
				.section5__block.section5__block1
					h3.section5__headline We Realize Your Wildest Fantasies
					ul.section5__list
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") American classic
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Empire
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Classical
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Loft
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Minimalism
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Provence
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Romanticism
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Scandinavian style
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Mediterranean style
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") High tech
						li.section5__list-item
							a.prevdef.section5__list-link(href="#") Eclecticism
				.section5__block.section5__block2
					.section5__content
						.section5__item.section5__item1
						.section5__item.section5__item2
						.section5__item.section5__item3
						.section5__item.section5__item4

		// Section6
		section.section6
			.section6__wrapper.wrapper
				h3.section6__headline Design Project
				.section6__separator
				p.section6__paragraph Design project not only helps to make the repair of your apartment more modern, but also significantly reduces the cost of materials and reduces the time of repair work.
				.section6__content
					.section6__block.section6__block1
						.section6__block-image.section6__block-image1
						.section6__text-container
							h3.section6__block-headline Mini
							ul.section6__list
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Measurement drawing
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Redevelopment
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Layout of furniture
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Plumbing plan. equipment
					.section6__block.section6__block2
						.section6__block-image.section6__block-image2
						.section6__text-container
							h3.section6__block-headline Standard
							ul.section6__list
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Measurement drawing
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Redevelopment
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Layout of furniture
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Plan of ceilings
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Floor Plan
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Electricians plan
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Lighting plan
					.section6__block.section6__block3
						.section6__block-image.section6__block-image3
						.section6__text-container
							h3.section6__block-headline Full
							ul.section6__list
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Measurement drawing
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Redevelopment
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Layout of furniture
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Plan of ceilings
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Floor Plan
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Electricians plan
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Lighting plan
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Wall reamers
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") 3D visualization
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Bill of materials
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Departure for a selection of materials
								li.section6__list-item
									a.prevdef.section6__list-link(href="#") Furniture selection

		// Section7
		section.section7
			.section7__wrapper.wrapper
				h3.section7__headline How We Are Working
				ul.section7__list
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Departure to room measurement
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Compilation estimates
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Development project design
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Purchasing Supplies
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Repair finishing work
					li.section7__list-item
						a.prevdef.section7__list-link(href="#") Departure to room measurement
				.section7__slider-container
					button.section7__slider-button.section7__prev-button
					button.section7__slider-button.section7__next-button
					.section7__pagination-container
						.section7__pagination-elem.section7__pagination-elem1
						.section7__pagination-elem.section7__pagination-elem2
						.section7__pagination-elem.section7__pagination-elem3
						.section7__pagination-elem.section7__pagination-elem4
						.section7__pagination-elem.section7__pagination-elem5
						.section7__pagination-elem.section7__pagination-elem6
					.section7__slider.section7__slide.section7__slide1
						.section7__slide-text-container
							p.section7__slide-project-counter 1/6
							h3.section7__slide-headline Departure for measurements premises
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image1
					.section7__slider.section7__slide.section7__slide2
						.section7__slide-text-container
							p.section7__slide-project-counter 2/6
							h3.section7__slide-headline Compilation estimates
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image2
					.section7__slider.section7__slide.section7__slide3
						.section7__slide-text-container
							p.section7__slide-project-counter 3/6
							h3.section7__slide-headline Development project design
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image3
					.section7__slider.section7__slide.section7__slide4
						.section7__slide-text-container
							p.section7__slide-project-counter 4/6
							h3.section7__slide-headline Purchasing Supplies
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image4
					.section7__slider.section7__slide.section7__slide5
						.section7__slide-text-container
							p.section7__slide-project-counter 5/6
							h3.section7__slide-headline Repair finishing work
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image5
					.section7__slider.section7__slide.section7__slide6
						.section7__slide-text-container
							p.section7__slide-project-counter 6/6
							h3.section7__slide-headline Departure to room measurements
							p.section7__slide-paragraph.section7__slide-paragraph1 After your call, we go to you to consult and measure the premises of your apartment. During our meeting, you can ask absolutely any number of questions. An appraiser-appraiser leaves to measure the room.
							p.section7__slide-paragraph.section7__slide-paragraph2 He will advise you on the issues of repair technology, apartment design, terms of repair of the apartment as a whole and its individual stages.
						.section7__slide-image.section7__slide-image6

		// Section8
		section.section8
			.section8__wrapper.wrapper
				h3.section8__headline Our Team
				.section8__separator
				p.section8__paragraph.section8__paragraph1 Our team has helped to become happier for more than 500 families and we are not going to stop
				.section8__content
					.section8__item.section8__item1
						.section8__user-image.section8__user-image1
						.section8__text-container
							h3.section8__item-worker-name Dmitry Tulyakov
							p.section8__item-worker-position Project manager
							p.section8__item-worker-expirience Work Experience 7 Years
					.section8__item.section8__item2
						.section8__user-image.section8__user-image1
						.section8__text-container
							h3.section8__item-worker-name Larisa Kotlyarova
							p.section8__item-worker-position Designer
							p.section8__item-worker-expirience Work Experience 6 Years
					.section8__item.section8__item3
						.section8__user-image.section8__user-image1
						.section8__text-container
							h3.section8__item-worker-name Alexey Efimov
							p.section8__item-worker-position Foreman
							p.section8__item-worker-expirience Work Experience 12 Years
				p.section8__paragraph.section8__paragraph2 Each employee of our company is a qualified full-time specialist with work experience of 6 years.
				p.section8__paragraph.section8__paragraph3 We do not have laborers and guest workers, each employee carries out work corresponding to his specialty.

		// Section9
		section.section9
			.section9__wrapper.wrapper
				h3.section9__headline Our Clients
				.section9__separator
				p.section9__paragraph 80% of our customers recommend us to their friends and family.
				.section9__content
					.section9__item.section9__item1
						.section9__client-pic-n-name-container
							.section9__client-pic.section9__client-pic1
						p.section9__item-paragraph I want to thank the guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
					.section9__item.section9__item2
						.section9__client-pic-n-name-container
							.section9__client-pic.section9__client-pic2
						p.section9__item-paragraph I want to thank the guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
					.section9__item.section9__item3
						.section9__client-pic-n-name-container
							.section9__client-pic.section9__client-pic3
						p.section9__item-paragraph I want to thank the guys for their work. We put your shower part in repair. I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach. The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.

		// Section10
		section.section10

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]