body {
  cursor: default;
  background: url("../assets/body__bg1.jpg") no-repeat 126% 3rem, url("../assets/body__bg2.jpg") no-repeat -11rem 107rem, url("../assets/body__bg3.jpg") no-repeat 100% 151rem, url("../assets/body__bg4.jpg") no-repeat -17rem 242rem, url("../assets/body__bg5.jpg") no-repeat 110% 330rem; }

.wrapper {
  width: 120rem;
  height: auto;
  margin: 0 auto; }

.top-panel {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0rem;
  left: 0rem; }

.top-panel__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.top-panel__logo {
  position: absolute;
  top: 6.4rem;
  left: 1%;
  font-family: "Work Sans";
  font-size: 2.6rem;
  font-weight: 600;
  color: #314584;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer; }

.top-panel__logo::before {
  content: '';
  width: 3rem;
  height: 0.6rem;
  background: #FF3946;
  position: absolute;
  left: 1.9rem;
  bottom: -0.3rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__logo:hover {
  color: #FF3946; }

.top-panel__logo:hover::before {
  background: #314584; }

.top-panel__menu {
  margin-top: 7.1rem;
  margin-left: 1.1rem; }

.top-panel__menu-link {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #314584;
  text-decoration: none;
  margin-right: 4.2rem;
  position: relative;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__menu-link:last-child {
  margin-right: 0rem; }

.top-panel__menu-link::before {
  content: '';
  width: 100%;
  height: 0.3rem;
  background: #FF3946;
  position: absolute;
  bottom: -0.5rem;
  left: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0; }

.top-panel__menu-link.active::before {
  opacity: 1; }

.top-panel__menu-link:hover {
  color: #FF3946; }

.top-panel__menu-link:hover::before {
  background: #314584;
  opacity: 1; }

.top-panel__contact-us {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  text-decoration: none;
  -webkit-box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  -webkit-border-radius: .2rem;
          border-radius: .2rem;
  margin-top: 5rem;
  margin-right: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 6.5rem;
  position: relative;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #fff; }

.top-panel__contact-us:hover {
  background: #314584;
  color: #fff; }

.top-panel__contact-us:hover .top-panel__arrow-icon,
.top-panel__contact-us:hover .top-panel__arrow-icon::before,
.top-panel__contact-us:hover .top-panel__arrow-icon::after {
  background: #fff; }

.top-panel__arrow-icon {
  position: absolute;
  width: 2.8rem;
  height: 0.2rem;
  background: #FF3946;
  top: 50%;
  right: 2.4rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__arrow-icon::before, .top-panel__arrow-icon::after {
  content: '';
  width: 1.2rem;
  height: 0.2rem;
  position: absolute;
  background: #FF3946;
  right: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__arrow-icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.5rem; }

.top-panel__arrow-icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.5rem; }

.top-panel__select-container {
  position: absolute;
  top: 6.7rem;
  right: 46.9rem; }

.top-panel__select {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #314584;
  width: 3rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  position: relative; }

.top-panel__select::before {
  content: '';
  position: absolute;
  top: 1rem;
  right: -1rem;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-color: #314584 transparent transparent transparent; }

.top-panel__select.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top-panel__options-container {
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__options-container.active {
  opacity: 1; }

.top-panel__option {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #314584;
  width: 3rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top-panel__option:hover {
  background: #314584;
  color: #fff; }

.top-panel__option.active {
  background: #314584;
  color: #fff; }

.header__text-block {
  width: 56rem;
  margin-top: 35.8rem; }

.header__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 7.3rem;
  line-height: 9.5rem;
  letter-spacing: .05rem;
  color: #314584;
  margin-left: 1.5rem; }

.header__paragraph {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: .05rem;
  color: #6E757A;
  margin-top: 3.1rem;
  margin-left: 0.8rem; }

.header__links-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.6rem; }

.header__more-about-us {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
  background: #FF3946;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  padding: 1.8rem 3.6rem;
  margin-left: 1.5rem;
  -webkit-box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.header__more-about-us:hover {
  background: #314584; }

.header__get-in-touch {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #314584;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-left: 3.8rem; }

.header__get-in-touch:hover {
  color: #FF3946; }

.post-header {
  margin-top: 38.3rem;
  padding-bottom: 13rem; }

.post-header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.post-header__block1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 37rem; }

.post-header__block2 {
  width: -webkit-calc(120rem - 37rem);
  width: calc(120rem - 37rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.post-header__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 6.5rem;
  letter-spacing: .05rem;
  color: #314584;
  width: 100%;
  margin-left: 1.4rem; }

.post-header__get-in-touch {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  background: #FF3946;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  letter-spacing: .05rem;
  margin-top: 4rem;
  margin-left: 1.4rem;
  padding: 1.4rem 3.2rem;
  -webkit-box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.post-header__get-in-touch:hover {
  background: #314584; }

.post-header__item {
  width: 32rem;
  height: 38.5rem;
  margin-top: 2rem;
  margin-left: 7rem;
  padding-left: 4.2rem;
  padding-right: 2rem;
  -webkit-box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  background: #fff; }

.post-header__item-icon {
  width: 6.5rem;
  height: 5.6rem; }

.post-header__item1 .post-header__item-icon {
  margin-top: 3.1rem;
  background: url("../assets/post-header__icon1.png") no-repeat; }

.post-header__item2 .post-header__item-icon {
  margin-top: 3.7rem;
  background: url("../assets/post-header__icon2.png") no-repeat; }

.post-header__item-headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3.9rem;
  color: #314584;
  width: 100%;
  letter-spacing: .05rem;
  margin-top: 5rem; }

.post-header__item-paragraph {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #314584;
  width: 100%;
  letter-spacing: .05rem;
  margin-top: 2.9rem; }

.about-us {
  background: url("../assets/about-us__image.jpg") no-repeat 4.5rem 11.6rem;
  padding-bottom: 12rem; }

.about-us__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.about-us__slider-container {
  margin-top: 10.2rem; }

.about-us__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  text-transform: uppercase;
  margin-left: 0.6rem; }

.about-us__slider {
  width: 59.5rem;
  height: auto; }

.about-us__slide {
  width: 59.5rem;
  height: auto; }

.about-us__slide-headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: .05rem;
  color: #314584;
  margin-top: 2.6rem;
  margin-left: 0.5rem;
  padding-right: 18rem; }

.about-us__slide-paragraph {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: .05rem;
  color: #314584;
  margin-top: 5rem;
  margin-left: 0.4rem; }

.about-us__slide-paragraph:last-child {
  margin-top: 0rem; }

.about-us__slider-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4.7rem;
  margin-left: 0.6rem; }

.about-us__slider-previous, .about-us__slider-next {
  width: 3.4rem;
  height: 2rem;
  cursor: pointer;
  position: relative; }

.about-us__slider-previous:hover .about-us__slider-previous-icon {
  width: 2.8rem;
  background: #314584; }

.about-us__slider-previous:hover .about-us__slider-previous-icon::before,
.about-us__slider-previous:hover .about-us__slider-previous-icon::after {
  background: #314584; }

.about-us__slider-next:hover .about-us__slider-next-icon {
  width: 2.8rem;
  background: #314584; }

.about-us__slider-next:hover .about-us__slider-next-icon::before,
.about-us__slider-next:hover .about-us__slider-next-icon::after {
  background: #314584; }

.about-us__slider-previous-icon, .about-us__slider-next-icon {
  width: 1.4rem;
  height: 0.2rem;
  background: #C3B9C3;
  position: absolute;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.about-us__slider-previous-icon::before, .about-us__slider-previous-icon::after, .about-us__slider-next-icon::before, .about-us__slider-next-icon::after {
  content: '';
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  background: #C3B9C3; }

.about-us__slider-previous-icon::before, .about-us__slider-previous-icon::after {
  left: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.about-us__slider-previous-icon::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -0.4rem; }

.about-us__slider-previous-icon::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.4rem; }

.about-us__slider-next-icon::before, .about-us__slider-next-icon::after {
  right: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.about-us__slider-next-icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.4rem; }

.about-us__slider-next-icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.4rem; }

.about-us__slider-previous-icon {
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative; }

.about-us__slider-next-icon {
  top: 50%;
  right: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.portfolio {
  padding-bottom: 8rem; }

.portfolio__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.portfolio__top-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%; }

.portfolio__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: .05rem;
  color: #314584;
  width: 40rem;
  margin-top: 4rem;
  margin-left: 1.4rem; }

.portfolio__slider-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.2rem;
  margin-right: 2rem; }

.portfolio__slider-previous, .portfolio__slider-next {
  width: 3.4rem;
  height: 2rem;
  cursor: pointer;
  position: relative; }

.portfolio__slider-previous:hover .portfolio__slider-previous-icon {
  width: 2.8rem;
  background: #314584; }

.portfolio__slider-previous:hover .portfolio__slider-previous-icon::before,
.portfolio__slider-previous:hover .portfolio__slider-previous-icon::after {
  background: #314584; }

.portfolio__slider-next:hover .portfolio__slider-next-icon {
  width: 2.8rem;
  background: #314584; }

.portfolio__slider-next:hover .portfolio__slider-next-icon::before,
.portfolio__slider-next:hover .portfolio__slider-next-icon::after {
  background: #314584; }

.portfolio__slider-previous-icon, .portfolio__slider-next-icon {
  width: 1.4rem;
  height: 0.2rem;
  background: #C3B9C3;
  position: absolute;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__slider-previous-icon::before, .portfolio__slider-previous-icon::after, .portfolio__slider-next-icon::before, .portfolio__slider-next-icon::after {
  content: '';
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  background: #C3B9C3; }

.portfolio__slider-previous-icon::before, .portfolio__slider-previous-icon::after {
  left: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__slider-previous-icon::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -0.4rem; }

.portfolio__slider-previous-icon::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.4rem; }

.portfolio__slider-next-icon::before, .portfolio__slider-next-icon::after {
  right: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__slider-next-icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.4rem; }

.portfolio__slider-next-icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.4rem; }

.portfolio__slider-previous-icon {
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative; }

.portfolio__slider-next-icon {
  top: 50%;
  right: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.portfolio__slider {
  width: 117rem;
  height: auto;
  margin-top: 6.1rem; }

.portfolio__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.portfolio__slide-item {
  width: 37.1rem;
  height: 28rem;
  background: url("http://placekitten.com/371/280") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  margin: 1.4rem; }

.portfolio__slide-item:first-child {
  margin-left: 0rem; }

.portfolio__slide-item:nth-child(4n) {
  margin-left: 0rem; }

.portfolio__slide-item:nth-child(3n) {
  margin-right: 0rem; }

.portfolio__slide-item:nth-child(6n) {
  margin-right: 0rem; }

.portfolio__see-more {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  margin-top: 4.3rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.portfolio__see-more:hover {
  color: #314584; }

.blog {
  padding-top: 6.5rem;
  padding-bottom: 6rem; }

.blog__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.blog__top-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%; }

.blog__section-name {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  text-transform: uppercase;
  margin-left: 2.3rem; }

.blog__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: .05rem;
  color: #314584;
  width: 50rem;
  margin-top: 1.6rem;
  margin-left: 1.4rem; }

.blog__slider-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.2rem;
  margin-right: 2rem; }

.blog__slider-previous, .blog__slider-next {
  width: 3.4rem;
  height: 2rem;
  cursor: pointer;
  position: relative; }

.blog__slider-previous:hover .blog__slider-previous-icon {
  width: 2.8rem;
  background: #314584; }

.blog__slider-previous:hover .blog__slider-previous-icon::before,
.blog__slider-previous:hover .blog__slider-previous-icon::after {
  background: #314584; }

.blog__slider-next:hover .blog__slider-next-icon {
  width: 2.8rem;
  background: #314584; }

.blog__slider-next:hover .blog__slider-next-icon::before,
.blog__slider-next:hover .blog__slider-next-icon::after {
  background: #314584; }

.blog__slider-previous-icon, .blog__slider-next-icon {
  width: 1.4rem;
  height: 0.2rem;
  background: #C3B9C3;
  position: absolute;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__slider-previous-icon::before, .blog__slider-previous-icon::after, .blog__slider-next-icon::before, .blog__slider-next-icon::after {
  content: '';
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  background: #C3B9C3; }

.blog__slider-previous-icon::before, .blog__slider-previous-icon::after {
  left: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__slider-previous-icon::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -0.4rem; }

.blog__slider-previous-icon::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.4rem; }

.blog__slider-next-icon::before, .blog__slider-next-icon::after {
  right: 0rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__slider-next-icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.4rem; }

.blog__slider-next-icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.4rem; }

.blog__slider-previous-icon {
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative; }

.blog__slider-next-icon {
  top: 50%;
  right: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.blog__slider {
  width: 100%;
  margin-top: 1.6rem;
  padding-left: 1.1rem; }

.blog__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: cemter;
  -webkit-align-items: cemter;
      -ms-flex-align: cemter;
          align-items: cemter;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0rem auto 0rem; }

.blog__item {
  position: relative;
  width: 37rem;
  height: 35rem;
  margin-left: 2.8rem;
  padding-top: 4.9rem;
  padding-left: 4.2rem;
  padding-right: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #fff; }

.blog__item:first-child {
  margin-left: 0rem; }

.blog__item-headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #314584;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__item-date {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  color: #6E757A;
  margin-top: 1.6rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__item-paragraph {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: .05rem;
  color: #314584;
  margin-top: 3.3rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__item-link-container {
  text-decoration: none;
  display: block;
  position: absolute;
  width: 3.3rem;
  height: 2rem;
  bottom: 4.3rem;
  right: 2.7rem; }

.blog__item-link-icon {
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  background: #FF3946;
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__item-link-icon::before, .blog__item-link-icon::after {
  content: '';
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  background: #FF3946;
  right: -0.2rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blog__item-link-icon::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.5rem; }

.blog__item-link-icon::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.5rem; }

.blog__item:hover {
  background: #FF3946; }

.blog__item:hover .blog__item-headline, .blog__item:hover .blog__item-date, .blog__item:hover .blog__item-paragraph {
  color: #fff; }

.blog__item:hover .blog__item-link-icon, .blog__item:hover .blog__item-link-icon::before, .blog__item:hover .blog__item-link-icon::after {
  background: #fff; }

.contact-us {
  padding-top: 5.9rem;
  padding-bottom: 6.9rem; }

.contact-us__section-name {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  text-transform: uppercase;
  margin-left: 1.4rem; }

.contact-us__headline {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: .05rem;
  color: #314584;
  margin-left: 1.4rem;
  margin-top: 1.8rem; }

.contact-us__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 4.2rem; }

.contact-us__form .row {
  width: 100%; }

.contact-us__form .row1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-us__input {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  outline: none;
  border: none;
  background: #F4FAFE;
  color: grey;
  resize: none;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  cursor: pointer; }

.contact-us__input::-webkit-input-placeholder {
  color: #314584; }

.contact-us__input::-ms-input-placeholder {
  color: #314584; }

.contact-us__input::placeholder {
  color: #314584; }

.contact-us__email {
  width: 57rem; }

.contact-us__subject {
  width: 57rem; }

.contact-us__message {
  width: 100%;
  padding-bottom: 0rem;
  height: 12rem;
  margin-top: 3.9rem; }

.contact-us__send-button {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #fff;
  border: none;
  background: #FF3946;
  outline: none;
  -webkit-border-radius: 5rem;
          border-radius: 5rem;
  margin-top: 6.5rem;
  padding: 1.7rem 3.8rem;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.contact-us__send-button:hover {
  background: #314584; }

.footer {
  background: #314584;
  padding-top: 6.6rem;
  padding-bottom: 5.2rem; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__logo {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #fff;
  text-transform: uppercase; }

.footer__slogan {
  margin: 0rem;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: .05rem;
  color: #FF3946;
  text-transform: uppercase;
  margin-top: 1.1rem; }

.footer__menu {
  margin-top: 3.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__menu-link {
  text-decoration: none;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  color: #fff;
  margin-left: 4.2rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.footer__menu-link:hover {
  color: #FF3946; }

.footer__menu-link:first-child {
  margin-left: 0rem; }

.footer__copy {
  margin: 0rem;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  color: #fff;
  margin-top: 5.2rem; }

.footer__socials-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.9rem; }

.footer__social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8.6rem; }

.footer__social-link:first-child {
  margin-left: 0rem; }

.footer__social-link svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.8rem;
  height: 3.8rem; }

.footer__social-link svg path {
  fill: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.modal__overlay {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  z-index: 20;
  display: none; }

.modal__contact-us-error {
  z-index: 30;
  width: 40rem;
  height: 10rem;
  background: #314584;
  position: fixed;
  top: -400%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.modal__contact-us-error-paragraph {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 2rem; }

.modal__contact-us-success {
  z-index: 30;
  width: 40rem;
  height: 10rem;
  background: #314584;
  position: fixed;
  top: -400%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.modal__contact-us-success-paragraph {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 2rem; }
