// Fonts
$osb: OpenSans-Bold, sans-serif
$rbl: Roboto-Black, sans-serif
$rb: Roboto-Bold, sans-serif
$rl: Roboto-Light, sans-serif
$rm: Roboto-Medium, sans-serif
$rr: Roboto-Regular, sans-serif
$rth: Roboto-Thin, sans-serif
$sspb: SourceSansPro-Bold, sans-serif

$bsh: 0.2rem 0.2rem 1rem rgba(#000, 0.25)

// Colors
$space-grey: #464646
$pink: #E65B70
$purple: #512950
$red: #c4233e
$yellow: #FFC038
$green: #07b75f
$orange: #F58220
$blue: #178CC6

$media-green: #254823
$media-pink: #59363B
$media-blue: #2B4146
$media-orange: #85552B
$media-purple: #2D1D34