mixin general()

	.general
		.general__wrapper.wrapper
			h1.general__headline.wow.animate__animated.animate__zoomInDown Find the Best Solution
				|
				br
				| in Seconds
			h3.general__subheading If debugging is the process of removing software bugs.
			.general__links-container
				a.prevdef.general__link.general__get-started(href="#") get started
				a.prevdef.general__link.general__try-for-free(href="#") try for free
			img.general__image(src=require('../components/general/img/general__image.webp'), alt="general picture")
