@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default

.wrapper
	@include wrapper(96rem, auto)

// 1rem === 10px

.top-panel
	padding-bottom: 0.5rem
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
	&__text-container
		@include flex(row, wrap, flex-start, flex-start)
		padding-top: 1.3rem
		padding-left: 0.1rem
	&__tel
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #696969
		text-align: left
	&__email
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #696969
		text-align: left
		margin-left: 6.6rem
	&__search-input
		outline: none
		border: none
		width: 21rem
		background: url('../assets/header__search-icon.png') no-repeat 18.5rem center, #E1E1E1
		border-radius: 2rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #696969
		text-align: left
		margin-top: 0.5rem
		padding-top: .6rem
		padding-bottom: .6rem
		padding-left: 1rem
		padding-right: 2.9rem

.header
	background: #222
	position: relative
	padding-bottom: 1.9rem
	&::before
		content: ''
		@include size(100%, .2rem)
		background: $green
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
	&__logo-container
		text-decoration: none
		@include flex(column, wrap, flex-start, flex-start)
		padding-top: 1.8rem
	&__logo
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 3.2rem
		color: #fff
		text-align: center
		text-transform: uppercase
		span
			font-size: 2.6rem
	&__logo-description
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #FFF
		text-align: left
		margin-top: 0.4rem
	&__menu-container
		margin-top: 4.2rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, flex-start, stretch)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, flex-start, stretch)
		position: relative
		&::before
			content: ''
			@include size(.1rem, 100%)
			background: #828282
			position: absolute
			top: 50%
			right: 0rem
			transform: translateY(-50%)
		&:last-child::before
			content: none
	&__menu-list-item:first-child &__menu-link
		padding-left: 0rem
	&__menu-list-item:last-child &__menu-link
		padding-right: 0rem
	&__menu-link
		max-width: 11.7rem
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: $green
		text-transform: uppercase
		text-align: left
		padding: 0.2rem 2rem
		transition: .2s
		&:hover
			color: lighten($green, 10%)
	&__menu-link-description
		text-decoration: none
		max-width: 7.1rem
		margin: 0rem
		font-family: 'Arial'
		font-size: 1.2rem
		font-weight: 400
		color: #CCC
		text-align: left
		text-transform: none
		margin-top: 0.4rem

.main
	&__wrapper
	&__slider-container
		width: 100%
		height: 38rem
		@include flex(row, wrap, center, center)
		position: relative
	&__slider
		@include flex(row, wrap, center, center)
		width: 100%
		height: 38rem
	&__slide
		width: 100%
		height: 38rem
		background: $space-grey
		margin: 0rem auto
	&__slide1
	&__slide2
	&__slide3
	&__slider-button
		outline: none
		cursor: pointer
		@include size(4.8rem, 4.8rem)
		border: .2rem solid #666666
		border-radius: 50%
		position: absolute
		top: 50%
		transform: translateY(-50%)
	&__prev-button
		background: url('../assets/main__arrow-left.png') no-repeat center, #000
		left: 1.4rem
	&__next-button
		background: url('../assets/main__arrow-right.png') no-repeat center, #000
		right: 1.4rem

.section1
	padding-top: 4rem
	&__wrapper
		background: url('../assets/section1__splitter.png') no-repeat center 12.9rem
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.8rem
		line-height: 4.2rem
		color: #333
		font-style: italic
		padding: 0rem 3rem
		text-align: center
	&__blocks-container
		@include flex(row, wrap, space-between, stretch)
		margin-top: 9.8rem
	&__block
		width: 22.5rem
		background: #F0F0F0
		@include flex(column, wrap, flex-start, flex-start)
		padding-bottom: 1.5rem
	&__block1
	&__block2
	&__block3
	&__block4
	&__block-img
		@include size(22.5rem, 14rem)
		background: $space-grey
	&__block-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.8rem
		color: $green
		text-align: left
		margin-top: 1.8rem
		margin-left: 1.4rem
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #666
		text-align: left
		margin-top: 1.3rem
		margin-left: 1.4rem
		padding-right: 4rem

.section2
	padding-bottom: 4.7rem
	&__wrapper
		background: url('../assets/section1__splitter.png') no-repeat center 5.1rem
		@include flex(row, wrap, space-between, stretch)
		padding-top: 10.2rem
	&__block
		@include size(49%, auto)
	&__block1
	&__block2
	&__block-headline-container
		@include flex(row, wrap, space-between, flex-start)
		position: relative
		padding-bottom: 1.1rem
		&::before
			content: ''
			@include size(100%, .1rem)
			background: #E2E2E2
			position: absolute
			bottom: 0rem
			left: 0rem
	&__headline
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.8rem
		color: #666666
		text-transform: capitalize
		text-align: left
	&__view-more-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $green
		text-transform: capitalize
		text-align: left
		margin-top: 0.5rem
		margin-right: 0.2rem
	&__items-container
		@include flex(row, wrap, flex-start, stretch)
		width: 100%
	&__block1-item
		@include size(50%, auto)
		@include flex(row, wrap, flex-start, flex-start)
		padding-top: 2rem
	&__block1-item1
	&__block1-item2
	&__block1-item3
		margin-top: 0.8rem
	&__block1-item4
		margin-top: 0.8rem
	&__block1-item-img
		@include size(4.8rem, 4.8rem)
		background: $space-grey
	&__block1-item-text-container
		@include flex(column, wrap, flex-start, flex-start)
		width: calc(100% - 4.8rem)
		padding-left: 1.7rem
	&__block1-item-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: $green
		text-align: left
	&__block1-item-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2rem
		color: #666
		text-align: left
		margin-top: 1.1rem
		padding-right: 2rem
	&__block2-items-container
		@include flex(row, wrap, space-between, stretch)
		padding-top: 1.9rem
	&__block2-item
		@include size(48%, auto)
		@include flex(column, wrap, flex-start, flex-start)
	&__block2-item1
	&__block2-item2
	&__block2-img
		@include size(22.5rem, 22.5rem)
		background: $space-grey
	&__block2-name
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.3rem
		color: #666
		margin-top: 2.5rem
		margin-left: 0.4rem
		span
			font-weight: 400
	&__block2-view-profile-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $green
		text-align: left
		margin-top: 1rem
		margin-left: 0.4rem

.contact
	background: #222
	position: relative
	padding-top: 2.9rem
	padding-bottom: 3rem
	&::before
		content: ''
		@include size(100%, .1rem)
		background: #000
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
		@include flex(row, wrap, flex-start, flex-start)
	&__block
		width: calc(100% / 4)
		@include flex(column, wrap, flex-start, flex-start)
	&__block1
		padding-left: 0rem
	&__block2
		padding-left: 0.4rem
	&__block3
		padding-left: 1rem
	&__block4
		padding-left: 1.4rem
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.2rem
		color: #666
		text-transform: uppercase
		text-align: left
	&__img-container
		@include size(22.3rem, 9.8rem)
		border: .1rem solid #666666
		@include flex(row, wrap, center, center)
		margin-top: 2rem
	&__img
		@include size(21.5rem, 9rem)
		background: $space-grey
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #666
		text-align: left
		margin-top: 1.9rem
		padding-right: 5rem
	&__read-more-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: $green
		text-transform: capitalize
		text-align: left
		margin-top: 1.2rem
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(column, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 2rem
		padding-left: 1.5rem
	&__list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, flex-start, flex-start)
		position: relative
		margin-top: 1.4rem
		width: 90%
		&:first-child
			margin-top: 0rem
		&::before
			content: ''
			@include size(106%, .1rem)
			background: #3A3A3A
			position: absolute
			bottom: -0.6rem
			left: -1.4rem
		&::after
			content: '\00bb'
			position: absolute
			font-family: $gg
			font-weight: 400
			font-size: 1.4rem
			color: #666666
			top: 43%
			left: -1.5rem
			transform: translateY(-50%)
	&__list-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: $green
		text-align: left
	&__post-container
		width: 100%
		@include flex(column, wrap, flex-start, flex-start)
		text-decoration: none
		margin-top: 1.9rem
	&__post-title
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.4rem
		color: #666
		text-transform: capitalize
		text-align: left
	&__post-info
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.1rem
		color: #666
		text-align: left
		margin-top: 0rem
	&__post-day
	&__post-date
	&__post
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		line-height: 1.8rem
		color: #666
		text-align: left
		padding-right: 1rem
		margin-top: 0.1rem
	&__tel
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #666
		text-align: left
		margin-top: 1.7rem
	&__fax
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #666
		text-align: left
	&__email
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #666
		text-align: left
		margin-top: 0.4rem
		span
			color: $green
	&__form
		@include flex(column, wrap, flex-start, flex-start)
		width: 100%
		padding-top: 4.2rem
	&__input
		outline: none
		border: .1rem solid transparent
		width: 100%
		border-radius: .6rem
		background: #353535
		padding: 0.8rem 1rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #807D77
		margin-top: 2.2rem
		transition: .2s
		&::placeholder
			text-transform: capitalize
	&__name-input
	&__email-input
		margin-top: 1rem
	&__submit-button
		outline: none
		border: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		background: $green
		border-radius: .6rem
		text-transform: uppercase
		padding: 0.9rem 2rem
		margin-top: 0.8rem
		cursor: pointer
		&:hover
			background: darken($green, 3%)
		&:active
			background: $green

.copy
	background: #222
	position: relative
	padding-top: 2.3rem
	padding-bottom: 2.5rem
	&::before
		content: ''
		@include size(100%, .1rem)
		background: #3A3A3A
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		@include flex(row, wrap, space-between, center)
	&__paragraph
		width: 50%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #666
		text-align: left
	&__by-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #666
		transition: .2s
		&:hover
			color: lighten(#666666, 30%)

.modal
	&__overlay
		@include size(100%, 100%)
		background: rgba($space-grey, .9)
		position: fixed
		top: 0rem
		left: 0rem
		display: none
	&__window
		@include size(31rem, 10rem)
		background: #000
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@include flex(row, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__error-container
	&__success-container
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center

*
	// @include outline($blue)