* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default; }

.wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto; }

.header {
  background: #000;
  padding: 1rem 1rem; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__logo-container {
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__logo-paragraph1 {
    margin: 0rem;
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    text-align: left; }
  .header__logo-paragraph2 {
    margin: 0rem;
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    border-radius: .3rem;
    background: #4A90E2; }
  .header__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-link {
    text-decoration: none;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: relative; }
    .header__menu-link::before {
      content: '';
      width: 100%;
      height: 0.1rem;
      background: #fff;
      position: absolute;
      bottom: -.2rem;
      left: 0rem;
      opacity: 0; }
    .header__menu-link:hover::before {
      opacity: 1; }
  .header__search-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
  .header__search-input {
    outline: none;
    border: none;
    border-radius: .3rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
    top: 0rem;
    right: -100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header__search-input::-webkit-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem; }
    .header__search-input::-moz-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem; }
    .header__search-input:-ms-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem; }
    .header__search-input::-ms-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem; }
    .header__search-input::placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem; }
  .header__search-button {
    width: 3rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("../assets/header__search-icon.png") no-repeat center, #000; }

.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main__block {
  height: 56rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main__block1 {
  width: 37.1rem;
  padding-left: 0.4rem; }

.main__block2 {
  width: -webkit-calc(100% - 37.1rem);
  width: calc(100% - 37.1rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0rem; }

.main__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: .3rem;
  overflow: hidden;
  position: relative; }
  .main__item::before {
    content: '';
    width: 100%;
    height: 70%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 7.5e-05)), color-stop(82.82%, rgba(0, 0, 0, 0.75)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    position: absolute;
    bottom: 0rem;
    left: 0rem; }

.main__item1 {
  width: 100%;
  height: 100%;
  background: url("../assets/main__image1.jpg") no-repeat center;
  background-size: 110%; }

.main__item2 {
  width: 37rem;
  height: 26.5rem;
  background: url("../assets/main__image2.jpg") no-repeat center;
  background-size: cover;
  margin: 1.5rem;
  margin-top: 0rem;
  margin-left: 2.8rem; }

.main__item3 {
  width: 37rem;
  height: 26.5rem;
  background: url("../assets/main__image3.jpg") no-repeat center;
  background-size: cover;
  margin: 1.5rem;
  margin-top: 0rem;
  margin-right: 0rem; }

.main__item4 {
  width: 37rem;
  height: 26.5rem;
  background: url("../assets/main__image4.jpg") no-repeat center;
  background-size: cover;
  margin: 1.5rem;
  margin-left: 2.8rem; }

.main__item5 {
  width: 37rem;
  height: 26.5rem;
  background: url("../assets/main__image5.jpg") no-repeat center;
  background-size: cover;
  margin: 1.5rem;
  margin-right: 0rem; }

.main__vehicle {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  background: #4A90E2;
  border-radius: .3rem;
  position: absolute;
  top: 0rem;
  left: 0rem; }

.main__text-container {
  text-decoration: none;
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main__post-info {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  text-align: left; }

.main__post-title {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.6rem;
  color: #fff;
  text-align: left; }

.blog__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__center {
  width: 77rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right {
  width: 27rem; }

.blog__center-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__center-img {
  border-radius: .3rem; }

.blog__center-text-container {
  width: 73rem;
  background: #fff;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
  border-radius: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none; }

.blog__center-vehicle {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  background: #4A90E2;
  border-radius: .3rem; }

.blog__center-headline {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 2.5rem;
  color: #171717;
  text-align: left; }

.blog__center-post-info {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  color: #666;
  text-align: left; }

.blog__center-post {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #666;
  text-align: left; }

.blog__center-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__center-pagination-prev-button {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: #fff;
  border-radius: .3rem;
  border: .1rem solid #E5E5E5;
  position: relative; }
  .blog__center-pagination-prev-button:disabled::before, .blog__center-pagination-prev-button:disabled::after {
    opacity: 0.4; }
  .blog__center-pagination-prev-button::before, .blog__center-pagination-prev-button::after {
    content: '';
    width: 0.1rem;
    height: 1rem;
    background: #171717;
    position: absolute;
    left: .2rem; }
  .blog__center-pagination-prev-button::before {
    top: .1rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .blog__center-pagination-prev-button::after {
    bottom: .1rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.blog__center-pagination-list {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__center-pagination-list-item {
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__center-pagination-link {
  text-decoration: none;
  color: #171717;
  background: #fff;
  border-radius: .3rem;
  border: .1rem solid #E5E5E5;
  height: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1.6rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .blog__center-pagination-link:hover {
    background: #000;
    color: #fff; }

.blog__center-pagination-next-button {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: #fff;
  border-radius: .3rem;
  border: .1rem solid #E5E5E5;
  position: relative; }
  .blog__center-pagination-next-button:disabled::before, .blog__center-pagination-next-button:disabled::after {
    opacity: 0.4; }
  .blog__center-pagination-next-button::before, .blog__center-pagination-next-button::after {
    content: '';
    width: 0.1rem;
    height: 1rem;
    background: #171717;
    position: absolute;
    right: .2rem; }
  .blog__center-pagination-next-button::before {
    top: .1rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .blog__center-pagination-next-button::after {
    bottom: .1rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.blog__right-top-post-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-top-post-img {
  width: 100%;
  height: 20.1rem; }

.blog__right-top-post-author {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.8rem;
  color: #171717;
  text-align: left; }

.blog__right-top-post-profession {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 1.4rem;
  color: #999;
  text-align: left; }

.blog__right-top-post {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #666;
  text-align: left; }

.blog__right-top-post-continue-reading {
  width: 100%;
  text-decoration: none;
  background: #232323;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0rem;
  border-radius: .3rem;
  text-align: center; }

.blog__right-popular-posts-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }

.blog__right-popular-posts-title {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #171717;
  text-align: left; }

.blog__right-popular-post {
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-popular-post-img-container {
  width: 100%;
  height: 19.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }

.blog__right-popular-post-img {
  width: 100%;
  height: 19.5rem;
  border-radius: .3rem; }

.blog__right-popular-post-img1 {
  background: url("../assets/blog__popular-post-img1.jpg") no-repeat center;
  background-size: cover; }

.blog__right-popular-post-img2 {
  background: url("../assets/blog__popular-post-img2.jpg") no-repeat center;
  background-size: cover; }

.blog__right-popular-post-img3 {
  background: url("../assets/blog__popular-post-img3.jpg") no-repeat center;
  background-size: cover; }

.blog__right-popular-post-vehicle {
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  background: #4A90E2;
  border-radius: .3rem;
  position: absolute;
  top: 0rem;
  left: 0rem; }

.blog__right-popular-post-headline {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #171717;
  text-align: left; }

.blog__right-popular-post-info {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  color: #666;
  text-align: left; }

.blog__right-instagram-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-instagram-headline {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.8rem;
  color: #171717;
  text-align: left; }

.blog__right-instagram-imgs-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-instagram-img-container {
  text-decoration: none;
  margin: .5rem;
  width: 13rem;
  height: 13rem; }
  .blog__right-instagram-img-container:first-child {
    margin-left: 0rem; }
  .blog__right-instagram-img-container:nth-child(2) {
    margin-right: 0rem; }
  .blog__right-instagram-img-container:nth-child(3) {
    margin-left: 0rem; }
  .blog__right-instagram-img-container:nth-child(4) {
    margin-right: 0rem; }
  .blog__right-instagram-img-container:nth-child(5) {
    margin-left: 0rem; }
  .blog__right-instagram-img-container:nth-child(6) {
    margin-right: 0rem; }

.blog__right-instagram-img {
  border-radius: .3rem; }

.blog__right-view-instagram {
  width: 100%;
  text-decoration: none;
  background: url("../assets/blog__view-instagram-icon.png") no-repeat 6rem center, #232323;
  border-radius: .3rem;
  padding: 1rem 0rem;
  text-align: center;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff; }

.blog__right-tags-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-tags-title {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.8rem;
  color: #171717;
  text-align: left; }

.blog__right-tags {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-tag {
  text-decoration: none;
  background: #EBEBEB;
  border-radius: .3rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: #171717; }

.blog__right-subscribe-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__right-subscribe-title {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  color: #171717;
  text-align: left; }

.blog__right-subscribe-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #666;
  text-align: left; }

.blog__subscribe-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blog__subscribe-input {
  outline: none;
  border: .1rem solid #AEB3BB;
  border-radius: .3rem;
  padding: 1rem 1rem;
  width: 100%;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: #AEB3BB;
  border: .1rem solid transparent; }
  .blog__subscribe-input::-webkit-input-placeholder {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }
  .blog__subscribe-input::-moz-placeholder {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }
  .blog__subscribe-input:-ms-input-placeholder {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }
  .blog__subscribe-input::-ms-input-placeholder {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }
  .blog__subscribe-input::placeholder {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }

.blog__subscribe-submit-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #232323;
  width: 100%;
  border-radius: .3rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding: 1rem 0rem; }

.most-popular__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.most-popular__headline {
  width: 100%;
  margin: 0rem; }

.most-popular__items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.most-popular__item {
  width: 27rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none; }

.most-popular__img-container {
  width: 100%;
  height: 19.5rem;
  position: relative;
  overflow: hidden;
  border-radius: .3rem; }

.most-popular__img {
  width: 100%;
  height: 100%; }

.most-popular__img1 {
  background: url("../assets/most-popular__pic1.jpg");
  background-size: cover; }

.most-popular__img2 {
  background: url("../assets/most-popular__pic2.jpg");
  background-size: cover; }

.most-popular__img3 {
  background: url("../assets/most-popular__pic3.jpg");
  background-size: cover; }

.most-popular__img4 {
  background: url("../assets/most-popular__pic4.jpg");
  background-size: cover; }

.most-popular__vehicle {
  margin: 0rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: #4A90E2;
  border-radius: .3rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase; }

.most-popular__post-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.most-popular__post-headline {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #171717;
  text-align: left; }

.most-popular__post-info {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 1.4rem;
  color: #666;
  text-align: left; }

.footer {
  background: #171717; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .footer__block {
    width: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block-logo {
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__logo-paragraph1 {
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    text-align: left; }
  .footer__logo-paragraph2 {
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    background: #4A90E2;
    border-radius: .3rem;
    text-transform: uppercase; }
  .footer__block1-paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #fff;
    text-align: left; }
  .footer__keep-in-touch {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-align: left; }
  .footer__socials-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__social-link {
    width: 3.4rem;
    height: 3.4rem;
    background: #373737;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: .3rem; }
    .footer__social-link svg {
      width: 1.8rem;
      height: 1.8rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__social-link svg path {
        fill: #fff; }
  .footer__google-plus svg {
    width: 2.6rem;
    height: 2.6rem; }
  .footer__block2-headline {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-align: left; }
  .footer__post-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-decoration: none; }
  .footer__post-img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: .3rem; }
  .footer__post-img1 {
    background: url("../assets/footer__pic1.jpg") no-repeat center;
    background-size: cover; }
  .footer__post-img2 {
    background: url("../assets/footer__pic2.jpg") no-repeat center;
    background-size: cover; }
  .footer__post-img3 {
    background: url("../assets/footer__pic3.jpg") no-repeat center;
    background-size: cover; }
  .footer__post-text-container {
    width: -webkit-calc(100% - 9.5rem);
    width: calc(100% - 9.5rem); }
  .footer__post-title {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: #fff;
    text-align: left; }
  .footer__post-info {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
    color: #CECECE;
    text-align: left; }
  .footer__block3-headline {
    width: 100%;
    margin: 0rem;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-align: left; }
  .footer__form {
    width: 100%;
    margin: 0rem; }
  .footer__input {
    outline: none;
    border: .1rem solid transparent;
    width: 100%;
    background: #373737;
    border-radius: .3rem;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #AEB3BB; }
    .footer__input::-webkit-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem;
      color: #AEB3BB; }
    .footer__input::-moz-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem;
      color: #AEB3BB; }
    .footer__input:-ms-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem;
      color: #AEB3BB; }
    .footer__input::-ms-input-placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem;
      color: #AEB3BB; }
    .footer__input::placeholder {
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 1.4rem;
      color: #AEB3BB; }
  .footer__subscribe-button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    background: #232323;
    width: 100%;
    text-align: center;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0rem; }

.copy {
  background: #000; }
  .copy__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copy__copy-link {
    text-decoration: none;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff; }
  .copy__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copy__menu-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0rem;
    margin: 0rem;
    margin-right: 1rem; }
    .copy__menu-list-item:last-child {
      margin-right: 0rem; }
  .copy__menu-link {
    text-decoration: none;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff; }

.modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  position: fixed;
  top: 0rem;
  left: 0rem;
  display: none; }

.modal__window {
  width: 31rem;
  height: 10rem;
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0;
  z-index: -1; }

.modal__paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  text-align: center; }
