@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.lazyload {
	width: 100%;
	&__lazyelem-container {
		width: 100%;
		min-height: toRem(200);
		@include outline();
		background: url('./img/loading.gif') no-repeat center;
		background-size: 5%;
	}
	&__image {}
	&__lazymap-container {
		background: url('./img/loading.gif') no-repeat center;
		background-size: 5%;
		height: 600px;
	}
}

.__load-map {}
.__loading-icon {
	background: url('./img/loading.gif') no-repeat center;
	background-size: 5%;
	height: 50px;
}


// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
