@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.lazyload {
	padding: toRem(20);
	&__headline {
		width: auto;
		margin: 0;
		margin-top: toRem(50);
		margin-bottom: toRem(70);
	}
	// Fade effect on load for images
	img {
		display: block;
		border: 0;
		width: 100%;
	}
	img.lazy {
		opacity: 0;
	}
	img:not(.initial) {
		transition: opacity 1s;
	}
	img.initial,
	img.loaded,
	img.error {
		opacity: 1;
	}
	img:not([src]) {
		visibility: hidden;
	}
	// Lazy background
	&__background {
		display: block;
		width: 100%;
		min-height: 400px;
	}
}


// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
