
// font-family: 'OpenSans-Bold'
@font-face
	font-family: 'OpenSans-Bold'
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'OpenSans-ExtraBold'
@font-face
	font-family: 'OpenSans-ExtraBold'
	src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'OpenSans-Italic'
@font-face
	font-family: 'OpenSans-Italic'
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'OpenSans-Regular'
@font-face
	font-family: 'OpenSans-Regular'
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'OpenSans-SemiBold'
@font-face
	font-family: 'OpenSans-SemiBold'
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap