* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default;
  font-family: "Georgia"; }

.wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto; }

.header {
  position: relative;
  width: 100%;
  padding-top: 3rem; }
  .header::before {
    content: '';
    width: 100%;
    height: 0.5rem;
    background: #3BAFBE;
    position: absolute;
    top: 0rem;
    left: 0rem; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem; }
    .header__wrapper::before {
      content: '';
      width: 100rem;
      height: 0.1rem;
      background: #E2E2E2;
      position: absolute;
      bottom: 0rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .header__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__block2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .header__socials-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: #1F1F1F;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-right: 1rem; }
    .header__social-link:last-child {
      margin-right: 0rem; }
    .header__social-link:hover {
      background: #EE802F; }
    .header__social-link svg {
      width: 1.6rem;
      height: 1.6rem; }
      .header__social-link svg path {
        fill: #fff; }
  .header__google-plus svg {
    width: 2.4rem;
    height: 2.4rem; }
  .header__logo-container {
    text-decoration: none;
    margin-top: 1.9rem; }
  .header__logo {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 3.1rem;
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: left; }
    .header__logo span {
      font-size: 2.6rem; }
  .header__logo-description {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #999;
    text-align: left; }
  .header__search-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__search-input {
    outline: none;
    border: none;
    background: #333;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem 1.1rem;
    width: 21.7rem; }
    .header__search-input::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 1.2rem;
      color: #fff; }
    .header__search-input::-moz-placeholder {
      font-weight: 400;
      font-size: 1.2rem;
      color: #fff; }
    .header__search-input:-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.2rem;
      color: #fff; }
    .header__search-input::-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.2rem;
      color: #fff; }
    .header__search-input::placeholder {
      font-weight: 400;
      font-size: 1.2rem;
      color: #fff; }
  .header__search-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    background: #3BAFBE;
    border-radius: 1rem;
    padding: 1rem 0.9rem;
    margin-left: 0.4rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header__search-button:hover {
      background: #4bb9c7; }
  .header__menu-container {
    margin-top: 5rem; }
  .header__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 1.9rem; }
    .header__menu-list-item:last-child {
      margin-right: 0rem; }
  .header__menu-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2rem;
    color: #999;
    text-transform: uppercase;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header__menu-link:hover {
      color: #3BAFBE; }

.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: hidden; }
  .main__wrapper::before {
    content: '';
    width: 100%;
    height: 0.1rem;
    background: #E2E2E2;
    position: absolute;
    bottom: 0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.main__slider {
  width: 96rem;
  height: 41.8rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }
  .main__slider .owl-controls {
    position: absolute;
    bottom: 4.7rem;
    right: 0.8rem; }
    .main__slider .owl-controls .owl-page span {
      opacity: 1;
      margin: 0rem;
      width: 1.5rem;
      height: 1.5rem;
      background: #3BAFBE;
      border: 0.2rem solid #3BAFBE;
      margin-right: 0.4rem; }
    .main__slider .owl-controls .owl-page:last-child span {
      margin-right: 0rem; }
    .main__slider .owl-controls .owl-page.active span {
      background: none; }

.main__slide {
  width: 96rem;
  height: 41.8rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("../assets/main__monitor.png") no-repeat 0rem 5rem;
  padding-top: 10.9rem; }

.main__text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 51%; }

.main__headline {
  width: 100%;
  margin: 0rem;
  font-weight: 400;
  font-size: 4.2rem;
  color: #4A4A4A;
  text-transform: uppercase;
  text-align: left; }

.main__paragraph {
  width: 100%;
  margin: 0rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: #999;
  text-align: left;
  margin-top: 1.3rem; }

.main__read-more-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  background: #3BAFBE;
  border-radius: 1rem;
  padding: 0.7rem 0.8rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-top: 3.2rem; }
  .main__read-more-link:hover {
    background: #4bb9c7; }

.section1 {
  padding-top: 5rem; }
  .section1__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    overflow: hidden;
    padding-bottom: 5.1rem; }
    .section1__wrapper::before {
      content: '';
      width: 100%;
      height: 0.1rem;
      background: #E2E2E2;
      position: absolute;
      bottom: 0rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .section1__block {
    width: 30rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section1__block-headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: left;
    margin-top: 2.9rem; }
  .section1__block-paragraph {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.08rem;
    color: #999;
    text-align: left;
    margin-top: 1.8rem;
    padding-right: 1rem; }
  .section1__read-more-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background: #3BAFBE;
    border-radius: 1rem;
    padding: 0.9rem 0.8rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 1.7rem; }
    .section1__read-more-link:hover {
      background: #4bb9c7; }

.section2 {
  padding-top: 4.5rem;
  padding-bottom: 5.1rem; }
  .section2__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section2__headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.08rem;
    color: #666;
    text-align: center;
    font-style: italic;
    padding: 0rem 10rem; }
  .section2__block {
    width: 30rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 4.5rem; }
  .section2__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 4.2rem; }
    .section2__item:first-child {
      margin-top: 0rem; }
  .section2__item-img {
    border: .4rem solid #fff;
    -webkit-box-shadow: 0rem 0rem .1rem .1rem #D8D8D8;
            box-shadow: 0rem 0rem .1rem .1rem #D8D8D8; }
  .section2__item-text-container {
    width: -webkit-calc(100% - 9rem);
    width: calc(100% - 9rem);
    padding-left: 1.7rem;
    padding-top: 0.3rem; }
  .section2__item-headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #3BAFBE;
    text-transform: capitalize;
    text-align: left; }
  .section2__item-paragraph {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.92rem;
    color: #848C92;
    text-align: left;
    margin-top: 0.5rem; }

.footer {
  background: #252525;
  padding-top: 3.6rem;
  padding-bottom: 3.9rem; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .footer__block {
    width: 22rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block-headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
    text-align: left; }
  .footer__block-paragraph {
    text-decoration: none;
    width: 100%;
    margin: 0rem;
    font-size: 1.3rem;
    line-height: 1.92rem;
    color: #999;
    text-align: left; }
  .footer__company-name {
    margin-top: 2.1rem; }
  .footer__tel {
    margin-top: 0.8rem; }
  .footer__email span {
    color: #3BAFBE;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .footer__email span:hover {
      color: #5fc1cd; }
  .footer__list {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 1.9rem; }
  .footer__list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1rem;
    position: relative;
    width: 100%;
    margin-top: 0.4rem; }
    .footer__list-item:first-child {
      margin-top: 0rem; }
    .footer__list-item:first-child {
      margin-top: 0rem; }
    .footer__list-item::before {
      content: '';
      width: 100%;
      height: 0.1rem;
      background: #2C2C2C;
      position: absolute;
      bottom: 0rem;
      left: 0rem; }
  .footer__list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: #3BAFBE;
    text-transform: capitalize;
    text-align: left;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0.7rem 0rem; }
    .footer__list-link:hover {
      color: #5fc1cd; }
  .footer__post-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 2.5rem; }
  .footer__post-title {
    width: 100%;
    margin: 0rem;
    font-size: 1.3rem;
    color: #999;
    text-transform: capitalize;
    text-align: left; }
  .footer__post-info {
    width: 100%;
    margin: 0rem;
    font-size: 1.3rem;
    color: #999;
    text-align: left;
    margin-top: 0.6rem; }
  .footer__post {
    margin-top: 0.6rem; }
  .footer__read-more-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: #3BAFBE;
    text-transform: capitalize;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 1.1rem; }
    .footer__read-more-link:hover {
      color: #5fc1cd; }
  .footer__form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2.4rem; }
  .footer__input {
    outline: none;
    border: .1rem solid transparent;
    border-radius: 0.6rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #989898;
    background: #2C2C2C;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0.8rem 0.8rem;
    width: 100%; }
    .footer__input::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #989898; }
    .footer__input::-moz-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #989898; }
    .footer__input:-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #989898; }
    .footer__input::-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #989898; }
    .footer__input::placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #989898; }
  .footer__email-input {
    margin-top: 1rem; }
  .footer__submit-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background: #3BAFBE;
    border-radius: 0.6rem;
    padding: 0.9rem 1.5rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 0.8rem; }
    .footer__submit-button:hover {
      background: #4bb9c7; }
    .footer__submit-button:active {
      background: #3BAFBE; }

.copy {
  background: #1A1A1A;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .copy__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .copy__paragraph {
    width: 50%;
    font-weight: 400;
    font-size: 1.3rem;
    color: #999;
    text-align: left; }
  .copy__by-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: #999;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .copy__by-link:hover {
      color: #bfbfbf; }

.modal__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  left: 0rem;
  background: rgba(34, 34, 34, 0.9);
  display: none; }

.modal__window {
  width: 31rem;
  height: 10rem;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1; }

.modal__paragraph {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  text-align: center; }
