doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Gulp__Project
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" href="favicon.png")

		// Bootstrap
		//link(rel="stylesheet" href="libs/bootstrap/grid.min.css")

		//Font Awesome
		link(rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css")

		link(rel="stylesheet" href="libs/fancybox/fancybox-1.3.4/jquery.fancybox-1.3.4.css" type="text/css" media="screen")

		// Owl Carousel
		link(rel="stylesheet" href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")

		link(rel="stylesheet" href="libs/countdown/jquery.countdown.css")

		link(rel="stylesheet" href="css/fonts.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css", media="all and (max-width: 900px)")
	body
		// Content Start
		
		// Header
		.main#main
			.main__overlay
			#main__slider.main__slider
				.main__slide1.slide
				.main__slide2.slide
				.main__slide3.slide
			header.flex-container
				.content-top.flex-container
					.logo
						img(src="images/header__logo.png", alt="pic")
					.main-menu
						nav
							a.menu-trigger(href="#") Menu
							ul.flex-container
								li.flex-container
									a.first-link(href="#") Bicycles
								li.flex-container
									a.second-link(href="#categories") Categories
								li.flex-container
									a.third-link(href="#popular") Popular
								li.flex-container
									a.fourth-link(href="#contact") Contact
								li.flex-container
									a.cart(href="#")
										img(src="images/header__cart.png", alt="pic")
				.content-mid.flex-container
					h1 Handmade Bicycle
					p You #[span create] the #[span journey,] we supply the #[span parts.]
					a.shop-bikes(href="#categories") Shop Bikes
		
		// Categories
		section#categories.categories
			h2 Categories
			.categories-container.flex-container
				.block1.block
					.overlay
					.block-content
						h3 Fixed / Single Speed
						p Are You ready for the 27.5 Revolution?
						a(href="http://www.lexpress.fr/medias/2442/1250353_super-bowl-xlvii-pepsi-halftime-show-new-orleans.jpg" target="_blank") Go To Store
				.block2.block
					.overlay
					.block-content
						h3 Premius Series
						p Exclusive Bike Components
						a(href="http://www.lexpress.fr/medias/2442/1250353_super-bowl-xlvii-pepsi-halftime-show-new-orleans.jpg" target="_blank") Go To Store
				.block3.block
					.overlay
					.block-content
						h3 City Bikes
						p Street Playground
						a(href="http://www.lexpress.fr/medias/2442/1250353_super-bowl-xlvii-pepsi-halftime-show-new-orleans.jpg" target="_blank") Go To Store

		// Popular
		section#popular.popular
			h2 Popular Bikes
			.popular-container
				.block1.block
					img(src="images/popular__pic1.jpg", alt="pic")
					.info
						.price
							p.description Fixed Gear
								|
								br 
								| #[span $249.00]
						.buttons
							input.option(type="button" value="option")
							.options
								input(type="button" value="option 1")
								br
								input(type="button" value="option 2")
							input.buy(type="button" value="buy")
				.block2.block
					img(src="images/popular__pic2.jpg", alt="pic")
					.info
						.price
							p.description Big Boy Ultra
								|
								br 
								| #[span $249.00]
						.buttons
							input.option(type="button" value="option")
							.options
								input(type="button" value="option 1")
								br
								input(type="button" value="option 2")
							input.buy(type="button" value="buy")
				.block3.block
					img(src="images/popular__pic3.jpg", alt="pic")
					.info
						.price
							p.description Sanchaez
								|
								br 
								| #[span $249.00]
						.buttons
							input.option(type="button" value="option")
							.options
								input(type="button" value="option 1")
								br
								input(type="button" value="option 2")
							input.buy(type="button" value="buy")

		// Contact
		section#contact.contact
			h2 Contact Us
			p Please contact us for all inquiries and purchase options.
			.contact-container
				form(action="index.html" method="POST" enctype="application/x-www-form-urlencoded")
					.name-surname-container
						input#name.name(type="text" name="name" placeholder="name" required)
						input#surname.surname(type="text" name="surname" placeholder="surname" required)
					input#email.email(type="email" name="email" placeholder="user@domain.com" required)
					br
					p.ur-message Your message:
					textarea#message.message(name="message", cols="30", rows="10" required)
					br
					input#send.send(type="submit" name="send" value="send")

		// Footer
		footer#footer
			a#top(href="#main")
				img(src="images/footer__logo.png", alt="pic")
		// Content End
		script(src="libs/jquery/jquery-3.2.1.min.js")
		script(src="js/common.js")
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]
		//
				script(src="libs/jquery-mousewheel/jquery.mousewheel.min.js")
				script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
				script(src="libs/fancybox/fancybox-1.3.4/jquery.fancybox-1.3.4.pack.js")
				script(src="libs/fancybox/fancybox-1.3.4/jquery.easing-1.3.pack.js")
				script(src="libs/fancybox/fancybox-1.3.4/jquery.mousewheel-3.0.4.pack.js")
				script(src="libs/waypoints/waypoints-1.6.2.min.js")
				script(src="libs/scrollto/jquery.scrollTo.min.js")
				script(src="libs/countdown/jquery.plugin.js")
				script(src="libs/countdown/jquery.countdown.min.js")
				script(src="libs/countdown/jquery.countdown-ru.js")
				script(src="libs/landing-nav/navigation.js")