@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.top-panel
		@include size(100%, auto)//
		padding-top: 3rem//
		padding-bottom: 3rem//
		padding-right: 1rem//
		padding-left: 1rem//
		position: relative//
		&__wrapper
			@include flex(row, wrap, space-between, center)//
			@include size(100%, auto)//
		&__logo
			margin-top: 0rem//
			margin-left: 0rem//
		&__image
		&__hamburger
			display: block//
			position: relative//
			top: 1rem
			left: 0rem
		&__hamburger-elem
			&::before, &::after
			&::before
			&::after
		&__hamburger.active
		&__hamburger-elem.active
		&__hamburger-elem.active::before
		&__hamburger-elem.active::after
		&__hamburger.active + &__menu
			left: 0rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			margin-top: 0rem//
			margin-right: 0rem//
			position: absolute//
			left: -100%//
			top: 100%//
			background: $space-grey//
			width: 100%//
			padding-top: 2rem//
			padding-bottom: 2rem//
			transition: .2s//
		&__menu-list-item
			@include flex(column, wrap, center, center)//
			margin-right: 0rem//
			width: 100%//
			text-align: center//
			&:last-child
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
			&:first-child::before
		&__menu-link
			@include flex(row, wrap, center, center)//
			padding: 2rem 0rem//
			width: 100%//
			text-align: center//
			&:hover
				background: $yellow//
				color: $space-grey//

	.header
		@include flex(column, wrap, center, center)//
		@include size(100%, auto)//
		padding-top: 4rem//
		padding-bottom: 10rem//
		&__text-container
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
			font-size: 4.5rem//
			padding: 0rem 30rem//
		&__buy-this-theme
			&:hover
			&:active
		&__scroll-down
			&:hover
			&:active
		&__scroll-down-arrow
			&::before, &::after
			&::before
			&::after
		&__scroll-down-arrow1
		&__scroll-down-arrow2

	.services
		&__wrapper
			@include size(100%, auto)//
		&__headline
			width: 100%//
		&__subheadline
			width: 100%//
		&__hr
		&__paragraph
			padding: 0rem 15%//
			width: 100%//
		&__content
			@include flex(row, wrap, flex-start, flex-start)//
		&__item
			@include size(calc(100% / 4), auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-icon
		&__item-icon1
			&:hover
		&__item-icon2
			&:hover
		&__item-icon3
			&:hover
		&__item-icon4
			&:hover
		&__item-headline
			width: 100%//
		&__item-paragraph
			width: 100%//
			padding: 0rem 20%//

	.how-we-do-it
		&__wrapper
			@include size(100%, auto)//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, flex-start, flex-start)//
		&__item
			@include size(calc(100% / 3), auto)//
			@include flex(column, wrap, flex-start, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-icon5
		&__item-icon6
		&__item-headline
		&__item-paragraph
			padding: 0rem 20%//

	.work
		@include flex(column, wrap, center, center)//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			margin-right: 1rem//
			margin-left: 1rem//
			&:last-child
				margin-right: 1rem//
			&:last-child::before
			&::before
				content: none//
		&__menu-link
			&:hover
			&.active
		&__content-container
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, 143.2rem)//
		&__content
			width: 100%//
		&__content-wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__content-block
		&__content-block1
			@include size(100%, 44rem)//
		&__content-block2
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0%//
		&__content-block-headline
			text-align: center//
		&__content-block-paragraph
			text-align: center//
			padding: 0rem 15%//
		&__content-block-view-live
			&:hover
			&:active
		&__examples-container
			width: 100%//
			@include flex(row, wrap, flex-start, flex-start)//
		&__example
			@include size(calc(100% / 3), 25rem)//
		&__example1
		&__example2
		&__example3
			display: flex//
			background: #11343A//
		&__example4
			display: flex//
			background: #394948//
		&__example5
			display: flex//
		&__example6
			display: flex//
		&__example7
			display: none//
		&__example8
			display: none//
		&__example9
			display: none//
		&__example10
			display: none//
		&__example11
			display: none//
		&__example12
			display: none//
		&__example-text-container
			@include flex(column, wrap, center, center)//
			&:hover
		&__example-headline
		&__example-paragraph
		&__show-more
			&:hover
			&:active
		&__show-more-arrow
			&::before, &::after
			&::before
			&::after
		&__show-more-arrow1
		&__show-more-arrow2
		&__bottom-headline
		&__bottom-paragraph
			padding: 0rem 15%//
		&__contact-us
			&:hover
			&:active

	.statistics
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
			padding: 0rem 5%//
		&__item
			@include size(calc(100% / 3), auto)//
			margin-top: 0rem//
			margin: 2rem//
			&:first-child
				margin-top: 2rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.about
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
		&__item
			@include size(calc(100% / 3), auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin-top: 0rem//
			margin: 2rem//
			&:first-child
				margin-top: 0rem//
				margin-top: 2rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__text-container
			padding-left: 0rem//
			margin-top: 2rem//
		&__item-headline
			text-align: center//
		&__item-paragraph
			text-align: center//
			padding: 0rem 10%//

	.team
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, space-around, center)//
		&__item
			@include size(calc(100% / 4.5), auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-photography
		&__employee-name
		&__employee-position
		&__employee-cards-container
			margin-top: 2rem//
			padding-top: 2rem//
			padding-right: 2%//
			padding-left: 2%//
			height: 21.6rem//
			display: block//
			&::before
				content: none//
		&__employee-cards-container-wrapper
			width: 100%//
		&__employee-card
			padding: 0rem//
			&.active
		&__employee-card1
		&__employee-card2
		&__employee-card3
		&__employee-card4
		&__employee-card-name
		&__employee-card-description
			padding-right: 0rem//
		&__employee-card-socials-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__employee-card-social
			@include flex(row, wrap, center, center)//
			svg
				@include flex(row, wrap, center, center)//
			 path
		&__employee-card-facebook
		&__employee-card-twitter

	.skills
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
			width: 100%//
		&__item
			margin-right: 0rem//
			width: calc(100% / 4)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 3rem//
			&:last-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__diagram
		&__diagram1
			&::before
		&__diagram2
			&::before
		&__diagram3
			&::before
		&__diagram4
			&::before
		&__diagram-description

	.clients
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content-stripe-container
			@include size(80rem, 10rem)//
			margin: 0rem auto//
		&__content-stripe
			@include flex(row, wrap, center, center)//
		&__brand
		&__brand1
		&__brand2
		&__brand3
		&__brand4
		&__brand5
		&__brand6
		&__brand7
		&__brand8
		&__brand9
		&__brand10
		&__brand11
		&__brand12
		&__prev-button
			left: 45%//
			&:disabled
		&__next-button
			right: 45%//
		&__next-button &__arrow
		&__next-button &__arrow1
		&__next-button &__arrow2
		&__arrow
			&::before, &::after
			&::before
			&::after
		&__arrow1
		&__arrow2

	.clients
		&__slider-wrapper
			width: 100%//
		&__slider-container
			padding-bottom: 5rem//
			margin-top: 13rem//
		&__slider
		&__slide
			padding: 0rem 30%//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slider
		&__slider-quote
		&__slider-hr
		&__slider-author

	.contact
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, space-around, center)//
		&__item
			@include flex(column, wrap, center, center)//
			@include size(calc(100% / 4), auto)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-paragraph
		&__item-info

	.form-section
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__form
			@include flex(column, wrap, flex-start, center)//
		&__row
		&__row1
			@include flex(row, wrap, flex-start, flex-start)//
		&__row2
		&__input
			margin-top: 2rem//
			&::placeholder
		&__name, &__mail, &__subject
			width: 32%//
		&__name
			margin-right: 2%//
			width: 32%//
		&__mail
			margin-right: 2%//
			width: 32%//
		&__subject
			width: 32%//
		&__message
			margin-top: 2rem//
		&__submit-button
			&:hover
			&:active

	.footer
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy
		&__smak-span
		&__copy-span
		&__socials-container
		&__social-link
			&:last-child
			&:hover svg path
			svg
				path
		&__facebook
		&__dribble
		&__twitter
		&__g-plus
		&__to-top-button
			&:hover
			&:active
		&__to-top-button-arrow
			&::before, &::after
			&::before
			&::after
		&__to-top-button-arrow1
		&__to-top-button-arrow2
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.top-panel
		@include size(100%, auto)//
		padding-top: 3rem//
		padding-bottom: 3rem//
		padding-right: 1rem//
		padding-left: 1rem//
		position: relative//
		&__wrapper
			@include flex(row, wrap, space-between, center)//
			@include size(100%, auto)//
		&__logo
			margin-top: 0rem//
			margin-left: 0rem//
		&__image
		&__hamburger
			display: block//
			position: relative//
			top: 1rem
			left: 0rem
		&__hamburger-elem
			&::before, &::after
			&::before
			&::after
		&__hamburger.active
		&__hamburger-elem.active
		&__hamburger-elem.active::before
		&__hamburger-elem.active::after
		&__hamburger.active + &__menu
			left: 0rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			margin-top: 0rem//
			margin-right: 0rem//
			position: absolute//
			left: -100%//
			top: 100%//
			background: $space-grey//
			width: 100%//
			padding-top: 2rem//
			padding-bottom: 2rem//
			transition: .2s//
		&__menu-list-item
			@include flex(column, wrap, center, center)//
			margin-right: 0rem//
			width: 100%//
			text-align: center//
			&:last-child
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
			&:first-child::before
		&__menu-link
			@include flex(row, wrap, center, center)//
			padding: 2rem 0rem//
			width: 100%//
			text-align: center//
			&:hover
				background: $yellow//
				color: $space-grey//
	
	.header
		@include flex(column, wrap, center, center)//
		@include size(100%, auto)//
		padding-top: 4rem//
		padding-bottom: 10rem//
		&__text-container
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
			font-size: 4.5rem//
			padding: 0rem 19rem//
		&__buy-this-theme
			&:hover
			&:active
		&__scroll-down
			&:hover
			&:active
		&__scroll-down-arrow
			&::before, &::after
			&::before
			&::after
		&__scroll-down-arrow1
		&__scroll-down-arrow2

	.services
		&__wrapper
			@include size(100%, auto)//
		&__headline
			width: 100%//
		&__subheadline
			width: 100%//
		&__hr
		&__paragraph
			padding: 0rem 15%//
			width: 100%//
		&__content
			@include flex(row, wrap, flex-start, flex-start)//
		&__item
			@include size(calc(100% / 2), auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 4rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-icon
		&__item-icon1
			&:hover
		&__item-icon2
			&:hover
		&__item-icon3
			&:hover
		&__item-icon4
			&:hover
		&__item-headline
			width: 100%//
		&__item-paragraph
			width: 100%//
			padding: 0rem 15%//

	.how-we-do-it
		&__wrapper
			@include size(100%, auto)//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, flex-start, flex-start)//
		&__item
			@include size(calc(100% / 3), auto)//
			@include flex(column, wrap, flex-start, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 3rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-icon5
		&__item-icon6
		&__item-headline
		&__item-paragraph
			padding: 0rem 20%//

	.work
		@include flex(column, wrap, center, center)//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			margin-right: 1rem//
			margin-left: 1rem//
			&:last-child
				margin-right: 1rem//
			&:last-child::before
			&::before
				content: none//
		&__menu-link
			&:hover
			&.active
		&__content-container
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, 158.2rem)//
		&__content
			width: 100%//
		&__content-wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__content-block
		&__content-block1
			@include size(100%, 44rem)//
		&__content-block2
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0%//
		&__content-block-headline
			text-align: center//
		&__content-block-paragraph
			text-align: center//
			padding: 0rem 15%//
		&__content-block-view-live
			&:hover
			&:active
		&__examples-container
			width: 100%//
			@include flex(row, wrap, flex-start, flex-start)//
		&__example
			@include size(calc(100% / 2), 25rem)//
		&__example1
		&__example2
		&__example3
			display: flex//
			background: #394948//
		&__example4
			display: flex//
			background: #11343A//
		&__example5
			display: none//
		&__example6
			display: none//
		&__example7
			display: none//
		&__example8
			display: none//
		&__example9
			display: none//
		&__example10
			display: none//
		&__example11
			display: none//
		&__example12
			display: none//
		&__example-text-container
			@include flex(column, wrap, center, center)//
			&:hover
		&__example-headline
		&__example-paragraph
		&__show-more
			&:hover
			&:active
		&__show-more-arrow
			&::before, &::after
			&::before
			&::after
		&__show-more-arrow1
		&__show-more-arrow2
		&__bottom-headline
		&__bottom-paragraph
			padding: 0rem 15%//
		&__contact-us
			&:hover
			&:active

	.statistics
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
			padding: 0rem 5%//
		&__item
			@include size(calc(100% / 3), auto)//
			margin-top: 0rem//
			margin: 2rem//
			&:first-child
				margin-top: 2rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.about
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
		&__item
			@include size(calc(100% / 3), auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin-top: 0rem//
			margin: 2rem//
			&:first-child
				margin-top: 0rem//
				margin-top: 2rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__text-container
			padding-left: 0rem//
			margin-top: 2rem//
		&__item-headline
			text-align: center//
		&__item-paragraph
			text-align: center//
			padding: 0rem 0%//

	.team
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-photography
		&__employee-name
		&__employee-position
		&__employee-cards-container
			padding-top: 2rem//
			padding-right: 2%//
			padding-left: 2%//
			height: 35.6rem//
			display: none//
			&::before
				content: none//
		&__employee-cards-container-wrapper
			width: 100%//
		&__employee-card
			padding: 0rem//
			&.active
		&__employee-card1
		&__employee-card2
		&__employee-card3
		&__employee-card4
		&__employee-card-name
		&__employee-card-description
			padding-right: 0rem//
		&__employee-card-socials-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__employee-card-social
			@include flex(row, wrap, center, center)//
			svg
				@include flex(row, wrap, center, center)//
			 path
		&__employee-card-facebook
		&__employee-card-twitter

	.skills
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
			width: 100%//
		&__item
			margin-right: 0rem//
			width: calc(100% / 4)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 3rem//
			&:last-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__diagram
		&__diagram1
			&::before
		&__diagram2
			&::before
		&__diagram3
			&::before
		&__diagram4
			&::before
		&__diagram-description

	.clients
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content-stripe-container
			@include size(60rem, 10rem)//
			margin: 0rem auto//
		&__content-stripe
			@include flex(row, wrap, center, center)//
		&__brand
		&__brand1
		&__brand2
		&__brand3
		&__brand4
		&__brand5
		&__brand6
		&__brand7
		&__brand8
		&__brand9
		&__brand10
		&__brand11
		&__brand12
		&__prev-button
			left: 45%//
			&:disabled
		&__next-button
			right: 45%//
		&__next-button &__arrow
		&__next-button &__arrow1
		&__next-button &__arrow2
		&__arrow
			&::before, &::after
			&::before
			&::after
		&__arrow1
		&__arrow2

	.clients
		&__slider-wrapper
			width: 100%//
		&__slider-container
			padding-bottom: 5rem//
			margin-top: 13rem//
		&__slider
		&__slide
			padding: 0rem 20%//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slider
		&__slider-quote
		&__slider-hr
		&__slider-author

	.contact
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(row, wrap, center, center)//
		&__item
			@include flex(column, wrap, flex-start, center)//
			@include size(calc(100% / 3), auto)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-paragraph
		&__item-info

	.form-section
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__form
			@include flex(column, wrap, flex-start, center)//
		&__row
		&__row1
			@include flex(row, wrap, flex-start, flex-start)//
		&__row2
		&__input
			margin-top: 2rem//
			&::placeholder
		&__name, &__mail, &__subject
			width: 32%//
		&__name
			margin-right: 2%//
			width: 32%//
		&__mail
			margin-right: 2%//
			width: 32%//
		&__subject
			width: 32%//
		&__message
			margin-top: 2rem//
		&__submit-button
			&:hover
			&:active

	.footer
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy
		&__smak-span
		&__copy-span
		&__socials-container
		&__social-link
			&:last-child
			&:hover svg path
			svg
				path
		&__facebook
		&__dribble
		&__twitter
		&__g-plus
		&__to-top-button
			&:hover
			&:active
		&__to-top-button-arrow
			&::before, &::after
			&::before
			&::after
		&__to-top-button-arrow1
		&__to-top-button-arrow2
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.top-panel
		@include size(100%, auto)//
		padding-top: 3rem//
		padding-bottom: 3rem//
		padding-right: 1rem//
		padding-left: 1rem//
		position: relative//
		&__wrapper
			@include flex(row, wrap, space-between, center)//
			@include size(100%, auto)//
		&__logo
			margin-top: 0rem//
			margin-left: 0rem//
		&__image
		&__hamburger
			display: block//
			position: relative//
			top: 1rem
			left: 0rem
		&__hamburger-elem
			&::before, &::after
			&::before
			&::after
		&__hamburger.active
		&__hamburger-elem.active
		&__hamburger-elem.active::before
		&__hamburger-elem.active::after
		&__hamburger.active + &__menu
			left: 0rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			margin-top: 0rem//
			margin-right: 0rem//
			position: absolute//
			left: -100%//
			top: 100%//
			background: $space-grey//
			width: 100%//
			padding-top: 2rem//
			padding-bottom: 2rem//
			transition: .2s//
		&__menu-list-item
			@include flex(column, wrap, center, center)//
			margin-right: 0rem//
			width: 100%//
			text-align: center//
			&:last-child
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
			&:first-child::before
		&__menu-link
			@include flex(row, wrap, center, center)//
			padding: 2rem 0rem//
			width: 100%//
			text-align: center//
			&:hover
				background: $yellow//
				color: $space-grey//

	.header
		@include flex(column, wrap, center, center)//
		@include size(100%, auto)//
		padding-top: 4rem//
		padding-bottom: 10rem//
		&__text-container
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
			font-size: 4.5rem//
			padding: 0rem 1rem//
		&__buy-this-theme
			&:hover
			&:active
		&__scroll-down
			&:hover
			&:active
		&__scroll-down-arrow
			&::before, &::after
			&::before
			&::after
		&__scroll-down-arrow1
		&__scroll-down-arrow2

	.services
		&__wrapper
			@include size(100%, auto)//
		&__headline
			width: 100%//
		&__subheadline
			width: 100%//
		&__hr
		&__paragraph
			padding: 0rem 15%//
			width: 100%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-icon
		&__item-icon1
			&:hover
		&__item-icon2
			&:hover
		&__item-icon3
			&:hover
		&__item-icon4
			&:hover
		&__item-headline
			width: 100%//
		&__item-paragraph
			width: 100%//
			padding: 0rem 20%//

	.how-we-do-it
		&__wrapper
			@include size(100%, auto)//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, flex-start, center)//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-icon5
		&__item-icon6
		&__item-headline
		&__item-paragraph
			padding: 0rem 30%//

	.work
		@include flex(column, wrap, center, center)//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 20%//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			margin-right: 1rem//
			margin-left: 1rem//
			&:last-child
				margin-right: 1rem//
			&:last-child::before
			&::before
				content: none//
		&__menu-link
			&:hover
			&.active
		&__content-container
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, 158.2rem)//
		&__content
			width: 100%//
		&__content-wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__content-block
		&__content-block1
			@include size(100%, 44rem)//
		&__content-block2
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0%//
		&__content-block-headline
			text-align: center//
		&__content-block-paragraph
			text-align: center//
			padding: 0rem 15%//
		&__content-block-view-live
			&:hover
			&:active
		&__examples-container
			width: 100%//
			@include flex(row, wrap, flex-start, flex-start)//
		&__example
			@include size(100%, 25rem)//
		&__example1
		&__example2
		&__example3
			display: none//
		&__example4
			display: none//
		&__example5
			display: none//
		&__example6
			display: none//
		&__example7
			display: none//
		&__example8
			display: none//
		&__example9
			display: none//
		&__example10
			display: none//
		&__example11
			display: none//
		&__example12
			display: none//
		&__example-text-container
			@include flex(column, wrap, center, center)//
			&:hover
		&__example-headline
		&__example-paragraph
		&__show-more
			&:hover
			&:active
		&__show-more-arrow
			&::before, &::after
			&::before
			&::after
		&__show-more-arrow1
		&__show-more-arrow2
		&__bottom-headline
		&__bottom-paragraph
			padding: 0rem 15%//
		&__contact-us
			&:hover
			&:active

	.statistics
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 20%//
		&__content
			@include flex(column, wrap, flex-start, center)//
			padding: 0rem 15%//
		&__item
			@include size(100%, auto)//
			margin: 0rem//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.statistics
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 15%//
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(column, wrap, flex-start, center)//
			padding: 0rem 10%//
		&__item
			@include size(100%, auto)//
			margin: 0rem//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.about
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin: 0rem//
			margin-top: 3.1rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__text-container
			padding-left: 0rem//
			margin-top: 2rem//
		&__item-headline
			text-align: center//
		&__item-paragraph
			text-align: center//
			padding: 0rem 15%//

	.team
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-photography
		&__employee-name
		&__employee-position
		&__employee-cards-container
			padding-top: 2rem//
			padding-right: 2%//
			padding-left: 2%//
			height: 35.6rem//
			display: none//
			&::before
				content: none//
		&__employee-cards-container-wrapper
			width: 100%//
		&__employee-card
			padding: 0rem//
			&.active
		&__employee-card1
		&__employee-card2
		&__employee-card3
		&__employee-card4
		&__employee-card-name
		&__employee-card-description
			padding-right: 0rem//
		&__employee-card-socials-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__employee-card-social
			@include flex(row, wrap, center, center)//
			svg
				@include flex(row, wrap, center, center)//
			 path
		&__employee-card-facebook
		&__employee-card-twitter

	.skills
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(row, wrap, center, center)//
			width: 100%//
		&__item
			margin-right: 0rem//
			width: calc(100% / 2)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 3rem//
			&:last-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__diagram
		&__diagram1
			&::before
		&__diagram2
			&::before
		&__diagram3
			&::before
		&__diagram4
			&::before
		&__diagram-description

	.clients
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content-stripe-container
			@include size(24rem, 10rem)//
			margin: 0rem auto//
		&__content-stripe
			@include flex(row, wrap, center, center)//
		&__brand
		&__brand1
		&__brand2
		&__brand3
		&__brand4
		&__brand5
		&__brand6
		&__brand7
		&__brand8
		&__brand9
		&__brand10
		&__brand11
		&__brand12
		&__prev-button
			left: 35%//
			&:disabled
		&__next-button
			right: 35%//
		&__next-button &__arrow
		&__next-button &__arrow1
		&__next-button &__arrow2
		&__arrow
			&::before, &::after
			&::before
			&::after
		&__arrow1
		&__arrow2

	.clients
		&__slider-wrapper
			width: 100%//
		&__slider-container
			padding-bottom: 5rem//
			margin-top: 13rem//
		&__slider
		&__slide
			padding: 0rem 15%//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slider
		&__slider-quote
		&__slider-hr
		&__slider-author

	.contact
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, auto)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-paragraph
		&__item-info

	.form-section
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 15%//
		&__form
			@include flex(column, wrap, flex-start, center)//
		&__row
		&__row1
			@include flex(row, wrap, flex-start, flex-start)//
		&__row2
		&__input
			margin-top: 2rem//
			&::placeholder
		&__name, &__mail, &__subject
			width: 100%//
		&__name
			margin-right: 0rem//
		&__mail
			margin-right: 0rem//
		&__subject
		&__message
			margin-top: 2rem//
		&__submit-button
			&:hover
			&:active

	.footer
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy
		&__smak-span
		&__copy-span
		&__socials-container
		&__social-link
			&:last-child
			&:hover svg path
			svg
				path
		&__facebook
		&__dribble
		&__twitter
		&__g-plus
		&__to-top-button
			&:hover
			&:active
		&__to-top-button-arrow
			&::before, &::after
			&::before
			&::after
		&__to-top-button-arrow1
		&__to-top-button-arrow2
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.top-panel
		@include size(100%, auto)//
		padding-top: 3rem//
		padding-bottom: 3rem//
		padding-right: 1rem//
		padding-left: 1rem//
		position: relative//
		&__wrapper
			@include flex(row, wrap, space-between, center)//
			@include size(100%, auto)//
		&__logo
			margin-top: 0rem//
			margin-left: 0rem//
		&__image
		&__hamburger
			display: block//
			position: relative//
			top: 1rem
			left: 0rem
		&__hamburger-elem
			&::before, &::after
			&::before
			&::after
		&__hamburger.active
		&__hamburger-elem.active
		&__hamburger-elem.active::before
		&__hamburger-elem.active::after
		&__hamburger.active + &__menu
			left: 0rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			margin-top: 0rem//
			margin-right: 0rem//
			position: absolute//
			left: -100%//
			top: 100%//
			background: $space-grey//
			width: 100%//
			padding-top: 2rem//
			padding-bottom: 2rem//
			transition: .2s//
		&__menu-list-item
			@include flex(column, wrap, center, center)//
			margin-right: 0rem//
			width: 100%//
			text-align: center//
			&:last-child
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
			&:first-child::before
		&__menu-link
			@include flex(row, wrap, center, center)//
			padding: 2rem 0rem//
			width: 100%//
			text-align: center//
			&:hover
				background: $yellow//
				color: $space-grey//

	.header
		@include flex(column, wrap, center, center)//
		@include size(100%, auto)//
		padding-top: 4rem//
		padding-bottom: 10rem//
		&__text-container
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
			font-size: 4.5rem//
			padding: 0rem 1rem//
		&__buy-this-theme
			&:hover
			&:active
		&__scroll-down
			&:hover
			&:active
		&__scroll-down-arrow
			&::before, &::after
			&::before
			&::after
		&__scroll-down-arrow1
		&__scroll-down-arrow2

	.services
		&__wrapper
			@include size(100%, auto)//
		&__headline
			width: 100%//
		&__subheadline
			width: 100%//
		&__hr
		&__paragraph
			padding: 0rem 10%//
			width: 100%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-icon
		&__item-icon1
			&:hover
		&__item-icon2
			&:hover
		&__item-icon3
			&:hover
		&__item-icon4
			&:hover
		&__item-headline
			width: 100%//
		&__item-paragraph
			width: 100%//
			padding: 0rem 10%//

	.how-we-do-it
		&__wrapper
			@include size(100%, auto)//
		&__headline
		&__paragraph
			padding: 0rem 10%//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, flex-start, center)//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-icon5
		&__item-icon6
		&__item-headline
		&__item-paragraph
			padding: 0rem 10%//

	.work
		@include flex(column, wrap, center, center)//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			margin-right: 1rem//
			margin-left: 1rem//
			&:last-child
				margin-right: 1rem//
			&:last-child::before
			&::before
				content: none//
		&__menu-link
			&:hover
			&.active
		&__content-container
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, 158.2rem)//
		&__content
			width: 100%//
		&__content-wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__content-block
		&__content-block1
			@include size(100%, 44rem)//
		&__content-block2
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0%//
		&__content-block-headline
			text-align: center//
		&__content-block-paragraph
			text-align: center//
			padding: 0rem 5%//
		&__content-block-view-live
			&:hover
			&:active
		&__examples-container
			width: 100%//
			@include flex(row, wrap, flex-start, flex-start)//
		&__example
			@include size(100%, 25rem)//
		&__example1
		&__example2
		&__example3
			display: none//
		&__example4
			display: none//
		&__example5
			display: none//
		&__example6
			display: none//
		&__example7
			display: none//
		&__example8
			display: none//
		&__example9
			display: none//
		&__example10
			display: none//
		&__example11
			display: none//
		&__example12
			display: none//
		&__example-text-container
			@include flex(column, wrap, center, center)//
			&:hover
		&__example-headline
		&__example-paragraph
		&__show-more
			&:hover
			&:active
		&__show-more-arrow
			&::before, &::after
			&::before
			&::after
		&__show-more-arrow1
		&__show-more-arrow2
		&__bottom-headline
		&__bottom-paragraph
			padding: 0rem 10%//
		&__contact-us
			&:hover
			&:active

	.statistics
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 10%//
		&__paragraph
			padding: 0rem 15%//
		&__content
			@include flex(column, wrap, flex-start, center)//
			padding: 0rem 10%//
		&__item
			@include size(100%, auto)//
			margin: 0rem//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.about
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin: 0rem//
			margin-top: 3.1rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__text-container
			padding-left: 0rem//
			margin-top: 2rem//
		&__item-headline
			text-align: center//
		&__item-paragraph
			text-align: center//

	.team
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 10%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-photography
		&__employee-name
		&__employee-position
		&__employee-cards-container
			padding-top: 2rem//
			padding-right: 2%//
			padding-left: 2%//
			height: 35.6rem//
			display: none//
			&::before
				content: none//
		&__employee-cards-container-wrapper
			width: 100%//
		&__employee-card
			padding: 0rem//
			&.active
		&__employee-card1
		&__employee-card2
		&__employee-card3
		&__employee-card4
		&__employee-card-name
		&__employee-card-description
			padding-right: 0rem//
		&__employee-card-socials-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__employee-card-social
			@include flex(row, wrap, center, center)//
			svg
				@include flex(row, wrap, center, center)//
			 path
		&__employee-card-facebook
		&__employee-card-twitter

	.skills
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 10%//
		&__content
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__item
			margin-right: 0rem//
			width: 100%//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__diagram
		&__diagram1
			&::before
		&__diagram2
			&::before
		&__diagram3
			&::before
		&__diagram4
			&::before
		&__diagram-description

	.clients
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
			padding: 0rem 10%//
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content-stripe-container
			@include size(24rem, 10rem)//
			margin: 0rem auto//
		&__content-stripe
			@include flex(row, wrap, center, center)//
		&__brand
		&__brand1
		&__brand2
		&__brand3
		&__brand4
		&__brand5
		&__brand6
		&__brand7
		&__brand8
		&__brand9
		&__brand10
		&__brand11
		&__brand12
		&__prev-button
			left: 35%//
			&:disabled
		&__next-button
			right: 35%//
		&__next-button &__arrow
		&__next-button &__arrow1
		&__next-button &__arrow2
		&__arrow
			&::before, &::after
			&::before
			&::after
		&__arrow1
		&__arrow2

	.clients
		&__slider-wrapper
			width: 100%//
		&__slider-container
			padding-bottom: 5rem//
			margin-top: 13rem//
		&__slider
		&__slide
			padding: 0rem 10%//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slider
		&__slider-quote
		&__slider-hr
		&__slider-author

	.contact
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 10%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, auto)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-paragraph
		&__item-info

	.form-section
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 10%//
		&__form
			@include flex(column, wrap, flex-start, center)//
		&__row
		&__row1
			@include flex(row, wrap, flex-start, flex-start)//
		&__row2
		&__input
			margin-top: 2rem//
			&::placeholder
		&__name, &__mail, &__subject
			width: 100%//
		&__name
			margin-right: 0rem//
		&__mail
			margin-right: 0rem//
		&__subject
		&__message
			margin-top: 2rem//
		&__submit-button
			&:hover
			&:active

	.footer
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy
		&__smak-span
		&__copy-span
		&__socials-container
		&__social-link
			&:last-child
			&:hover svg path
			svg
				path
		&__facebook
		&__dribble
		&__twitter
		&__g-plus
		&__to-top-button
			&:hover
			&:active
		&__to-top-button-arrow
			&::before, &::after
			&::before
			&::after
		&__to-top-button-arrow1
		&__to-top-button-arrow2
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.top-panel
		@include size(100%, auto)//
		padding-top: 3rem//
		padding-bottom: 3rem//
		padding-right: 1rem//
		padding-left: 1rem//
		position: relative//
		&__wrapper
			@include flex(row, wrap, space-between, center)//
			@include size(100%, auto)//
		&__logo
			margin-top: 0rem//
			margin-left: 0rem//
		&__image
		&__hamburger
			display: block//
			position: relative//
			top: 1rem
			left: 0rem
		&__hamburger-elem
			&::before, &::after
			&::before
			&::after
		&__hamburger.active
		&__hamburger-elem.active
		&__hamburger-elem.active::before
		&__hamburger-elem.active::after
		&__hamburger.active + &__menu
			left: 0rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			margin-top: 0rem//
			margin-right: 0rem//
			position: absolute//
			left: -100%//
			top: 100%//
			background: $space-grey//
			width: 100%//
			padding-top: 2rem//
			padding-bottom: 2rem//
			transition: .2s//
		&__menu-list-item
			@include flex(column, wrap, center, center)//
			margin-right: 0rem//
			width: 100%//
			text-align: center//
			&:last-child
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
			&:first-child::before
		&__menu-link
			@include flex(row, wrap, center, center)//
			padding: 2rem 0rem//
			width: 100%//
			text-align: center//
			&:hover
				background: $yellow//
				color: $space-grey//

	.header
		@include flex(column, wrap, center, center)//
		@include size(100%, auto)//
		padding-top: 4rem//
		padding-bottom: 10rem//
		&__text-container
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
			font-size: 4.5rem//
			padding: 0rem 1rem//
		&__buy-this-theme
			&:hover
			&:active
		&__scroll-down
			&:hover
			&:active
		&__scroll-down-arrow
			&::before, &::after
			&::before
			&::after
		&__scroll-down-arrow1
		&__scroll-down-arrow2

	.services
		&__wrapper
			@include size(100%, auto)//
		&__headline
			width: 100%//
		&__subheadline
			width: 100%//
		&__hr
		&__paragraph
			padding: 0rem 5%//
			width: 100%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-icon
		&__item-icon1
			&:hover
		&__item-icon2
			&:hover
		&__item-icon3
			&:hover
		&__item-icon4
			&:hover
		&__item-headline
			width: 100%//
		&__item-paragraph
			width: 100%//
			padding: 0rem 5%//

	.how-we-do-it
		&__wrapper
			@include size(100%, auto)//
		&__headline
		&__paragraph
			padding: 0rem 2%//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, flex-start, center)//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item5
		&__item6
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-icon4
		&__item-icon5
		&__item-icon6
		&__item-headline
		&__item-paragraph
			padding: 0rem 5%//

	.work
		@include flex(column, wrap, center, center)//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 5%//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			margin-right: 1rem//
			margin-left: 1rem//
			&:last-child
				margin-right: 1rem//
			&:last-child::before
			&::before
				content: none//
		&__menu-link
			&:hover
			&.active
		&__content-container
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, 158.2rem)//
		&__content
			width: 100%//
		&__content-wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__content-block
		&__content-block1
			@include size(100%, 44rem)//
		&__content-block2
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0%//
		&__content-block-headline
			text-align: center//
		&__content-block-paragraph
			text-align: center//
			padding: 0rem 5%//
		&__content-block-view-live
			&:hover
			&:active
		&__examples-container
			width: 100%//
			@include flex(row, wrap, flex-start, flex-start)//
		&__example
			@include size(100%, 25rem)//
		&__example1
		&__example2
		&__example3
			display: none//
		&__example4
			display: none//
		&__example5
			display: none//
		&__example6
			display: none//
		&__example7
			display: none//
		&__example8
			display: none//
		&__example9
			display: none//
		&__example10
			display: none//
		&__example11
			display: none//
		&__example12
			display: none//
		&__example-text-container
			@include flex(column, wrap, center, center)//
			&:hover
		&__example-headline
		&__example-paragraph
		&__show-more
			&:hover
			&:active
		&__show-more-arrow
			&::before, &::after
			&::before
			&::after
		&__show-more-arrow1
		&__show-more-arrow2
		&__bottom-headline
		&__bottom-paragraph
			padding: 0rem 5%//
		&__contact-us
			&:hover
			&:active

	.statistics
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 5%//
		&__paragraph
			padding: 0rem 5%//
		&__content
			@include flex(column, wrap, flex-start, center)//
			padding: 0rem 5%//
		&__item
			@include size(100%, auto)//
			margin: 0rem//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__count
		&__description

	.about
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 5%//
		&__content
			@include flex(column, wrap, flex-start, flex-start)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin: 0rem//
			margin-top: 3.1rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item4
		&__icon
		&__icon1
		&__icon2
		&__icon3
		&__icon4
		&__text-container
			padding-left: 0rem//
			margin-top: 2rem//
		&__item-headline
			text-align: center//
		&__item-paragraph
			text-align: center//

	.team
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 5%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include size(100%, auto)//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
			&::before
				content: none//
		&__item1
		&__item2
		&__item3
		&__item4
		&__item-photography
		&__employee-name
		&__employee-position
		&__employee-cards-container
			padding-top: 2rem//
			padding-right: 2%//
			padding-left: 2%//
			height: 35.6rem//
			display: none//
			&::before
				content: none//
		&__employee-cards-container-wrapper
			width: 100%//
		&__employee-card
			padding: 0rem//
			&.active
		&__employee-card1
		&__employee-card2
		&__employee-card3
		&__employee-card4
		&__employee-card-name
		&__employee-card-description
			padding-right: 0rem//
		&__employee-card-socials-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__employee-card-social
			@include flex(row, wrap, center, center)//
			svg
				@include flex(row, wrap, center, center)//
			 path
		&__employee-card-facebook
		&__employee-card-twitter

	.skills
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 5%//
		&__content
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__item
			margin-right: 0rem//
			width: 100%//
			@include flex(column, wrap, center, center)//
			margin-top: 4rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__item1
		&__item2
		&__item3
		&__item4
		&__diagram
		&__diagram1
			&::before
		&__diagram2
			&::before
		&__diagram3
			&::before
		&__diagram4
			&::before
		&__diagram-description

	.clients
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
			padding: 0rem 5%//
		&__hr
		&__paragraph
			padding: 0rem 5%//
		&__content-stripe-container
			@include size(calc(120rem / 6), 10rem)//
			margin: 0rem auto//
		&__content-stripe
			@include flex(row, wrap, center, center)//
		&__brand
		&__brand1
		&__brand2
		&__brand3
		&__brand4
		&__brand5
		&__brand6
		&__brand7
		&__brand8
		&__brand9
		&__brand10
		&__brand11
		&__brand12
		&__prev-button
			left: 35%//
			&:disabled
		&__next-button
			right: 35%//
		&__next-button &__arrow
		&__next-button &__arrow1
		&__next-button &__arrow2
		&__arrow
			&::before, &::after
			&::before
			&::after
		&__arrow1
		&__arrow2

	.clients
		&__slider-wrapper
			width: 100%//
		&__slider-container
			padding-bottom: 5rem//
			margin-top: 13rem//
		&__slider
		&__slide
			padding: 0rem 5%//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slider
		&__slider-quote
		&__slider-hr
		&__slider-author

	.contact
		&__wrapper
			width: 100%//
		&__headline
		&__subheadline
		&__hr
		&__paragraph
			padding: 0rem 5%//
		&__content
			@include flex(column, wrap, center, center)//
		&__item
			@include flex(column, wrap, flex-start, center)//
			@include size(100%, auto)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__item2
		&__item3
		&__item-icon
		&__item-icon1
		&__item-icon2
		&__item-icon3
		&__item-paragraph
		&__item-info

	.form-section
		&__wrapper
			width: 100%//
		&__headline
		&__paragraph
			padding: 0rem 5%//
		&__form
			@include flex(column, wrap, flex-start, center)//
		&__row
		&__row1
			@include flex(row, wrap, flex-start, flex-start)//
		&__row2
		&__input
			margin-top: 2rem//
			&::placeholder
		&__name, &__mail, &__subject
			width: 100%//
		&__name
			margin-right: 0rem//
		&__mail
			margin-right: 0rem//
		&__subject
		&__message
			margin-top: 2rem//
		&__submit-button
			&:hover
			&:active

	.footer
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__copy
		&__smak-span
		&__copy-span
		&__socials-container
		&__social-link
			&:last-child
			&:hover svg path
			svg
				path
		&__facebook
		&__dribble
		&__twitter
		&__g-plus
		&__to-top-button
			&:hover
			&:active
		&__to-top-button-arrow
			&::before, &::after
			&::before
			&::after
		&__to-top-button-arrow1
		&__to-top-button-arrow2

	.modal
		&__overlay
		&__error-container
			@include size(100%, 10rem)//
		&__error-paragraph
		&__success-container
			@include size(100%, 10rem)//
		&__success-paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple