@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.top-panel
		&__wrapper
			width: 80%//
			@include flex(row, wrap, space-between, flex-start)//
		&__menu-container
		&__menu
			@include flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
			&:last-child
			&:last-child::before
		&__menu-link
			@include flex(row, wrap, flex-start, flex-start)//
		&__search-input
			margin-top: 0rem//

	.header
		&__wrapper
			width: 80%//
			@include flex(column, wrap, flex-start, center)//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__logo-container
			@include flex(column, wrap, flex-start, center)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__img
			margin-top: 1.8rem//
		&__menu-container
			&::before, &::after
			&::before
			&::after
		&__menu
			@include flex(row, wrap, center, flex-start)//
			&::before, &::after
			&::before
			&::after
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 86%//
			@include flex(row, wrap, center, flex-start)//
			&::before
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
			width: 40%//
		&__block2
			width: 40%//
			padding-left: 2rem//
			margin-top: 0rem//
			padding-top: 0rem//
		&__img
		&__headline
			font-size: 3.6rem//
			line-height: 4rem//
			text-align: left//
		&__paragraph
			text-align: left//
			padding-right: 0rem//
		&__read-more-link

	.section1
		&__wrapper
			width: 100%//
			@include flex(row, wrap, space-around, flex-start)//
			&::before
		&__block
			width: 30%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
		&__block2
		&__block3
		&__post-container
			@include flex(column, wrap, flex-start, flex-start)//
			&:first-child
				margin-top: 2.9rem//
		&__headline
		&__date
		&__read-full-story-link
		&__img

	.section2
		&__wrapper
			width: 96%//
			@include flex(row, wrap, space-around, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			width: 18%//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__headline
			text-align: center//
			&::before
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			&:first-child
		&__menu-link

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			color: #919191
			text-align: center//
		&__by-link
			text-align: center//
			margin-top: 1rem//
			&:hover
			&:active
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.top-panel
		&__wrapper
			width: 80%//
			@include flex(row, wrap, space-between, flex-start)//
		&__menu-container
		&__menu
			@include flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
			&:last-child
			&:last-child::before
		&__menu-link
			@include flex(row, wrap, flex-start, flex-start)//
		&__search-input
			margin-top: 0rem//

	.header
		&__wrapper
			width: 80%//
			@include flex(column, wrap, flex-start, center)//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__logo-container
			@include flex(column, wrap, flex-start, center)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__img
			margin-top: 1.8rem//
		&__menu-container
			&::before, &::after
			&::before
			&::after
		&__menu
			@include flex(row, wrap, center, flex-start)//
			&::before, &::after
			&::before
			&::after
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 96%//
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
			width: 60%//
		&__block2
			width: 40%//
			padding-left: 2rem//
			margin-top: 0rem//
			padding-top: 0rem//
		&__img
		&__headline
			font-size: 3.6rem//
			line-height: 4rem//
			text-align: left//
		&__paragraph
			text-align: left//
			padding-right: 0rem//
		&__read-more-link

	.section1
		&__wrapper
			width: 100%//
			@include flex(row, wrap, space-around, flex-start)//
			&::before
		&__block
			width: 30%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
		&__block2
		&__block3
		&__post-container
			@include flex(column, wrap, flex-start, flex-start)//
			&:first-child
				margin-top: 2.9rem//
		&__headline
		&__date
		&__read-full-story-link
		&__img

	.section2
		&__wrapper
			width: 96%//
			@include flex(row, wrap, space-around, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			width: 18%//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__headline
			text-align: center//
			&::before
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			&:first-child
		&__menu-link

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			color: #919191
			text-align: center//
		&__by-link
			text-align: center//
			margin-top: 1rem//
			&:hover
			&:active
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.top-panel
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__menu-container
		&__menu
			@include flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
			&:last-child
			&:last-child::before
		&__menu-link
			@include flex(row, wrap, flex-start, flex-start)//
		&__search-input
			margin-top: 1.5rem//

	.header
		&__wrapper
			width: 60%//
			@include flex(column, wrap, flex-start, center)//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__logo-container
			@include flex(column, wrap, flex-start, center)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__img
			margin-top: 1.8rem//
		&__menu-container
			&::before, &::after
			&::before
			&::after
		&__menu
			@include flex(column, wrap, flex-start, center)//
			&::before, &::after
			&::before
			&::after
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 70%//
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
		&__block
			@include flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
			padding-left: 0rem//
			margin-top: 3rem//
		&__img
		&__headline
			font-size: 3.6rem//
			line-height: 4rem//
			text-align: center//
		&__paragraph
			text-align: center//
			padding-right: 0rem//
		&__read-more-link

	.section1
		&__wrapper
			width: 31rem//
			@include flex(column, wrap, flex-start, center)//
			&::before
		&__block
			width: 100%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
		&__block2
		&__block3
		&__post-container
			@include flex(column, wrap, flex-start, flex-start)//
			&:first-child
				margin-top: 2.9rem//
		&__headline
		&__date
		&__read-full-story-link
		&__img

	.section2
		&__wrapper
			width: 40%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__headline
			text-align: center//
			&::before
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			&:first-child
		&__menu-link

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			color: #919191
			text-align: center//
		&__by-link
			text-align: center//
			margin-top: 1rem//
			&:hover
			&:active
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.top-panel
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__menu-container
		&__menu
			@include flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
			&:last-child
			&:last-child::before
		&__menu-link
			@include flex(row, wrap, flex-start, flex-start)//
		&__search-input
			margin-top: 1.5rem//

	.header
		&__wrapper
			width: 90%//
			@include flex(column, wrap, flex-start, center)//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__logo-container
			@include flex(column, wrap, flex-start, center)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__img
			margin-top: 1.8rem//
		&__menu-container
			&::before, &::after
			&::before
			&::after
		&__menu
			@include flex(column, wrap, flex-start, center)//
			&::before, &::after
			&::before
			&::after
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 70%//
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
		&__block
			@include flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
			padding-left: 0rem//
			margin-top: 3rem//
		&__img
		&__headline
			font-size: 3.6rem//
			line-height: 4rem//
			text-align: center//
		&__paragraph
			text-align: center//
			padding-right: 0rem//
		&__read-more-link

	.section1
		&__wrapper
			width: 31rem//
			@include flex(column, wrap, flex-start, center)//
			&::before
		&__block
			width: 100%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
		&__block2
		&__block3
		&__post-container
			@include flex(column, wrap, flex-start, flex-start)//
			&:first-child
				margin-top: 2.9rem//
		&__headline
		&__date
		&__read-full-story-link
		&__img

	.section2
		&__wrapper
			width: 60%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__headline
			text-align: center//
			&::before
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			&:first-child
		&__menu-link

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			color: #919191
			text-align: center//
		&__by-link
			text-align: center//
			margin-top: 1rem//
			&:hover
			&:active
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.top-panel
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__menu-container
		&__menu
			@include flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
			&:last-child
			&:last-child::before
		&__menu-link
			@include flex(row, wrap, flex-start, flex-start)//
		&__search-input
			margin-top: 1.5rem//

	.header
		&__wrapper
			width: 90%//
			@include flex(column, wrap, flex-start, center)//
		&__content
			@include flex(column, wrap, flex-start, center)//
		&__logo-container
			@include flex(column, wrap, flex-start, center)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__img
			margin-top: 1.8rem//
		&__menu-container
			&::before, &::after
			&::before
			&::after
		&__menu
			@include flex(column, wrap, flex-start, center)//
			&::before, &::after
			&::before
			&::after
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 90%//
			@include flex(row, wrap, flex-start, flex-start)//
			&::before
		&__block
			@include flex(column, wrap, flex-start, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
			padding-left: 0rem//
			margin-top: 3rem//
		&__img
		&__headline
			font-size: 3.6rem//
			line-height: 4rem//
			text-align: center//
		&__paragraph
			text-align: center//
			padding-right: 0rem//
		&__read-more-link

	.section1
		&__wrapper
			width: 90%//
			@include flex(column, wrap, flex-start, center)//
			&::before
		&__block
			width: 100%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block1
		&__block2
		&__block3
		&__post-container
			@include flex(column, wrap, flex-start, flex-start)//
			&:first-child
				margin-top: 2.9rem//
		&__headline
		&__date
		&__read-full-story-link
		&__img

	.section2
		&__wrapper
			width: 60%//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__headline
			text-align: center//
			&::before
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			&:first-child
		&__menu-link

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, flex-start, center)//
		&__paragraph
			line-height: 2rem//
			color: #919191
			text-align: center//
		&__by-link
			text-align: center//
			margin-top: 1rem//
			&:hover
			&:active
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple