body {
  cursor: default; }

header {
  background: url(../img/header-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 35.7rem; }

header .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3.5rem;
  padding-left: 5%;
  padding-right: 10%; }

header .top p.logo {
  color: #fff;
  margin: 0;
  font-family: "Source Sans Pro";
  font-size: 3rem;
  line-height: 1.9rem;
  font-weight: 600;
  position: relative; }

header .top p.logo::before {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  bottom: 0.1rem;
  right: -0.5rem;
  background: #593BFF; }

header .top ul.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: -1rem;
  left: 40rem;
  overflow: hidden;
  padding: 1rem 0; }

header .top ul.main-menu li {
  position: relative;
  right: -100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

header .top ul.main-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 2.6rem;
  position: relative; }

header .top ul.main-menu li a::before {
  content: '';
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

header .top ul.main-menu li a:hover::before {
  background: #593BFF; }

header .top ul.main-menu li.active {
  right: 0; }

header .top .menu-button {
  width: 3.5rem;
  height: 2.1rem;
  position: relative;
  cursor: pointer; }

header .top .menu-button:hover .elem1 {
  width: 3.5rem;
  height: 0.3rem;
  margin-top: 0.9rem;
  margin-left: 0; }

header .top .menu-button:hover .elem2 {
  width: 3.5rem;
  height: 0.3rem;
  margin-top: 1.8rem;
  margin-left: 0; }

header .top .menu-button:hover .elem3 {
  width: 3.5rem;
  height: 0.3rem;
  margin-top: 0rem;
  margin-left: 0; }

header .top .menu-button .elem {
  background: #fff;
  position: absolute;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

header .top .menu-button .elem1 {
  width: 3.5rem;
  height: 0.3rem;
  margin-top: 0;
  margin-left: 0; }

header .top .menu-button .elem2 {
  width: 3.1rem;
  height: 0.3rem;
  margin-top: .9rem;
  margin-left: -.5rem; }

header .top .menu-button .elem3 {
  width: 2.8rem;
  height: 0.3rem;
  margin-top: 1.8rem;
  margin-left: 0; }

header .top .menu-button .elem.active {
  width: 3.5rem;
  height: 0.3rem; }

header .top .menu-button .elem1.active {
  margin-top: .9rem;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg); }

header .top .menu-button .elem2.active {
  background: rgba(255, 255, 255, 0); }

header .top .menu-button .elem3.active {
  margin-top: .9rem;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg); }

header .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

header .content h3 {
  margin: 0;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 7.4rem;
  line-height: 9.2rem;
  margin-top: 25.9rem; }

header .content h2 {
  margin: 0;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 7.4rem;
  line-height: 9.2rem;
  margin-top: 0rem; }

header .content h2 span {
  font-style: italic; }

header .content a.link {
  color: #fff;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: #593BFF;
  padding: 1.5rem 4.6rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  margin-top: 2.9rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

header .content a.link:hover {
  background: #6f55ff; }

header .content a.link:active {
  background: #4322ff; }

.section2 {
  padding-top: 9.9rem;
  padding-bottom: 11rem; }

.section2 .wrapper {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section2 .wrapper .block {
  width: 50%;
  height: auto; }

.section2 .wrapper .block1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 3rem; }

.section2 .wrapper .block1 h3 {
  margin: 0;
  font-family: "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 700;
  color: #593BFF;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 2.7rem;
  width: 100%; }

.section2 .wrapper .block1 h2 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2.6rem;
  color: #231F20;
  margin-top: 1.8rem;
  width: 100%; }

.section2 .wrapper .block1 p {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #B7B7B7;
  margin-top: 2rem;
  width: 100%; }

.section2 .wrapper .block1 a.link {
  color: #fff;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: #593BFF;
  padding: 1.5rem 4.6rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  margin-top: 5.6rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section2 .wrapper .block1 a.link:hover {
  background: #6f55ff; }

.section2 .wrapper .block1 a.link:active {
  background: #4322ff; }

.section2 .wrapper .block2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section2 .wrapper .block2 .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 27rem;
  height: 24rem;
  margin: 1.1rem;
  padding-top: 4rem;
  padding-left: 3.6rem;
  position: relative;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1); }

.section2 .wrapper .block2 .item::before {
  content: '';
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: #593BFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section2 .wrapper .block2 .item:hover::before {
  background: #E65B70; }

.section2 .wrapper .block2 .item h3 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2.2rem;
  color: #231F20;
  width: 100%; }

.section2 .wrapper .block2 .item p {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #B7B7B7;
  margin-top: 1.1rem;
  width: 100%; }

.section2 .wrapper .block2 .item a {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #593BFF;
  text-decoration: none;
  margin-top: 2.7rem;
  padding-right: 2.4rem;
  position: relative; }

.section2 .wrapper .block2 .item a:hover {
  color: #E65B70; }

.section2 .wrapper .block2 .item a:hover .arrow,
.section2 .wrapper .block2 .item a:hover .arrow::before,
.section2 .wrapper .block2 .item a:hover .arrow::after {
  background: #E65B70; }

.section2 .wrapper .block2 .item a .arrow {
  content: '';
  width: 1.2rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #593BFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section2 .wrapper .block2 .item a .arrow::before {
  content: '';
  position: absolute;
  top: -.2rem;
  left: 0.7rem;
  width: 0.6rem;
  height: 0.2rem;
  background: #593BFF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section2 .wrapper .block2 .item a .arrow::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.7rem;
  width: 0.6rem;
  height: 0.2rem;
  background: #593BFF;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section3 .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1.6rem 2rem -1rem rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1.6rem 2rem -1rem rgba(0, 0, 0, 0.1);
  padding-top: 14.7rem;
  padding-bottom: 13.9rem; }

.section3 .top h3 {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #593BFF;
  text-transform: uppercase; }

.section3 .top h2 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 6rem;
  color: #231F20;
  margin-top: 0.4rem; }

.section3 .content {
  background: #231F20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12rem;
  padding-bottom: 10.7rem; }

.section3 .content .block {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section3 .content .block .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74rem;
  height: 74rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  overflow: hidden; }

.section3 .content .block .item a.link {
  width: 100%;
  height: 100%;
  background: url(../img/section3-block1-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  text-decoration: none;
  position: relative; }

.section3 .content .block .item a.link:hover .overlay,
.section3 .content .block .item a.link:hover p {
  opacity: 1; }

.section3 .content .block .item a.link .overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0; }

.section3 .content .block .item a.link p {
  margin: 0;
  position: absolute;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2.2rem;
  color: #593BFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: .1rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0; }

.section3 .content .block .item a.link p span {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #231F20; }

.section3 .content .block2 .item {
  width: 36rem;
  height: 36rem;
  margin: 1rem; }

.section3 .content .block2 .item1, .section3 .content .block2 .item2 {
  margin-top: 0; }

.section3 .content .block2 .item1 a.link {
  background: url(../img/section3-block2-pic1.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.section3 .content .block2 .item2 a.link {
  background: url(../img/section3-block2-pic2.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.section3 .content .block2 .item3 a.link {
  background: #593BFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section3 .content .block2 .item3 a.link:hover {
  background: #6f55ff; }

.section3 .content .block2 .item3 a.link:active {
  background: #4322ff; }

.section3 .content .block2 .item3 a.link p {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  opacity: 1; }

.section3 .content .block2 .item3 a.link p span {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 4.4rem;
  color: #fff;
  text-transform: none; }

.section3 .content .block2 .item4 a.link {
  background: url(../img/section3-block2-pic3.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.section4 {
  background: url(../img/slider-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 53.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.section4 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(89, 59, 255, 0.95); }

.section4 .slider {
  width: 117rem;
  height: auto;
  margin: 0 auto;
  position: relative; }

.section4 .slider .slide {
  padding: 0rem 7rem;
  position: relative; }

.section4 .slider .slide p {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #fff;
  text-align: center; }

.section4 .slider .slide p span.quo {
  font-size: 3.2rem; }

.section4 .slider .slide p span {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff; }

.slider .owl-controls {
  position: absolute;
  top: 14.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.slider .owl-controls .owl-page span {
  width: 0.8rem;
  height: 0.8rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  margin: 0;
  margin-left: .5rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.slider .owl-controls .owl-page.active span {
  background: white; }

.section5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14.7rem;
  padding-bottom: 15rem;
  position: relative; }

.section5 h3 {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  color: #593BFF;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.section5 h2 {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 6rem;
  color: #231F20;
  margin-top: 0.4rem; }

.section5 a.link {
  color: #fff;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: #593BFF;
  padding: 1.5rem 4.6rem;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  margin-top: 2.1rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section5 a.link:hover {
  background: #6f55ff; }

.section5 a.link:active {
  background: #4322ff; }

.section5 .top-button {
  width: 5rem;
  height: 5rem;
  background: #593BFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -2.2rem;
  right: 5%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 999; }

.section5 .top-button::before, .section5 .top-button::after {
  content: '';
  width: 0.8rem;
  height: 0.2rem;
  background: #fff;
  position: absolute; }

.section5 .top-button::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 44%;
  left: 1.9rem; }

.section5 .top-button::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 44%;
  right: 1.9rem; }

.section5 .top-button:hover {
  background: #6f55ff; }

.section5 .top-button:active {
  background: #4322ff; }

.section6 {
  background: #231F20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15.3rem;
  padding-bottom: 14.7rem;
  position: relative; }

.section6::before {
  content: '';
  width: 100%;
  height: 20.3rem;
  background: #fff;
  position: absolute;
  bottom: -20.3rem;
  left: 0; }

.section6 .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section6 .socials a {
  text-decoration: none;
  color: #fff;
  width: 6rem;
  height: 6rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #1C191A;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.section6 .socials a:hover {
  background: #6f55ff; }

.section6 .socials a:active {
  background: #4322ff; }

.section6 .socials a:last-child {
  margin-right: 0; }

.section6 .socials a.twitter svg {
  width: 1.8rem;
  height: 1.8rem; }

.section6 .socials a.facebook svg {
  width: 1.8rem;
  height: 1.8rem; }

.section6 .socials a.behance svg {
  width: 1.8rem;
  height: 1.8rem; }

.section6 .socials a.dribble svg {
  width: 1.8rem;
  height: 1.8rem; }

.section6 .socials a.linkedin svg {
  width: 1.8rem;
  height: 1.8rem; }

.section6 h3 {
  margin: 0;
  color: #656363;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-top: 4.6rem; }
