// Import Variables
include pug-includes/variables.pug

// Import Head
doctype html
html(lang="en")
	include pug-includes/head.pug

	// Import Sections
	body
		include pug-includes/include.pug
		include pug-includes/index-components/header.pug
		include pug-includes/index-components/lead.pug

		// Import Scripts
		include pug-includes/scripts.pug