doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Composition
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		//- Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					p.header__logo C#[span omposition]
					p.header__logo-description Free PSD Website Template
				nav.header__menu-container
					ul.header__menu
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Homepage
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Style Demo
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Full Width
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Dropdown
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Link Text

		//- Main Section
		section.main
			.main__wrapper.wrapper
				p.main__paragraph “ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque „
				.main__slider
					img.main__slide.main__slide1(src="http://placekitten.com/960/400", alt="pic")
					img.main__slide.main__slide2(src="http://placekitten.com/960/400", alt="pic")
					img.main__slide.main__slide3(src="http://placekitten.com/960/400", alt="pic")
					img.main__slide.main__slide4(src="http://placekitten.com/960/400", alt="pic")
					img.main__slide.main__slide5(src="http://placekitten.com/960/400", alt="pic")

		//- Section1
		section.services
			.services__wrapper.wrapper
				.red-headline-container
					h2.services__headline.red-headline Our Services
				.services__blocks-container
					.services__block.services__block1
						.services__block-headline-container
							img.services__block-img(src="http://placekitten.com/32/32", alt="pic")
							h3.services__block-headline Indonectetus facilis
						p.services__block-paragraph Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.
						a.prevdef.services__read-more-link(href="#") Read More &raquo;
					.services__block.services__block2
						.services__block-headline-container
							img.services__block-img(src="http://placekitten.com/32/32", alt="pic")
							h3.services__block-headline Indonectetus facilis
						p.services__block-paragraph Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.
						a.prevdef.services__read-more-link(href="#") Read More &raquo;
					.services__block.services__block3
						.services__block-headline-container
							img.services__block-img(src="http://placekitten.com/32/32", alt="pic")
							h3.services__block-headline Indonectetus facilis
						p.services__block-paragraph Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.
						a.prevdef.services__read-more-link(href="#") Read More &raquo;

		//- Our Players
		section.players
			.players__wrapper.wrapper
				.red-headline-container
					h2.players__headline.red-headline Our Players
				.players__blocks-container
					.players__block.players__block1
						img.players__block-img(src="http://placekitten.com/176/176", alt="pic")
						p.players__block-name Name: #[span John Doe]
						p.players__block-paragraph Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.
						a.prevdef.players__block-view-profile-link(href="#") View Profile &raquo;
					.players__block.players__block2
						img.players__block-img(src="http://placekitten.com/176/176", alt="pic")
						p.players__block-name Name: #[span John Doe]
						p.players__block-paragraph Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.
						a.prevdef.players__block-view-profile-link(href="#") View Profile &raquo;
					.players__block.players__block3
						img.players__block-img(src="http://placekitten.com/176/176", alt="pic")
						p.players__block-name Name: #[span John Doe]
						p.players__block-paragraph Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.
						a.prevdef.players__block-view-profile-link(href="#") View Profile &raquo;
					.players__block.players__block4
						img.players__block-img(src="http://placekitten.com/176/176", alt="pic")
						p.players__block-name Name: #[span John Doe]
						p.players__block-paragraph Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.
						a.prevdef.players__block-view-profile-link(href="#") View Profile &raquo;
					.players__block.players__block5
						img.players__block-img(src="http://placekitten.com/176/176", alt="pic")
						p.players__block-name Name: #[span John Doe]
						p.players__block-paragraph Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.
						a.prevdef.players__block-view-profile-link(href="#") View Profile &raquo;

		//- Latest Work
		section.work
			.work__wrapper.wrapper
				.red-headline-container
					h2.work__headline.red-headline Latest Work
				.work__blocks-container
					a.prevdef.work__block.work__block1(href="#")
						img.work__block-img(src="http://placekitten.com/300/160", alt="pic")
					a.prevdef.work__block.work__block2(href="#")
						img.work__block-img(src="http://placekitten.com/300/160", alt="pic")
					a.prevdef.work__block.work__block3(href="#")
						img.work__block-img(src="http://placekitten.com/300/160", alt="pic")

		//- Contact Section
		footer.contact
			.contact__wrapper.wrapper
				.contact__block.contact__block1
					h3.contact__block-headline Latest From The Blog
					a.prevdef.contact__post-container(href="#")
						.contact__post-img-container
							img.contact__post-img(src="http://placekitten.com/95/95", alt="pic")
						.contact__post-text-container
							h3.contact__post-headline Metuervestas mus lacinia
							p.contact__post Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.
					a.prevdef.contact__post-container(href="#")
						.contact__post-img-container
							img.contact__post-img(src="http://placekitten.com/95/95", alt="pic")
						.contact__post-text-container
							h3.contact__post-headline Metuervestas mus lacinia
							p.contact__post Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.
				.contact__block.contact__block2
					h3.contact__block-headline Company Details
					p.contact__block2-paragraph.contact__company-name Company Name
					p.contact__block2-paragraph.contact__street-name Street Name & Number
					p.contact__block2-paragraph.contact__town Town
					p.contact__block2-paragraph.contact__postcode Postcode/Zip
					p.contact__block2-paragraph.contact__tel Tel: xxxxx xxxxxxxxxx
					p.contact__block2-paragraph.contact__fax Fax: xxxxx xxxxxxxxxx
					p.contact__block2-paragraph.contact__email Email: #[span contact@mydomain.com]
					p.contact__block2-paragraph.contact__office-hours Office Hours
					p.contact__block2-paragraph.contact__office-hours1 Moday - Friday: 08:00 - 17:30
					p.contact__block2-paragraph.contact__office-hours2 Saturday: 08:00 - 13:00
				.contact__block.contact__block3
					h3.contact__block-headline Contact Us
					form.contact__form(action="" method="POST")
						input.contact__input.contact__name-input(type="text" placeholder="name")
						input.contact__input.contact__email-input(type="text" placeholder="email")
						textarea.contact__input.contact__message-input(placeholder="message")
						button.prevdef.contact__submit-button Submit

		//- Copy Section
		section.copy
			.copy__wrapper.wrapper
				.copy__paragraph Copyright © 2013 - All Rights Reserved - Domain Name
				a.prevdef.copy__by-link(href="#") Template by OS Template

		//- Modals
		.modal__overlay
		.modal__error-container.modal__window
			p.modal__paragraph Fill all the inputs, please!
		.modal__success-container.modal__window
			p.modal__paragraph Check your email out!
		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]