mixin container(props = {})
  - const { message } = props;

  .container
    h3.text-primary!= message
  .owl-carousel__container
    .owl-carousel.owl-theme
      img(src="http://dummyimage.com/600x500/111/fff")
      img(src="http://dummyimage.com/601x500/111/fff")
      img(src="http://dummyimage.com/602x500/111/fff")