@import '../../scss/variables';
@import '../../scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';

.test {
  input {
    outline: none;
    margin-top: 0.2rem;
    border: 2px solid transparent;
  }
  output {
    margin-top: 0.2rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }
  button {
    margin-top: 0.4rem;
  }
  table {
    margin-top: 1rem;
  }
  table tr td {
    @include size(3.6rem, 3.6rem);
    @include outline(orange);
    text-align: center;
    cursor: pointer;
  }
  ul {
    margin-top: 1rem;
  }
  span {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }
  .active {
    background: $blue;
  }
}

// Bootstrap Media Queries
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

* {
  // @include outline();
}
