@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

// 1rem === 10px
body
	background: $space-grey

.home
	position: relative
	background: url('../assets/home-bg.jpg') no-repeat center
	background-size: cover
	@include size(100%, 100vh)
	overflow: hidden
	&__overlay
		position: absolute
		top: 0rem
		left: 0rem
		@include size(100%, 100%)
		background: rgba(#232323, 0.7)
	&__wrapper
		@include wrapper(115rem, auto)
		@include flex(column, wrap, center, center)
	&__content
		position: relative
		@include flex(column, wrap, center, center)
		margin-top: 10%
	&__headline
		margin: 0rem
		font-family: $mw
		font-size: 5.5rem
		line-height: 9rem
		font-weight: 400
		color: #fff
		text-align: center
		border: .1rem solid #595959
		padding: 2.7rem 6rem 3.2rem
		span
			color: $orange
	&__menu
		margin-top: 5%
	&__menu-link
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		text-transform: uppercase
		text-decoration: none
		color: #fff
		padding: 0rem 1.4rem
		position: relative
		transition: .2s
		&::before
			content: ''
			@include size(0.1rem, 100%)
			background: $orange
			position: absolute
			top: 0rem
			right: 0rem
		&:last-child::before
			content: none
		&:hover
			color: $orange
	&__scroll-down
		@include size(4rem, 4rem)
		border: none
		position: relative
		outline: none
		cursor: pointer
		display: block
		margin-top: 8%
		margin-left: -2rem
		&::before, &::after
			content: ''
			@include size(.2rem, 1rem)
			background: $orange
			position: absolute
		&::before
			left: 1.6rem
			top: 1.4rem
			transform: rotate(-45deg)
		&::after
			right: 1.6rem
			top: 1.4rem
			transform: rotate(45deg)
	&__bottom-panel
		position: absolute
		@include size(80%, auto)
		@include flex(row, wrap, space-between, center)
		padding-right: 3rem
		padding-left: 0.4rem
		bottom: 5%
		left: 50%
		transform: translateX(-50%)
	&__logo
		@include size(4.6rem, 4.6rem)
		border: .2rem solid $orange
		border-radius: 50%
		position: relative
		&::before
			content: 'F'
			font-family: $os
			font-size: 2.4rem
			font-weight: 400
			color: $orange
			position: absolute
			top: 50%
			left: 1.4rem
			transform: translateY(-50%)
	&__get-in-touch
		font-family: $rb
		font-weight: 500
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
		text-decoration: none
		position: relative
		transition: .2s
		&:hover
			color: $orange
		&::before
			content: '\2192'
			position: absolute
			font-size: 1.1rem
			top: 0rem
			right: -2.4rem
			color: $orange

.our-services
	background: #202020
	padding-top: 14.6rem
	padding-bottom: 14.8rem
	&__wrapper
		@include wrapper(102rem, auto)
		@include flex(column, wrap, center, center)
	&__section-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		position: relative
		&::before
			content: ''
			@include size(0.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: -14.6rem
			left: 50%
	&__headline
		margin: 0rem
		font-family: $mw
		font-weight: 400
		font-size: 4rem
		line-height: 6.5rem
		color: #fff
		text-align: center
		padding: 0rem 14.5rem
		margin-top: 2.4rem
	&__content
		@include flex(row, no-wrap, flex-start, flex-start)
		margin-top: 10.7rem
		@include size(100%, auto)
	&__item
		@include size(calc(102rem / 3), auto)
		@include flex(column, wrap, flex-start, flex-start)
		margin-left: 15rem
	&__item1
		margin-left: 0rem
	&__icon
	&__item-headline
		margin: 0rem
		font-family: $mw
		font-size: 3rem
		font-weight: 400
		color: #fff
		margin-top: 3.1rem
	&__item-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.4rem
		line-height: 2.7rem
		color: #BBB
		margin-top: 1.8rem
		width: 100%
	&__item-link
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
		text-decoration: none
		margin-top: 2.6rem
		position: relative
		&:hover
			color: $orange
		&::before
			content: '\2192'
			position: absolute
			font-size: 1.1rem
			top: 0rem
			right: -2.4rem
			color: $orange

.branding
	background: #181818
	padding-top: 15rem
	padding-bottom: 20rem
	&__wrapper
		@include wrapper(113.9rem, auto)
		position: relative
		@include flex(column, wrap, center, center)
	&__section-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		position: absolute
		top: 14.6rem
		left: 0rem
		&::before
			content: ''
			@include size(0.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: -14.6rem
			left: 0rem
	&__slider
		@include size(80rem, 60rem)
		margin: 0rem auto
		box-shadow: 0.4rem 0.4rem 1rem rgba(#000, 0.2)
		.owl-controls
			position: absolute
			bottom: -5.4rem
			left: 50%
			transform: translateX(-50%)
			.owl-page span
				width: 3rem
				height: 0.3rem
				background: #5C5C5C
				opacity: 1
				margin: 0
				margin-left: 4.6rem
				display: inline-block
				vertical-align: middle
				transition: all 0.5s
			.owl-page:first-child span
				margin: 0rem
			.owl-page.active span
				background: $orange
	&__slide
	&__slide1
		@include size(80rem, 60rem)
		background: $red
	&__slide2
		@include size(80rem, 60rem)
		background: $green
	&__slide3
		@include size(80rem, 60rem)
		background: $blue
	&__slide4
		@include size(80rem, 60rem)
		background: $orange
	&__slide5
		@include size(80rem, 60rem)
		background: $purple
	&__details
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
		text-decoration: none
		margin-top: 2.6rem
		position: absolute
		bottom: 18rem
		right: 3rem
		&:hover
			color: $orange
		&::before
			content: '\2192'
			position: absolute
			font-size: 1.1rem
			top: 0rem
			right: -2.4rem
			color: $orange
	&__view-slides
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
		text-decoration: none
		margin-top: 2.6rem
		position: absolute
		bottom: 14.9rem
		right: 6.1rem
		&:hover
			color: $orange
		&::before
			content: '\2192'
			position: absolute
			font-size: 1.1rem
			top: 0rem
			right: -2.4rem
			color: $orange
		&::after
			content: ''
			@include size(.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: 4rem
			left: 0rem
			cursor: default

.testimonials
	background: #202020
	padding-top: 14.6rem
	padding-bottom: 17.6rem
	&__wrapper
		@include wrapper(114.6rem, auto)
		@include flex(column, wrap, center, center)
	&__section-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		position: relative
		&::before
			content: ''
			@include size(0.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: -14.6rem
			left: 50%
	&__headline
		margin: 0rem
		font-family: $mw
		font-weight: 400
		font-size: 4rem
		line-height: 6.5rem
		text-align: center
		color: #fff
		margin-top: 2.5rem
		padding: 0rem 11rem
	&__brands
		margin-top: 10.1rem
		@include flex(row, wrap, center, center)
	&__brand
		margin-left: 8rem
		&:first-child
			margin-left: 0rem
	&__slider
		@include size(74.8rem, 37.4rem)
		background: #181818
		margin-top: 9.7rem
		box-shadow: 0.4rem 0.4rem 1rem rgba(#000, 0.2)
		.owl-controls
			position: absolute
			bottom: -5.4rem
			left: 50%
			transform: translateX(-50%)
			.owl-page span
				width: 3rem
				height: 0.3rem
				background: #5C5C5C
				opacity: 1
				margin: 0
				margin-left: 4.6rem
				display: inline-block
				vertical-align: middle
				transition: all 0.5s
			.owl-page:first-child span
				margin: 0rem
			.owl-page.active span
				background: $orange
	&__slide
		@include flex(column, wrap, center, center)
	&__slide1
		.testimonials__slide-pic
			background: $red
	&__slide2
		.testimonials__slide-pic
			background: $blue
	&__slide3
		.testimonials__slide-pic
			background: $green
	&__slide4
		.testimonials__slide-pic
			background: $orange
	&__slide5
		.testimonials__slide-pic
			background: $purple
	&__slide-pic
		@include size(7.5rem, 7.5rem)
		margin: 0rem auto
	&__slide-paragraph
		margin: 0rem
		font-family: $mw
		font-size: 1.7rem
		line-height: 3.5rem
		color: #BBB
		text-align: center
		margin-top: 4rem
		padding: 0rem 4rem
		width: 100%
	&__author
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		margin-top: 4.3rem
		position: relative
		&::before
			content: ''
			@include size(16.8rem, 0.1rem)
			background: #474747
			position: absolute
			top: 0.2rem
			left: -20.8rem
		&::after
			content: ''
			@include size(16.8rem, 0.1rem)
			background: #474747
			position: absolute
			top: 0.2rem
			right: -20.8rem
	&__company
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		margin-top: 1.1rem

.our-team
	background: #181818
	padding-top: 14.9rem
	padding-bottom: 10.4rem
	&__wrapper
		@include wrapper(113.6rem, auto)
		@include flex(column, wrap, center, center)
	&__section-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		position: relative
		&::before
			content: ''
			@include size(0.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: -14.6rem
			left: 50%
	&__headline
		margin: 0rem
		font-family: $mw
		font-weight: 400
		font-size: 4rem
		color: #fff
		margin-top: 3.3rem
	&__content
		margin-top: 10.8rem
		.row
			@include flex(row, wrap, flex-start, flex-start)
		.row1
			border-bottom: .1rem solid #202020
		.row2
	&__item
		border-right: .1rem solid #202020
		@include size(28.4rem, 32.2rem)
		@include flex(column, wrap, flex-start, center)
		cursor: pointer
		overflow: hidden
		&:last-child
			border: none
	&__person-container
		transition: 0.3s
		@include size(100%, auto)
		@include flex(column, wrap, center, center)
	&__item-pic
		@include size(12rem, 12rem)
		border-radius: 50%
		background: url('http://placekitten.com/250/250') no-repeat center
		background-size: cover
		margin-top: 4.9rem
	&__item-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		color: $orange
		text-transform: uppercase
		margin-top: 2.5rem
		text-align: center
	&__item-position
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		margin-top: 0.9rem
		text-align: center
	&__item-description
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.6rem
		color: #BABABA
		@include size(18.3rem, auto)
		opacity: 0
		transition: 0.3s
	&__item.active
		position: relative
	&__person-container.active
		transform: rotate(90deg)
		position: absolute
		top: 7.1rem
		left: -7.1rem
		@include size(21rem, 6.8rem)
		&::before
			content: ''
			@include size(6.8rem, 0.1rem)
			background: $orange
			position: absolute
			bottom: 0rem
			left: 0rem
		&::after
			content: ''
			@include size(0.1rem, 6.8rem)
			background: $orange
			position: absolute
			bottom: 0rem
			left: 0rem
	&__item-pic.active
		@include size(4.8rem, 4.8rem)
		transform: rotate(-90deg)
		position: absolute
		top: -4.1rem
		left: 1.4rem
	&__item-name.active
		position: absolute
		top: -1.4rem
		left: 7.8rem
	&__item-position.active
		position: absolute
		top: 2.7rem
		left: 7.8rem
	&__item-description.active
		@include size(18.3rem, auto)
		position: absolute
		top: 0.4rem
		right: 2rem
		opacity: 1

.contact-us
	background: #343434
	padding: 14.6rem 0rem 6.6rem
	&__wrapper
		@include wrapper(96rem, auto)
		@include flex(column, wrap, center, center)
	&__section-name
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.4rem
		text-transform: uppercase
		color: $orange
		position: relative
		&::before
			content: ''
			@include size(0.1rem, 12.4rem)
			background: $orange
			position: absolute
			top: -14.6rem
			left: 50%
	&__headline
		margin: 0rem
		font-family: $mw
		font-weight: 400
		font-size: 4rem
		color: #fff
		margin-top: 3.3rem
	&__form
		background: #181818
		@include size(75rem, 50rem)
		margin-top: 8.3rem
		@include flex(column, wrap, flex-start, center)
		box-shadow: 0.4rem 0.4rem 1rem rgba(#000, 0.2)
		.row
			width: 100%
		.row1
			@include flex(row, wrap, flex-start, flex-start)
		.row2
		.row3
	&__block
		@include size(50%, auto)
	&__block1
	&__block2
	&__block3
		@include size(100%, auto)
		@include flex(column, wrap, center, center)
	&__input-container
		@include flex(column, wrap, flex-end, flex-start)
		padding-left: 5.6rem
		height: 10.1rem
	&__message-input-container
		padding-left: 0rem
		height: 12.3rem
	&__block3 .contact-us__input-container
	&__label
		font-family: $os
		font-weight: 400
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
		transition: 0.1s
	&__input
		border: none
		outline: none
		border-bottom: .1rem solid #5C5C5C
		background: none
		height: 2.3rem
		width: 26.2rem
		font-family: $os
		font-weight: 400
		font-size: 1.4rem
		color: #fff
		transition: 0.1s
	&__user-name
	&__company
	&__user-email
	&__subject
	&__user-message
		width: 63.7rem
	&__submit-button
		margin-top: 5.8rem
		@include size(21.9rem, 6rem)
		background: $orange
		outline: none
		border: none
		cursor: pointer
		position: relative
		transition: .2s
		&:hover
			background: lighten($orange, 3%)
		&:active
			background: darken($orange, 3%)
		&::before
			content: 'Get in touch'
			font-family: $os
			font-weight: 600
			font-size: 1.7rem
			text-transform: uppercase
			color: #232323
			position: absolute
			top: 2rem
			left: 3.7rem
		&::after
			content: '\2192'
			position: absolute
			font-size: 3.1rem
			top: 1rem
			right: 3.5rem
			color: #232323
	&__label.active
		color: $orange
		font-size: 1.1rem
		text-transform: uppercase
	&__input.active
		padding: 2rem 0rem
		border-color: $orange
	&__input-container.active
	&__message-input-container.active

.footer
	background: #343434
	padding-top: 5.6rem
	padding-bottom: 12rem
	&__wrapper
		@include wrapper(96rem, auto)
		@include flex(row, wrap, flex-start, flex-start)
	&__block
		@include flex(column, wrap, flex-start, flex-start)
	&__block1
		@include flex(row, wrap, flex-start, flex-start)
		padding-left: 10.5rem
	&__block2
		margin-left: 7.8rem
	&__block3
		margin-left: 9.3rem
	&__logo
		@include size(4.6rem, 4.6rem)
		border: .2rem solid $orange
		border-radius: 50%
		position: relative
		margin-top: 0.1rem
		&::before
			content: 'F'
			font-family: $os
			font-size: 2.4rem
			font-weight: 400
			color: $orange
			position: absolute
			top: 50%
			left: 1.4rem
			transform: translateY(-50%)
	&__text-container
		margin-left: 5.4rem
	&__first-paragraph
		margin: 0rem
		font-family: $os
		font-size: 1.4rem
		text-transform: uppercase
		color: #fff
	&__second-paragraph
		color: #B1B1B1
		font-family: $os
		font-size: 1.4rem
		margin: 0rem
		margin-top: 1.9rem
		line-height: 2.6rem
	&__socials
		@include flex(row, wrap, center, center)
		margin-top: 2.4rem
	&__social
		background: #BABABA
		text-decoration: none
		border-radius: 50%
		@include size(2.4rem, 2.4rem)
		@include flex(row, wrap, center, center)
		margin-left: 0.8rem
		transition: .2s
		&:hover
			background: darken(#BABABA, 5%)
		&:first-child
			margin-left: 0rem
		svg
			@include size(1.4rem, 1.4rem)
			path
				fill: #343434

.modal
	&__overlay
		position: fixed
		top: 0rem
		left: 0rem
		@include size(100%, 100%)
		background: rgba(#000, 0.9)
		display: none
	&__error
		position: fixed
		top: -100%
		left: 50%
		z-index: 999
		background: #181818
		@include size(30rem, 10rem)
		@include flex(row, wrap, center, center)
		margin-top: -5rem
		margin-left: -15rem
		transition: 0.5s
	&__error-paragraph
		color: #fff
		margin: 0rem
		font-family: $os
		font-size: 2rem
	&__success
		position: fixed
		top: -100%
		left: 50%
		z-index: 999
		background: #181818
		display: none
		@include size(30rem, 10rem)
		@include flex(row, wrap, center, center)
		margin-top: -5rem
		margin-left: -15rem
		transition: 0.5s
	&__success-paragraph
		margin: 0rem
		color: #fff
		font-family: $os
		font-size: 2rem
*
	// @include outline($blue)