@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
	body
		// background: $media-purple
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		// background: $media-orange

	.home
		@include size(100%, auto)//
		&__overlay
		&__wrapper
			@include wrapper(100%, auto)//
		&__content
		&__headline
			font-size: 5.5rem//
			line-height: 8rem//
			padding: 3rem 3rem 3rem//
			span
		&__menu
		&__menu-link
			&::before
			&:last-child::before
			&:hover
		&__scroll-down
			&::before, &::after
			&::before
			&::after
		&__bottom-panel
			position: relative//
			@include size(100%, auto)//
			padding-right: 4rem//
			padding-left: 1.4rem//
			padding-bottom: 2rem//
			margin-top: 10%//
		&__logo
			&::before
		&__get-in-touch
			&:hover
			&::before

	.our-services
		padding-bottom: 6.8rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			font-size: 3rem//
			padding: 0rem 2rem//
		&__content
			@include flex(row, no-wrap, flex-start, flex-start)//
			margin-top: 5.7rem//
		&__item
			@include size(33%, auto)//
			margin-left: 0rem//
			padding: 0rem 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__icon
		&__item-headline
		&__item-paragraph
		&__item-link
			&:hover
			&::before

	.branding
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			position: relative//
			top: 0rem//
			&::before
				top: -14.9rem//
				left: 50%//
		&__headline
			font-size: 4rem//
			position: relative//
			top: 11rem//
			text-align: center//
		&__slider
			@include size(100%, 60rem)//
			margin: 4rem auto 0rem//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
					background: $orange
		&__slide
			margin: 0rem auto//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__details
			margin-top: 9.6rem//
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
				right: -2.6rem//
		&__view-slides
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
			&::after
				content: none//

	.testimonials
		padding-bottom: 10rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			padding: 0rem 0rem//
		&__brands
			margin-top: 8.1rem//
			@include flex(column, wrap, center, center)//
		&__brand
			margin-left: 0rem//
			margin-top: 6rem//
			&:first-child
				margin-top: 0rem//
		&__slider
			@include size(100%, auto)//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			@include size(100%, auto)//
			margin: 0rem auto//
		&__slide1
			.testimonials__slide-pic
		&__slide2
			.testimonials__slide-pic
		&__slide3
			.testimonials__slide-pic
		&__slide4
			.testimonials__slide-pic
		&__slide5
			.testimonials__slide-pic
		&__slide-pic
		&__slide-paragraph
			padding: 0rem 0rem//
		&__author
			&::before
				content: none//
			&::after
				content: none//
		&__company

	.our-team
		padding-bottom: 7.4rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__content
			margin-top: 3.8rem//
			@include flex(column, wrap, center, center)//
			.row
				@include flex(column, wrap, center, center)//
			.row1
				border: none//
			.row2
		&__item
			border: .1rem solid #202020//
			margin-top: 3rem//
			&:last-child
				border: .1rem solid #202020//
			&:first-child
				margin-top: 0rem//
		&__person-container
		&__item-pic
		&__item-name
		&__item-position
		&__item-description
		&__item.active
		&__person-container.active
			&::after
		&__item-pic.active
		&__item-name.active
		&__item-position.active
		&__item-description.active

	.contact-us
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__form
			background: #181818
			@include size(80%, auto)//
			margin-top: 5.3rem//
			padding: 0rem 5rem 6rem//
			.row
			.row1
			.row2
			.row3
		&__block
			@include size(100%, auto)//
		&__block1
		&__block2
		&__block3
		&__input-container
			padding-left: 0rem//
		&__message-input-container
			width: 100%//
		&__block3 .contact-us__input-container
		&__label
		&__input
			width: 100%//
		&__user-name
		&__company
		&__user-email
		&__subject
		&__user-message
			width: 100%//
		&__submit-button
			&:hover
			&:active
			&::before
			&::after
		&__label.active
		&__input.active
		&__input-container.active
		&__message-input-container.active

	.footer
		padding-top: 0rem//
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
			@include flex(row, wrap, space-around, flex-start)//
		&__block
			@include flex(column, wrap, center, flex-start)//
			@include size(25%, auto)//
			margin-top: 3rem//
			margin-left: 5%//
		&__block1
			@include flex(column, wrap, center, flex-start)//
			padding-left: 0rem//
			margin-top: 0rem//
			position: relative//
			top: -3.7rem//
			margin-left: 0rem//
		&__block2
			margin-left: 0rem//
		&__block3
			margin-left: 0rem//
		&__logo
			&::before
		&__text-container
			margin-left: 0rem//
			@include flex(column, wrap, center, flex-start)//
			margin-top: 2rem//
		&__first-paragraph
		&__second-paragraph
		&__socials
		&__social
			&:hover
			&:first-child
			svg
				path
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		// background: $media-pink

	.home
		@include size(100%, auto)//
		&__overlay
		&__wrapper
			@include wrapper(100%, auto)//
		&__content
		&__headline
			font-size: 5.5rem//
			line-height: 8rem//
			padding: 3rem 3rem 3rem//
			span
		&__menu
		&__menu-link
			&::before
			&:last-child::before
			&:hover
		&__scroll-down
			&::before, &::after
			&::before
			&::after
		&__bottom-panel
			position: relative//
			@include size(100%, auto)//
			padding-right: 4rem//
			padding-left: 1.4rem//
			padding-bottom: 2rem//
			margin-top: 10%//
		&__logo
			&::before
		&__get-in-touch
			&:hover
			&::before

	.our-services
		padding-bottom: 6.8rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			font-size: 3rem//
			padding: 0rem 2rem//
		&__content
			@include flex(column, no-wrap, flex-start, flex-start)//
			margin-top: 5.7rem//
		&__item
			@include size(100%, auto)//
			margin-left: 0rem//
			padding: 0rem 2rem//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__icon
		&__item-headline
		&__item-paragraph
		&__item-link
			&:hover
			&::before

	.branding
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			position: relative//
			top: 0rem//
			&::before
				top: -14.9rem//
				left: 50%//
		&__headline
			font-size: 4rem//
			position: relative//
			top: 11rem//
			text-align: center//
		&__slider
			@include size(100%, 60rem)//
			margin: 4rem auto 0rem//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
					background: $orange
		&__slide
			margin: 0rem auto//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__details
			margin-top: 9.6rem//
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
				right: -2.6rem//
		&__view-slides
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
			&::after
				content: none//

	.testimonials
		padding-bottom: 10rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			padding: 0rem 0rem//
		&__brands
			margin-top: 8.1rem//
			@include flex(column, wrap, center, center)//
		&__brand
			margin-left: 0rem//
			margin-top: 6rem//
			&:first-child
				margin-top: 0rem//
		&__slider
			@include size(100%, auto)//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			@include size(100%, auto)//
			margin: 0rem auto//
		&__slide1
			.testimonials__slide-pic
		&__slide2
			.testimonials__slide-pic
		&__slide3
			.testimonials__slide-pic
		&__slide4
			.testimonials__slide-pic
		&__slide5
			.testimonials__slide-pic
		&__slide-pic
		&__slide-paragraph
			padding: 0rem 0rem//
		&__author
			&::before
				content: none//
			&::after
				content: none//
		&__company

	.our-team
		padding-bottom: 7.4rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__content
			margin-top: 3.8rem//
			@include flex(column, wrap, center, center)//
			.row
				@include flex(column, wrap, center, center)//
			.row1
				border: none//
			.row2
		&__item
			border: .1rem solid #202020//
			margin-top: 3rem//
			&:last-child
				border: .1rem solid #202020//
			&:first-child
				margin-top: 0rem//
		&__person-container
		&__item-pic
		&__item-name
		&__item-position
		&__item-description
		&__item.active
		&__person-container.active
			&::after
		&__item-pic.active
		&__item-name.active
		&__item-position.active
		&__item-description.active

	.contact-us
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__form
			background: #181818
			@include size(100%, auto)//
			margin-top: 5.3rem//
			padding: 0rem 1rem 6rem//
			.row
			.row1
			.row2
			.row3
		&__block
			@include size(100%, auto)//
		&__block1
		&__block2
		&__block3
		&__input-container
			padding-left: 0rem//
		&__message-input-container
			width: 100%//
		&__block3 .contact-us__input-container
		&__label
		&__input
			width: 100%//
		&__user-name
		&__company
		&__user-email
		&__subject
		&__user-message
			width: 100%//
		&__submit-button
			&:hover
			&:active
			&::before
			&::after
		&__label.active
		&__input.active
		&__input-container.active
		&__message-input-container.active

	.footer
		padding-top: 0rem//
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
			@include flex(row, wrap, space-around, flex-start)//
		&__block
			@include flex(column, wrap, center, flex-start)//
			@include size(25%, auto)//
			margin-top: 3rem//
			margin-left: 5%//
		&__block1
			@include flex(column, wrap, center, flex-start)//
			padding-left: 0rem//
			margin-top: 0rem//
			position: relative//
			top: -3.7rem//
			margin-left: 0rem//
		&__block2
			margin-left: 0rem//
		&__block3
			margin-left: 0rem//
		&__logo
			&::before
		&__text-container
			margin-left: 0rem//
			@include flex(column, wrap, center, flex-start)//
			margin-top: 2rem//
		&__first-paragraph
		&__second-paragraph
		&__socials
		&__social
			&:hover
			&:first-child
			svg
				path
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		// background: $media-blue

	.home
		@include size(100%, auto)//
		&__overlay
		&__wrapper
			@include wrapper(100%, auto)//
		&__content
		&__headline
			font-size: 3.5rem//
			line-height: 5rem//
			padding: 2rem 1rem 2rem//
			span
		&__menu
		&__menu-link
			&::before
			&:last-child::before
			&:hover
		&__scroll-down
			&::before, &::after
			&::before
			&::after
		&__bottom-panel
			position: relative//
			@include size(100%, auto)//
			padding-right: 4rem//
			padding-left: 1.4rem//
			padding-bottom: 2rem//
			margin-top: 10%//
		&__logo
			&::before
		&__get-in-touch
			&:hover
			&::before

	.our-services
		padding-bottom: 6.8rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			font-size: 3rem//
			padding: 0rem 2rem//
		&__content
			@include flex(column, no-wrap, flex-start, flex-start)//
			margin-top: 5.7rem//
		&__item
			@include size(100%, auto)//
			margin-left: 0rem//
			padding: 0rem 2rem//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__icon
		&__item-headline
		&__item-paragraph
		&__item-link
			&:hover
			&::before

	.branding
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			position: relative//
			top: 0rem//
			&::before
				top: -14.9rem//
				left: 50%//
		&__headline
			font-size: 4rem//
			position: relative//
			top: 11rem//
			text-align: center//
		&__slider
			@include size(100%, 60rem)//
			margin: 4rem auto 0rem//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			margin: 0rem auto//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__details
			margin-top: 9.6rem//
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
				right: -2.6rem//
		&__view-slides
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
			&::after
				content: none//

	.testimonials
		padding-bottom: 10rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			padding: 0rem 0rem//
		&__brands
			margin-top: 8.1rem//
			@include flex(column, wrap, center, center)//
		&__brand
			margin-left: 0rem//
			margin-top: 6rem//
			&:first-child
				margin-top: 0rem//
		&__slider
			@include size(100%, auto)//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			@include size(100%, auto)//
			margin: 0rem auto//
		&__slide1
			.testimonials__slide-pic
		&__slide2
			.testimonials__slide-pic
		&__slide3
			.testimonials__slide-pic
		&__slide4
			.testimonials__slide-pic
		&__slide5
			.testimonials__slide-pic
		&__slide-pic
		&__slide-paragraph
			padding: 0rem 0rem//
		&__author
			&::before
				content: none//
			&::after
				content: none//
		&__company

	.our-team
		padding-bottom: 7.4rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__content
			margin-top: 3.8rem//
			@include flex(column, wrap, center, center)//
			.row
				@include flex(column, wrap, center, center)//
			.row1
				border: none//
			.row2
		&__item
			border: .1rem solid #202020//
			margin-top: 3rem//
			&:last-child
				border: .1rem solid #202020//
			&:first-child
				margin-top: 0rem//
		&__person-container
		&__item-pic
		&__item-name
		&__item-position
		&__item-description
		&__item.active
		&__person-container.active
			&::after
		&__item-pic.active
		&__item-name.active
		&__item-position.active
		&__item-description.active

	.contact-us
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__form
			background: #181818
			@include size(100%, auto)//
			margin-top: 5.3rem//
			padding: 0rem 1rem 6rem//
			.row
			.row1
			.row2
			.row3
		&__block
			@include size(100%, auto)//
		&__block1
		&__block2
		&__block3
		&__input-container
			padding-left: 0rem//
		&__message-input-container
			width: 100%//
		&__block3 .contact-us__input-container
		&__label
		&__input
			width: 100%//
		&__user-name
		&__company
		&__user-email
		&__subject
		&__user-message
			width: 100%//
		&__submit-button
			&:hover
			&:active
			&::before
			&::after
		&__label.active
		&__input.active
		&__input-container.active
		&__message-input-container.active

	.footer
		padding-top: 0rem//
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block
			@include flex(column, wrap, center, center)//
			@include size(100%, auto)//
			margin-top: 3rem//
		&__block1
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin-top: 0rem//
		&__block2
			margin-left: 0rem//
		&__block3
			margin-left: 0rem//
		&__logo
			&::before
		&__text-container
			margin-left: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 2rem//
		&__first-paragraph
		&__second-paragraph
		&__socials
		&__social
			&:hover
			&:first-child
			svg
				path
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		// background: $media-green

	.home
		@include size(100%, auto)//
		&__overlay
		&__wrapper
			@include wrapper(100%, auto)//
		&__content
		&__headline
			font-size: 2.2rem//
			line-height: 5rem//
			padding: 0rem 1rem 0rem//
			span
		&__menu
		&__menu-link
			&::before
			&:last-child::before
			&:hover
		&__scroll-down
			&::before, &::after
			&::before
			&::after
		&__bottom-panel
			position: relative//
			@include size(100%, auto)//
			padding-right: 4rem//
			padding-left: 1.4rem//
			padding-bottom: 2rem//
			margin-top: 10%//
		&__logo
			&::before
		&__get-in-touch
			&:hover
			&::before

	.our-services
		padding-bottom: 6.8rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			font-size: 3rem//
			padding: 0rem 0rem//
		&__content
			@include flex(column, no-wrap, flex-start, flex-start)//
			margin-top: 5.7rem//
		&__item
			@include size(100%, auto)//
			margin-left: 0rem//
			padding: 0rem 2rem//
			margin-top: 5rem//
			&:first-child
				margin-top: 0rem//
		&__item1
		&__icon
		&__item-headline
		&__item-paragraph
		&__item-link
			&:hover
			&::before

	.branding
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			position: relative//
			top: 0rem//
			&::before
				top: -14.9rem//
				left: 50%//
		&__headline
			font-size: 4rem//
			position: relative//
			top: 11rem//
			text-align: center//
		&__slider
			@include size(100%, 60rem)//
			margin: 4rem auto 0rem//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			margin: 0rem auto//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__details
			margin-top: 9.6rem//
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
				right: -2.6rem//
		&__view-slides
			position: relative//
			bottom: 0rem//
			right: 0rem//
			&:hover
			&::before
			&::after
				content: none//

	.testimonials
		padding-bottom: 10rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			padding: 0rem 0rem//
		&__brands
			margin-top: 8.1rem//
			@include flex(column, wrap, center, center)//
		&__brand
			margin-left: 0rem//
			margin-top: 6rem//
			&:first-child
				margin-top: 0rem//
		&__slider
			@include size(100%, auto)//
			.owl-controls
				@include size(100%, auto)//
				.owl-page span
					margin-left: 2.6rem//
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			@include size(100%, auto)//
			margin: 0rem auto//
		&__slide1
			.testimonials__slide-pic
		&__slide2
			.testimonials__slide-pic
		&__slide3
			.testimonials__slide-pic
		&__slide4
			.testimonials__slide-pic
		&__slide5
			.testimonials__slide-pic
		&__slide-pic
		&__slide-paragraph
			padding: 0rem 0rem//
		&__author
			&::before
				content: none//
			&::after
				content: none//
		&__company

	.our-team
		padding-bottom: 7.4rem//
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__content
			margin-top: 3.8rem//
			@include flex(column, wrap, center, center)//
			.row
				@include flex(column, wrap, center, center)//
			.row1
				border: none//
			.row2
		&__item
			border: .1rem solid #202020//
			margin-top: 3rem//
			&:last-child
				border: .1rem solid #202020//
			&:first-child
				margin-top: 0rem//
		&__person-container
		&__item-pic
		&__item-name
		&__item-position
		&__item-description
		&__item.active
		&__person-container.active
			&::after
		&__item-pic.active
		&__item-name.active
		&__item-position.active
		&__item-description.active

	.contact-us
		&__wrapper
			@include wrapper(100%, auto)//
		&__section-name
			&::before
		&__headline
			text-align: center//
		&__form
			background: #181818
			@include size(100%, auto)//
			margin-top: 5.3rem//
			padding: 0rem 1rem 6rem//
			.row
			.row1
			.row2
			.row3
		&__block
			@include size(100%, auto)//
		&__block1
		&__block2
		&__block3
		&__input-container
			padding-left: 0rem//
		&__message-input-container
			width: 100%//
		&__block3 .contact-us__input-container
		&__label
		&__input
			width: 100%//
		&__user-name
		&__company
		&__user-email
		&__subject
		&__user-message
			width: 100%//
		&__submit-button
			&:hover
			&:active
			&::before
			&::after
		&__label.active
		&__input.active
		&__input-container.active
		&__message-input-container.active

	.footer
		padding-top: 0rem//
		padding-bottom: 5rem//
		&__wrapper
			@include wrapper(100%, auto)//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block
			@include flex(column, wrap, center, center)//
			@include size(100%, auto)//
			margin-top: 3rem//
		&__block1
			@include flex(column, wrap, center, center)//
			padding-left: 0rem//
			margin-top: 0rem//
		&__block2
			margin-left: 0rem//
		&__block3
			margin-left: 0rem//
		&__logo
			&::before
		&__text-container
			margin-left: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 2rem//
		&__first-paragraph
		&__second-paragraph
		&__socials
		&__social
			&:hover
			&:first-child
			svg
				path
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: lightgreen
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: pink
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: lightblue
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1200px)
// 	body
// 		background: purple