doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		title Email-Project (Sass)
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		style.
			body {
				width: 100% !important;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				margin: 0;
				padding: 0;
				line-height: 100%;
			}
			[style*="Raleway"] {font-family: 'Raleway', arial, sans-serif !important;}
			img {
				outline: none;
				text-decoration: none;
				border:none;
				-ms-interpolation-mode: bicubic;
				max-width: 100%!important;
				margin: 0;
				padding: 0;
				display: block;
			}
			table td {
				border-collapse: collapse;
			}
			table {
				border-collapse: collapse;
				mso-table-lspace: 0pt;
				mso-table-rspace: 0pt;
			}
			.menu a {
				color: #ffffff;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.28px;
				text-decoration: none;
			}
			.menu td {
				padding-left: 30px;
			}
			.header-td {
				padding-top: 40px;
				padding-bottom: 40px;
			}
	body(style='margin: 0; padding: 0;' bgcolor="#191919")
		div(style='font-size:0px;font-color:#ffffff;opacity:0;visibility:hidden;width:0;height:0;display:none;') Тестовое письмо
		table(cellpadding='0' cellspacing='0' width='100%')
			tr
				td
					table.main.table-850(cellpadding='0' cellspacing='0' width="850" align="center" bgcolor='#191919')
						tr
							td(height="30" width="850")
						tr.section
							td.header-td(bgcolor="#2E2E2E")
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td.logo(align="left")
											img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project-sass/app/assets/logo.png?raw=true", alt="logo")
										td.menu(align="right")
											table(cellpadding='0' cellspacing='0')
												tr
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Team
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Features
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Pricing
													td
														a(href="#" style="font-family: Arial, Helvetica, sans-serif, 'Raleway';") Contact
						tr.section
							td.banner-td
								a(href="#")
									img(src="https://github.com/DmitryTravnikov/DmitryTravnikov.github.io/blob/master/!email-project-sass/app/assets/banner.png?raw=true", alt="banner")
						tr.section
							td.features-td(bgcolor="#ffffff")
								table.table-600(cellpadding='0' cellspacing='0' width="600" align="center")
									tr
										td(align="center")
											img(src="", alt="item-pic")
											p phoncus ut, imperdiet vel
												|
												br
												| venenatis vitae justo ullam
												br
												| dictum felis eu pede mollis
												br
												| pretium massa.
											a(href="#")
												img(src="", alt="read-more")