
// font-family: 'HomemadeApple-Regular'
@font-face
	font-family: 'HomemadeApple-Regular'
	src: url('../fonts/HomemadeApple-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Gilroy-Regular'
@font-face
	font-family: 'Gilroy-Regular'
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap
// font-family: 'Roboto-Regular'
@font-face
	font-family: 'Roboto-Regular'
	src: url('../fonts/Roboto-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap