@import '../variables';

@mixin wrapper($width: 90%, $height: auto) {
	width: $width;
	height: $height;
	margin: 0 auto;
}
	
@mixin flex($flex-direction: row, $flex-wrap: wrap, $justify-content: flex-start, $align-items: flex-start) {
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin outline($color: $blue) {
	outline: 2px solid rgba($color, .6);
	outline-offset: -2px;
}

@mixin size($width: 100px, $height: 100px) {
	width: $width;
	height: $height;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
	background-image: url($url);
	background-repeat: $repeat;
	background-position: $position;
	background-size: $size;
}