@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
		background: $media-purple

	.wrapper
		+wrapper(80%, auto)

	.header
		top: -4.8rem//
		&.active
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__toggle-button
			&::before
			&::after
			&.active::after
		&__menu-container
			margin-top: 1.5rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				+flex(row, wrap, center, center)//
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss

	.main
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(100%, auto)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
		&__menu-container
			&::before
				content: none//
		&__menu
			+flex(row, wrap, center, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__menu-link
			&::before
			&:hover
			&:hover::before
		&__logo-container
		&__logo
			text-align: center//
		&__logo-description
			text-align: center//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.7rem//
		&__search-input
			&::placeholder
		&__search-button
			&:hover
			&:active

	.section1
		&__wrapper
			+flex(row, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
			width: 50%//
		&__block2
			width: 50%//
		&__block-headline
			text-align: center//
			margin-top: 3.5rem//
			padding-right: 0rem//
			padding: 0rem 20%//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 20%//
		&__read-more-link
			&:hover
			&:active
		&__slider
			margin-top: 3.5rem//
			.owl-pagination
				left: 50%//
				transform: translateX(-50%)//
				.owl-page
					span
				.owl-page:last-child span
				.owl-page.active
					span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5

	.section2
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			display: none//
		&__block2
			+flex(row, wrap, center, center)//
		&__block3
			+flex(row, wrap, space-around, center)//
			&::before
				content: none//
		&__item
			+flex(column, wrap, flex-start, center)//
			margin: 2rem//
			margin-top: 3.7rem//
			width: 20%//
		&__item1
		&__item2
		&__item3
			margin-top: 2.6rem//
		&__item4
			margin-top: 2.6rem//
		&__item-image
		&__item-headline
		&__item-paragraph
		&__block3-headline
			font-size: 2.6rem//
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__block3-paragraph
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__contact-us-today-link
			font-size: 2rem//
			margin-top: 2.2rem//
			margin-right: 0rem//
			&:hover
			&:active
		&__text-container
			width: 60%//

	.footer
		padding-top: 0rem//
		&::before
		&__wrapper
			+flex(row, wrap, center, center)//
		&__block
			width: 25rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 5rem//
		&__block1
		&__block2
			+flex(column, wrap, flex-start, flex-start)//
		&__block3
			padding-left: 0rem//
		&__block4
			padding-left: 0rem//
		&__headline
		&__image-container
			+flex(row, wrap, center, center)//
		&__image
		&__paragraph
		&__menu
			+flex(column, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__menu-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-container1
		&__post-container2
		&__post-title
		&__post-info
			span
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&:first-child
			&::placeholder
		&__name-input
		&__email-input
		&__subject-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__paragraph
			line-height: 2rem//
			text-align: left//
			padding: 0rem 0%//
		&__by-link
			margin-top: 1rem//
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		background: $media-orange

	.wrapper
		+wrapper(90%, auto)

	.header
		top: -4.8rem//
		&.active
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__toggle-button
			&::before
			&::after
			&.active::after
		&__menu-container
			margin-top: 1.5rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				+flex(row, wrap, center, center)//
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss

	.main
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
		&__menu-container
			&::before
				content: none//
		&__menu
			+flex(row, wrap, center, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__menu-link
			&::before
			&:hover
			&:hover::before
		&__logo-container
		&__logo
			text-align: center//
		&__logo-description
			text-align: center//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.7rem//
		&__search-input
			&::placeholder
		&__search-button
			&:hover
			&:active

	.section1
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
			margin-top: 3.5rem//
			padding-right: 0rem//
			padding: 0rem 20%//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 20%//
		&__read-more-link
			&:hover
			&:active
		&__slider
			margin-top: 3.5rem//
			.owl-pagination
				left: 50%//
				transform: translateX(-50%)//
				.owl-page
					span
				.owl-page:last-child span
				.owl-page.active
					span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5

	.footer
		padding-top: 0rem//
		&::before
		&__wrapper
			+flex(row, wrap, center, center)//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 5rem//
		&__block1
		&__block2
			+flex(column, wrap, flex-start, flex-start)//
		&__block3
			padding-left: 0rem//
		&__block4
			padding-left: 0rem//
		&__headline
		&__image-container
			+flex(row, wrap, center, center)//
		&__image
		&__paragraph
		&__menu
			+flex(column, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__menu-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-container1
		&__post-container2
		&__post-title
		&__post-info
			span
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&:first-child
			&::placeholder
		&__name-input
		&__email-input
		&__subject-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__paragraph
			line-height: 2rem//
			text-align: left//
			padding: 0rem 0%//
		&__by-link
			margin-top: 1rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		background: $media-pink

	.wrapper
		+wrapper(90%, auto)

	.header
		top: -8rem//
		&.active
		&__wrapper
			+wrapper(100%, auto)//
			+flex(column, wrap, center, center)//
		&__toggle-button
			&::before
			&::after
			&.active::after
		&__menu-container
			margin-top: 1.5rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				+flex(row, wrap, center, center)//
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss

	.main
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
		&__menu-container
			&::before
				content: none//
		&__menu
			+flex(row, wrap, center, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__menu-link
			&::before
			&:hover
			&:hover::before
		&__logo-container
		&__logo
			text-align: center//
		&__logo-description
			text-align: center//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.7rem//
		&__search-input
			&::placeholder
		&__search-button
			&:hover
			&:active

	.section1
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
			margin-top: 3.5rem//
			padding-right: 0rem//
			padding: 0rem 10%//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 5%//
		&__read-more-link
			&:hover
			&:active
		&__slider
			margin-top: 3.5rem//
			.owl-pagination
				left: 50%//
				transform: translateX(-50%)//
				.owl-page
					span
				.owl-page:last-child span
				.owl-page.active
					span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5

	.section2
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			display: none//
		&__block2
			+flex(row, wrap, center, center)//
		&__block3
			+flex(row, wrap, center, center)//
			&::before
				content: none//
		&__item
			+flex(column, wrap, flex-start, center)//
			margin: 0rem//
			margin-top: 3.7rem//
			width: 50%//
		&__item1
		&__item2
		&__item3
			margin-top: 2.6rem//
		&__item4
			margin-top: 2.6rem//
		&__item-image
		&__item-headline
		&__item-paragraph
		&__block3-headline
			font-size: 2.6rem//
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__block3-paragraph
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__contact-us-today-link
			font-size: 2rem//
			margin-top: 2.2rem//
			margin-right: 0rem//
			&:hover
			&:active
		&__text-container
			width: 100%//

	.footer
		padding-top: 0rem//
		&::before
		&__wrapper
			+flex(row, wrap, center, center)//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 5rem//
		&__block1
		&__block2
			+flex(column, wrap, flex-start, flex-start)//
		&__block3
			padding-left: 0rem//
		&__block4
			padding-left: 0rem//
		&__headline
		&__image-container
			+flex(row, wrap, center, center)//
		&__image
		&__paragraph
		&__menu
			+flex(column, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__menu-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-container1
		&__post-container2
		&__post-title
		&__post-info
			span
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&:first-child
			&::placeholder
		&__name-input
		&__email-input
		&__subject-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		background: $media-blue

	.wrapper
		+wrapper(100%, auto)

	.header
		top: -8rem//
		&.active
		&__wrapper
			+flex(column, wrap, center, center)//
		&__toggle-button
			&::before
			&::after
			&.active::after
		&__menu-container
			margin-top: 1.5rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				+flex(row, wrap, center, center)//
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss

	.main
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
		&__menu-container
			&::before
				content: none//
		&__menu
			+flex(column, wrap, center, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__menu-link
			&::before
			&:hover
			&:hover::before
		&__logo-container
		&__logo
			text-align: center//
		&__logo-description
			text-align: center//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.7rem//
		&__search-input
			&::placeholder
		&__search-button
			&:hover
			&:active

	.section1
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
			margin-top: 3.5rem//
			padding-right: 0rem//
			padding: 0rem 10%//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 5%//
		&__read-more-link
			&:hover
			&:active
		&__slider
			margin-top: 3.5rem//
			.owl-pagination
				left: 50%//
				transform: translateX(-50%)//
				.owl-page
					span
				.owl-page:last-child span
				.owl-page.active
					span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5

	.section2
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			display: none//
		&__block2
			+flex(row, wrap, center, center)//
		&__block3
			+flex(row, wrap, center, center)//
			&::before
				content: none//
		&__item
			+flex(column, wrap, flex-start, center)//
			margin: 0rem//
			margin-top: 3.7rem//
			width: 50%//
		&__item1
		&__item2
		&__item3
			margin-top: 2.6rem//
		&__item4
			margin-top: 2.6rem//
		&__item-image
		&__item-headline
		&__item-paragraph
		&__block3-headline
			font-size: 2.6rem//
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__block3-paragraph
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__contact-us-today-link
			font-size: 2rem//
			margin-top: 2.2rem//
			margin-right: 0rem//
			&:hover
			&:active
		&__text-container
			width: 100%//

	.footer
		padding-top: 0rem//
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 5rem//
		&__block1
		&__block2
			+flex(column, wrap, flex-start, flex-start)//
		&__block3
			padding-left: 0rem//
		&__block4
			padding-left: 0rem//
		&__headline
		&__image-container
			+flex(row, wrap, center, center)//
		&__image
		&__paragraph
		&__menu
			+flex(column, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__menu-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-container1
		&__post-container2
		&__post-title
		&__post-info
			span
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&:first-child
			&::placeholder
		&__name-input
		&__email-input
		&__subject-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		background: $media-green

	.wrapper
		+wrapper(100%, auto)

	.header
		top: -8rem//
		&.active
		&__wrapper
			+flex(column, wrap, center, center)//
		&__toggle-button
			&::before
			&::after
			&.active::after
		&__menu-container
			margin-top: 1.5rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
			&::before
			&:last-child::before
		&__menu-link
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				+flex(row, wrap, center, center)//
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss

	.main
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
		&__menu-container
			&::before
				content: none//
		&__menu
			+flex(column, wrap, center, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:last-child
		&__menu-link
			&::before
			&:hover
			&:hover::before
		&__logo-container
		&__logo
			text-align: center//
		&__logo-description
			text-align: center//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.7rem//
		&__search-input
			&::placeholder
		&__search-button
			&:hover
			&:active

	.section1
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			+flex(column, wrap, center, center)//
		&__block1
			width: 100%//
		&__block2
			width: 100%//
		&__block-headline
			text-align: center//
			margin-top: 3.5rem//
			padding-right: 0rem//
			padding: 0rem 10%//
		&__block-paragraph
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 5%//
		&__read-more-link
			&:hover
			&:active
		&__slider
			margin-top: 3.5rem//
			.owl-pagination
				left: 50%//
				transform: translateX(-50%)//
				.owl-page
					span
				.owl-page:last-child span
				.owl-page.active
					span
		&__slide
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5

	.section2
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
		&__block
			+size(100%, auto)//
		&__block1
			display: none//
		&__block2
			+flex(row, wrap, center, center)//
		&__block3
			+flex(row, wrap, center, center)//
			&::before
				content: none//
		&__item
			+flex(column, wrap, flex-start, center)//
			margin: 0rem//
			margin-top: 3.7rem//
			width: 50%//
		&__item1
		&__item2
		&__item3
			margin-top: 2.6rem//
		&__item4
			margin-top: 2.6rem//
		&__item-image
		&__item-headline
		&__item-paragraph
		&__block3-headline
			font-size: 2.6rem//
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__block3-paragraph
			text-align: center//
			margin-left: 0rem//
			padding: 0rem 5%//
		&__contact-us-today-link
			font-size: 2rem//
			margin-top: 2.2rem//
			margin-right: 0rem//
			&:hover
			&:active
		&__text-container
			width: 100%//

	.footer
		padding-top: 0rem//
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
		&__block
			width: 80%//
			+flex(column, wrap, flex-start, flex-start)//
			margin-top: 5rem//
		&__block1
		&__block2
			+flex(column, wrap, flex-start, flex-start)//
		&__block3
			padding-left: 0rem//
		&__block4
			padding-left: 0rem//
		&__headline
		&__image-container
			+flex(row, wrap, center, center)//
		&__image
		&__paragraph
		&__menu
			+flex(column, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__menu-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
		&__post-container1
		&__post-container2
		&__post-title
		&__post-info
			span
		&__post
		&__read-more-link
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&:first-child
			&::placeholder
		&__name-input
		&__email-input
		&__subject-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
			padding: 0rem 5%//
		&__by-link
			margin-top: 1rem//

	.modal
		&__overlay
		&__window
			+size(100%, 10rem)//
		&__paragraph
		&__error-container
		&__error-paragraph
		&__success-container
		&__success-paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple