mixin for-you__item(forYouItemHeadline, forYouItemParagraph)

	.for-you__item
		.for-you__item-icon
		h4.for-you__item-headline= forYouItemHeadline
		p.for-you__item-paragraph= forYouItemParagraph
		a.prevdef.for-you__learn-more(href="#") Learn More
