mixin for-you__item(props = {})
	- const {headlineText="Item Headline"} = props;
	- const {paragraphText="Item paragraph"} = props;
	- const {linkHref="http://google.com"} = props;

	.for-you__item
		.for-you__item-icon
		h4.for-you__item-headline= headlineText
		p.for-you__item-paragraph= paragraphText
		a.prevdef.for-you__learn-more(href=linkHref target="_blank") Learn More
