@import 'bootstrap/bootstrap';

body {
	background: darken(#222, 10%);
}
.container {
	background: #222;
	color: #fff;
	// background: url('assets/picture.jpg');
	a {
		color: orange;
		text-decoration: none;
	}
}