@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body
		background: $media-purple

	.wrapper
		+wrapper(85%, auto)//

	.header
		padding-bottom: 2.4rem//
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__contacts-container
			+flex(row, wrap, center, center)//
			margin-top: 1rem//
		&__tel
			margin-top: 0rem//
		&__email
			margin-left: 4rem//
			margin-top: 0rem//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1rem//
		&__search-input

	.main
		&::before
		&__wrapper
			+flex(row, wrap, space-between, center)//
			+wrapper(90%, auto)//
		&__logo-container
			+flex(column, wrap, center, center)//
			margin-top: 1.7rem//
			margin-left: 0rem//
		&__logo
			text-align: left//
			span
		&__logo-description
			text-align: left//
		&__menu-container
			margin-top: 2.4rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.section1
		&__wrapper
			+wrapper(90%, auto)//
		&__slider-button
		&__prev-button
		&__next-button
		&__slider
		&__slide
		&__slide1
		&__slide2
		&__slide3

	.section2
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			font-size: 1.8rem//
			padding: 0rem 10%//
		&__splitter
			margin-top: 2rem//
			margin-bottom: 2rem//
		&__content
			width: 100%
			+flex(row, wrap, center, center)//
			margin-top: 0rem//
		&__block
			width: 22.5rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__image
		&__block-headline
		&__block-paragraph

	.section3
		&__wrapper
			+wrapper(90%, auto)//
			+flex(column, wrap, center, center)//
		&__splitter
		&__content
			+flex(column, wrap, center, center)//
		&__block
			width: 100%//
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
			margin-top: 3rem//
		&__headline-container
			+flex(row, wrap, space-between, flex-start)//
			&::before
		&__headline
		&__view-more-link
		&__block1-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block1-item
			width: 26rem//
			+flex(row, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1-item1
		&__block1-item2
		&__block1-item3
		&__block1-item4
		&__block1-item-image
		&__text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-item-headline
		&__block1-item-paragraph
		&__block2-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block2-item
			width: 30rem//
			+flex(column, wrap, center, center)//
			margin: 2rem//
		&__block2-item1
		&__block2-item2
			margin-top: 2rem//
		&__block2-item-image
		&__block2-item-user-name
			text-align: center//
			margin-left: 0rem//
			span
		&__view-profile-link
			margin-left: 0rem//

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			+wrapper(90%, auto)//
		&__block
			width: 20rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__headline
		&__image
		&__paragraph
		&__read-more-link
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
			&:last-child
		&__post-title
		&__post-info
		&__post
		&__tel
		&__fax
		&__email
			span
		&__headline4
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.copy
		&::before
		&::after
		&__wrapper
			+flex(row, wrap, space-between, center)//
			+wrapper(90%, auto)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 0rem//
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body
		background: $media-orange

	.wrapper
		+wrapper(90%, auto)//

	.header
		padding-bottom: 2.4rem//
		&__wrapper
			+flex(row, wrap, space-between, center)//
		&__contacts-container
			+flex(row, wrap, center, center)//
			margin-top: 1rem//
		&__tel
			margin-top: 0rem//
		&__email
			margin-left: 2rem//
			margin-top: 0rem//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1rem//
		&__search-input

	.main
		&::before
		&__wrapper
			+flex(column, wrap, space-between, center)//
			+wrapper(90%, auto)//
		&__logo-container
			+flex(column, wrap, center, center)//
			margin-top: 1.7rem//
			margin-left: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			margin-top: 2.4rem//
		&__menu
			+flex(row, wrap, flex-start, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.section1
		&__wrapper
			+wrapper(90%, auto)//
		&__slider-button
		&__prev-button
		&__next-button
		&__slider
		&__slide
		&__slide1
		&__slide2
		&__slide3

	.section2
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			font-size: 1.8rem//
			padding: 0rem 10%//
		&__splitter
			margin-top: 2rem//
			margin-bottom: 2rem//
		&__content
			width: 100%
			+flex(row, wrap, center, center)//
			margin-top: 0rem//
		&__block
			width: 22.5rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__image
		&__block-headline
		&__block-paragraph

	.section3
		&__wrapper
			+wrapper(90%, auto)//
			+flex(column, wrap, center, center)//
		&__splitter
		&__content
			+flex(column, wrap, center, center)//
		&__block
			width: 100%//
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
			margin-top: 3rem//
		&__headline-container
			+flex(row, wrap, space-between, flex-start)//
			&::before
		&__headline
		&__view-more-link
		&__block1-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block1-item
			width: 26rem//
			+flex(row, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1-item1
		&__block1-item2
		&__block1-item3
		&__block1-item4
		&__block1-item-image
		&__text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-item-headline
		&__block1-item-paragraph
		&__block2-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block2-item
			width: 28rem//
			+flex(column, wrap, center, center)//
			margin: 2rem//
		&__block2-item1
		&__block2-item2
			margin-top: 2rem//
		&__block2-item-image
		&__block2-item-user-name
			text-align: center//
			margin-left: 0rem//
			span
		&__view-profile-link
			margin-left: 0rem//

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			+wrapper(90%, auto)//
		&__block
			width: 26rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__headline
		&__image
		&__paragraph
		&__read-more-link
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
			&:last-child
		&__post-title
		&__post-info
		&__post
		&__tel
		&__fax
		&__email
			span
		&__headline4
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.copy
		&::before
		&::after
		&__wrapper
			+flex(row, wrap, space-between, center)//
			+wrapper(90%, auto)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 0rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body
		background: $media-pink

	.wrapper
		+wrapper(95%, auto)//

	.header
		padding-bottom: 2.4rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
		&__contacts-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 1.3rem//
		&__tel
			margin-top: 1rem//
		&__email
			margin-left: 0rem//
			margin-top: 1rem//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.5rem//
		&__search-input

	.main
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(100%, auto)//
		&__logo-container
			+flex(column, wrap, center, center)//
			margin-top: 1.7rem//
			margin-left: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			margin-top: 1.4rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 2rem//
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.section1
		&__wrapper
			+wrapper(100%, auto)//
		&__slider-button
		&__prev-button
		&__next-button
		&__slider
		&__slide
		&__slide1
		&__slide2
		&__slide3

	.section2
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			font-size: 1.8rem//
			padding: 0rem 10%//
		&__splitter
			margin-top: 2rem//
			margin-bottom: 2rem//
		&__content
			width: 100%
			+flex(row, wrap, center, center)//
			margin-top: 0rem//
		&__block
			width: 22.5rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__image
		&__block-headline
		&__block-paragraph

	.section3
		&__wrapper
			+wrapper(90%, auto)//
			+flex(column, wrap, center, center)//
		&__splitter
		&__content
			+flex(column, wrap, center, center)//
		&__block
			width: 100%//
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
			margin-top: 3rem//
		&__headline-container
			+flex(row, wrap, space-between, flex-start)//
			&::before
		&__headline
		&__view-more-link
		&__block1-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block1-item
			width: 40%//
			+flex(row, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1-item1
		&__block1-item2
		&__block1-item3
		&__block1-item4
		&__block1-item-image
		&__text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-item-headline
		&__block1-item-paragraph
		&__block2-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block2-item
			width: 40%//
			+flex(column, wrap, center, center)//
			margin: 2rem//
		&__block2-item1
		&__block2-item2
			margin-top: 2rem//
		&__block2-item-image
		&__block2-item-user-name
			text-align: center//
			margin-left: 0rem//
			span
		&__view-profile-link
			margin-left: 0rem//

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			+wrapper(90%, auto)//
		&__block
			width: 26rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__headline
		&__image
		&__paragraph
		&__read-more-link
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
			&:last-child
		&__post-title
		&__post-info
		&__post
		&__tel
		&__fax
		&__email
			span
		&__headline4
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.copy
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(90%, auto)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body
		background: $media-blue

	.wrapper
		+wrapper(100%, auto)//

	.header
		padding-bottom: 2.4rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
		&__contacts-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 1.3rem//
		&__tel
			margin-top: 1rem//
		&__email
			margin-left: 0rem//
			margin-top: 1rem//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.5rem//
		&__search-input

	.main
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(100%, auto)//
		&__logo-container
			+flex(column, wrap, center, center)//
			margin-top: 1.7rem//
			margin-left: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			margin-top: 1.4rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 2rem//
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.section1
		&__wrapper
			+wrapper(100%, auto)//
		&__slider-button
		&__prev-button
		&__next-button
		&__slider
		&__slide
		&__slide1
		&__slide2
		&__slide3

	.section2
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			font-size: 1.8rem//
			padding: 0rem 10%//
		&__splitter
			margin-top: 2rem//
			margin-bottom: 2rem//
		&__content
			width: 100%
			+flex(row, wrap, center, center)//
			margin-top: 0rem//
		&__block
			width: 22.5rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__image
		&__block-headline
		&__block-paragraph

	.section3
		&__wrapper
			+wrapper(90%, auto)//
			+flex(column, wrap, center, center)//
		&__splitter
		&__content
			+flex(column, wrap, center, center)//
		&__block
			width: 100%//
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
			margin-top: 3rem//
		&__headline-container
			+flex(row, wrap, space-between, flex-start)//
			&::before
		&__headline
		&__view-more-link
		&__block1-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block1-item
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1-item1
		&__block1-item2
		&__block1-item3
		&__block1-item4
		&__block1-item-image
		&__text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-item-headline
		&__block1-item-paragraph
		&__block2-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block2-item
			width: 100%//
			+flex(column, wrap, center, center)//
			margin: 2rem//
		&__block2-item1
		&__block2-item2
			margin-top: 2rem//
		&__block2-item-image
		&__block2-item-user-name
			text-align: center//
			margin-left: 0rem//
			span
		&__view-profile-link
			margin-left: 0rem//

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			+wrapper(90%, auto)//
		&__block
			width: 26rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__headline
		&__image
		&__paragraph
		&__read-more-link
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
			&:last-child
		&__post-title
		&__post-info
		&__post
		&__tel
		&__fax
		&__email
			span
		&__headline4
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.copy
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(90%, auto)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body
		background: $media-green

	.wrapper
		+wrapper(100%, auto)//

	.header
		padding-bottom: 2.4rem//
		&__wrapper
			+flex(column, wrap, flex-start, center)//
		&__contacts-container
			+flex(column, wrap, flex-start, center)//
			margin-top: 1.3rem//
		&__tel
			margin-top: 1rem//
		&__email
			margin-left: 0rem//
			margin-top: 1rem//
		&__search-form
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 1.5rem//
		&__search-input

	.main
		&::before
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(100%, auto)//
		&__logo-container
			+flex(column, wrap, center, center)//
			margin-top: 1.7rem//
			margin-left: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			margin-top: 1.4rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-top: 2rem//
			&::before
				content: none//
			&:last-child::before
		&__menu-link
			&:hover

	.section1
		&__wrapper
			+wrapper(100%, auto)//
		&__slider-button
		&__prev-button
		&__next-button
		&__slider
		&__slide
		&__slide1
		&__slide2
		&__slide3

	.section2
		&__wrapper
			+flex(column, wrap, center, center)//
		&__paragraph
			font-size: 1.8rem//
			padding: 0rem 10%//
		&__splitter
			margin-top: 2rem//
			margin-bottom: 2rem//
		&__content
			width: 100%
			+flex(row, wrap, center, center)//
			margin-top: 0rem//
		&__block
			width: 22.5rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__image
		&__block-headline
		&__block-paragraph

	.section3
		&__wrapper
			+wrapper(90%, auto)//
			+flex(column, wrap, center, center)//
		&__splitter
		&__content
			+flex(column, wrap, center, center)//
		&__block
			width: 100%//
			+flex(column, wrap, center, center)//
		&__block1
		&__block2
			margin-top: 3rem//
		&__headline-container
			+flex(row, wrap, space-between, flex-start)//
			&::before
		&__headline
		&__view-more-link
		&__block1-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block1-item
			width: 100%//
			+flex(row, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1-item1
		&__block1-item2
		&__block1-item3
		&__block1-item4
		&__block1-item-image
		&__text-container
			+flex(column, wrap, flex-start, flex-start)//
		&__block1-item-headline
		&__block1-item-paragraph
		&__block2-items-container
			+flex(row, wrap, center, center)//
			width: 100%//
		&__block2-item
			width: 100%//
			+flex(column, wrap, center, center)//
			margin: 2rem//
		&__block2-item1
		&__block2-item2
			margin-top: 2rem//
		&__block2-item-image
		&__block2-item-user-name
			text-align: center//
			margin-left: 0rem//
			span
		&__view-profile-link
			margin-left: 0rem//

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			+wrapper(90%, auto)//
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 1rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__headline
		&__image
		&__paragraph
		&__read-more-link
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(column, wrap, flex-start, flex-start)//
			&:first-child
			&::before
			&::after
		&__list-link
		&__post-container
			+flex(column, wrap, flex-start, flex-start)//
			&:last-child
		&__post-title
		&__post-info
		&__post
		&__tel
		&__fax
		&__email
			span
		&__headline4
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.copy
		&::before
		&::after
		&__wrapper
			+flex(column, wrap, center, center)//
			+wrapper(90%, auto)//
		&__paragraph
			line-height: 2rem//
			text-align: center//
		&__by-link
			margin-top: 1rem//

	.modal
		&__window
			+size(100%, 10rem)//
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple