@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default

.wrapper
	@include wrapper(96rem, auto)

// 1rem === 10px

.red-headline-container
	width: 100%
	@include flex(row, wrap, center, center)
	position: relative
	&::before
		content: ''
		@include size(100%, .1rem)
		background: #E2E2E2
		position: absolute
		top: 50%
		left: 0rem
		transform: translateY(-50%)

.red-headline
	margin: 0rem
	font-family: $gg
	font-weight: 400
	font-size: 1.8rem
	background: #E2494B
	color: #fff
	text-transform: uppercase
	padding: 0.5rem 2.3rem
	border-radius: .6rem
	text-align: center
	position: relative

.header
	padding-top: 4.1rem
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
		position: relative
		padding-bottom: 3.8rem
		&::before
			content: ''
			@include size(100%, .1rem)
			background: #E2E2E2
			position: absolute
			bottom: 0rem
			left: 0rem
	&__logo-container
		@include flex(column, wrap, flex-start, flex-start)
		text-decoration: none
	&__logo
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 3rem
		color: #505050
		text-transform: uppercase
		span
			font-size: 2.6rem
	&__logo-description
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #666
		margin-top: 1rem
	&__menu-container
		background: #E2494B
		border-radius: 1rem
		padding-top: 2.1rem
		padding-bottom: 1.9rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, flex-start, flex-start)
		padding-right: 2rem
		padding-left: 2rem
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, flex-start, flex-start)
		margin-right: 4.9rem
		&:last-child
			margin-right: 0rem
	&__menu-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #FFF
		text-transform: uppercase
		transition: .2s
		&:hover
			color: #EE9395

.main
	padding-top: 3.5rem
	&__wrapper
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.2rem
		line-height: 3rem
		color: #333
		text-align: center
		padding: 0rem 10rem
	&__slider
		width: 100%
		margin-top: 3.8rem
		.owl-pagination
			position: relative
			top: -0.3rem
			left: 0rem
			.owl-page
			.owl-page span
				@include size(1rem, 1rem)
				background: #CECECE
				border: .2rem solid #CECECE
				margin: 0rem
				margin-left: 0.5rem
			.owl-page:first-child span
				margin-left: 0rem
			.owl-page.active span
				background: none
				border-color: #353535
	&__slide

.services
	padding-top: 3.4rem
	&__wrapper
		@include flex(column, wrap, center, center)
	&__headline
	&__blocks-container
		width: 100%
		@include flex(row, wrap, space-between, stretch)
		margin-top: 3.9rem
	&__block
		width: 30rem
	&__block1
	&__block2
	&__block3
	&__block-headline-container
		@include flex(row, wrap, flex-start, center)
	&__block-img
	&__block-headline
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.8rem
		color: #666
		text-align-last: left
		margin-left: 2rem
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.1rem
		color: #979797
		text-align-last: left
		margin-top: 1.2rem
		padding-right: 1rem
	&__read-more-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #E2494B

.players
	padding-top: 4.2rem
	&__wrapper
	&__headline
	&__blocks-container
		width: 100%
		@include flex(row, wrap, space-between, stretch)
		margin-top: 3.9rem
	&__block
		width: 17.6rem
		@include flex(column, wrap, flex-start, flex-start)
	&__block1
	&__block2
	&__block3
	&__block4
	&__block5
	&__block-img
	&__block-name
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.3rem
		color: #979797
		text-align-last: left
		margin-top: 1.4rem
		span
			font-weight: 400
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.1rem
		color: #979797
		text-align-last: left
		margin-top: 0.8rem
	&__block-view-profile-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #E2494B
		margin-top: 1rem

.work
	padding-top: 4.7rem
	padding-bottom: 4.7rem
	&__wrapper
	&__headline
	&__blocks-container
		@include flex(row, wrap, space-between, stretch)
		margin-top: 3.9rem
	&__block
		text-decoration: none
		position: relative
		&::before
			content: ''
			@include size(100%, 100%)
			background: linear-gradient(45deg, rgba($pink, 1), rgba($orange, 1))
			position: absolute
			top: 0rem
			left: 0rem
			opacity: .9
			transition: 0.4s
		&:hover::before
			opacity: 0
	&__block1
	&__block2
	&__block3
	&__block-img

.contact
	background: #E2E2E2
	position: relative
	padding-top: 3.8rem
	padding-bottom: 4.9rem
	&::before
		content: ''
		@include size(100%, .1rem)
		background: #C3C3C3
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
		@include flex(row, wrap, flex-start, stretch)
	&__block
	&__block1
		width: 51%
	&__block2
		width: calc((100% - 51%) / 2)
	&__block3
		width: calc((100% - 51%) / 2)
		padding-left: 0.9rem
	&__block-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #333
		text-align-last: left
		text-transform: capitalize
	&__post-container
		text-decoration: none
		@include flex(row, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 2rem
	&__post-img-container
		@include size(10.3rem, 10.3rem)
		@include flex(row, wrap, center, center)
		border: .1rem solid #8E8F8A
	&__post-img
	&__post-text-container
		width: calc(100% - 10.3rem)
		padding-top: 0.9rem
		padding-left: 2.2rem
	&__post-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #E2494B
		text-align-last: left
	&__post
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 2.1rem
		color: #999
		text-align-last: left
		margin-top: 1.2rem
		padding-right: 2rem
	&__block2-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
		text-align-last: left
		margin-top: 0.7rem
	&__company-name
		margin-top: 1.7rem
	&__street-name
	&__town
	&__postcode
	&__tel
		margin-top: 1.9rem
	&__fax
	&__email
		span
			color: #E2494B
	&__office-hours
		font-weight: 900
		margin-top: 1.8rem
	&__office-hours1
	&__office-hours2
	&__form
		width: 100%
		@include flex(column, wrap, flex-start, flex-start)
	&__input
		outline: none
		resize: none
		border: .1rem solid transparent
		bottom: #fff
		border-radius: .6rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #989898
		padding: 0.8rem 1.1rem
		width: 100%
		&::placeholder
			font-family: $gg
			font-weight: 400
			font-size: 1.3rem
			color: #989898
			text-transform: capitalize
	&__name-input
		margin-top: 1.9rem
	&__email-input
		margin-top: 1rem
	&__message-input
		margin-top: 1rem
		height: 10.8rem
	&__submit-button
		outline: none
		border: none
		cursor: pointer
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		background: #E2494B
		border-radius: .4rem
		padding: 0.8rem 1.6rem
		text-transform: uppercase
		transition: .2s
		margin-top: 1rem
		&:hover
			background: darken(#E2494B, 3%)
		&:active
			background: #E2494B

.copy
	position: relative
	padding-top: 2.4rem
	padding-bottom: 2.4rem
	background: #E2E2E2
	&::before
		content: ''
		@include size(100%, .1rem)
		background: #fff
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		@include flex(row, wrap, space-between, center)
	&__paragraph
		width: 50%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
		text-align-last: left
	&__by-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
		text-align-last: left

.modal
	&__overlay
		@include size(100%, 100%)
		position: fixed
		top: 0rem
		left: 0rem
		background: rgba($space-grey, .9)
		display: none
	&__error-container
	&__success-container
	&__window
		@include size(31rem, 10rem)
		background: #000
		@include flex(row, wrap, center, center)
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		transition: .2s
		opacity: 0
		z-index: -1
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center

*
	// @include outline($blue)