extends ../templates/page/page

block head
	- const pageTitle = "Component Library";
	- const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
	- const pageKeywords = "webpack, pug, scss";

block content
	.ajax__container
		ul.ajax__menu
			li.ajax__menu-item
				a.active.ajax__link(href="index.html") Index content
			li.ajax__menu-item
				a.ajax__link(href="ajax-2.html") Ajax-2 content
			li.ajax__menu-item
				a.ajax__link(href="ajax-3.html") Ajax-3 content
		.ajax__content-container
			.ajax__content
				h4.ajax__headline Ajax-3 Headline
				p.ajax__paragraph Ajax-3 Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, animi? Aspernatur impedit praesentium ratione dolores eveniet, corrupti quam asperiores in maiores id nostrum? Consequatur enim earum reprehenderit nisi minus dolores doloribus iusto fugit facilis. Harum animi veritatis, ullam delectus officiis quam inventore ex iure. Eos quo blanditiis suscipit est, iure soluta enim voluptate. Voluptatibus, hic repellendus. Quam excepturi non nobis voluptates quidem exercitationem inventore aperiam debitis, cumque in! Eum aperiam aspernatur molestiae aliquam quia deserunt consectetur facilis illo amet placeat, voluptates eligendi temporibus non libero quam, ad voluptatibus facere nam nobis harum eos. Aut sed, dolorem obcaecati vero sapiente quo.
