extends ../templates/page/page
include ../components/welcome/welcome
include ../components/owl-carousel/owl-carousel
include ../components/masked-input/masked-input
include ../components/pagescroll2id/pagescroll2id
include ../components/google-map/google-map

block head
	- const pageTitle = "Component Library";
	- const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
	- const pageKeywords = "webpack, pug, scss";

block content
	//- +welcome({
	//- 	message: 'Welcome! <br/> Happy coding!'
	//- })
	//- +owl-carousel
	//- +masked-input
	//- +pagescroll2id
	+google-map
