@import '../../scss/variables';
@import '../../scss/mixins';

// Component Styles
.wow {
	&__container {
		width: 100%;
		overflow: hidden;
	}
	&__block {
		width: 100%;
		height: 500px;
		@include flex(row, wrap, center, center);
	}
	&__block1 {background: darken($red, 30%);}
	&__block2 {background: darken($blue, 30%);}
	&__block3 {background: darken($green, 30%);}
	&__block4 {background: darken($orange, 30%);}
	&__block5 {background: darken($purple, 10%);}
	&__block6 {background: darken($yellow, 30%);}
	&__block7 {background: darken($pink, 30%);}
	&__block8 {background: darken($red, 30%);}
	&__text {
		margin: 0;
		width: auto;
		color: #fff;
		text-align: center;
		font-size: toRem(40);
		@media only screen and (min-width: 768px) {
			font-size: toRem(80);
		}
	}
}

// Media Queries
@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1400px) {}

// * {@include outline()}
