mixin wow(props = {})
	- const {  } = props;

	.wow__container
		.wow__block.wow__block1
			h1.wow.wow__text.animate__animated.animate__backInDown Animate.css
		.wow__block.wow__block2
			h1.wow.wow__text.animate__animated.animate__backInLeft WOW.js
		.wow__block.wow__block3
			h1.wow.wow__text.animate__animated.animate__bounceIn Animate.css
		.wow__block.wow__block4
			h1.wow.wow__text.animate__animated.animate__bounceInRight WOW.js
		.wow__block.wow__block5
			h1.wow.wow__text.animate__animated.animate__rubberBand Animate.css
		.wow__block.wow__block6
			h1.wow.wow__text.animate__animated.animate__wobble WOW.js
		.wow__block.wow__block7
			h1.wow.wow__text.animate__animated.animate__heartBeat Animate.css
		.wow__block.wow__block8
			h1.wow.wow__text.animate__animated.animate__fadeInUpBig WOW.js
