doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Agency
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Products
		.products
			.products__wrapper.wrapper
				h3.products__headline Feature Products
				p.products__paragraph Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
				hr.products__splitter
				ul.products__menu
					li.products__menu-list-item
						a.products__menu-link(href="index.html") All
					li.products__menu-list-item
						a.products__menu-link(href="print-template.html") Print Template
					li.products__menu-list-item
						a.products__menu-link(href="web-template.html") Web Template
					li.products__menu-list-item
						a.products__menu-link(href="user-interface.html") User Interface
					li.products__menu-list-item
						a.products__menu-link(href="mock-up.html") Mock-Up
				.products__content-container
					.products__content
						a.prevdef.products__item.products__item1(href="#")
						a.prevdef.products__item.products__item2(href="#")
						a.prevdef.products__item.products__item3(href="#")
						a.prevdef.products__item.products__item4(href="#")
						a.prevdef.products__item.products__item5(href="#")
						a.prevdef.products__item.products__item6(href="#")
						a.prevdef.products__item.products__item7(href="#")
						a.prevdef.products__item.products__item8(href="#")

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]