@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default
	font-family: $gg
	font-weight: 400
	color: $light-grey

.wrapper
	+wrapper(96rem, auto)

// 1rem === 10px

.header
	position: relative
	background: #000
	padding-top: 5.2rem
	&::before
		content: ''
		+size(100%, 1rem)
		background: $pink
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		+flex(column, wrap, flex-start, flex-start)
	&__block
		width: 100%
		+flex(row, wrap, space-between, flex-start)
	&__block1
	&__block2
		background: linear-gradient(0deg, #0D0D0D, #3A3839)
		margin-top: 4.2rem
		padding: 2.4rem 2rem
	&__logo-container
		text-decoration: none
	&__logo
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 4rem
		color: #fff
		text-transform: uppercase
		text-align: left
		span
			font-size: 3.2rem
	&__logo-description
		width: 100%
		margin: 0rem
		font-size: 1.2rem
		font-weight: 400
		color: $light-grey
		text-align: left
	&__socials-n-search-container
		+flex(row, wrap, flex-start, flex-start)
		padding-top: 1.4rem
	&__socials-container
		+flex(row, wrap, flex-start, flex-start)
	&__social-link
		+size(2.6rem, 2.6rem)
		border-radius: 50%
		transition: .2s
		+flex(row, wrap, center, center)
		margin-right: 1rem
		&:last-child
			margin-right: 0rem
		svg
			+size(1.6rem, 1.6rem)
			path
				fill: #fff
	&__linkedin
		background: #0E76A8
		&:hover
			background: lighten(#0E76A8, 10%)
	&__twitter
		background: #00ACEE
		&:hover
			background: lighten(#00ACEE, 10%)
	&__pinterest
		background: #C8232C
		&:hover
			background: lighten(#C8232C, 10%)
	&__google-plus
		background: #333
		svg
			+size(2.2rem, 2.2rem)
			path
				fill: #fff
		&:hover
			background: lighten(#333, 10%)
	&__rss
		background: #EE802F
		&:hover
			background: lighten(#EE802F, 10%)
	&__search-container
	&__search-input
		outline: none
		border: none
		width: 21rem
		border-radius: 1.2rem
		font-size: 1.3rem
		background: url('../assets/header__search-icon.png') no-repeat 18.6rem center, $pink
		padding: 0.5rem 3rem 0.5rem 1rem
		margin-left: 2.9rem
		color: #fff
	&__menu-container
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, flex-start, flex-start)
		position: relative
		margin-right: 3.1rem
		&:last-child
			margin-right: 0rem
		&::before
			content: ''
			+size(.1rem, 70%)
			background: #fff
			position: absolute
			top: 45%
			right: -1.6rem
			transform: translateY(-50%)
		&:last-child::before
			content: none
	&__menu-link
		text-decoration: none
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		text-align: left
		transition: .2s
		&:hover
			color: $pink

.main
	background: #000
	padding-top: 2.9rem
	padding-bottom: 3.7rem
	&__wrapper
		+flex(row, wrap, center, center)
		position: relative
	&__slider
		+size(96rem, 38rem)
		margin: 0rem auto
		position: relative
		.owl-controls
			position: absolute
			top: 0.3rem
			right: 2.1rem
			.owl-page span
				margin: 0rem
				opacity: 1
				+size(1rem, 1rem)
				border: .2rem solid #666666
				background: #666
				margin-right: 0.5rem
			.owl-page:last-child span
				margin-right: 0rem
			.owl-page.active span
				background: none
	&__slide
		+size(96rem, 38rem)
		margin: 0rem auto
		background: url('http://placekitten.com/1000/400') no-repeat center
		position: relative
	&__slide1
	&__slide2
	&__slide3
	&__slide4
	&__slide5
	&__slide-text-container
		position: absolute
		bottom: 0rem
		left: 0rem
		text-decoration: none
		width: 100%
		background: rgba(#000, 0.7)
		+flex(column, wrap, flex-start, flex-start)
		padding-bottom: 1.1rem
		padding-left: 2rem
		padding-right: 4rem
		padding-top: 1.2rem
	&__slide-headline
		width: 100%
		margin: 0rem
		color: $light-grey
		font-size: 2rem
		font-weight: 400
		text-align: left
	&__slide-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		line-height: 2.34rem
		color: $light-grey
		text-align: left
		margin-top: 0.8rem
	&__slider-button
		outline: none
		cursor: pointer
		+size(5.2rem, 5.2rem)
		border-radius: 50%
		border: .2rem solid #525252
		position: absolute
		top: 50%
		transform: translateY(-50%)
	&__prev-button
		left: 3rem
		background: url('../assets/main__arrow-left.png') no-repeat center, #141414
	&__next-button
		right: 3rem
		background: url('../assets/main__arrow-right.png') no-repeat center, #141414

.section1
	background: $space-grey
	padding-top: 3.4rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
		position: relative
		padding-bottom: 3.3rem
		&::before
			content: ''
			+size(100%, .2rem)
			background: #333
			position: absolute
			bottom: 0rem
			left: 0rem
	&__block
		width: 30rem
		+flex(column, wrap, flex-start, flex-end)
	&__block1
	&__block2
	&__block3
	&__block-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 2.6rem
		color: #fff
		text-align: left
	&__block-img
		border: .4rem solid $space-grey
		box-shadow: 0rem 0rem .1rem .1rem #333333
		margin-top: 4.6rem
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		line-height: 2.08rem
		text-align: left
		margin-top: 1.7rem
	&__block-paragraph1
	&__block-paragraph2
		margin-top: 2.5rem
	&__block-link
		text-decoration: none
		font-size: 1.3rem
		color: $pink
		text-align: left
	&__block-read-more-link
		margin-top: 1.7rem
		margin-right: 1rem
	&__block-item
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 3rem
	&__block-item1
		margin-top: 4.3rem
	&__block-item2
	&__block-item3
	&__block-item4
	&__item-img
	&__item-text-container
		width: calc(100% - 6.4rem)
		padding-left: 1.8rem
	&__item-headline
		width: 100%
		margin: 0rem
		font-weight: 900
		font-size: 1.4rem
		text-transform: capitalize
		text-align: left
	&__item-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		line-height: 2.08rem
		text-align: left
		margin-top: 0.9rem
	&__view-all-link
		margin-top: 2rem
		margin-right: 1rem
	&__quote-container
		background: url('../assets/section1__quote-pic.png') no-repeat 0rem 0rem
		+flex(column, wrap, flex-start, flex-end)
		padding-top: 1rem
	&__quote-container1
		width: 100%
		margin-top: 4.8rem
	&__quote-container2
		width: 100%
		margin-top: 2.3rem
	&__quote-author
		width: 100%
		margin: 0rem
		font-size: 1.6rem
		font-weight: 400
		text-align: left
		padding-left: 6.3rem
		span
			font-weight: 900
	&__quote
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		line-height: 2.08rem
		text-align: left
		margin-top: 2rem
	&__view-this-project-link
		margin-top: 1.2rem
		margin-right: 0.4rem

.section2
	position: relative
	background: $space-grey
	padding-top: 3.5rem
	padding-bottom: 3.4rem
	&::before
		content: ''
		+size(100%, .3rem)
		background: #151513
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, flex-start, stretch)
	&__block
		+flex(row, wrap, space-between, stretch)
	&__block1
		width: 24.5rem
	&__block2
		width: calc(100% - 24.5rem)
	&__block-headline
		width: 100%
		margin: 0rem
		font-weight: 400
		font-size: 2.6rem
		line-height: 3.12rem
		color: #fff
		text-align: left
		padding-right: 1rem
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		line-height: 2.08rem
		text-align: left
		margin-top: 2.2rem
		padding-right: 4rem
	&__item
		width: 22.5rem
		+flex(column, wrap, flex-start, flex-start)
		text-decoration: none
	&__item1
	&__item2
	&__item3
	&__item-img
	&__item-headline
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		color: $pink
		text-transform: capitalize
		text-align: left
		margin-top: 1.6rem
	&__item-paragraph
		width: 100%
		margin: 0rem
		font-family: 'Arial'
		font-size: 1.3rem
		color: $light-grey
		text-align: left
		margin-top: 0.6rem

.footer
	background: $brown
	position: relative
	padding-top: 2.8rem
	padding-bottom: 2.9rem
	&::before
		content: ''
		+size(100%, .1rem)
		background: #373432
		position: absolute
		top: 0rem
		left: 0rem
	&::after
		content: ''
		+size(100%, .1rem)
		background: #1B1B1B
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__block
		width: 22.2rem
		+flex(column, wrap, flex-start, flex-start)
	&__block1
	&__block2
	&__block3
	&__block4
	&__block-headline
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		font-weight: 400
		color: #fff
		text-transform: uppercase
		text-align: left
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-size: 1.4rem
		line-height: 2.08rem
		text-align: left
	&__block1-paragraph
		margin-top: 2.3rem
	&__tel
		text-decoration: none
		color: $light-grey
		margin-top: 0.3rem
	&__fax
		text-decoration: none
		color: $light-grey
	&__email
		text-decoration: none
		color: $light-grey
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		margin-top: 2.1rem
	&__list-item
		padding: 0rem
		margin: 0rem
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
		position: relative
		padding: 0.7rem 0rem
		margin-top: 0.4rem
		&:first-child
			margin-top: 0rem
		&::before
			content: ''
			+size(94%, .1rem)
			background: #373432
			position: absolute
			bottom: 0rem
			left: 0rem
	&__list-link
		text-decoration: none
		font-size: 1.2rem
		color: $light-grey
		text-transform: capitalize
		text-align: left
	&__post-container
		width: 100%
		+flex(column, wrap, flex-start, flex-end)
		margin-top: 2.7rem
	&__post-title
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		font-weight: 900
		text-transform: capitalize
		text-align: left
	&__post-info
		width: 100%
		margin: 0rem
		font-size: 1.3rem
		text-align: left
		margin-top: 0.6rem
	&__post
		width: 100%
		margin: 0rem
		font-size: 1.2rem
		line-height: 1.92rem
		text-align: left
		margin-top: 0.6rem
	&__read-more-link
		text-decoration: none
		font-size: 1.2rem
		color: $pink
		text-align: left
		margin-top: 1rem
	&__form
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
	&__input
		outline: none
		border: .1rem solid transparent
		background: #2C2C2C
		border-radius: 0.4rem
		font-size: 1.3rem
		color: $light-grey
		text-align: left
		margin-top: 2.7rem
		width: 100%
		padding: 0.7rem 0.7rem
		&::placeholder
			font-size: 1.3rem
			color: $light-grey
			text-align: left
	&__name-input
	&__email-input
		margin-top: 1.3rem
	&__submit-button
		outline: none
		border: none
		cursor: pointer
		background: #2C2C2C
		font-size: 1.3rem
		font-weight: 900
		color: $pink
		text-transform: uppercase
		padding: 0.8rem 1rem
		border-radius: .6rem
		margin-top: 0.9rem
		transition: .2s
		&:hover
			background: lighten(#2C2C2C, 3%)
		&:active
			background: #2C2C2C

.copy
	position: relative
	background: $brown
	padding-top: 2.4rem
	padding-bottom: 2.4rem
	&::before
		content: ''
		+size(100%, .1rem)
		background: #373432
		position: absolute
		top: 0rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__paragraph
		width: 50%
		margin: 0rem
		font-size: 1.3rem
		text-align: left
	&__by-link
		text-decoration: none
		font-size: 1.3rem
		color: $light-grey
		transition: .2s
		&:hover
			color: lighten($light-grey, 15%)

.modal
	&__overlay
		+size(100%, 100%)
		background: rgba($space-grey, .9)
		position: fixed
		top: 0rem
		left: 0rem
		display: none
	&__window
		+size(31rem, 10rem)
		background: #000
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		+flex(row, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__error-container
	&__success-container
	&__paragraph
		font-size: 2rem
		color: #fff

*
	// @include outline($blue)