doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Piroll
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		.header#home
			.header__wrapper.wrapper
				a.prevdef.header__logo(href="#")
				nav.header__menu
					a.prevdef.header__menu-link(href="#home") Home
					a.prevdef.header__menu-link(href="#about") About
					a.prevdef.header__menu-link(href="#work") Work
					a.prevdef.header__menu-link(href="#process") Process
					a.prevdef.header__menu-link(href="#services") Services
					a.prevdef.header__menu-link(href="#testimonials") Testimonials
					a.prevdef.header__menu-link(href="#contact") Contact

		// Main Section
		.main
			.main__wrapper.wrapper
				.main__text-container
					h1.main__headline We Design and Develop
					p.main__paragraph We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
					a.prevdef.main__contact-us-link(href="#") Contact Us

		// About Us
		.about#about
			.about__wrapper.wrapper
				h3.about__headline About Us
				p.about__paragraph Divide have don't man wherein air fourth. Own itself make have night won't make. A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all.
				img.about__signature(src="assets/about__signature.webp", alt="pic")
				.about__content
					.about__left
						h4.about__left-headline Professional Skills
						.about__skills-container
							.about__skill.about__skill1
								.about__skill-info
									p.about__skill-name UI/UX Design
									p.about__skill-progress 75%
								.about__skill-diagram.about__skill1-diagram
							.about__skill.about__skill2
								.about__skill-info
									p.about__skill-name Web Development
									p.about__skill-progress 90%
								.about__skill-diagram.about__skill2-diagram
							.about__skill.about__skill3
								.about__skill-info
									p.about__skill-name Marketing
									p.about__skill-progress 65%
								.about__skill-diagram.about__skill3-diagram
					.about__right

		// Statistics
		.statistics
			.statistics__wrapper.wrapper
				.statistics__item.statistics__item1
					p.statistics__counter 548
					p.statistics__description Projects Completed
				.statistics__item.statistics__item2
					p.statistics__counter 1465
					p.statistics__description Working Hours
				.statistics__item.statistics__item3
					p.statistics__counter 612
					p.statistics__description Positive Feedbacks
				.statistics__item.statistics__item4
					p.statistics__counter 735
					p.statistics__description Happy Clients

		// Gallery
		.gallery#work
			.gallery__wrapper.wrapper
				.gallery__items-container.active
					a.prevdef.gallery__item.gallery__item1(href="#")
					a.prevdef.gallery__item.gallery__item2(href="#")
					a.prevdef.gallery__item.gallery__item3(href="#")
					a.prevdef.gallery__item.gallery__item4(href="#")
					a.prevdef.gallery__item.gallery__item5(href="#")
					a.prevdef.gallery__item.gallery__item6(href="#")
					a.prevdef.gallery__item.gallery__item7(href="#")
					a.prevdef.gallery__item.gallery__item8(href="#")
				.gallery__items-container
					a.prevdef.gallery__item.gallery__item1(href="#")
					a.prevdef.gallery__item.gallery__item2(href="#")
					a.prevdef.gallery__item.gallery__item3(href="#")
					a.prevdef.gallery__item.gallery__item4(href="#")
					a.prevdef.gallery__item.gallery__item5(href="#")
					a.prevdef.gallery__item.gallery__item6(href="#")
					a.prevdef.gallery__item.gallery__item7(href="#")
					a.prevdef.gallery__item.gallery__item8(href="#")
				.gallery__items-container
					a.prevdef.gallery__item.gallery__item1(href="#")
					a.prevdef.gallery__item.gallery__item2(href="#")
					a.prevdef.gallery__item.gallery__item3(href="#")
					a.prevdef.gallery__item.gallery__item4(href="#")
					a.prevdef.gallery__item.gallery__item5(href="#")
					a.prevdef.gallery__item.gallery__item6(href="#")
					a.prevdef.gallery__item.gallery__item7(href="#")
					a.prevdef.gallery__item.gallery__item8(href="#")
			button.gallery__load-more-link Load More Work

		// Work Process
		.process#process
			.process__wrapper.wrapper
				h3.process__headline Our Work Process
				p.process__paragraph Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.
				.process__video-section
					.process__video-container
						.process__video-overlay
							a.prevdef.process__video-play-button(href="#")
						iframe.process__video(width="560" height="315" src="https://www.youtube.com/embed/pZ12_E5R3qc?enablejsapi=1&playerapiid=ytplayer&controls=1&showinfo=1&autohide=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

		// What We Do
		.we-do#services
			.we-do__wrapper.wrapper
				.we-do__item.we-do__item1
					h3.we-do__item-headline UI / UX Design
					p.we-do__item-paragraph Be set fourth land god darkness make it wherein own
				.we-do__item.we-do__item2
					h3.we-do__item-headline Web Development
					p.we-do__item-paragraph A she'd them bring void moving third she'd kind fill
				.we-do__item.we-do__item3
					h3.we-do__item-headline App / Mobile
					p.we-do__item-paragraph Dominion man second spirit he, earth they're creeping
				.we-do__item.we-do__item4
					h3.we-do__item-headline Game Design
					p.we-do__item-paragraph Morning his saying moveth it multiply appear life be
				.we-do__item.we-do__item5
					h3.we-do__item-headline SEO / Marketing
					p.we-do__item-paragraph Give won't after land fill creeping meat you, may
				.we-do__item.we-do__item6
					h3.we-do__item-headline Photography
					p.we-do__item-paragraph Creepeth one seas cattle grass give moving saw give
				.we-do__item.we-do__item7
					h3.we-do__item-headline Graphic Design
					p.we-do__item-paragraph Open, great whales air rule for, fourth life whales
				.we-do__item.we-do__item8
					h3.we-do__item-headline Illustrations
					p.we-do__item-paragraph Whales likeness hath, man kind for them air two won't

		// Reviews
		.reviews#testimonials
			.reviews__wrapper.wrapper
				.reviews__slider
					.reviews__slide.reviews__slide1
						p.reviews__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
						p.reviews__quote-author Michael Hopkins
					.reviews__slide.reviews__slide2
						p.reviews__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
						p.reviews__quote-author Michael Hopkins
					.reviews__slide.reviews__slide3
						p.reviews__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
						p.reviews__quote-author Michael Hopkins

		// Brands
		.brands
			.brands__wrapper.wrapper
				.brands__item.brands__item1
				.brands__item.brands__item2
				.brands__item.brands__item3
				.brands__item.brands__item4
				.brands__item.brands__item5

		// Contact
		.contact#contact
			.contact__wrapper.wrapper
				h3.contact__headline Need a Project?
				p.contact__paragraph Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.
				form.contact__form(action="" method="POST")
					.contact__form-row
						input.contact__input.contact__name-input(type="text" placeholder="Your Name")
						input.contact__input.contact__email-input(type="text" placeholder="Your Email")
					input.contact__input.contact__title-input(type="text" placeholder="Your Title")
					textarea.contact__input.contact__comment-input(placeholder="Your Comment")
					button.prevdef.contact__send-message-button Send Message

		// Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					h3.footer__headline Piroll Design, Inc.
					a.prevdef.footer__copy(href="#") &copy; 2017 Piroll. All rights reserved.
					a.prevdef.footer__designed-by(href="#") Designed by robirurk
				.footer__block.footer__block2
					a.prevdef.footer__email-link(href="#") hello@pirolltheme.com
					a.prevdef.footer__phone-link(href="#") +44 987 065 908
				.footer__block.footer__block3
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Projects
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") About
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Services
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Carreer
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") News
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Events
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Contact
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Legals
				.footer__block.footer__block4
					a.prevdef.footer__social-link.footer__facebook-link(href="#") Facebook
					a.prevdef.footer__social-link.footer__twitter-link(href="#") Twitter
					a.prevdef.footer__social-link.footer__instagram-link(href="#") Instagram
					a.prevdef.footer__social-link.footer__dribble-link(href="#") Dribble

		// Modals
		.modal__overlay
		.modal__success-container.modal__window
			p.modal__success-paragraph.modal__paragraph Our customers will contact you soon!
		.modal__error-container.modal__window
			p.modal__error-paragraph.modal__paragraph Fill all the inputs!

		// To Top
		a.prevdef.to-top(href="#home")

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]