/*  Desktop First Method */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .home {
    position: relative; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__top-panel {
    padding-left: 0rem; }
  .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.8rem;
    left: 0rem;
    background: #000;
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link {
    margin-right: 0rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem 0rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link:hover::before {
    background: none; }
  .home__menu-link:hover {
    background: #B50B1E; }
  .home__menu-link:last-child {
    margin-right: 0rem; }
  .home__menu-link:first-child {
    margin-top: 0rem; }
  .home__headline {
    font-size: 5.2rem; }
  .home__hamburger {
    display: block; }
  .home__hamburger.active + .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .player__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 1rem; }
  .player__play-button {
    width: 4rem;
    height: 4rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.6rem; }
  .player__range-container {
    margin-left: 0rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .player__range {
    width: 100%;
    height: 0.7rem; }
  .player__buttons-container {
    margin-top: 1.6rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .player__volume-button {
    margin-left: 1rem; }
  .player__back-button {
    margin-left: 1rem; }
  .player__next-button {
    margin-left: 1rem; }
  .player__repeat-button {
    margin-left: 1rem; }
  .player__playlist-button {
    margin-left: 1rem; }
  .genres__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .genres__headline {
    text-align: center;
    margin-left: 0rem; }
  .genres__headline::before {
    content: none; }
  .genres__headline::after {
    content: none; }
  .genres__block {
    margin-top: 3rem; }
  .genres__block .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem; }
  .genres__block .row2 {
    margin-top: 0rem; }
  .genres__item {
    margin: 1rem; }
  .genres__item:first-child {
    margin: 1rem; }
  .genres__load {
    width: 25rem;
    height: auto; }
  .events__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .events__headline {
    margin-left: 0rem;
    text-align: center; }
  .events__headline::before {
    content: none; }
  .events__headline::after {
    content: none; }
  .events__man {
    display: none; }
  .news {
    padding-bottom: 4rem; }
  .news__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .news__headline {
    margin-left: 0rem;
    text-align: center; }
  .news__headline::before {
    content: none; }
  .news__headline::after {
    content: none; }
  .news__block {
    margin-top: 3rem;
    padding: 0rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__item {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 27rem;
    height: auto; }
  .contact__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.8rem;
    padding-bottom: 10rem; }
  .contact__headline::before {
    content: none; }
  .contact__headline::after {
    content: none; }
  .contact__join {
    font-size: 5rem; }
  .contact__paragraph {
    width: 100%; }
  .contact__email {
    width: 100%; }
  .contact__subscribe-button {
    top: 165%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__copy {
    text-align: center; }
  .footer__socials {
    margin-top: 2rem; }
  .footer__social-link {
    margin-right: 1.5rem; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .home {
    position: relative; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__top-panel {
    padding-left: 0rem; }
  .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.8rem;
    left: 0rem;
    background: #000;
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link {
    margin-right: 0rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem 0rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link:hover::before {
    background: none; }
  .home__menu-link:hover {
    background: #B50B1E; }
  .home__menu-link:last-child {
    margin-right: 0rem; }
  .home__menu-link:first-child {
    margin-top: 0rem; }
  .home__headline {
    font-size: 5.2rem; }
  .home__hamburger {
    display: block; }
  .home__hamburger.active + .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .player__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 1rem; }
  .player__play-button {
    width: 4rem;
    height: 4rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.6rem; }
  .player__range-container {
    margin-left: 0rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .player__range {
    width: 100%;
    height: 0.7rem; }
  .player__buttons-container {
    margin-top: 1.6rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .player__volume-button {
    margin-left: 1rem; }
  .player__back-button {
    margin-left: 1rem; }
  .player__next-button {
    margin-left: 1rem; }
  .player__repeat-button {
    margin-left: 1rem; }
  .player__playlist-button {
    margin-left: 1rem; }
  .genres__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .genres__headline {
    text-align: center;
    margin-left: 0rem; }
  .genres__headline::before {
    content: none; }
  .genres__headline::after {
    content: none; }
  .genres__block {
    margin-top: 3rem; }
  .genres__block .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem; }
  .genres__block .row2 {
    margin-top: 0rem; }
  .genres__item {
    margin: 1rem; }
  .genres__item:first-child {
    margin: 1rem; }
  .genres__load {
    width: 25rem;
    height: auto; }
  .events__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .events__headline {
    margin-left: 0rem;
    text-align: center; }
  .events__headline::before {
    content: none; }
  .events__headline::after {
    content: none; }
  .events__man {
    display: none; }
  .news {
    padding-bottom: 4rem; }
  .news__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .news__headline {
    margin-left: 0rem;
    text-align: center; }
  .news__headline::before {
    content: none; }
  .news__headline::after {
    content: none; }
  .news__block {
    margin-top: 3rem;
    padding: 0rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__item {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 27rem;
    height: auto; }
  .contact__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.8rem;
    padding-bottom: 10rem; }
  .contact__headline::before {
    content: none; }
  .contact__headline::after {
    content: none; }
  .contact__join {
    font-size: 5rem; }
  .contact__paragraph {
    width: 100%; }
  .contact__email {
    width: 100%; }
  .contact__subscribe-button {
    top: 165%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__copy {
    text-align: center; }
  .footer__socials {
    margin-top: 2rem; }
  .footer__social-link {
    margin-right: 1.5rem; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .home {
    position: relative; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__top-panel {
    padding-left: 0rem; }
  .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.8rem;
    left: 0rem;
    background: #000;
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link {
    margin-right: 0rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem 0rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link:hover::before {
    background: none; }
  .home__menu-link:hover {
    background: #B50B1E; }
  .home__menu-link:last-child {
    margin-right: 0rem; }
  .home__menu-link:first-child {
    margin-top: 0rem; }
  .home__headline {
    font-size: 5.2rem; }
  .home__hamburger {
    display: block; }
  .home__hamburger.active + .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .player__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 1rem; }
  .player__play-button {
    width: 4rem;
    height: 4rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.6rem; }
  .player__range-container {
    margin-left: 0rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .player__range {
    width: 100%;
    height: 0.7rem; }
  .player__buttons-container {
    margin-top: 1.6rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .player__volume-button {
    margin-left: 1rem; }
  .player__back-button {
    margin-left: 1rem; }
  .player__next-button {
    margin-left: 1rem; }
  .player__repeat-button {
    margin-left: 1rem; }
  .player__playlist-button {
    margin-left: 1rem; }
  .genres__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .genres__headline {
    text-align: center;
    margin-left: 0rem; }
  .genres__headline::before {
    content: none; }
  .genres__headline::after {
    content: none; }
  .genres__block {
    margin-top: 3rem; }
  .genres__block .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem; }
  .genres__block .row2 {
    margin-top: 0rem; }
  .genres__item {
    margin: 1rem; }
  .genres__item:first-child {
    margin: 1rem; }
  .genres__load {
    width: 25rem;
    height: auto; }
  .events__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .events__headline {
    margin-left: 0rem;
    text-align: center; }
  .events__headline::before {
    content: none; }
  .events__headline::after {
    content: none; }
  .events__man {
    display: none; }
  .news {
    padding-bottom: 4rem; }
  .news__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .news__headline {
    margin-left: 0rem;
    text-align: center; }
  .news__headline::before {
    content: none; }
  .news__headline::after {
    content: none; }
  .news__block {
    margin-top: 3rem;
    padding: 0rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__item {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 27rem;
    height: auto; }
  .contact__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.8rem;
    padding-bottom: 10rem; }
  .contact__headline::before {
    content: none; }
  .contact__headline::after {
    content: none; }
  .contact__join {
    font-size: 5rem; }
  .contact__paragraph {
    width: 100%; }
  .contact__email {
    width: 100%; }
  .contact__subscribe-button {
    top: 165%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__copy {
    text-align: center; }
  .footer__socials {
    margin-top: 2rem; }
  .footer__social-link {
    margin-right: 1.5rem; }
  .modal__content {
    width: 100%; }
  .modal__paragraph {
    font-size: 2rem; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .home {
    position: relative; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__top-panel {
    padding-left: 0rem; }
  .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.8rem;
    left: 0rem;
    background: #000;
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link {
    margin-right: 0rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem 0rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .home__menu-link:hover::before {
    background: none; }
  .home__menu-link:hover {
    background: #B50B1E; }
  .home__menu-link:last-child {
    margin-right: 0rem; }
  .home__menu-link:first-child {
    margin-top: 0rem; }
  .home__headline {
    font-size: 5.2rem; }
  .home__hamburger {
    display: block; }
  .home__hamburger.active + .home__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .player__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 1rem; }
  .player__play-button {
    width: 4rem;
    height: 4rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.6rem; }
  .player__range-container {
    margin-left: 0rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .player__range {
    width: 100%;
    height: 0.7rem; }
  .player__buttons-container {
    margin-top: 1.6rem;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .player__volume-button {
    margin-left: 0.5rem; }
  .player__back-button {
    margin-left: 0.5rem; }
  .player__next-button {
    margin-left: 0.5rem; }
  .player__repeat-button {
    margin-left: 0.5rem; }
  .player__playlist-button {
    margin-left: 0.5rem; }
  .genres__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .genres__headline {
    text-align: center;
    margin-left: 0rem; }
  .genres__headline::before {
    content: none; }
  .genres__headline::after {
    content: none; }
  .genres__block {
    margin-top: 3rem; }
  .genres__block .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem; }
  .genres__block .row2 {
    margin-top: 0rem; }
  .genres__item {
    margin: 1rem; }
  .genres__item:first-child {
    margin: 1rem; }
  .genres__load {
    width: 25rem;
    height: auto; }
  .events__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .events__headline {
    margin-left: 0rem;
    text-align: center; }
  .events__headline::before {
    content: none; }
  .events__headline::after {
    content: none; }
  .events__man {
    display: none; }
  .news {
    padding-bottom: 4rem; }
  .news__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .news__headline {
    margin-left: 0rem;
    text-align: center; }
  .news__headline::before {
    content: none; }
  .news__headline::after {
    content: none; }
  .news__block {
    margin-top: 3rem;
    padding: 0rem 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__item {
    margin-left: 0rem;
    margin-top: 2rem;
    width: 27rem;
    height: auto; }
  .contact__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.8rem;
    padding-bottom: 10rem; }
  .contact__headline {
    margin-top: 2rem; }
  .contact__headline::before {
    content: none; }
  .contact__headline::after {
    content: none; }
  .contact__join {
    font-size: 5rem; }
  .contact__paragraph {
    width: 100%; }
  .contact__email {
    width: 100%; }
  .contact__subscribe-button {
    top: 165%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__copy {
    text-align: center; }
  .footer__socials {
    margin-top: 2rem; }
  .footer__social-link {
    margin-right: 1.5rem; }
  .modal__content {
    width: 100%; }
  .modal__paragraph {
    font-size: 2rem; } }
