@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default
	background: #D0D0D0

.wrapper
	@include wrapper(60.6%, auto)

// 1rem === 10px

.header
	&__wrapper
		background: #FFF
		position: relative
		@include flex(row, wrap, flex-start, flex-start)
		padding-bottom: 3.5rem
		&::before
			content: ''
			@include size(100%, 1rem)
			background: #894AA3
			position: absolute
			top: 0rem
			left: 0rem
	&__block
	&__block1
		width: 40%
		@include flex(column, wrap, flex-start, flex-start)
		padding-top: 3.8rem
		padding-left: 2.8rem
	&__block2
		width: 60%
		@include flex(row, wrap, flex-end, flex-start)
		padding-top: 1rem
		padding-right: 2.9rem
	&__logo
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 3.6rem
		color: #666
		text-transform: uppercase
		span
			font-size: 2.6rem
	&__logo-description
		margin: 0rem
		width: 100%
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #666
		margin-top: 0.1rem
	&__search-input
		width: 21.6rem
		border: none
		outline: none
		background: url('../assets/header__search-icon.png') no-repeat 19.1rem 50%, #EBEBEA
		font-family: $gg
		color: grey
		font-size: 1.4rem
		padding-top: 0.6rem
		padding-bottom: 0.6rem
		padding-left: 1.4rem
		padding-right: 3.2rem
		border-bottom-left-radius: 1rem
		border-bottom-right-radius: 1rem
	&__nav
		margin-top: 4.4rem
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, flex-start, flex-start)
		margin-left: 3rem
		&:first-child
			margin-left: 0rem
	&__menu-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #666
		text-transform: uppercase
		transition: .2s
		&:hover
			color: #000

.main
	width: 100%
	&__wrapper
		padding-top: 1.8rem
		background: #EBEBEA
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.2rem
		line-height: 3.2rem
		color: #333
		text-align: center
		padding: 0rem 11rem
	&__slider-container
		width: 100%
		@include size(100%, 38rem)
		position: relative
	&__slider
		@include size(100%, 38rem)
		margin-top: 1.9rem
		@include flex(row, wrap, center, center)
		.owl-controls
			position: absolute
			bottom: 2.8rem
			left: 2.5rem
			.owl-page span
				width: 1rem
				height: 1rem
				border-radius: 0
				background: #666
				opacity: 1
				margin: 0
				margin-left: 0.5rem
				display: inline-block
				vertical-align: middle
				transition: all 0.5s
				position: relative
				border: .2rem solid #666666
				border-radius: 50%
			.owl-page.active span
				background: none
	&__slide
		@include size(100%, 38rem)
		position: relative
		margin: 0rem auto
	&__slide1
		background: $blue
	&__slide2
		background: $green
	&__slide3
		background: $orange
	&__slide4
		background: $pink
	&__slide5
		background: $purple
	&__slide-text-container
		@include size(45rem, 12rem)
		background: rgba(#000, .7)
		position: absolute
		bottom: 0rem
		right: 0rem
		padding-top: 2.1rem
		padding-left: 1.6rem
		text-decoration: none
	&__slide-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2rem
		color: #C2C2C2
	&__slide-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.3rem
		color: #BFBFBF
		margin-top: 1.8rem
		padding-right: 5rem
	&__slider-button
		@include size(4.8rem, 4.8rem)
		border: .2rem solid #525252
		border-radius: 50%
		cursor: pointer
		outline: none
		position: absolute
		top: 16.8rem
	&__prev-button
		left: 3.1rem
		background: url('../assets/main__arrow-left.png') no-repeat center, #000
	&__next-button
		right: 3.1rem
		background: url('../assets/main__arrow-right.png') no-repeat center, #000
	&__blocks-container
		@include flex(row, wrap, center, flex-start)
		margin-top: 4.2rem
		padding-bottom: 4.3rem
	&__block
		width: 28rem
		margin-right: 2.9rem
		@include flex(row, wrap, flex-start, flex-start)
		&:last-child
			margin-right: 0rem
	&__block1
	&__block2
	&__block3
	&__block-img
		width: 4.8rem
		margin-top: 0.5rem
	&__block-text-container
		width: calc(100% - 4.8rem)
		padding-left: 2.1rem
	&__block-headline
		width: 100%
		margin: 0rem
		font-size: $gg
		font-weight: 400
		font-size: 2rem
		color: #894AA3
	&__block-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.1rem
		color: #666
		margin-top: 1.8rem
		padding-right: 2.6rem

.section1
	&__wrapper
		padding-top: 5rem
		padding-bottom: 5.1rem
		background: #EBEBEA
	&__blocks-container
		@include flex(row, wrap, center, stretch)
	&__block
		@include flex(column, wrap, flex-start, center)
		background: #fff
		width: 28rem
		padding-top: 1rem
		padding-bottom: 1.4rem
		margin-right: 2.9rem
		&:last-child
			margin-right: 0rem
	&__block1
	&__block2
	&__block3
	&__img
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.6rem
		color: #894AA3
		text-align: center
		margin-top: 1.9rem
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.1rem
		color: #666
		text-align: center
		margin-top: 1.6rem
		padding: 0rem 2rem

.contact
	width: 100%
	&__wrapper
		@include flex(row, wrap, flex-start, flex-start)
		background: #fff
		padding-top: 4rem
		padding-bottom: 3.8rem
	&__block
		width: calc(100% / 4)
	&__block1
		padding-left: 3rem
	&__block2
		padding-left: 2rem
	&__block3
		padding-left: 1rem
		@include flex(column, wrap, flex-start, flex-end)
	&__block4
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #666
		text-transform: uppercase
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		line-height: 2rem
		color: #999
		margin-top: 2.3rem
	&__phone
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: #999
		margin-top: 0.7rem
	&__fax
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: #999
		margin-top: 0.5rem
	&__email
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: #999
		margin-top: 0.2rem
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(column, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 2.7rem
	&__list-item
		@include flex(column, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 1.8rem
		position: relative
		width: 95%
		&::before
			content: ''
			@include size(100%, .1rem)
			background: #EBEBEB
			position: absolute
			bottom: -0.8rem
			left: 0rem
		&:first-child
			margin-top: 0rem
	&__list-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
	&__post-container
		margin-top: 2.7rem
		width: 100%
	&__post-title
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		font-weight: 900
	&__post-info
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.1rem
		color: #999
		margin-top: 0.7rem
	&__post-author
	&__post-time
	&__post
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.9rem
		color: #999
		margin-top: 0.7rem
		padding-right: 4rem
	&__read-more
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #874CA0
		margin-top: 0.2rem
		margin-right: 2rem
	&__form
		@include flex(column, wrap, flex-start, flex-start)
		padding-top: 2.7rem
		width: 100%
	&__input
		outline: none
		border: .1rem solid transparent
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		border-radius: 0.6rem
		background: #E6E6E6
		width: 88%
		padding: 0.9rem 1rem
		&::placeholder
			outline: none
			border: none
			font-family: $gg
			font-weight: 400
			font-size: 1.3rem
			color: #999
			text-transform: capitalize
	&__name-input
	&__email-input
		margin-top: 1rem
	&__submit-button
		outline: none
		border: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #874CA0
		text-transform: uppercase
		background: #E6E6E6
		padding: 1rem 1.4rem
		margin-top: 0.7rem
		cursor: pointer
		transition: .2s
		border-radius: 0.6rem
		&:hover
			color: #E6E6E6
			background: #874CA0

.footer
	&__wrapper
		background: #444
		@include flex(row, wrap, space-between, center)
		padding-top: 2.5rem
		padding-bottom: 2.5rem
		padding-left: 3rem
		padding-right: 4.1rem
	&__copy
		width: 50%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #D0D0D0
	&__by-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #D0D0D0

.modal
	&__overlay
		position: fixed
		top: 0rem
		left: 0rem
		background: rgba($space-grey, .9)
		@include size(100%, 100%)
		display: none
	&__window
		@include size(31rem, 10rem)
		background: darken($space-grey, 10%)
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@include flex(row, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&__error-container
	&__error-paragraph
	&__success-container
	&__success-paragraph

*
	// @include outline($blue)