@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.header
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
			&::before
		&__block
		&__block1
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 3rem//
			padding-left: 0rem//
		&__block2
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 0rem//
			padding-right: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-input
			border-bottom-left-radius: 0rem//
			border-bottom-right-radius: 0rem//
			margin-top: 1rem//
		&__nav
			margin-top: 2.4rem//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-left: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 80%//
		&__headline
			padding: 0rem 20%//
		&__slider-container
			width: 100%//
			@include size(100%, 38rem)//
		&__slider
			@include size(100%, 38rem)//
			.owl-controls
				bottom: -2.4rem//
				left: 50%//
				transform: translateX(-50%)//
				.owl-page span
				.owl-page:first-child span
					margin-left: 0rem//
				.owl-page.active span
		&__slide
			@include size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			@include size(60%, auto)//
			padding-bottom: 2rem//
			padding-left: 0rem//
			left: 50%//
			transform: translateX(-50%)//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//
			padding: 0rem 20%//
		&__slider-button
			top: 20%//
		&__prev-button
		&__next-button
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			width: calc(100% / 3)//
			margin-right: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 0rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-text-container
			width: 100%//
			padding-left: 0rem//
		&__block-headline
			text-align: center//
			margin-top: 1rem//
		&__block-paragraph
			padding-right: 0rem//
			text-align: center//
			padding: 0rem 15%//

	.section1
		&__wrapper
			width: 100%//
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			margin-right: 3rem//
			margin-top: 0rem//
			width: 25%//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__img
		&__headline
		&__paragraph

	.contact
		&__wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 80%//
		&__block
			width: 25%//
			margin-top: 0rem//
			margin: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
			padding-left: 2rem//
			padding-right: 4rem//
		&__block2
			padding-left: 2rem//
		&__block3
			padding-left: 2rem//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block4
			padding-left: 2rem//
		&__headline
		&__paragraph
		&__phone
		&__fax
		&__email
		&__list
			@include flex(column, wrap, flex-start, flex-start)//
		&__list-item
			@include flex(column, wrap, flex-start, flex-start)//
			&::before
			&:first-child
		&__list-link
		&__post-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more
			margin-top: 1.2rem//
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.footer
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__copy
			width: 100%//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.header
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
			&::before
		&__block
		&__block1
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 3rem//
			padding-left: 0rem//
		&__block2
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 0rem//
			padding-right: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-input
			border-bottom-left-radius: 0rem//
			border-bottom-right-radius: 0rem//
			margin-top: 1rem//
		&__nav
			margin-top: 2.4rem//
		&__menu
			@include flex(row, wrap, center, center)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-left: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 80%//
		&__headline
			padding: 0rem 20%//
		&__slider-container
			width: 100%//
			@include size(100%, 38rem)//
		&__slider
			@include size(100%, 38rem)//
			.owl-controls
				bottom: -2.4rem//
				left: 50%//
				transform: translateX(-50%)//
				.owl-page span
				.owl-page:first-child span
					margin-left: 0rem//
				.owl-page.active span
		&__slide
			@include size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			@include size(100%, auto)//
			padding-bottom: 2rem//
			padding-left: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//
			padding: 0rem 20%//
		&__slider-button
			top: 20%//
		&__prev-button
		&__next-button
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			width: calc(100% / 3)//
			margin-right: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 0rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-text-container
			width: 100%//
			padding-left: 0rem//
		&__block-headline
			text-align: center//
			margin-top: 1rem//
		&__block-paragraph
			padding-right: 0rem//
			text-align: center//
			padding: 0rem 5%//

	.section1
		&__wrapper
			width: 100%//
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			margin-right: 1rem//
			margin-top: 0rem//
			width: 30%//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__img
		&__headline
		&__paragraph

	.contact
		&__wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__block
			width: 25%//
			margin-top: 0rem//
			margin: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
			padding-left: 1rem//
			padding-right: 4rem//
		&__block2
			padding-left: 1rem//
		&__block3
			padding-left: 1rem//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block4
			padding-left: 1rem//
		&__headline
		&__paragraph
		&__phone
		&__fax
		&__email
		&__list
			@include flex(column, wrap, flex-start, flex-start)//
		&__list-item
			@include flex(column, wrap, flex-start, flex-start)//
			&::before
			&:first-child
		&__list-link
		&__post-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more
			margin-top: 1.2rem//
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.footer
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__copy
			width: 100%//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.header
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
			&::before
		&__block
		&__block1
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 3rem//
			padding-left: 0rem//
		&__block2
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 0rem//
			padding-right: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-input
			border-bottom-left-radius: 0rem//
			border-bottom-right-radius: 0rem//
			margin-top: 1rem//
		&__nav
			margin-top: 2.4rem//
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 15%//
		&__slider-container
			width: 100%//
			@include size(100%, 38rem)//
		&__slider
			@include size(100%, 38rem)//
			.owl-controls
				bottom: -2.4rem//
				left: 50%//
				transform: translateX(-50%)//
				.owl-page span
				.owl-page:first-child span
					margin-left: 0rem//
				.owl-page.active span
		&__slide
			@include size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			@include size(100%, auto)//
			padding-bottom: 2rem//
			padding-left: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//
			padding: 0rem 15%//
		&__slider-button
			top: 20%//
		&__prev-button
		&__next-button
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			width: 100%//
			margin-right: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 2rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-text-container
			width: 100%//
			padding-left: 0rem//
		&__block-headline
			text-align: center//
			margin-top: 1rem//
		&__block-paragraph
			padding-right: 0rem//
			text-align: center//
			padding: 0rem 15%//

	.section1
		&__wrapper
			width: 100%//
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			margin-right: 0rem//
			margin-top: 0rem//
			width: calc(100% / 3)//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__img
		&__headline
		&__paragraph

	.contact
		&__wrapper
			@include flex(row, wrap, flex-start, stretch)//
			width: 100%//
		&__block
			width: 45%//
			margin-top: 0rem//
			margin: 1rem//
			&:first-child
				margin-top: 1rem//
		&__block1
			padding-left: 1rem//
			padding-right: 4rem//
		&__block2
			padding-left: 1rem//
		&__block3
			padding-left: 1rem//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block4
			padding-left: 1rem//
		&__headline
		&__paragraph
		&__phone
		&__fax
		&__email
		&__list
			@include flex(column, wrap, flex-start, flex-start)//
		&__list-item
			@include flex(column, wrap, flex-start, flex-start)//
			&::before
			&:first-child
		&__list-link
		&__post-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more
			margin-top: 1.2rem//
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.footer
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__copy
			width: 100%//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.header
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
			&::before
		&__block
		&__block1
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 3rem//
			padding-left: 0rem//
		&__block2
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 0rem//
			padding-right: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-input
			border-bottom-left-radius: 0rem//
			border-bottom-right-radius: 0rem//
			margin-top: 1rem//
		&__nav
			margin-top: 2.4rem//
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 10%//
		&__slider-container
			width: 100%//
			@include size(100%, 38rem)//
		&__slider
			@include size(100%, 38rem)//
			.owl-controls
				bottom: -2.4rem//
				left: 50%//
				transform: translateX(-50%)//
				.owl-page span
				.owl-page:first-child span
					margin-left: 0rem//
				.owl-page.active span
		&__slide
			@include size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			@include size(100%, auto)//
			padding-bottom: 2rem//
			padding-left: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//
			padding: 0rem 10%//
		&__slider-button
			top: 20%//
		&__prev-button
		&__next-button
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			width: 100%//
			margin-right: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 2rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-text-container
			width: 100%//
			padding-left: 0rem//
		&__block-headline
			text-align: center//
			margin-top: 1rem//
		&__block-paragraph
			padding-right: 0rem//
			text-align: center//
			padding: 0rem 10%//

	.section1
		&__wrapper
			width: 100%//
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			margin-right: 0rem//
			margin-top: 1rem//
			width: 28rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__img
		&__headline
		&__paragraph

	.contact
		&__wrapper
			@include flex(row, wrap, flex-start, flex-start)//
			width: 100%//
		&__block
			width: 100%//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
			padding-left: 1rem//
			padding-right: 4rem//
		&__block2
			padding-left: 1rem//
		&__block3
			padding-left: 1rem//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block4
			padding-left: 1rem//
		&__headline
		&__paragraph
		&__phone
		&__fax
		&__email
		&__list
			@include flex(column, wrap, flex-start, flex-start)//
		&__list-item
			@include flex(column, wrap, flex-start, flex-start)//
			&::before
			&:first-child
		&__list-link
		&__post-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more
			margin-top: 1.2rem//
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.footer
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__copy
			width: 100%//
			text-align: center//
		&__by-link
			margin-top: 1rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.header
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
			&::before
		&__block
		&__block1
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 3rem//
			padding-left: 0rem//
		&__block2
			width: 100%//
			@include flex(column, wrap, center, center)//
			padding-top: 0rem//
			padding-right: 0rem//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-input
			border-bottom-left-radius: 0rem//
			border-bottom-right-radius: 0rem//
			margin-top: 1rem//
		&__nav
			margin-top: 2.4rem//
		&__menu
			@include flex(column, wrap, center, center)//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-left: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
		&__menu-link
			&:hover

	.main
		&__wrapper
			width: 100%//
		&__headline
			padding: 0rem 5%//
		&__slider-container
			width: 100%//
			@include size(100%, 38rem)//
		&__slider
			@include size(100%, 38rem)//
			.owl-controls
				bottom: -2.4rem//
				left: 50%//
				transform: translateX(-50%)//
				.owl-page span
				.owl-page:first-child span
					margin-left: 0rem//
				.owl-page.active span
		&__slide
			@include size(100%, 38rem)//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__slide-text-container
			@include size(100%, auto)//
			padding-bottom: 2rem//
			padding-left: 0rem//
		&__slide-headline
			text-align: center//
		&__slide-paragraph
			text-align: center//
			padding: 0rem 5%//
		&__slider-button
			top: 20%//
		&__prev-button
		&__next-button
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			width: 100%//
			margin-right: 0rem//
			@include flex(column, wrap, center, center)//
			margin-top: 2rem//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-text-container
			width: 100%//
			padding-left: 0rem//
		&__block-headline
			text-align: center//
			margin-top: 1rem//
		&__block-paragraph
			padding-right: 0rem//
			text-align: center//
			padding: 0rem 5%//

	.section1
		&__wrapper
			width: 100%//
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			@include flex(column, wrap, flex-start, center)//
			margin-right: 0rem//
			margin-top: 1rem//
			width: 90%//
			&:last-child
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__img
		&__headline
		&__paragraph

	.contact
		&__wrapper
			@include flex(row, wrap, flex-start, flex-start)//
			width: 100%//
		&__block
			width: 100%//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
			padding-left: 1rem//
			padding-right: 4rem//
		&__block2
			padding-left: 1rem//
		&__block3
			padding-left: 1rem//
			@include flex(column, wrap, flex-start, flex-start)//
		&__block4
			padding-left: 1rem//
		&__headline
		&__paragraph
		&__phone
		&__fax
		&__email
		&__list
			@include flex(column, wrap, flex-start, flex-start)//
		&__list-item
			@include flex(column, wrap, flex-start, flex-start)//
			&::before
			&:first-child
		&__list-link
		&__post-container
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more
			margin-top: 1.2rem//
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover

	.footer
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__copy
			width: 100%//
			text-align: center//
		&__by-link
			margin-top: 1rem//

	.modal
		&__overlay
		&__window
			@include size(100%, 10rem)//
		&__paragraph
		&__error-container
		&__error-paragraph
		&__success-container
		&__success-paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple