h1,h2,h3,h4,h5,h6,p,a {
  padding: 0 !important;
  margin: 0 !important;
}

// Color
$space-grey: #313131;

// Header
.header {
  background: $space-grey !important;
}

// Main
.main {
  background-image: url('https://i.ibb.co/tB5n11N/main-bg-wide.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: #1C1C1C!important;
  &__product-name {
    font-size: 16px;
    color: #ffffff !important;
  }
  &__top-panel-menu {
    display: inline !important;
    margin: 0 auto !important;
  }
  &__menu1-item {
    font-size: 9px !important;
    color: #ffffff !important;
  }
  &__menu1-item a {
    font-size: 9px !important;
    color: #ffffff !important;
  }
  &__free-trial {
  }
  &__buy {
  }
  .columns {
    // border: 1px solid red;
  }

  &__headline {
    font-size: 48px;
    font-weight: 700;
    color: #fff !important;
    line-height: 58px;
  }
  &__middle-links-container {
    display: inline !important;
    margin: 0 auto !important;
  }
  &__middle-link {
    text-decoration: none !important;
    color: #51ACFF !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }

  &__list1 {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    width: 65% !important;
    margin: 0 auto !important;
  }
  &__list1-item {
    font-size: 24px !important;
    font-weight: 700;
    line-height: 29px;
    color: #fff !important;
    padding-left: 24px !important;
    border-left: 4px solid #FCA878 !important;
  }
  &__up-to {
    font-size: 10px;
    font-weight: 400;
    color: #fff !important;
  }
  &__count {
    font-size: 36px;
    font-weight: 600;
    color: #fff !important;
  }
  &__what-else {
    font-size: 10px;
    font-weight: 400;
    color: #fff !important;
  }
}

// Footer
.footer {
  background: #313131 !important;
  background-color: #313131 !important;
  &__socials-container {
    display: inline !important;
    margin: 0 auto !important;
  }
  &__social-link {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__copy-paragraph {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #7D7D7D !important;
  }
  &__unsubscribe {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #7D7D7D !important;
    width: 80% !important;
    span {
      color: #7D7D7D !important;
    }
    a {
      color: #51ACFF !important;
      text-decoration: none !important;
    }
  }
  &__menu {}
  &__menu-link {
    padding-right: 5px !important;
    padding-left: 5px !important;
    border-right: 1px solid #7D7D7D;
    font-size: 12px;
    font-weight: 400;
    color: #fff !important;
  }
  &__menu-link.no-divider {
    border-right: none !important;
  }
}