doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Concomitant
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		//- Header
		header.header
			.header__wrapper.wrapper
				.header__block.header__block1
					a.prevdef.header__logo-container(href="#")
						h1.header__logo C#[span oncomitant]
						p.header__logo-description Free PSD Website Template
					.header__socials-n-secondary-menu-container
						.header__socials-container
							a.prevdef.header__social-link.header__linkedin(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-3x")
									path(fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.header__social-link.header__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-3x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.header__social-link.header__pinterest(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="pinterest-p" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-pinterest-p fa-w-12 fa-3x")
									path(fill="currentColor" d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.header__social-link.header__google-plus(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-3x")
									path(fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.header__social-link.header__rss(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-rss fa-w-14 fa-3x")
									path(fill="currentColor" d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						nav.header__secondary-menu-container
							ul.header__secondary-menu
								li.header__secondary-menu-list-item
									a.prevdef.header__secondary-menu-link(href="#") Sign Up
								li.header__secondary-menu-list-item
									a.prevdef.header__secondary-menu-link(href="#") Login
								li.header__secondary-menu-list-item
									a.prevdef.header__secondary-menu-link(href="#") RSS Feeds
								li.header__secondary-menu-list-item
									a.prevdef.header__secondary-menu-link(href="#") Archived News
				.header__block.header__block2
					nav.header__menu-container
						ul.header__menu
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Homepage
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Style Demo
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Full Width
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Portfolio
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Gallery
							li.header__menu-list-item
								a.prevdef.header__menu-link(href="#") Dropdown
					.header__search-container
						input.header__search-input(type="text" placeholder="Search Our Website...")
						button.header__search-button Search

		//- Main Section
		section.main
			.main__wrapper.wrapper
				.main__slider
					.main__slide1.main__slide
					.main__slide2.main__slide
					.main__slide3.main__slide
					.main__slide4.main__slide
					.main__slide5.main__slide
				.main__buttons-container
					button.main__slider-button.main__prev-button
					button.main__slider-button.main__next-button

		//- Section1
		section.section1
			.section1__wrapper.wrapper
				.section1__block.section1__block1
					.section1__icon.section1__icon1
					h3.section1__block-headline Vivamuslibero Augue
					p.section1__block-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.
				.section1__block.section1__block2
					.section1__icon.section1__icon2
					h3.section1__block-headline Vivamuslibero Augue
					p.section1__block-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.
				.section1__block.section1__block3
					.section1__icon.section1__icon3
					h3.section1__block-headline Vivamuslibero Augue
					p.section1__block-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.
				.section1__block.section1__block4
					.section1__icon.section1__icon4
					h3.section1__block-headline Vivamuslibero Augue
					p.section1__block-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.

		//- Section2
		section.section2
			.section2__wrapper.wrapper
				.section2__block.section2__block1
					img.section2__block-img(src="http://placekitten.com/200/130", alt="pic")
					h3.section2__block-headline Project Title
					p.section2__block-paragraph Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
					a.prevdef.section2__view-details-link(href="#") View Details &raquo;
				.section2__block.section2__block2
					img.section2__block-img(src="http://placekitten.com/200/130", alt="pic")
					h3.section2__block-headline Project Title
					p.section2__block-paragraph Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
					a.prevdef.section2__view-details-link(href="#") View Details &raquo;
				.section2__block.section2__block3
					img.section2__block-img(src="http://placekitten.com/200/130", alt="pic")
					h3.section2__block-headline Project Title
					p.section2__block-paragraph Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
					a.prevdef.section2__view-details-link(href="#") View Details &raquo;
				.section2__block.section2__block4
					img.section2__block-img(src="http://placekitten.com/200/130", alt="pic")
					h3.section2__block-headline Project Title
					p.section2__block-paragraph Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
					a.prevdef.section2__view-details-link(href="#") View Details &raquo;

		//- Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					h3.footer__block-headline Contact Details
					p.footer__block-paragraph.footer__block1-paragraph Convallisijusto vestas mus pellentum aenean sapibulum in aliquam volut pat integest nulla.
					a.prevdef.footer__block-paragraph.footer__tel(href="#") Tel: xxxxx xxxxxxxxxx
					a.prevdef.footer__block-paragraph.footer__fax(href="#") Fax: xxxxx xxxxxxxxxx
					a.prevdef.footer__block-paragraph.footer__email(href="#") Email: contact@mydomain.com
				.footer__block.footer__block2
					h3.footer__block-headline Quick Links
					ul.footer__list
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
						li.footer__list-item
							a.prevdef.footer__list-link(href="#") Link Text Here
				.footer__block.footer__block3
					h3.footer__block-headline From The Blog
					.footer__post-container
						h4.footer__post-title Blog Post Title
						p.footer__post-info Posted by #[span.footer__post-author Admin] on #[span.footer__post-time 00.00.0000]
						p.footer__post.footer__block-paragraph Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed facilispede estibulum.
						a.prevdef.footer__read-more-link(href="#") Read More &raquo;
				.footer__block.footer__block4
					h3.footer__block-headline Grab Our Newsletter
					form.footer__form(action="" method="POST")
						input.footer__input.footer__name-input(type="text" placeholder="Name")
						input.footer__input.footer__email-input(type="text" placeholder="Email")
						button.prevdef.footer__submit-button Submit

		//- Copy
		section.copy
			.copy__wrapper.wrapper
				p.copy__paragraph Copyright &copy; 2013 - All Rights Reserved - Domain Name
				a.prevdef.copy__by-link(href="#") Template by OS Templates

		//- Modals
		.modal__overlay
		.modal__error-container.modal__window
			p.modal__paragraph Fill all the inputs, please!
		.modal__success-container.modal__window
			p.modal__paragraph Check your email out!

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]