// Fonts
$hsr: 'HammersmithOne-Regular'
$pdbl: 'PlayfairDisplay-Black'
$pdb: 'PlayfairDisplay-Bold'
$pdr: 'PlayfairDisplay-Regular'
$rbl: 'Roboto-Black'
$rl: 'Roboto-Light'
$rr: 'Roboto-Regular'
$rth: 'Roboto-Thin'

// Colors
$space-grey: #222222
$purple-grey: #413D4B
$pink: #E65B70
$purple: #512950
$red: #c4233e
$yellow: #ffdd00
$green: #07b75f
$orange: #F58220
$blue: #00E0D0

$media-green: #254823
$media-pink: #59363B
$media-blue: #2B4146
$media-orange: #85552B
$media-purple: #2D1D34