* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default; }

.wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto; }

.top-panel {
  background: #2D2928;
  padding-top: 1.3rem;
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  padding-bottom: 1.5rem; }

.top-panel__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.top-panel__menu-container {
  margin-top: 0.7rem; }

.top-panel__menu {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.top-panel__menu-list-item {
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 1.4rem;
  position: relative; }

.top-panel__menu-list-item::before {
  content: '';
  width: 0.1rem;
  height: 100%;
  background: #C4C4C4;
  position: absolute;
  top: 50%;
  right: -0.8rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.top-panel__menu-list-item:last-child {
  margin-right: 0rem; }

.top-panel__menu-list-item:last-child::before {
  content: none; }

.top-panel__menu-link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #C4C4C4; }

.top-panel__search-input {
  width: 21rem;
  outline: none;
  border: none;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background: url("../assets/top-panel__search-icon.png") no-repeat 18.3rem center, #fff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;
  font-family: "Georgia";
  font-weight: 400;
  color: #666;
  font-size: 1.4rem; }

.header {
  padding-top: 2.6rem; }

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }

.header__logo-container {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header__logo {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 4.7rem;
  color: #666;
  text-transform: uppercase;
  text-align: left; }

.header__logo span {
  font-size: 3.6rem; }

.header__logo-description {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #999;
  text-align: left;
  margin-top: 0rem; }

.header__img {
  margin-top: 0.8rem; }

.header__menu-container {
  width: 100%;
  padding: 0.2rem 0rem;
  position: relative;
  margin-top: 3.3rem; }

.header__menu-container::before, .header__menu-container::after {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #E1E1E1;
  position: absolute;
  left: 0rem; }

.header__menu-container::before {
  top: 0rem; }

.header__menu-container::after {
  bottom: 0rem; }

.header__menu {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .1rem 0rem;
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.header__menu::before, .header__menu::after {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #E1E1E1;
  position: absolute;
  left: 0rem; }

.header__menu::before {
  top: 0rem; }

.header__menu::after {
  bottom: 0rem; }

.header__menu-list-item {
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-right: 3rem; }

.header__menu-list-item:last-child {
  margin-right: 0rem; }

.header__menu-list-item::before {
  content: '';
  width: 0.1rem;
  height: 70%;
  background: #666;
  position: absolute;
  top: 50%;
  right: -1.6rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.header__menu-list-item:last-child::before {
  content: none; }

.header__menu-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #666;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.header__menu-link:hover {
  color: #F90; }

.main {
  padding-top: 4rem; }

.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-bottom: 4.1rem; }

.main__wrapper::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #E1E1E1;
  position: absolute;
  bottom: 0rem;
  left: 0rem; }

.main__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main__block1 {
  width: 60%; }

.main__block2 {
  width: 40%;
  padding-top: 6.4rem;
  padding-left: 3.9rem; }

.main__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 5.6rem;
  color: #666;
  text-transform: uppercase;
  text-align: left; }

.main__paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #666;
  text-align: left;
  margin-top: 1.3rem;
  padding-right: 2rem; }

.main__read-more-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.6rem;
  color: #F90;
  text-transform: uppercase;
  text-align: left;
  margin-top: 2.4rem; }

.section1 {
  padding-top: 3.7rem; }

.section1__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-bottom: 4.1rem; }

.section1__wrapper::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #E1E1E1;
  position: absolute;
  bottom: 0rem;
  left: 0rem; }

.section1__block {
  width: 29.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section1__post-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2.9rem; }

.section1__post-container:first-child {
  margin-top: 0rem; }

.section1__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #666;
  text-align: left; }

.section1__date {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.4rem;
  color: #989898;
  text-align: left;
  margin-top: 1rem; }

.section1__read-full-story-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #F90;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0.2rem; }

.section1__img {
  border: .9rem solid #fff;
  -webkit-box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  margin-top: 1.1rem; }

.section2 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section2__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section2__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-calc(100% / 5.3);
  width: calc(100% / 5.3); }

.section2__headline {
  width: 100%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.3rem;
  color: #666;
  text-align: left;
  position: relative;
  padding-bottom: 0.7rem; }

.section2__headline::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #E1E1E1;
  position: absolute;
  bottom: 0rem;
  left: 0rem; }

.section2__menu {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  margin-top: 0.5rem; }

.section2__menu-list-item {
  padding: 0rem;
  margin: 0rem;
  margin-top: 0.1rem; }

.section2__menu-list-item:first-child {
  margin-top: 0rem; }

.section2__menu-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #F90;
  text-align: left; }

.copy {
  background: #232323;
  position: relative;
  padding-top: 2.4rem;
  padding-bottom: 2.6rem; }

.copy::before {
  content: '';
  width: 100%;
  height: 0.1rem;
  background: #232323;
  position: absolute;
  top: -.2rem;
  left: 0rem; }

.copy__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.copy__paragraph {
  width: 50%;
  margin: 0rem;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #919191;
  text-align: left; }

.copy__by-link {
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 1.2rem;
  color: #919191;
  text-align: left;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.copy__by-link:hover {
  color: #c4c4c4; }

.copy__by-link:active {
  color: #919191; }
