@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

*
	transition: all .2s

body
	cursor: default
	user-select: none

.wrapper
	+wrapper(96rem, auto)

// 1rem === 10px

.header
	background: #3F3F3F
	position: relative
	padding-top: 1.6rem
	padding-bottom: 1.2rem
	&::before
		content: ''
		+size(100%, .3rem)
		background: #303030
		position: absolute
		bottom: -1rem
		left: 0rem
	&__wrapper
		+flex(row, wrap, space-between, center)
	&__menu-container
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, flex-start, flex-start)
		margin-right: 4.4rem
		position: relative
		&:last-child
			margin-right: 0rem
		&::before
			content: ''
			+size(.1rem, 100%)
			background: #B8B8B8
			position: absolute
			top: 50%
			right: -2.2rem
			transform: translateY(-50%)
		&:last-child::before
			content: none
	&__menu-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #B8B8B8
		text-transform: uppercase
		text-align: left
		transition: .2s
		&:hover
			color: $orange
	&__socials
		+flex(row, wrap, flex-start, flex-start)
	&__social-link
		+flex(row, wrap, center, center)
		+size(3.2rem, 3.2rem)
		border-radius: 50%
		background: #252525
		transition: .2s
		margin-right: 1rem
		&:last-child
			margin-right: 0rem
		&:hover
			background: $orange
		svg
			+size(1.8rem, 1.8rem)
			path
				fill: #fff
	&__linkedin
	&__twitter
	&__pinterest
	&__google-plus
		svg
			+size(2.4rem, 2.4rem)
	&__rss

.main
	background: #252525
	padding-top: 3rem
	padding-bottom: 3rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__logo-container
		+flex(row, wrap, flex-start, flex-start)
		text-decoration: none
	&__logo
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 4.6rem
		color: #fff
		text-transform: uppercase
		text-align: left
		span
			font-size: 3.7rem
	&__logo-description
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #999
		text-align: left
		margin-top: 3.1rem
		margin-left: 2rem
	&__search-container
		+flex(row, wrap, flex-start, stretch)
		margin-top: 0.9rem
	&__search-input
		outline: none
		border: none
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #7F7F7F
		text-align: left
		background: #363636
		width: 21.5rem
		padding: 1rem 0.9rem
		&::placeholder
			font-family: $gg
			font-weight: 400
			font-size: 1.2rem
			color: #7F7F7F
	&__search-button
		outline: none
		border: none
		cursor: pointer
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: #fff
		text-transform: uppercase
		text-align: center
		background: $orange
		padding: 1rem 0.8rem
		transition: .2s
		&:hover
			background: lighten($orange, 5%)

.slider-section
	background: #252525
	position: relative
	padding-bottom: 1.5rem
	&::before
		content: ''
		+size(100%, 1.5rem)
		background: $orange
		position: absolute
		bottom: 0rem
		left: 0rem
	&__wrapper
	&__slider
		+size(100%, 34rem)
		position: relative
	&__slide
		+size(100%, 34rem)
		margin: 0rem auto
		position: absolute
		top: 0rem
		left: 0rem
		transition: .2s
		opacity: 0
		z-index: -1
		&.active
			opacity: 1
			z-index: 999
	&__slide1
		background: $red
	&__slide2
		background: $green
	&__slide3
		background: $blue
	&__slide4
		background: $yellow
	&__slide5
		background: $orange
	&__pagination
		width: 96rem
		+flex(row, wrap, flex-start, flex-start)
		background: $orange
		position: absolute
		bottom: 0rem
		left: 50%
		margin-left: -48rem
	&__pagination-elem
		+size(calc(100% / 5), 1.5rem)
		background: $orange
		cursor: pointer
		transition: .2s
		&.active
			background: #F0F0F0
	&__pagination-elem1
	&__pagination-elem2
	&__pagination-elem3
	&__pagination-elem4
	&__pagination-elem5

.section1
	background: #E1E1E1
	&__wrapper
	&__location-container
		+flex(row, wrap, flex-start, flex-start)
		background: #F0F0F0
		position: relative
		width: 100%
		padding-top: 2rem
		padding-bottom: 1.8rem
		padding-left: 3rem
		&::before
			content: ''
			+size(100%, .1rem)
			background: #E1E1E1
			position: absolute
			bottom: 0rem
			left: 0rem
	&__you-are-here
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #999
		text-align: left
	&__homepage
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		color: $orange
		text-align: left
		margin-left: 1.3rem
	&__content
		width: 100%
		background: #fff
		padding-top: 2.9rem
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 8.5rem
		color: #DDD
		text-align: center
		text-transform: uppercase
		span
			font-size: 6.5rem
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		line-height: 4.1rem
		font-size: 2.8rem
		color: #989898
		text-align: center
		font-style: italic
		margin-top: 0rem
	&__separator
		border: none
		+size(94%, .1rem)
		background: #E1E1E1
		margin: 0rem auto
		margin-top: 4.6rem
	&__blocks-container
		width: 100%
		+flex(row, wrap, flex-start, stretch)
		padding-top: 4.7rem
	&__block
		width: 50%
		+flex(column, wrap, flex-start, flex-start)
	&__block1
		padding-left: 3rem
	&__block2
		padding-left: 1rem
	&__block-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.2rem
		color: #666
		text-align: left
	&__block1-item
		width: 100%
	&__block1-item1
	&__block1-item2
		margin-top: 3.4rem
	&__block1-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.6rem
		color: #333
		text-align: left
		margin-top: 3.8rem
		padding-left: 6.1rem
		position: relative
		&::before
			content: ''
			+size(5.3rem, 4.4rem)
			background: url('../assets/section1__quote.png') no-repeat center
			position: absolute
			top: -1.2rem
			left: 0rem
		span
			font-weight: 400
	&__block1-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.08rem
		color: #999
		text-align: left
		margin-top: 2rem
		padding-right: 4rem
	&__block2-item
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 2.6rem
	&__block2-item1
	&__block2-item2
		margin-top: 4.7rem
	&__block2-img
		border: .4rem solid #FCFCFC
		box-shadow: 0rem 0rem .1rem .1rem #E1E1E1
	&__text-container
		width: calc(100% - 11.8rem)
		padding-top: 1.2rem
		padding-left: 1.3rem
	&__block2-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.6rem
		color: #333
		text-align: left
	&__block2-paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		line-height: 2.08rem
		color: #999
		text-align: left
		margin-top: 1.3rem
	&__separator2
		margin: 0rem
		border: none
		+size(94%, .1rem)
		background: #E1E1E1
		margin: 0rem auto
		margin-top: 4.6rem

.latest-work
	background: #E1E1E1
	position: relative
	&::before
		content: ''
		+size(100%, 14.5rem)
		background: #252525
		position: absolute
		bottom: 0rem
		left: 0rem
		z-index: 0
	&__wrapper
		+flex(row, wrap, flex-start, flex-start)
		background: #fff
		position: relative
		z-index: 3
	&__block
	&__block1
		width: 27%
		padding-top: 4.7rem
		padding-left: 3rem
	&__block2
		width: 73%
		+flex(row, wrap, flex-start, stretch)
		padding-top: 5rem
	&__block3
		width: 100%
		+flex(row, wrap, flex-start, flex-start)
		margin-top: 4.7rem
		padding-left: 2.6rem
		padding-bottom: 2.5rem
	&__block1-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2.2rem
		color: #666
		text-align: left
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 1.82rem
		color: #999
		text-align: left
		margin-top: 1.6rem
		padding-right: 4rem
	&__block1-paragraph
	&__block2-paragraph
		width: 100%
		margin: 0rem
		margin-top: 2.2rem
	&__item
		width: calc(100% / 3)
		+flex(column, wrap, flex-start, flex-start)
	&__item1
	&__img
		+size(21rem, 14rem)
		background: url('http://placekitten.com/210/140') no-repeat center
		background-size: cover
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: -0.5rem
			left: 50%
			+size(10rem, 0rem)
			border-bottom: 12rem solid rgba(#000, 0.4)
			border-left: 9.4rem solid transparent
			border-right: 9.4rem solid transparent
			transform: translateX(-50%)
			z-index: -1
			filter: blur(0.3rem)
	&__view-this-project
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.4rem
		color: $orange
		text-align: left
		margin-top: 1.1rem
	&__block3-twitter-icon
		+size(11.5rem, 10rem)
		background: url('../assets/latest-work__twitter-icon.png') no-repeat center
	&__block3-paragraph
		width: calc(100% - 11.5rem)
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.8rem
		line-height: 2.5rem
		color: #999
		text-align: left
		padding-left: 4.6rem
		margin-top: 2.6rem

.footer
	background: #252525
	padding-top: 2.8rem
	padding-bottom: 2rem
	&__wrapper
		+flex(row, wrap, flex-start, stretch)
	&__block
		width: calc(100% / 4)
		+flex(column, wrap, flex-start, flex-start)
	&__block1
	&__block2
		padding-left: 0.5rem
	&__block3
		padding-left: 1rem
	&__block4
		padding-left: 1.4rem
	&__headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #666
		text-transform: uppercase
		text-align: left
	&__paragraph
		text-decoration: none
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #868686
		text-align: left
	&__company-name
		margin-top: 2.7rem
	&__street-name
		margin-top: 0.4rem
	&__town
		margin-top: 0.5rem
	&__postcode
		margin-top: 0.7rem
	&__tel
		margin-top: 0.4rem
	&__fax
		margin-top: 0.5rem
	&__email
		margin-top: 0.6rem
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		margin-top: 1.8rem
	&__list-item
		padding: 0rem
		margin: 0rem
		+flex(row, wrap, flex-start, flex-start)
		width: 100%
		position: relative
		&::before
			content: ''
			+size(95%, .1rem)
			background: #333
			position: absolute
			bottom: 0rem
			left: 0rem
	&__list-link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		line-height: 1.44rem
		color: $orange
		padding: 0.8rem 0rem
	&__post-container
		width: 100%
		+flex(column, wrap, flex-start, flex-end)
		margin-top: 2.6rem
	&__post-headline
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 900
		font-size: 1.4rem
		color: #868686
		text-align: left
	&__post-info
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #868686
		text-align: left
		margin-top: 0.4rem
	&__post-author
	&__post-time
	&__post
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.92rem
		color: #868686
		text-align: left
		margin-top: 0.7rem
	&__read-more
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $orange
		margin-top: 1.1rem
		margin-right: 0.4rem
	&__form
		width: 100%
		+flex(column, wrap, flex-start, flex-start)
	&__input
		outline: none
		border: .1rem solid transparent
		border-radius: 0.4rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #868686
		background: #333
		width: 100%
		padding: 0.8rem 1rem
		&::placeholder
			font-family: $gg
			font-weight: 400
			font-size: 1.3rem
			color: #868686
	&__name-input
		margin-top: 2.7rem
	&__email-input
		margin-top: 1.2rem
	&__submit-button
		outline: none
		border: none
		cursor: pointer
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: $orange
		text-transform: uppercase
		text-align: center
		background: #333
		border-radius: 0.4rem
		padding: 0.8rem 1.6rem
		transition: .2s
		margin-top: 1rem
		&:hover
			background: darken(#333, 3%)

.copy
	background: #000
	padding-top: 2.3rem
	padding-bottom: 2.3rem
	&__wrapper
		+flex(row, wrap, space-between, flex-start)
	&__paragraph
		text-decoration: none
		width: 50%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #737373
		text-align: left
	&__link
		text-decoration: none
		font-family: $gg
		font-weight: 400
		font-size: 1.3rem
		color: #737373

.modal
	&__overlay
		background: rgba(#222, .8)
		+size(100%, 100%)
		position: fixed
		top: 0rem
		left: 0rem
		z-index: 999
		display: none
	&__window
		+size(31rem, 10rem)
		background: #000
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		+flex(row, wrap, center, center)
		transition: .2s
		opacity: 0
		z-index: -1
	&__error-container
	&__success-container
	&__paragraph
		width: 100%
		margin: 0rem
		font-family: $gg
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-align: center

*
	// @include outline($blue)