* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.wrapper {
  width: 144rem;
  height: auto;
  margin: 0 auto; }

.header {
  background: #FAFAFA; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 8rem;
    padding-right: 3.4rem;
    padding-bottom: 3.7rem; }
  .header__logo {
    text-decoration: none;
    font-family: "Homemade Apple";
    font-size: 1.8rem;
    color: #231F20;
    margin-top: 5.1rem; }
  .header__menu-container {
    margin-top: 4.6rem; }
  .header__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 3.1rem; }
    .header__menu-list-item:last-child {
      margin-right: 0rem; }
  .header__menu-link {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    color: #000;
    position: relative; }
    .header__menu-link::before {
      content: '';
      width: 100%;
      height: 0.2rem;
      background: #000;
      position: absolute;
      bottom: -0.3rem;
      left: 0rem;
      opacity: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .header__menu-link:hover::before {
      opacity: 1; }
  .header__gift-finder-link {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    color: #F7941E;
    border: 0.1rem solid #F7941E;
    border-radius: .5rem;
    text-transform: uppercase;
    padding: 1rem 2.4rem;
    margin-top: 3.8rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header__gift-finder-link:hover {
      background: #f38809;
      color: #fff; }
    .header__gift-finder-link:active {
      background: #F7941E;
      color: #fff; }

.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 4rem; }

.about__block {
  background: #F1F1F2;
  width: 50%;
  height: 70rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.about__block1 {
  padding-top: 14.3rem;
  padding-left: 16.2rem; }

.about__block2 {
  background: url("../assets/about__pic1.jpg") no-repeat center;
  background-size: cover; }

.about__block3 {
  background: url("../assets/about__pic2.jpg") no-repeat center;
  background-size: cover;
  height: 60rem; }

.about__block4 {
  height: 60rem;
  padding-top: 15.8rem;
  padding-left: 11.4rem; }

.about__block1-headline {
  width: 100%;
  margin: 0rem;
  font-family: "Gilroy Semibold";
  font-size: 5.6rem;
  line-height: 6.9rem;
  color: #000;
  text-align: left;
  padding-right: 12rem; }

.about__block1-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Gilroy Regular";
  font-size: 2rem;
  line-height: 140.62%;
  text-align: left;
  margin-top: 4.2rem;
  padding-right: 14rem; }

.about__find-gift-now {
  text-decoration: none;
  font-family: "Gilroy Regular";
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  background: #F7941E;
  border-radius: .5rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-top: 5.7rem;
  padding: 2rem 3.6rem; }
  .about__find-gift-now:hover {
    background: #f38809; }
  .about__find-gift-now:active {
    background: #F7941E; }

.about__block4-headline {
  width: 100%;
  margin: 0rem;
  font-family: "Gilroy Regular";
  font-size: 3.2rem;
  line-height: 140.62%;
  color: #000;
  text-align: left; }

.about__block4-paragraph {
  width: 100%;
  margin: 0rem;
  font-family: "Gilroy Regular";
  font-size: 2rem;
  line-height: 140.62%;
  color: #000;
  text-align: left;
  margin-top: 2.6rem;
  padding-right: 17rem; }

.about__learn-more {
  text-decoration: none;
  font-family: "Gilroy Regular";
  font-size: 1.8rem;
  line-height: 134.77%;
  color: #F7941E;
  text-transform: uppercase;
  border-radius: .5rem;
  border: 0.1rem solid #F7941E;
  margin-top: 4rem;
  padding: 1.7rem 4.5rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .about__learn-more:hover {
    background: #f38809;
    color: #fff; }
  .about__learn-more:active {
    background: #F7941E;
    color: #fff; }

.services {
  background: #fff;
  padding-top: 5.2rem;
  padding-bottom: 13.6rem; }
  .services__headline {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #000;
    text-align: center; }
  .services__paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    line-height: 135.94%;
    color: #000;
    text-align: center;
    margin-top: 2.4rem; }
  .services__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 6.9rem; }
  .services__block {
    width: 27rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-right: 3rem; }
    .services__block:last-child {
      margin-right: 0rem; }
  .services__block:hover .services__text-container {
    background: #fff;
    -webkit-box-shadow: 1rem 1rem 1rem rgba(128, 128, 128, 0.1);
            box-shadow: 1rem 1rem 1rem rgba(128, 128, 128, 0.1); }
  .services__text-container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #FAFAFA;
    padding-top: 1.9rem;
    padding-left: 2.4rem;
    padding-bottom: 2.7rem; }
  .services__block-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000;
    text-align: left; }
  .services__see-more {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #000;
    text-transform: capitalize;
    position: relative;
    margin-top: 7.5rem; }
    .services__see-more::before, .services__see-more::after {
      content: '';
      width: 0.1rem;
      height: 0.5rem;
      background: #000;
      position: absolute;
      right: -0.7rem; }
    .services__see-more::before {
      top: 0.6rem;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .services__see-more::after {
      bottom: 0.5rem;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.ready {
  background: #F7941E;
  padding-top: 7.3rem;
  padding-bottom: 7.7rem; }
  .ready__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .ready__block {
    width: 50%;
    height: auto; }
  .ready__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 15.9rem; }
  .ready__block2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 6.9rem;
    padding-top: 2.3rem; }
  .ready__headline {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Bold";
    font-size: 3.2rem;
    line-height: 140.62%;
    color: #000;
    text-align: right; }
  .ready__paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 3.2rem;
    line-height: 140.62%;
    text-align: right;
    position: relative;
    margin-top: 0.2rem;
    left: -1.5rem; }
  .ready__find-gift-now {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #fff;
    text-transform: uppercase;
    background: #231F20;
    border-radius: .5rem;
    border: 0.1rem solid #231F20;
    padding: 1.3rem 3.4rem; }
  .ready__how-it-works {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000;
    text-transform: uppercase;
    background: none;
    border-radius: .5rem;
    border: .1rem solid #000;
    padding: 1.3rem 3.4rem;
    margin-left: 1.7rem; }

.blogs {
  background: #fff;
  padding-top: 8.4rem;
  padding-bottom: 8rem; }
  .blogs__headline {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #000;
    text-transform: capitalize;
    text-align: center; }
  .blogs__paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    line-height: 135.94%;
    color: #000;
    text-align: center;
    margin-top: 2.4rem; }
  .blogs__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 7.6rem; }
  .blogs__block {
    width: 117rem;
    height: auto; }
  .blogs__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .blogs__block2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 4rem; }
  .blogs__block1-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-calc(100% - 40rem);
    width: calc(100% - 40rem);
    background: #231F20;
    padding-top: 6rem;
    padding-left: 7.9rem; }
  .blogs__author {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 1.4rem;
    line-height: 140.62%;
    color: #fff;
    text-align: left; }
  .blogs__block1-paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: #fff;
    text-align: left;
    margin-top: 2.2rem;
    padding-right: 13rem; }
  .blogs__block1-read-more {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;
    margin-top: 7.6rem; }
  .blogs__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 57rem;
    padding-top: 4.2rem;
    padding-left: 4.8rem;
    padding-bottom: 5rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .blogs__item:hover {
      -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
              box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); }
  .blogs__item-headline {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Bold";
    font-size: 2.4rem;
    line-height: 140.62%;
    color: #000;
    text-align: left;
    padding-right: 6rem; }
  .blogs__item-paragraph {
    width: 100%;
    margin: 0rem;
    font-family: "Gilroy Regular";
    font-size: 1.8rem;
    line-height: 140.62%;
    color: #000;
    text-align: left;
    margin-top: 1.9rem;
    padding-right: 5rem; }
  .blogs__item-read-more {
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.4rem;
    line-height: 140.62%;
    color: #000;
    text-transform: capitalize;
    margin-top: 4rem; }

.footer {
  background: #FAFAFA;
  padding-top: 11.6rem;
  padding-bottom: 3.9rem; }
  .footer__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__logo {
    position: absolute;
    top: -0.4rem;
    left: 50.4%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-decoration: none;
    font-family: "Homemade Apple";
    font-size: 1.8rem;
    line-height: 3.9rem;
    color: #F7941E; }
  .footer__menu-container {
    width: 100%; }
  .footer__menu {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 8.1rem; }
    .footer__menu-list-item:nth-child(2) {
      margin-right: 31.3rem; }
    .footer__menu-list-item:last-child {
      margin-right: 0rem; }
  .footer__menu-link {
    text-decoration: none;
    font-family: "Gilroy Bold";
    font-size: 1.4rem;
    line-height: 140.62%;
    color: #000;
    text-transform: capitalize; }
  .footer__separator {
    margin: 0rem;
    border: none;
    background: #000;
    width: 69%;
    height: 0.2rem;
    margin-top: 5.6rem; }
  .footer__socials-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5.6rem; }
  .footer__social-link {
    margin-right: 2.5rem;
    width: 3.84rem;
    height: 3.84rem;
    background: #000;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .footer__social-link:hover {
      background: #1a1a1a; }
    .footer__social-link:last-child {
      margin-right: 0rem; }
    .footer__social-link svg {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 2rem;
      height: 2rem; }
      .footer__social-link svg path {
        fill: #fff; }
  .footer__copy-container {
    text-decoration: none;
    margin-top: 6.9rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__copy {
    width: auto;
    margin: 0rem;
    text-decoration: none;
    font-family: "Gilroy Regular";
    font-size: 1.4rem;
    line-height: 140.62%;
    color: #000;
    margin-right: 1.9rem; }
    .footer__copy:last-child {
      margin-right: 0rem; }
