@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.header
		padding-top: 2.1rem//
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			padding-bottom: 2.8rem//
			width: 100%//
			&::before
		&__logo-container
			@include flex(column, wrap, flex-start, flex-start)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			border-radius: 0rem//
			width: 100%//
			margin-top: 3rem//
		&__menu
			@include flex(row, wrap, center, center)//
			width: 100%//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin-right: 2rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		padding-top: 2.5rem//
		&__wrapper
			width: 100%//
		&__paragraph
			padding: 0rem 5%//
		&__slider
			width: 100%//
			.owl-pagination
				.owl-page
				.owl-page span
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			width: 100%//

	.services
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
		&__blocks-container
			width: 100%//
			@include flex(row, wrap, space-around, stretch)//
		&__block
			width: calc(100% / 4.5)//
			@include flex(row, wrap, flex-start, center)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-headline-container
			@include flex(row, wrap, flex-start, center)//
		&__block-img
		&__block-headline
		&__block-paragraph
			text-align-last: left//
			text-align: left//
			padding-right: 0rem//
			padding: 0rem 2%//
		&__read-more-link
			margin-top: 1rem//

	.players
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__block-img
		&__block-name
			span
		&__block-paragraph
		&__block-view-profile-link

	.work
		padding-top: 2.7rem//
		padding-bottom: 2.7rem//
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 1rem//
			&::before
			&:hover::before
		&__block1
		&__block2
		&__block3
		&__block-img

	.contact
		&::before
		&__wrapper
			width: 95%//
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 0%//
		&__block1
			width: 50%//
		&__block2
			width: 25%//
		&__block3
			width: 25%//
			padding-left: 0rem//
			padding-right: 2%//
		&__block-headline
		&__post-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__post-img-container
			@include flex(row, wrap, center, center)//
		&__post-img
		&__post-text-container
		&__post-headline
		&__post
		&__block2-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
		&__office-hours
		&__office-hours1
		&__office-hours2
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, center, center)//
		&__paragraph
			text-align-last: center//
			text-align: center//
		&__by-link
			text-align-last: center//
			text-align: center//
			margin-top: 1rem//
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.header
		padding-top: 2.1rem//
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			padding-bottom: 2.8rem//
			width: 100%//
			&::before
		&__logo-container
			@include flex(column, wrap, flex-start, flex-start)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			border-radius: 0rem//
			width: 100%//
			margin-top: 3rem//
		&__menu
			@include flex(row, wrap, center, center)//
			width: 100%//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-top: 0rem//
			margin-right: 2rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		padding-top: 2.5rem//
		&__wrapper
			width: 100%//
		&__paragraph
			padding: 0rem 5%//
		&__slider
			width: 100%//
			.owl-pagination
				.owl-page
				.owl-page span
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			width: 100%//

	.services
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
		&__blocks-container
			width: 100%//
			@include flex(row, wrap, space-around, stretch)//
		&__block
			width: calc(100% / 3.5)//
			@include flex(row, wrap, flex-start, center)//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-headline-container
			@include flex(row, wrap, flex-start, center)//
		&__block-img
		&__block-headline
		&__block-paragraph
			text-align-last: left//
			text-align: left//
			padding-right: 0rem//
			padding: 0rem 2%//
		&__read-more-link
			margin-top: 1rem//

	.players
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, flex-start)//
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__block-img
		&__block-name
			span
		&__block-paragraph
		&__block-view-profile-link

	.work
		padding-top: 2.7rem//
		padding-bottom: 2.7rem//
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 1rem//
			&::before
			&:hover::before
		&__block1
		&__block2
		&__block3
		&__block-img

	.contact
		&::before
		&__wrapper
			width: 100%//
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 3%//
		&__block1
			width: 37%//
		&__block2
			width: 37%//
		&__block3
			width: 37%//
			padding-left: 0rem//
		&__block-headline
		&__post-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__post-img-container
			@include flex(row, wrap, center, center)//
		&__post-img
		&__post-text-container
		&__post-headline
		&__post
		&__block2-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
		&__office-hours
		&__office-hours1
		&__office-hours2
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, center, center)//
		&__paragraph
			text-align-last: center//
			text-align: center//
		&__by-link
			text-align-last: center//
			text-align: center//
			margin-top: 1rem//
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.header
		padding-top: 2.1rem//
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			padding-bottom: 2.8rem//
			width: 100%//
			&::before
		&__logo-container
			@include flex(column, wrap, flex-start, flex-start)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			border-radius: 0rem//
			width: 100%//
			margin-top: 3rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-top: 1rem//
			margin-right: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		padding-top: 2.5rem//
		&__wrapper
			width: 100%//
		&__paragraph
			padding: 0rem 5%//
		&__slider
			width: 100%//
			.owl-pagination
				.owl-page
				.owl-page span
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			width: 100%//

	.services
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
		&__blocks-container
			width: 100%//
			@include flex(row, wrap, space-between, stretch)//
		&__block
			width: 100%//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-headline-container
			@include flex(row, wrap, flex-start, center)//
		&__block-img
		&__block-headline
		&__block-paragraph
			text-align-last: center//
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 20%//
		&__read-more-link

	.players
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__block-img
		&__block-name
			span
		&__block-paragraph
		&__block-view-profile-link

	.work
		padding-top: 2.7rem//
		padding-bottom: 2.7rem//
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 1rem//
			&::before
			&:hover::before
		&__block1
		&__block2
		&__block3
		&__block-img

	.contact
		&::before
		&__wrapper
			width: 100%//
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 3%//
		&__block1
			width: 70%//
		&__block2
			width: 70%//
		&__block3
			width: 70%//
			padding-left: 0rem//
		&__block-headline
		&__post-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__post-img-container
			@include flex(row, wrap, center, center)//
		&__post-img
		&__post-text-container
		&__post-headline
		&__post
		&__block2-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
		&__office-hours
		&__office-hours1
		&__office-hours2
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, center, center)//
		&__paragraph
			text-align-last: center//
			text-align: center//
		&__by-link
			text-align-last: center//
			text-align: center//
			margin-top: 1rem//
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.header
		padding-top: 2.1rem//
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			padding-bottom: 2.8rem//
			width: 100%//
			&::before
		&__logo-container
			@include flex(column, wrap, flex-start, flex-start)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			border-radius: 0rem//
			width: 100%//
			margin-top: 3rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-top: 1rem//
			margin-right: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		padding-top: 2.5rem//
		&__wrapper
			width: 100%//
		&__paragraph
			padding: 0rem 5%//
		&__slider
			width: 100%//
			.owl-pagination
				.owl-page
				.owl-page span
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			width: 100%//

	.services
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
		&__blocks-container
			width: 100%//
			@include flex(row, wrap, space-between, stretch)//
		&__block
			width: 100%//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-headline-container
			@include flex(row, wrap, flex-start, center)//
		&__block-img
		&__block-headline
		&__block-paragraph
			text-align-last: center//
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 10%//
		&__read-more-link

	.players
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__block-img
		&__block-name
			span
		&__block-paragraph
		&__block-view-profile-link

	.work
		padding-top: 2.7rem//
		padding-bottom: 2.7rem//
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 1rem//
			&::before
			&:hover::before
		&__block1
		&__block2
		&__block3
		&__block-img

	.contact
		&::before
		&__wrapper
			width: 100%//
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 3%//
		&__block1
			width: 70%//
		&__block2
			width: 70%//
		&__block3
			width: 70%//
			padding-left: 0rem//
		&__block-headline
		&__post-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__post-img-container
			@include flex(row, wrap, center, center)//
		&__post-img
		&__post-text-container
		&__post-headline
		&__post
		&__block2-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
		&__office-hours
		&__office-hours1
		&__office-hours2
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, center, center)//
		&__paragraph
			text-align-last: center//
			text-align: center//
		&__by-link
			text-align-last: center//
			text-align: center//
			margin-top: 1rem//
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.header
		padding-top: 2.1rem//
		&__wrapper
			@include flex(column, wrap, flex-start, center)//
			padding-bottom: 2.8rem//
			width: 100%//
			&::before
		&__logo-container
			@include flex(column, wrap, flex-start, flex-start)//
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__menu-container
			border-radius: 0rem//
			width: 100%//
			margin-top: 3rem//
		&__menu
			@include flex(column, wrap, flex-start, center)//
			width: 100%//
		&__menu-list-item
			@include flex(row, wrap, flex-start, flex-start)//
			margin-top: 1rem//
			margin-right: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		padding-top: 2.5rem//
		&__wrapper
			width: 100%//
		&__paragraph
			padding: 0rem 5%//
		&__slider
			width: 100%//
			.owl-pagination
				.owl-page
				.owl-page span
				.owl-page:first-child span
				.owl-page.active span
		&__slide
			width: 100%//

	.services
		&__wrapper
			@include flex(column, wrap, center, center)//
			width: 100%//
		&__headline
		&__blocks-container
			width: 100%//
			@include flex(row, wrap, space-between, stretch)//
		&__block
			width: 100%//
			@include flex(column, wrap, center, center)//
			margin-top: 3rem//
			&:first-child
				margin-top: 0rem//
		&__block1
		&__block2
		&__block3
		&__block-headline-container
			@include flex(row, wrap, flex-start, center)//
		&__block-img
		&__block-headline
		&__block-paragraph
			text-align-last: center//
			text-align: center//
			padding-right: 0rem//
			padding: 0rem 10%//
		&__read-more-link

	.players
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(column, wrap, center, center)//
		&__block
			@include flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block5
		&__block-img
		&__block-name
			span
		&__block-paragraph
		&__block-view-profile-link

	.work
		padding-top: 2.7rem//
		padding-bottom: 2.7rem//
		&__wrapper
			width: 100%//
		&__headline
		&__blocks-container
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 1rem//
			&::before
			&:hover::before
		&__block1
		&__block2
		&__block3
		&__block-img

	.contact
		&::before
		&__wrapper
			width: 100%//
			@include flex(row, wrap, center, stretch)//
		&__block
			margin: 3%//
		&__block1
			width: 90%//
		&__block2
			width: 90%//
		&__block3
			width: 90%//
			padding-left: 0rem//
		&__block-headline
		&__post-container
			@include flex(row, wrap, flex-start, flex-start)//
		&__post-img-container
			@include flex(row, wrap, center, center)//
		&__post-img
		&__post-text-container
		&__post-headline
		&__post
		&__block2-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
		&__office-hours
		&__office-hours1
		&__office-hours2
		&__form
			@include flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__message-input
		&__submit-button
			&:hover
			&:active

	.copy
		&::before
		&__wrapper
			width: 100%//
			@include flex(column, wrap, center, center)//
		&__paragraph
			text-align-last: center//
			text-align: center//
		&__by-link
			text-align-last: center//
			text-align: center//
			margin-top: 1rem//

	.modal
		&__overlay
		&__error-container
		&__success-container
		&__window
			@include size(100%, 10rem)//
		&__paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple