@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

// 1rem === 10px

body
	cursor: default
	background: $space-grey

*
	transition: all .2s

.wrapper
	@include wrapper(117rem, auto)

.top-panel
	background: transparent
	width: 100%
	position: absolute
	top: 0rem
	left: 0rem
	z-index: 10
	&__wrapper
		@include flex(row, wrap, space-between, flex-start)
		position: relative
		&::before
			content: ''
			@include size(100%, .1rem)
			background: #636364
			position: absolute
			bottom: 0rem
			left: 0rem
	&__left
		padding-top: 3rem
	&__right
		@include flex(row, wrap, center, center)
	&__logo
	&__image
	&__menu-container
	&__menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, center, center)
	&__menu-list-item
		padding: 0rem
		margin: 0rem
		@include flex(row, wrap, center, center)
		margin-right: 2.9rem
		&:last-child
			margin-right: 0rem
	&__menu-link
		text-decoration: none
		font-family: $os
		font-weight: 600
		font-size: 1.3rem
		color: #fff
		text-transform: uppercase
		padding: 3.7rem .7rem 4.5rem
		position: relative
		transition: all .2s
		&::before
			content: ''
			@include size(100%, 0.1rem)
			background: transparent
			position: absolute
			bottom: 0rem
			left: 0rem
			transition: all .2s
	&__menu-link.active
		color: $blue
	&__menu-link.active::before
		content: ''
		@include size(100%, 0.1rem)
		background: $blue
		position: absolute
		bottom: 0rem
		left: 0rem
	&__search-panel-container
		@include flex(row, wrap, center, center)
	&__search-input-container
		margin-right: 2.5rem
		width: 12rem
		overflow: hidden
	&__search-input
		outline: none
		background: none
		border: .1rem solid #fff
		text-decoration: none
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		text-transform: uppercase
		padding: 0.7rem .2rem
		width: 12rem
		position: relative
		top: 0rem
		left: 11.9rem
		transition: all .2s
	&__search-input.active
		left: 0rem
	&__search-icon
		@include size(1.5rem, 1.5rem)
		background: url('../assets/top-panel__search-icon.png') no-repeat center
		cursor: pointer

.home
	@include size(100%, 80rem)
	padding-top: 28.1rem
	&__wrapper
		position: relative
	&__slider
		.owl-controls
			position: absolute
			bottom: -16.3rem
			left: 50%
			transform: translate(-50%, 0)
			.owl-page
				margin-right: 0.7rem
				&:last-child
					margin-right: 0rem
			.owl-page span
				@include size(1.1rem, 1.1rem)
				border-radius: 0
				background: transparent
				opacity: 1
				margin: 0
				display: inline-block
				vertical-align: middle
				transition: all 0.5s
				position: relative
				border-radius: 50%
				border: .1rem solid #fff
			.owl-page.active span
				background: $blue
				border: none
	&__slide
		margin: 0rem auto
	&__slide1
	&__slide2
	&__slide3
	&__slide-text-container
		background: rgba($blue, .5)
		width: 50%
		@include flex(row, wrap, flex-end, center)
		padding-right: 5.5rem
		padding-top: 4.9rem
		padding-bottom: 8.1rem
	&__slide-headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		line-height: 5rem
		color: #fff
		width: 70%
	&__slide-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.8rem
		color: #fff
		width: 70%
		margin-top: 2.1rem
	&__prev-button, &__next-button
		position: absolute
		top: 50%
		transform: translateY(-50%)
		background: none
		border: none
		outline: none
		@include size(3rem, 3rem)
		cursor: pointer
	&__prev-button::before, &__prev-button::after, &__next-button::before, &__next-button::after
		content: ''
		@include size(1.2rem, .2rem)
		background: #fff
		position: absolute
	&__prev-button::before, &__prev-button::after
		left: 50%
	&__prev-button::before
		transform: translateX(-50%) rotate(-45deg)
		top: 1rem
	&__prev-button::after
		transform: translateX(-50%) rotate(45deg)
		bottom: 1rem
	&__next-button::before, &__next-button::after
		left: 50%
	&__next-button::before
		transform: translateX(-50%) rotate(45deg)
		top: 1rem
	&__next-button::after
		transform: translateX(-50%) rotate(-45deg)
		bottom: 1rem
	&__prev-button
		left: 2rem
	&__next-button
		right: 2rem

.services
	background: #fff
	padding-top: 9.7rem
	padding-bottom: 13.7rem
	&__headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		letter-spacing: 0.1rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__separator
		@include size(10rem, .1rem)
		background: $space-grey
		margin: 2.6rem auto 0rem
		position: relative
		&::before
			content: ''
			@include size(0.9rem, 0.9rem)
			border-radius: 50%
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border: .1rem solid $space-grey
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		text-align: center
		margin: 2.1rem auto 0rem
		width: 42rem
	&__wrapper
	&__content
		margin-top: 9.2rem
	&__content-row
		@include flex(row, wrap, flex-start, center)
	&__content-row1
	&__content-row2
		margin-top: 6.3rem
	&__content-item
		width: 50%
		@include flex(row, wrap, flex-start, center)
		padding-left: 20.1rem
	&__content-item1
		background: url('../assets/services__icon1.jpg') no-repeat 6.5rem 1rem
	&__content-item2
		background: url('../assets/services__icon2.jpg') no-repeat 6.5rem 1rem
	&__content-item3
		background: url('../assets/services__icon3.jpg') no-repeat 6.5rem 1rem
	&__content-item4
		background: url('../assets/services__icon4.jpg') no-repeat 6.5rem 1rem
	&__item-text-container
	&__item-headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 2rem
		color: $blue
	&__item-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.4rem
		color: #A8A8A8
		margin-top: 1.6rem

.services-secondary
	padding-top: 9.4rem
	padding-bottom: 9.4rem
	background: url('../assets/services__iphone1.png') no-repeat 37.4rem 12.5rem, url('../assets/services__iphone2.png') no-repeat 51.6rem 18.7rem, $space-grey
	&__wrapper
		@include flex(row, wrap, flex-end, center)
	&__content
		background: rgba($blue, .5)
		width: 50%
		padding-left: 9rem
		padding-top: 4.9rem
		padding-bottom: 5.7rem
	&__headline
		margin: 0rem
		font-size: $os
		font-weight: 400
		font-size: 2rem
		color: #fff
		text-transform: uppercase
	&__list
		padding: 0rem
		margin: 0rem
		list-style: none
		margin-top: 6.2rem
		padding-left: 5.2rem
	&__list-item
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.6rem
		color: #fff
		position: relative
		margin-top: 2.4rem
		&:first-child
			margin-top: 0rem
		&::before
			content: ''
			@include size(2.1rem, 1.8rem)
			background: url('../assets/services__icon5.png') no-repeat center
			position: absolute
			top: 73%
			left: -5.3rem
			transform: translateY(-50%)

.portfolio
	background: #fff
	padding-top: 9.5rem
	padding-bottom: 9.4rem
	@include flex(column, wrap, center, center)
	&__headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		letter-spacing: 0.1rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__separator
		@include size(10rem, .1rem)
		background: $space-grey
		margin: 2.6rem auto 0rem
		position: relative
		&::before
			content: ''
			@include size(0.9rem, 0.9rem)
			border-radius: 50%
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border: .1rem solid $space-grey
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		text-align: center
		margin: 2.1rem auto 0rem
		width: 42rem
	&__ajax-menu-container
		@include flex(row, wrap, center, center)
		margin-top: 9.9rem
	&__ajax-menu
		padding: 0rem
		margin: 0rem
		list-style: none
		@include flex(row, wrap, center, center)
	&__ajax-menu-list-item
		padding: 0rem
		margin: 0rem
		margin-right: 0.8rem
		&:last-child
			margin-right: 0rem
	&__ajax-menu-link
		text-decoration: none
		text-transform: uppercase
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: $space-grey
		padding: 0.9rem 2.1rem
		transition: all .2s
	&__ajax-menu-link.active
		background: $blue
		color: #fff
	&__content-container
		@include size(100%, 64rem)
		margin-top: 5.2rem
	&__content
		@include flex(row, wrap, flex-start, flex-start)
		@include size(100%, 100%)
		animation: 1s fade-in
	&__item
		@include size(33.3%, 32rem)
		@include flex(column, wrap, flex-end, flex-start)
		position: relative
		cursor: pointer
		&:nth-child(odd)
			background: $space-grey
		&:nth-child(even)
			background: rgba($space-grey, 0.8)
	&__item:hover &__text-container
		opacity: 1
		z-index: 1
	&__item:hover &__button
		opacity: 1
		z-index: 1
	&__button
		@include size(12.4rem, 12.4rem)
		background: $blue
		border-radius: 50%
		position: absolute
		top: 39%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 0
		z-index: -1
		transition: all 0.3s
		&::before, &::after
			content: ''
			@include size(4rem, .2rem)
			background: #fff
			position: absolute
			top: 50%
			left: 50%
		&::before
			transform: translate(-50%, -50%) rotate(90deg)
		&::after
			transform: translate(-50%, -50%)
	&__text-container
		background: #fff
		width: 100%
		padding-top: 2.4rem
		padding-bottom: 2.3rem
		padding-left: 3.3rem
		transition: all .2s
		opacity: 0
		z-index: -1
	&__content-headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 2rem
		color: $space-grey
		transition: all .2s
	&__content-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: $blue
		margin-top: 1.2rem
		transition: all .2s
	&__more-link
		text-decoration: none
		text-transform: uppercase
		font-family: $os
		font-weight: 400
		font-size: 2rem
		letter-spacing: .1rem
		color: #fff
		background: $blue
		margin-top: 3.8rem
		padding: 1.1rem 5.5rem
		transition: all .2s
		&:hover
			background: darken($blue, 3%)
		&:active
			background: lighten($blue, 3%)

.portfolio-vid
	&__video-section
		position: relative
		z-index: 60
		@include size(100%, 62rem)
		overflow: hidden
		margin-top: 0rem
	&__video-container
		position: absolute
		top: 50%
		left: 0rem
		transform: translateY(-50%)
		@include size(100%, 62rem)
		padding: 6rem 0rem
	&__video-overlay
		background: $space-grey
		@include size(100%, 100%)
		position: absolute
		top: 0rem
		left: 0rem
		opacity: 1
		@include flex(column, wrap, center, center)
		transition: 1s
		z-index: 2
	&__video
		@include size(100%, 100%)
		position: absolute
		top: 0rem
		left: 0rem
		z-index: 1
	&__text-container
		@include flex(column, wrap, center, center)
		background: rgba($blue, .5)
		@include size(100%, auto)
		padding-top: 5rem
		padding-bottom: 4.2rem
		padding-left: 5%
		padding-right: 5%
		text-align: center
	&__video-headline
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 2.5rem
		color: #fff
		text-transform: uppercase
	&__video-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		margin-top: 4.4rem
	&__video-link
		text-decoration: none
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: #fff
		background: $space-grey
		text-transform: uppercase
		padding: .9rem 3rem
		margin-top: 5rem
		transition: all .2s
		&:hover
			background: lighten($space-grey, 3%)
		&:active
			background: $space-grey

.about-us
	background: url('../assets/about-us__devices.png') no-repeat 37.8rem 32.3rem, #fff
	padding-top: 9.3rem
	padding-bottom: 36.1rem
	&__headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		letter-spacing: 0.1rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__separator
		@include size(10rem, .1rem)
		background: $space-grey
		margin: 2.6rem auto 0rem
		position: relative
		&::before
			content: ''
			@include size(0.9rem, 0.9rem)
			border-radius: 50%
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border: .1rem solid $space-grey
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		text-align: center
		margin: 2.1rem auto 0rem
		width: 42rem
	&__statistics
		background: #121116
		padding: 10.2rem 0rem 9.2rem
	&__statistics-wrapper
		@include flex(row, wrap, space-around, center)
		background: rgba($blue, .5)
		padding: 3.4rem 0rem 4.4rem
	&__statistics-item
		@include flex(column, wrap, center, center)
		width: 18rem
	&__statistics-item1
	&__statistics-item2
	&__statistics-item3
	&__statistics-item4
	&__statistics-icon
		@include size(3.2rem, 1.8rem)
		background: $space-grey
	&__statistics-icon
		@include size(3.2rem, 1.8rem)
		position: relative
		&::before
			content: ''
			position: absolute
			top: -1rem
			left: 50%
			transform: translateX(-50%)
			display: inline-block
			width: 0
			height: 0
			border-style: solid
			border-width: 0 1.6rem 1rem 1.6rem
			border-color: transparent transparent $space-grey transparent
		&::after
			content: ''
			position: absolute
			bottom: -1rem
			left: 50%
			transform: translateX(-50%)
			display: inline-block
			width: 0
			height: 0
			border-style: solid
			border-width: 1rem 1.6rem 0 1.6rem
			border-color: $space-grey transparent transparent transparent
	&__statistics-icon1
		background: url('../assets/about-us__icon1.png') no-repeat center, $space-grey
	&__statistics-icon2
		background: url('../assets/about-us__icon2.png') no-repeat center, $space-grey
	&__statistics-icon3
		background: url('../assets/about-us__icon3.png') no-repeat center, $space-grey
	&__statistics-icon4
		background: url('../assets/about-us__icon4.png') no-repeat center, $space-grey
	&__statistics-count
		margin: 0rem
		font-family: $os
		font-weight: 700
		font-size: 5.4rem
		letter-spacing: .1rem
		color: #fff
		text-transform: uppercase
		margin-top: 1.9rem
	&__statistics-description
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		color: #fff
		margin-top: 1.5rem
	&__testimonials
		background: #fff
		padding-top: 9.8rem
		padding-bottom: 8.6rem
	&__testimonials-wrapper
		@include flex(row, wrap, flex-start, flex-start)
	&__testimonials-block
		@include size(50%, auto)
	&__testimonials-headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 2rem
		color: $space-grey
		text-transform: uppercase
		margin-left: 16.5rem
	&__testimonials-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		margin-top: 3rem
		margin-left: 0.9rem
		text-align: center
		width: 42rem
	&__testimonials-slider
		margin-top: 6rem
		padding-bottom: 3rem
		.owl-controls
			position: absolute
			bottom: -1.6rem
			left: 49%
			transform: translate(-50%, 0)
			.owl-page
				margin-right: 0.7rem
				&:last-child
					margin-right: 0rem
			.owl-page span
				@include size(1.1rem, 1.1rem)
				border-radius: 0
				background: transparent
				opacity: 1
				margin: 0
				display: inline-block
				vertical-align: middle
				transition: all 0.5s
				position: relative
				border-radius: 50%
				border: .1rem solid #B2B2B2
			.owl-page.active span
				background: $blue
				border-color: transparent
	&__testimonials-slide
		padding-bottom: 1rem
	&__testimonials-reviews-container
		@include flex(column, wrap, flex-start, flex-start)
		padding-left: 3.4rem
	&__testimonials-review
		@include flex(row, wrap, flex-start, flex-start)
		position: relative
		&:last-child
			margin-top: 4.2rem
		&::before
			content: ''
			@include size(30rem, .1rem)
			background: $space-grey
			position: absolute
			bottom: -0.2rem
			right: 0.4rem
	&__testimonials-user-pic
		border-radius: 50%
		@include size(10rem, 10rem)
	&__testimonials-text-container
		@include size(37rem, auto)
		padding-left: 6.8rem
		padding-top: 0.5rem
	&__testimonials-user-text
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: $space-grey
	&__testimonials-author
		margin: 0rem
		font-family: $os
		font-size: 1.3rem
		font-weight: 300
		font-style: italic
		color: #A8A8A8
		text-align: right
		margin-top: -0.8rem
		margin-right: 0.2rem
	&__testimonials-block2 &__testimonials-headline
		margin-left: 29.4rem
	&__testimonials-block2 &__testimonials-paragraph
		margin-left: 12.7rem
	&__testimonials-diagrams-container
		padding-left: 8.4rem
		margin-top: 4.4rem
	&__testimonials-diagram-name
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: $space-grey
		text-transform: uppercase
		margin-left: 0.4rem
		margin-top: 2.9rem
		&:first-child
			margin-top: 0rem
	&__testimonials-diagram
		@include size(50rem, 2.5rem)
		background: #DBDBDB
		position: relative
		margin-top: 1rem
		&::before
			content: '?'
			@include size(3.4rem, 2rem)
			background: $space-grey
			position: absolute
			top: -2.6rem
			font-family: $os
			font-weight: 400
			font-size: 1.1rem
			color: #fff
			@include flex(row, wrap, center, center)
	&__testimonials-diagram1::before
		content: '95%'
		right: 4.5rem
	&__testimonials-diagram2::before
		content: '93%'
		right: 6.3rem
	&__testimonials-diagram3::before
		content: '85%'
		right: 13.3rem
	&__testimonials-diagram4::before
		content: '87%'
		right: 11.2rem
	&__testimonials-diagram1::after
		content: ''
		position: absolute
		right: 5.8rem
		top: -0.6rem
		display: inline-block
		width: 0
		height: 0
		border-style: solid
		border-width: 0.3rem 0.4rem 0 0.4rem
		border-color: $space-grey transparent transparent transparent
	&__testimonials-diagram2::after
		content: ''
		position: absolute
		right: 7.5rem
		top: -0.6rem
		display: inline-block
		width: 0
		height: 0
		border-style: solid
		border-width: 0.3rem 0.4rem 0 0.4rem
		border-color: $space-grey transparent transparent transparent
	&__testimonials-diagram3::after
		content: ''
		position: absolute
		right: 14.5rem
		top: -0.6rem
		display: inline-block
		width: 0
		height: 0
		border-style: solid
		border-width: 0.3rem 0.4rem 0 0.4rem
		border-color: $space-grey transparent transparent transparent
	&__testimonials-diagram4::after
		content: ''
		position: absolute
		right: 12.4rem
		top: -0.6rem
		display: inline-block
		width: 0
		height: 0
		border-style: solid
		border-width: 0.3rem 0.4rem 0 0.4rem
		border-color: $space-grey transparent transparent transparent
	&__testimonials-diagram-progress
		position: absolute
		height: 100%
		background: $blue
		top: 0rem
		left: 0rem
	&__testimonials-diagram1 &__testimonials-diagram-progress
		width: 87.8%
	&__testimonials-diagram2 &__testimonials-diagram-progress
		width: 84.4%
	&__testimonials-diagram3 &__testimonials-diagram-progress
		width: 70.4%
	&__testimonials-diagram4 &__testimonials-diagram-progress
		width: 74.6%
	&__quote
		padding-top: 12.5rem
		padding-bottom: 12.6rem
	&__quote-wrapper
		@include flex(column, wrap, center, center)
		text-align: center
	&__quote-text
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 2.5rem
		line-height: 3.5rem
		color: #fff
		text-transform: uppercase
		width: 87%
	&__quote-author
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 1.3rem
		color: #fff
		margin-top: 1.5rem

.prices
	background: #fff
	padding-top: 9.7rem
	padding-bottom: 10.1rem
	@include flex(column, wrap, center, center)
	&__headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		letter-spacing: 0.1rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__separator
		@include size(10rem, .1rem)
		background: $space-grey
		margin: 2.6rem auto 0rem
		position: relative
		&::before
			content: ''
			@include size(0.9rem, 0.9rem)
			border-radius: 50%
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border: .1rem solid $space-grey
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		text-align: center
		margin: 2.1rem auto 0rem
		width: 42rem
	&__wrapper
		@include flex(row, wrap, space-around, flex-start)
		@include wrapper(118rem, auto)
		padding-top: 9.9rem
	&__item
		@include size(27rem, auto)
		@include flex(column, wrap, center, center)
		text-align: center
	&__item1
	&__item2
	&__item3
	&__item4
	&__tariff-name-container
		@include flex(column, wrap, center, center)
		width: 100%
		position: relative
		padding-bottom: 3.5rem
		&::before
			content: ''
			@include size(100%, .1rem)
			background: $blue
			position: absolute
			top: 0rem
			left: 0rem
		&::after
			content: ''
			@include size(100%, .1rem)
			background: $blue
			position: absolute
			bottom: 0rem
			left: 0rem
	&__tariff-name
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.6rem
		color: $space-grey
		text-transform: uppercase
		width: 100%
		padding-top: 3.7rem
	&__tariff-price
		margin: 0rem
		font-family: $os
		font-weight: 600
		font-size: 5.9rem
		color: $space-grey
		margin-top: 1.6rem
		width: 100%
		sup
			font-family: $os
			font-weight: 600
			font-size: 2rem
			color: $space-grey
			position: relative
			top: -2.9rem
			left: -0.2rem
		sub
			font-family: $os
			font-weight: 600
			font-size: 1.3rem
			color: $space-grey
			position: relative
			top: -0.1rem
			left: -0.8rem
	&__tariff-feature
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.6rem
		color: $space-grey
		width: 100%
		position: relative
		padding: 2.1rem 0rem 2.7rem
		&::before
			content: ''
			@include size(13rem, .1rem)
			background: $blue
			position: absolute
			bottom: 0rem
			left: 50%
			transform: translateX(-50%)
	&__tariff-feature1
	&__tariff-feature2
	&__tariff-feature3
	&__tariff-feature4
		&::before
			content: ''
			@include size(100%, .1rem)
			background: $blue
			position: absolute
			bottom: 0rem
			left: 50%
			transform: translateX(-50%)
	&__tariff-feature:last-child::before
		content: ''
		@include size(100%, .1rem)
		background: $blue
		position: absolute
		bottom: 0rem
		left: 50%
		transform: translateX(-50%)
	&__buy-button
		text-decoration: none
		font-family: $os
		font-weight: 400
		font-size: 1.6rem
		color: $space-grey
		border: .1rem solid $blue
		padding: 1.2rem 3.1rem
		margin-top: 3.9rem
		transition: all .2s
		&:hover
			background: $blue
			color: #fff
		&:active
			background: darken($blue, 3%)
	&__paragraph2
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 2rem
		color: $space-grey
		margin-top: 9.9rem
		text-align: center
	&__contact-us-link
		text-decoration: none
		font-family: $os
		font-weight: 400
		font-size: 1.6rem
		color: $space-grey
		background: $blue
		color: #fff
		padding: 1.6rem 4.5rem
		margin-top: 4.1rem
		transition: all .2s
		&:hover
			background: lighten($blue, 3%)
			color: #fff
		&:active
			background: $blue

.prices-subscribe
	background: $space-grey
	padding: 10.5rem 0rem
	&__wrapper
		@include flex(row, wrap, flex-start, flex-start)
	&__input-container
		border: .1rem solid #fff
		width: 57.3%
	&__form
		@include flex(row, wrap, space-between, center)
	&__email
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: #fff
		text-transform: uppercase
		padding: 2.2rem 2rem 2.2rem 6.1rem
		background: url('../assets/subscribe__email-icon.png') no-repeat 2.2rem 50%
		border: none
		outline: none
		width: 52.8rem
		&::placeholder
			font-family: $os
			font-weight: 400
			font-size: 1.3rem
			letter-spacing: .1rem
			color: #fff
			text-transform: uppercase
	&__submit-button
		padding: 2.2rem 3.1rem
		background: $blue
		color: #fff
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		text-transform: uppercase
		border: none
		outline: none
		cursor: pointer
		transition: all .2s
		&:hover
			background: darken($blue, 3%)
		&:active
			background: $blue
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		color: #fff
		line-height: 2.4rem
		width: 42.7%
		padding-left: 3.2rem
		padding-right: 1.2rem

.contact-us
	background: #fff
	padding-top: 9.4rem
	padding-bottom: 10.1rem
	&__headline
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 3rem
		letter-spacing: 0.1rem
		color: $space-grey
		text-transform: uppercase
		text-align: center
	&__separator
		@include size(10rem, .1rem)
		background: $space-grey
		margin: 2.6rem auto 0rem
		position: relative
		&::before
			content: ''
			@include size(0.9rem, 0.9rem)
			border-radius: 50%
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border: .1rem solid $space-grey
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 300
		font-size: 1.3rem
		line-height: 2.5rem
		color: #A8A8A8
		text-align: center
		margin: 2.1rem auto 0rem
		width: 42rem
	&__wrapper
		@include flex(row, wrap, flex-start, flex-start)
		padding-top: 10rem
	&__block
	&__block1
		width: 77rem
	&__block2
		width: calc(117rem - 77rem)
	&__form
		@include flex(column, wrap, flex-start, flex-end)
	&__input
		border: .1rem solid #DBDBDB
		outline: none
		resize: none
		background: none
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: $space-grey
		text-transform: uppercase
		width: 100%
		margin-top: 3.3rem
		padding: 2.2rem 2.2rem
		&:first-child
			margin-top: 0rem
		&::placeholder
			font-family: $os
			font-weight: 400
			font-size: 1.3rem
			letter-spacing: .1rem
			color: $space-grey
			text-transform: uppercase
	&__user-name
	&__user-email
	&__user-message
		height: 19.7rem
	&__send-message-button
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: #fff
		text-transform: uppercase
		background: $blue
		padding: 2.3rem 4.6rem
		outline: none
		border: none
		margin-top: 6.3rem
		cursor: pointer
		transition: all .2s
		&:hover
			background: darken($blue, 3%)
		&:active
			background: $blue
	&__phones-container
		padding-left: 3.2rem
		@include flex(column, wrap, flex-start, flex-start)
	&__phone-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: $space-grey
		text-transform: uppercase
	&__phone
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: #A8A8A8
		margin-top: 3.3rem
		&:last-child
			margin-top: 1rem
	&__address-container
		margin-top: 9.7rem
		padding-left: 3.3rem
	&__address-paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		letter-spacing: .1rem
		color: $space-grey
		text-transform: uppercase
	&__address
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 1.3rem
		line-height: 2.4rem
		letter-spacing: .1rem
		color: #A8A8A8
		margin-top: 3.4rem

.footer
	background: #121116
	padding-top: 12rem
	padding-bottom: 3.8rem
	&__wrapper
		@include flex(column, wrap, center, center)
	&__logo
	&__logo-image
	&__paragraph
		margin: 0rem
		font-family: $os
		font-weight: 400
		font-size: 2rem
		letter-spacing: .1rem
		color: #fff
		text-transform: uppercase
		width: 23rem
		position: relative
		text-align: center
		margin-top: 4.3rem
		padding-bottom: 1.8rem
		&::before
			content: ''
			@include size(100%, .1rem)
			background: #fff
			position: absolute
			bottom: 0rem
			left: 0rem
	&__socials-container
		@include flex(row, wrap, center, center)
		margin-top: 1.6rem
	&__social-link
		text-decoration: none
		@include flex(row, wrap, center, center)
		margin-right: 3.3rem
		transition: all .2s
		&:last-child
			margin-right: 0rem
		svg
			@include flex(row, wrap, center, center)
			@include size(1.5rem, 1.5rem)
			path
				fill: #fff
	&__social-link:nth-child(2)
		position: relative
		top: 0.2rem
		svg
			@include size(1.6rem, 1.6rem)
	&__social-link:nth-child(3)
		position: relative
		top: 0.2rem
		svg
			@include size(2.2rem, 2.2rem)
	&__social-link:hover svg path
		fill: $blue
	&__copyright
		font-family: $os
		font-weight: 600
		font-size: 1.5rem
		color: #fff
		margin-top: 8.3rem
		span
			color: $blue

.modal
	&__overlay
		position: fixed
		background: rgba(#121116, 0.95)
		@include size(100%, 100%)
		top: 0rem
		left: 0rem
		opacity: 0
		z-index: -5
		transition: all .2s
	&__block
		@include size(31rem, auto)
		background: $space-grey
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-family: $os
		font-weight: 600
		letter-spacing: .1rem
		line-height: 3.5rem
		color: $blue
		@include flex(row, wrap, center, center)
		padding: 4rem 0rem
		text-align: center
		opacity: 0
		z-index: -5
		transition: all .2s
	&__overlay.active
		opacity: 1
		z-index: 999
	&__subscribtion-error.active
		opacity: 1
		z-index: 999
	&__subscribtion-success.active
		opacity: 1
		z-index: 999
	&__send-message-error.active
		opacity: 1
		z-index: 999
	&__send-message-success.active
		opacity: 1
		z-index: 999

.to-top-link
	@include size(5rem, 5rem)
	background: $orange
	position: fixed
	right: 0rem
	bottom: 0rem
	opacity: 0
	z-index: -50
	&::before, &::after
		content: ''
		@include size(2rem, .2rem)
		background: #fff
		position: absolute
		top: 45%
	&::before
		transform: rotate(-45deg) translateY(-50%)
		left: 0.9rem
	&::after
		transform: rotate(45deg) translateY(-50%)
		right: 0.9rem

*
	// @include outline($blue)