@import 'mixins/mixins.sass'
@import 'variables/variables.sass'

/*  Desktop First Method */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	body

	.header
		&::before
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 80%//
			&::before
		&__block
		&__block1
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block2
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__logo-container
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-container
			+flex(row, wrap, center, flex-start)//
			width: 100%//
			margin-top: 2rem//
		&__search-input
			width: 21rem//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
			width: 80%//
			&::before
		&__slider
			+size(100%, auto)//
			.owl-controls
				bottom: 0rem//
				left: 100%//
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			background: none//
			padding-top: 2.9rem//
			padding-bottom: 2.9rem//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__text-container
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			text-align: center//
		&__paragraph
			text-align: center//
			padding: 0rem 7%//
		&__read-more-link
			margin-top: 2.2rem//
			&:hover

	.section1
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
			&::before
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 3rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-headline
		&__block-paragraph
		&__read-more-link
			&:hover

	.section2
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 90%//
		&__headline
			padding: 0rem 3%//
		&__block
			width: 30%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 0rem//
			margin-top: 4rem//
			padding: 0rem 1%//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 80%//
		&__block
			width: 22rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
				&:hover
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
			&:first-child
			&::before
		&__list-link
			&:hover
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more-link
			&:hover
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
		&__by-link
			&:hover
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
	body

	.header
		&::before
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 90%//
			&::before
		&__block
		&__block1
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block2
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__logo-container
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-container
			+flex(row, wrap, center, flex-start)//
			width: 100%//
			margin-top: 2rem//
		&__search-input
			width: 21rem//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(row, wrap, center, flex-start)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 2rem//
			margin-top: 0rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
			width: 80%//
			&::before
		&__slider
			+size(100%, auto)//
			.owl-controls
				bottom: 0rem//
				left: 100%//
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			background: none//
			padding-top: 2.9rem//
			padding-bottom: 2.9rem//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__text-container
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			text-align: center//
		&__paragraph
			text-align: center//
			padding: 0rem 7%//
		&__read-more-link
			margin-top: 2.2rem//
			&:hover

	.section1
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
			&::before
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 3rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-headline
		&__block-paragraph
		&__read-more-link
			&:hover

	.section2
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 90%//
		&__headline
			padding: 0rem 3%//
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 0rem//
			margin-top: 4rem//
			padding: 0rem 1%//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 80%//
		&__block
			width: 22rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
				&:hover
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
			&:first-child
			&::before
		&__list-link
			&:hover
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more-link
			&:hover
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
		&__by-link
			&:hover
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
	body

	.header
		&::before
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 60%//
			&::before
		&__block
		&__block1
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block2
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__logo-container
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-container
			+flex(row, wrap, center, flex-start)//
			width: 100%//
			margin-top: 2rem//
		&__search-input
			width: 21rem//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
			width: 80%//
			&::before
		&__slider
			+size(100%, auto)//
			.owl-controls
				bottom: 0rem//
				left: 100%//
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			background: none//
			padding-top: 2.9rem//
			padding-bottom: 2.9rem//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__text-container
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			text-align: center//
		&__paragraph
			text-align: center//
			padding: 0rem 7%//
		&__read-more-link
			margin-top: 2.2rem//
			&:hover

	.section1
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
			&::before
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 3rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-headline
		&__block-paragraph
		&__read-more-link
			&:hover

	.section2
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 70%//
		&__headline
			padding: 0rem 3%//
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 0rem//
			margin-top: 4rem//
			padding: 0rem 5%//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 80%//
		&__block
			width: 22rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
				&:hover
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
			&:first-child
			&::before
		&__list-link
			&:hover
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more-link
			&:hover
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
		&__by-link
			&:hover
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
	body

	.header
		&::before
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 70%//
			&::before
		&__block
		&__block1
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block2
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__logo-container
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-container
			+flex(row, wrap, center, flex-start)//
			width: 100%//
			margin-top: 2rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&::before
		&__slider
			+size(100%, auto)//
			.owl-controls
				bottom: 0rem//
				left: 100%//
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			background: none//
			padding-top: 2.9rem//
			padding-bottom: 2.9rem//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__text-container
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			text-align: center//
		&__paragraph
			text-align: center//
			padding: 0rem 7%//
		&__read-more-link
			margin-top: 2.2rem//
			&:hover

	.section1
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
			&::before
		&__block
			width: 30rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 3rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-headline
		&__block-paragraph
		&__read-more-link
			&:hover

	.section2
		&__wrapper
			+flex(row, wrap, center, flex-start)//
			width: 80%//
		&__headline
			padding: 0rem 3%//
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 0rem//
			margin-top: 4rem//
			padding: 0rem 5%//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 80%//
		&__block
			width: 22rem//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
				&:hover
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
			&:first-child
			&::before
		&__list-link
			&:hover
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more-link
			&:hover
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
		&__by-link
			&:hover
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
	body

	.header
		&::before
		&__wrapper
			+flex(row, wrap, space-between, flex-start)//
			width: 90%//
			&::before
		&__block
		&__block1
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__block2
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__socials-container
			+flex(row, wrap, flex-start, flex-start)//
		&__social-link
			+flex(row, wrap, center, center)//
			&:last-child
			&:hover
			svg
				path
		&__linkedin
		&__twitter
		&__pinterest
		&__google-plus
			svg
		&__rss
		&__logo-container
		&__logo
			text-align: center//
			span
		&__logo-description
			text-align: center//
		&__search-container
			+flex(row, wrap, center, flex-start)//
			width: 100%//
			margin-top: 2rem//
		&__search-input
			width: auto//
			&::placeholder
		&__search-button
			&:hover
		&__menu-container
			margin-top: 3rem//
		&__menu
			+flex(column, wrap, flex-start, center)//
		&__menu-list-item
			+flex(row, wrap, flex-start, flex-start)//
			margin-right: 0rem//
			margin-top: 1rem//
			&:first-child
				margin-top: 0rem//
			&:last-child
		&__menu-link
			&:hover

	.main
		&__wrapper
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&::before
		&__slider
			+size(100%, auto)//
			.owl-controls
				bottom: 0rem//
				left: 100%//
				.owl-page span
				.owl-page:last-child span
				.owl-page.active span
		&__slide
			+size(100%, auto)//
			+flex(column, wrap, flex-start, center)//
			background: none//
			padding-top: 2.9rem//
			padding-bottom: 2.9rem//
		&__slide1
		&__slide2
		&__slide3
		&__slide4
		&__slide5
		&__text-container
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			text-align: center//
		&__paragraph
			text-align: center//
			padding: 0rem 7%//
		&__read-more-link
			margin-top: 2.2rem//
			&:hover

	.section1
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
			&::before
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 3rem//
		&__block1
		&__block2
		&__block3
		&__block-img
		&__block-headline
		&__block-paragraph
		&__read-more-link
			&:hover

	.section2
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__headline
			padding: 0rem 3%//
		&__block
			width: 100%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 0rem//
			margin-top: 4rem//
			padding: 0rem 5%//
		&__block1
		&__block2
		&__block3
		&__item
			+flex(row, wrap, flex-start, flex-start)//
			width: 100%//
			&:first-child
		&__item1
		&__item2
		&__item-img
		&__item-text-container
		&__item-headline
		&__item-paragraph

	.footer
		&__wrapper
			+flex(row, wrap, center, stretch)//
			width: 100%//
		&__block
			width: 70%//
			+flex(column, wrap, flex-start, flex-start)//
			margin: 2rem//
		&__block1
		&__block2
		&__block3
		&__block4
		&__block-headline
		&__block-paragraph
		&__company-name
		&__street-name
		&__town
		&__postcode
		&__tel
		&__fax
		&__email
			span
				&:hover
		&__list
			+flex(column, wrap, flex-start, flex-start)//
		&__list-item
			+flex(row, wrap, flex-start, flex-start)//
			&:first-child
			&:first-child
			&::before
		&__list-link
			&:hover
		&__post-container
			+flex(column, wrap, flex-start, flex-end)//
		&__post-title
		&__post-info
		&__post-author
		&__post-time
		&__post
		&__read-more-link
			&:hover
		&__form
			+flex(column, wrap, flex-start, flex-start)//
		&__input
			&::placeholder
		&__name-input
		&__email-input
		&__submit-button
			&:hover
			&:active

	.copy
		&__wrapper
			+flex(column, wrap, flex-start, center)//
			width: 100%//
		&__paragraph
			width: 100%//
			text-align: center//
			line-height: 2rem//
		&__by-link
			&:hover

	.modal
		&__overlay
		&__window
			+size(100%, 10rem)//
		&__error-container
		&__success-container
		&__paragraph
// /* Mobile First Method */
// /* Custom, iPhone Retina */
// @media only screen and (min-width: 320px)
// 	body
// 		background: $media-green
// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px)
// 	body
// 		background: $media-blue
// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px)
// 	body
// 		background: $media-pink
// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px)
// 	body
// 		background: $media-orange
// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1300px)
// 	body
// 		background: $media-purple