/*  Desktop First Method */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .home {
    width: 100%;
    height: auto; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__headline {
    font-size: 5.5rem;
    line-height: 8rem;
    padding: 3rem 3rem 3rem; }
  .home__bottom-panel {
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 4rem;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    margin-top: 10%; }
  .our-services {
    padding-bottom: 6.8rem; }
  .our-services__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-services__headline {
    font-size: 3rem;
    padding: 0rem 2rem; }
  .our-services__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5.7rem; }
  .our-services__item {
    width: 33%;
    height: auto;
    margin-left: 0rem;
    padding: 0rem 2rem;
    margin-top: 0rem; }
  .our-services__item:first-child {
    margin-top: 0rem; }
  .branding {
    padding-bottom: 5rem; }
  .branding__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .branding__section-name {
    position: relative;
    top: 0rem; }
  .branding__section-name::before {
    top: -14.9rem;
    left: 50%; }
  .branding__headline {
    font-size: 4rem;
    position: relative;
    top: 11rem;
    text-align: center; }
  .branding__slider {
    width: 100%;
    height: 60rem;
    margin: 4rem auto 0rem; }
  .branding__slider .owl-controls {
    width: 100%;
    height: auto; }
  .branding__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .branding__slider .owl-controls .owl-page.active span {
    background: #F7AC53; }
  .branding__slide {
    margin: 0rem auto; }
  .branding__details {
    margin-top: 9.6rem;
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__details::before {
    right: -2.6rem; }
  .branding__view-slides {
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__view-slides::after {
    content: none; }
  .testimonials {
    padding-bottom: 10rem; }
  .testimonials__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .testimonials__headline {
    padding: 0rem 0rem; }
  .testimonials__brands {
    margin-top: 8.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__brand {
    margin-left: 0rem;
    margin-top: 6rem; }
  .testimonials__brand:first-child {
    margin-top: 0rem; }
  .testimonials__slider {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .testimonials__slide {
    width: 100%;
    height: auto;
    margin: 0rem auto; }
  .testimonials__slide-paragraph {
    padding: 0rem 0rem; }
  .testimonials__author::before {
    content: none; }
  .testimonials__author::after {
    content: none; }
  .our-team {
    padding-bottom: 7.4rem; }
  .our-team__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-team__headline {
    text-align: center; }
  .our-team__content {
    margin-top: 3.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row1 {
    border: none; }
  .our-team__item {
    border: .1rem solid #202020;
    margin-top: 3rem; }
  .our-team__item:last-child {
    border: .1rem solid #202020; }
  .our-team__item:first-child {
    margin-top: 0rem; }
  .contact-us__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact-us__headline {
    text-align: center; }
  .contact-us__form {
    background: #181818;
    width: 80%;
    height: auto;
    margin-top: 5.3rem;
    padding: 0rem 5rem 6rem; }
  .contact-us__block {
    width: 100%;
    height: auto; }
  .contact-us__input-container {
    padding-left: 0rem; }
  .contact-us__message-input-container {
    width: 100%; }
  .contact-us__input {
    width: 100%; }
  .contact-us__user-message {
    width: 100%; }
  .footer {
    padding-top: 0rem;
    padding-bottom: 5rem; }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25%;
    height: auto;
    margin-top: 3rem;
    margin-left: 5%; }
  .footer__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem;
    margin-top: 0rem;
    position: relative;
    top: -3.7rem;
    margin-left: 0rem; }
  .footer__block2 {
    margin-left: 0rem; }
  .footer__block3 {
    margin-left: 0rem; }
  .footer__text-container {
    margin-left: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2rem; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
    height: auto; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__headline {
    font-size: 5.5rem;
    line-height: 8rem;
    padding: 3rem 3rem 3rem; }
  .home__bottom-panel {
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 4rem;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    margin-top: 10%; }
  .our-services {
    padding-bottom: 6.8rem; }
  .our-services__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-services__headline {
    font-size: 3rem;
    padding: 0rem 2rem; }
  .our-services__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5.7rem; }
  .our-services__item {
    width: 100%;
    height: auto;
    margin-left: 0rem;
    padding: 0rem 2rem;
    margin-top: 5rem; }
  .our-services__item:first-child {
    margin-top: 0rem; }
  .branding {
    padding-bottom: 5rem; }
  .branding__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .branding__section-name {
    position: relative;
    top: 0rem; }
  .branding__section-name::before {
    top: -14.9rem;
    left: 50%; }
  .branding__headline {
    font-size: 4rem;
    position: relative;
    top: 11rem;
    text-align: center; }
  .branding__slider {
    width: 100%;
    height: 60rem;
    margin: 4rem auto 0rem; }
  .branding__slider .owl-controls {
    width: 100%;
    height: auto; }
  .branding__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .branding__slider .owl-controls .owl-page.active span {
    background: #F7AC53; }
  .branding__slide {
    margin: 0rem auto; }
  .branding__details {
    margin-top: 9.6rem;
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__details::before {
    right: -2.6rem; }
  .branding__view-slides {
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__view-slides::after {
    content: none; }
  .testimonials {
    padding-bottom: 10rem; }
  .testimonials__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .testimonials__headline {
    padding: 0rem 0rem; }
  .testimonials__brands {
    margin-top: 8.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__brand {
    margin-left: 0rem;
    margin-top: 6rem; }
  .testimonials__brand:first-child {
    margin-top: 0rem; }
  .testimonials__slider {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .testimonials__slide {
    width: 100%;
    height: auto;
    margin: 0rem auto; }
  .testimonials__slide-paragraph {
    padding: 0rem 0rem; }
  .testimonials__author::before {
    content: none; }
  .testimonials__author::after {
    content: none; }
  .our-team {
    padding-bottom: 7.4rem; }
  .our-team__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-team__headline {
    text-align: center; }
  .our-team__content {
    margin-top: 3.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row1 {
    border: none; }
  .our-team__item {
    border: .1rem solid #202020;
    margin-top: 3rem; }
  .our-team__item:last-child {
    border: .1rem solid #202020; }
  .our-team__item:first-child {
    margin-top: 0rem; }
  .contact-us__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact-us__headline {
    text-align: center; }
  .contact-us__form {
    background: #181818;
    width: 100%;
    height: auto;
    margin-top: 5.3rem;
    padding: 0rem 1rem 6rem; }
  .contact-us__block {
    width: 100%;
    height: auto; }
  .contact-us__input-container {
    padding-left: 0rem; }
  .contact-us__message-input-container {
    width: 100%; }
  .contact-us__input {
    width: 100%; }
  .contact-us__user-message {
    width: 100%; }
  .footer {
    padding-top: 0rem;
    padding-bottom: 5rem; }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25%;
    height: auto;
    margin-top: 3rem;
    margin-left: 5%; }
  .footer__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0rem;
    margin-top: 0rem;
    position: relative;
    top: -3.7rem;
    margin-left: 0rem; }
  .footer__block2 {
    margin-left: 0rem; }
  .footer__block3 {
    margin-left: 0rem; }
  .footer__text-container {
    margin-left: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2rem; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .home {
    width: 100%;
    height: auto; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__headline {
    font-size: 3.5rem;
    line-height: 5rem;
    padding: 2rem 1rem 2rem; }
  .home__bottom-panel {
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 4rem;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    margin-top: 10%; }
  .our-services {
    padding-bottom: 6.8rem; }
  .our-services__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-services__headline {
    font-size: 3rem;
    padding: 0rem 2rem; }
  .our-services__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5.7rem; }
  .our-services__item {
    width: 100%;
    height: auto;
    margin-left: 0rem;
    padding: 0rem 2rem;
    margin-top: 5rem; }
  .our-services__item:first-child {
    margin-top: 0rem; }
  .branding {
    padding-bottom: 5rem; }
  .branding__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .branding__section-name {
    position: relative;
    top: 0rem; }
  .branding__section-name::before {
    top: -14.9rem;
    left: 50%; }
  .branding__headline {
    font-size: 4rem;
    position: relative;
    top: 11rem;
    text-align: center; }
  .branding__slider {
    width: 100%;
    height: 60rem;
    margin: 4rem auto 0rem; }
  .branding__slider .owl-controls {
    width: 100%;
    height: auto; }
  .branding__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .branding__slide {
    margin: 0rem auto; }
  .branding__details {
    margin-top: 9.6rem;
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__details::before {
    right: -2.6rem; }
  .branding__view-slides {
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__view-slides::after {
    content: none; }
  .testimonials {
    padding-bottom: 10rem; }
  .testimonials__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .testimonials__headline {
    padding: 0rem 0rem; }
  .testimonials__brands {
    margin-top: 8.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__brand {
    margin-left: 0rem;
    margin-top: 6rem; }
  .testimonials__brand:first-child {
    margin-top: 0rem; }
  .testimonials__slider {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .testimonials__slide {
    width: 100%;
    height: auto;
    margin: 0rem auto; }
  .testimonials__slide-paragraph {
    padding: 0rem 0rem; }
  .testimonials__author::before {
    content: none; }
  .testimonials__author::after {
    content: none; }
  .our-team {
    padding-bottom: 7.4rem; }
  .our-team__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-team__headline {
    text-align: center; }
  .our-team__content {
    margin-top: 3.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row1 {
    border: none; }
  .our-team__item {
    border: .1rem solid #202020;
    margin-top: 3rem; }
  .our-team__item:last-child {
    border: .1rem solid #202020; }
  .our-team__item:first-child {
    margin-top: 0rem; }
  .contact-us__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact-us__headline {
    text-align: center; }
  .contact-us__form {
    background: #181818;
    width: 100%;
    height: auto;
    margin-top: 5.3rem;
    padding: 0rem 1rem 6rem; }
  .contact-us__block {
    width: 100%;
    height: auto; }
  .contact-us__input-container {
    padding-left: 0rem; }
  .contact-us__message-input-container {
    width: 100%; }
  .contact-us__input {
    width: 100%; }
  .contact-us__user-message {
    width: 100%; }
  .footer {
    padding-top: 0rem;
    padding-bottom: 5rem; }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3rem; }
  .footer__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0rem;
    margin-top: 0rem; }
  .footer__block2 {
    margin-left: 0rem; }
  .footer__block3 {
    margin-left: 0rem; }
  .footer__text-container {
    margin-left: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .home {
    width: 100%;
    height: auto; }
  .home__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .home__headline {
    font-size: 2.2rem;
    line-height: 5rem;
    padding: 0rem 1rem 0rem; }
  .home__bottom-panel {
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 4rem;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    margin-top: 10%; }
  .our-services {
    padding-bottom: 6.8rem; }
  .our-services__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-services__headline {
    font-size: 3rem;
    padding: 0rem 0rem; }
  .our-services__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5.7rem; }
  .our-services__item {
    width: 100%;
    height: auto;
    margin-left: 0rem;
    padding: 0rem 2rem;
    margin-top: 5rem; }
  .our-services__item:first-child {
    margin-top: 0rem; }
  .branding {
    padding-bottom: 5rem; }
  .branding__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .branding__section-name {
    position: relative;
    top: 0rem; }
  .branding__section-name::before {
    top: -14.9rem;
    left: 50%; }
  .branding__headline {
    font-size: 4rem;
    position: relative;
    top: 11rem;
    text-align: center; }
  .branding__slider {
    width: 100%;
    height: 60rem;
    margin: 4rem auto 0rem; }
  .branding__slider .owl-controls {
    width: 100%;
    height: auto; }
  .branding__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .branding__slide {
    margin: 0rem auto; }
  .branding__details {
    margin-top: 9.6rem;
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__details::before {
    right: -2.6rem; }
  .branding__view-slides {
    position: relative;
    bottom: 0rem;
    right: 0rem; }
  .branding__view-slides::after {
    content: none; }
  .testimonials {
    padding-bottom: 10rem; }
  .testimonials__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .testimonials__headline {
    padding: 0rem 0rem; }
  .testimonials__brands {
    margin-top: 8.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__brand {
    margin-left: 0rem;
    margin-top: 6rem; }
  .testimonials__brand:first-child {
    margin-top: 0rem; }
  .testimonials__slider {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls {
    width: 100%;
    height: auto; }
  .testimonials__slider .owl-controls .owl-page span {
    margin-left: 2.6rem; }
  .testimonials__slide {
    width: 100%;
    height: auto;
    margin: 0rem auto; }
  .testimonials__slide-paragraph {
    padding: 0rem 0rem; }
  .testimonials__author::before {
    content: none; }
  .testimonials__author::after {
    content: none; }
  .our-team {
    padding-bottom: 7.4rem; }
  .our-team__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .our-team__headline {
    text-align: center; }
  .our-team__content {
    margin-top: 3.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-team__content .row1 {
    border: none; }
  .our-team__item {
    border: .1rem solid #202020;
    margin-top: 3rem; }
  .our-team__item:last-child {
    border: .1rem solid #202020; }
  .our-team__item:first-child {
    margin-top: 0rem; }
  .contact-us__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .contact-us__headline {
    text-align: center; }
  .contact-us__form {
    background: #181818;
    width: 100%;
    height: auto;
    margin-top: 5.3rem;
    padding: 0rem 1rem 6rem; }
  .contact-us__block {
    width: 100%;
    height: auto; }
  .contact-us__input-container {
    padding-left: 0rem; }
  .contact-us__message-input-container {
    width: 100%; }
  .contact-us__input {
    width: 100%; }
  .contact-us__user-message {
    width: 100%; }
  .footer {
    padding-top: 0rem;
    padding-bottom: 5rem; }
  .footer__wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3rem; }
  .footer__block1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0rem;
    margin-top: 0rem; }
  .footer__block2 {
    margin-left: 0rem; }
  .footer__block3 {
    margin-left: 0rem; }
  .footer__text-container {
    margin-left: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem; } }
