* {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

body {
  cursor: default;
  font-family: "Georgia"; }

.wrapper {
  width: 96rem;
  height: auto;
  margin: 0 auto; }

.header {
  background: #27292F;
  padding-top: 2.6rem;
  padding-bottom: 2.9rem; }
  .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__logo-container {
    text-decoration: none;
    margin-top: 1.4rem; }
  .header__logo {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 4.6rem;
    color: #fff;
    text-transform: uppercase;
    text-align: left; }
    .header__logo span {
      font-size: 3.6rem; }
  .header__logo-description {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    text-align: left; }
  .header__search-n-menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .header__search-input {
    width: 21rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    background: url("../assets/header__search-icon.png") no-repeat 96.5% center, #1F232C;
    font-weight: 400;
    font-size: 1.3rem;
    color: #CCC;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    padding-right: 2.9rem; }
    .header__search-input::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #CCC; }
    .header__search-input::-moz-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #CCC; }
    .header__search-input:-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #CCC; }
    .header__search-input::-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #CCC; }
    .header__search-input::placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #CCC; }
  .header__menu-container {
    margin-top: 2.5rem; }
  .header__menu {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__menu-list-item {
    padding: 0rem;
    margin: 0rem;
    margin-right: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .header__menu-list-item:last-child {
      margin-right: 0rem; }
  .header__menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase; }

.section1__img {
  width: 100%;
  height: 36.6rem;
  background: url("http://placekitten.com/2000/600") no-repeat center;
  background-size: cover; }

.section2 {
  background: #E7E7E7;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4.8rem; }
  .section2::before {
    content: '';
    width: 100%;
    height: 0.5rem;
    background: #DADADA;
    position: absolute;
    bottom: 0rem;
    left: 0rem; }
  .section2__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section2__headline {
    width: -webkit-calc(100% - 28rem);
    width: calc(100% - 28rem);
    margin: 0rem;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.84rem;
    color: #1F232C;
    text-align: left; }
  .section2__contact-us-today-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 2.6rem;
    text-transform: uppercase;
    background: #1F232C;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    color: #E7E7E7;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 1.1rem; }
    .section2__contact-us-today-link:hover {
      background: #2a2f3b; }

.section3 {
  padding-top: 8.1rem; }
  .section3__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section3__block {
    width: 30rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .section3__text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-calc(100% - 10rem);
    width: calc(100% - 10rem);
    padding-top: 0.1rem;
    padding-left: 2rem; }
  .section3__block-headline {
    margin: 0rem;
    font-weight: 400;
    font-size: 2rem;
    color: #1F232C;
    text-align: left;
    position: relative; }
    .section3__block-headline::before {
      content: '';
      width: 100%;
      height: 0.2rem;
      background: #1F232C;
      position: absolute;
      bottom: -0.4rem;
      left: 0rem; }
  .section3__block-paragraph {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.08rem;
    color: #979797;
    text-align: left;
    margin-top: 1.4rem; }

.section4 {
  padding-top: 8rem;
  padding-bottom: 6.8rem; }
  .section4__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 99rem;
    height: auto;
    margin: 0 auto;
    overflow: hidden; }
  .section4__headline-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    position: relative; }
    .section4__headline-container::before {
      content: '';
      width: -webkit-calc(100% - 3rem);
      width: calc(100% - 3rem);
      height: 0.2rem;
      background: #1F232C;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -1; }
  .section4__headline {
    margin: 0rem;
    font-weight: 400;
    font-size: 2rem;
    color: #1F232C;
    text-align: center;
    background: #fff;
    padding: 0rem 1.1rem; }
  .section4__blocks-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 2.1rem; }
  .section4__block {
    width: 30rem;
    margin: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #EEE;
    padding-bottom: 1.4rem; }
  .section4__block-headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: #1F232C;
    text-align: center;
    margin-top: 1.3rem; }
  .section4__block-paragraph {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: #979797;
    text-align: center;
    margin-top: 0.5rem; }

.footer {
  background: #EEE;
  padding-top: 4.5rem;
  padding-bottom: 3rem; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-calc(100% / 4.3);
    width: calc(100% / 4.3); }
  .footer__block-headline {
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.8rem;
    color: #2C2C2C;
    text-transform: capitalize;
    text-align: left; }
  .footer__block-paragraph {
    text-decoration: none;
    width: 100%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #7C7C7C;
    text-align: left; }
  .footer__company-name {
    margin-top: 2.5rem; }
  .footer__street-name {
    margin-top: 0.5rem; }
  .footer__town {
    margin-top: 0.5rem; }
  .footer__postcode {
    margin-top: 0.6rem; }
  .footer__tel {
    margin-top: 1.2rem; }
  .footer__fax {
    margin-top: 0.5rem; }
  .footer__email {
    margin-top: 0.6rem; }
  .footer__list {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1.8rem; }
  .footer__list-item {
    padding: 0rem;
    margin: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    position: relative;
    margin-top: 0.1rem; }
    .footer__list-item:first-child {
      margin-top: 0rem; }
    .footer__list-item::before {
      content: '';
      width: 100%;
      height: 0.1rem;
      background: #C4C4C4;
      position: absolute;
      bottom: 0rem;
      left: 0rem; }
  .footer__list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: #1F232C;
    text-transform: capitalize;
    text-align: left;
    padding: 0.8rem 0rem; }
  .footer__post-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin-top: 2.6rem; }
  .footer__post-title {
    font-weight: 900; }
  .footer__post-info {
    font-size: 1.3rem;
    margin-top: 0.6rem; }
  .footer__post {
    line-height: 1.92rem;
    margin-top: 0.5rem; }
  .footer__read-more-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: #1F232C;
    text-transform: capitalize;
    margin-top: 1.2rem; }
  .footer__form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: .6rem;
    background: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    color: #1A1B1D;
    border: .1rem solid transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .footer__input::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #1A1B1D; }
    .footer__input::-moz-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #1A1B1D; }
    .footer__input:-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #1A1B1D; }
    .footer__input::-ms-input-placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #1A1B1D; }
    .footer__input::placeholder {
      font-weight: 400;
      font-size: 1.3rem;
      color: #1A1B1D; }
  .footer__name-input {
    margin-top: 2.6rem; }
  .footer__email-input {
    margin-top: 1rem; }
  .footer__submit-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: #1F232C;
    border-radius: 0.4rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    padding: 0.8rem 1.4rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 0.8rem; }
    .footer__submit-button:hover {
      background: #2a2f3b; }

.copy {
  background: #1F232C;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem; }
  .copy__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copy__paragraph {
    width: 50%;
    margin: 0rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #737373;
    text-align: left; }
  .copy__by-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
    color: #737373;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .copy__by-link:hover {
      color: gray; }

.modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  position: fixed;
  top: 0rem;
  left: 0rem;
  display: none; }

.modal__window {
  width: 31rem;
  height: 10rem;
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  opacity: 0;
  z-index: -1; }

.modal__paragraph {
  width: 100%;
  margin: 0rem;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  text-align: center; }
