doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Car Blog
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
		link(href="https://fonts.googleapis.com/css?family=Lato|PT+Sans:400,400i,700&display=swap" rel="stylesheet")
	body
		// Content Start

		//- Header
		header.header
			.header__wrapper.wrapper
				a.prevdef.header__logo-container(href="#")
					p.header__logo-paragraph1 Premium
					p.header__logo-paragraph2 Car
				nav.header__menu-container
					ul.header__menu
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Home
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Recipies
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Article
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Contact
						li.header__menu-list-item
							a.prevdef.header__menu-link(href="#") Purchase
				.header__search-container
					input.header__search-input(type="text")
					button.header__search-button

		//- Main Section
		section.main
			.main__wrapper.wrapper
				.main__block.main__block1
					.main__item.main__item1
						p.main__vehicle Vehicle
						a.prevdef.main__text-container(href="#")
							p.main__post-date #[span.main__post-author Rickie Baroch] - #[span.main__post-date June 6, 2019]
							p.main__post-title One of Saturn’s largest rings may be newer than anyone
				.main__block.main__block2
					.main__item.main__item2
						p.main__vehicle Vehicle
						a.prevdef.main__text-container(href="#")
							p.main__post-date #[span.main__post-author Rickie Baroch] - #[span.main__post-date June 6, 2019]
							p.main__post-title One of Saturn’s largest rings may be newer than anyone
					.main__item.main__item3
						p.main__vehicle Vehicle
						a.prevdef.main__text-container(href="#")
							p.main__post-date #[span.main__post-author Rickie Baroch] - #[span.main__post-date June 6, 2019]
							p.main__post-title One of Saturn’s largest rings may be newer than anyone
					.main__item.main__item4
						p.main__vehicle Vehicle
						a.prevdef.main__text-container(href="#")
							p.main__post-date #[span.main__post-author Rickie Baroch] - #[span.main__post-date June 6, 2019]
							p.main__post-title One of Saturn’s largest rings may be newer than anyone
					.main__item.main__item5
						p.main__vehicle Vehicle
						a.prevdef.main__text-container(href="#")
							p.main__post-date #[span.main__post-author Rickie Baroch] - #[span.main__post-date June 6, 2019]
							p.main__post-title One of Saturn’s largest rings may be newer than anyone

		//- Blog
		section.blog
			.blog__wrapper.wrapper
				.blog__center
					.blog__center-item.blog__center-item1
						.blog__center-img-container
							img.blog__center-img(src="assets/blog__center-pic1.jpg", alt="pic")
						a.prevdef.blog__center-text-container(href="#")
							p.blog__center-vehicle Vehicle
							h3.blog__center-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__center-post-info #[span.blog__center-post-author Rickie Baroch] - #[span.blog__center-post-date June 6, 2019]
							p.blog__center-post Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
					.blog__center-item.blog__center-item2
						.blog__center-img-container
							img.blog__center-img(src="assets/blog__center-pic2.jpg", alt="pic")
						a.prevdef.blog__center-text-container(href="#")
							p.blog__center-vehicle Vehicle
							h3.blog__center-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__center-post-info #[span.blog__center-post-author Rickie Baroch] - #[span.blog__center-post-date June 6, 2019]
							p.blog__center-post Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
					.blog__center-item.blog__center-item3
						.blog__center-img-container
							img.blog__center-img(src="assets/blog__center-pic3.jpg", alt="pic")
						a.prevdef.blog__center-text-container(href="#")
							p.blog__center-vehicle Vehicle
							h3.blog__center-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__center-post-info #[span.blog__center-post-author Rickie Baroch] - #[span.blog__center-post-date June 6, 2019]
							p.blog__center-post Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
					.blog__center-item.blog__center-item4
						.blog__center-img-container
							img.blog__center-img(src="assets/blog__center-pic4.jpg", alt="pic")
						a.prevdef.blog__center-text-container(href="#")
							p.blog__center-vehicle Vehicle
							h3.blog__center-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__center-post-info #[span.blog__center-post-author Rickie Baroch] - #[span.blog__center-post-date June 6, 2019]
							p.blog__center-post Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
					.blog__center-item.blog__center-item5
						.blog__center-img-container
							img.blog__center-img(src="assets/blog__center-pic5.jpg", alt="pic")
						a.prevdef.blog__center-text-container(href="#")
							p.blog__center-vehicle Vehicle
							h3.blog__center-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__center-post-info #[span.blog__center-post-author Rickie Baroch] - #[span.blog__center-post-date June 6, 2019]
							p.blog__center-post Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
					.blog__center-pagination
						button.blog__center-pagination-prev-button
						ul.blog__center-pagination-list
							li.blog__center-pagination-list-item
								a.prevdef.blog__center-pagination-link(href="#") 1
							li.blog__center-pagination-list-item
								a.prevdef.blog__center-pagination-link(href="#") 2
							li.blog__center-pagination-list-item
								a.prevdef.blog__center-pagination-link(href="#") 3
							li.blog__center-pagination-list-item
								a.prevdef.blog__center-pagination-link(href="#") ...
							li.blog__center-pagination-list-item
								a.prevdef.blog__center-pagination-link(href="#") 8
						button.blog__center-pagination-next-button
				.blog__right
					.blog__right-top-post-container
						.blog__right-top-post-img-container
							img.blog__right-top-post-img(src="assets/blog__top-post-img.jpg", alt="pic")
						p.blog__right-top-post-author Leon Hunt
						p.blog__right-top-post-proffesion Food & cooking bloger
						p.blog__right-top-post Hi, I'm Leon. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
						a.prevdef.blog__right-top-post-continue-reading(href="#") Continue Reading
					.blog__right-popular-posts-container
						h3.blog__right-popular-posts-title Popular posts
						a.prevdef.blog__right-popular-post(href="#")
							.blog__right-popular-post-img-container
								img.blog__right-popular-post-img(src="assets/blog__popular-post-img1.jpg", alt="pic")
							h3.blog__right-popular-post-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__right-popular-post-info #[span.blog__right-popular-post-author Rickie Baroch] - #[span.blog__right-popular-post-date June 6, 2019]
						a.prevdef.blog__right-popular-post(href="#")
							.blog__right-popular-post-img-container
								img.blog__right-popular-post-img(src="assets/blog__popular-post-img2.jpg", alt="pic")
							h3.blog__right-popular-post-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__right-popular-post-info #[span.blog__right-popular-post-author Rickie Baroch] - #[span.blog__right-popular-post-date June 6, 2019]
						a.prevdef.blog__right-popular-post(href="#")
							.blog__right-popular-post-img-container
								img.blog__right-popular-post-img(src="assets/blog__popular-post-img3.jpg", alt="pic")
							h3.blog__right-popular-post-headline One of Saturn’s largest rings may be newer than anyone
							p.blog__right-popular-post-info #[span.blog__right-popular-post-author Rickie Baroch] - #[span.blog__right-popular-post-date June 6, 2019]
					.blog__right-instagram-container
						h3.blog__right-instagram-headline Instagram
						.blog__right-instagram-imgs-container
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img1(href="#")
								img(src="assets/blog__instagram-img1.jpg", alt="pic")
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img2(href="#")
								img(src="assets/blog__instagram-img2.jpg", alt="pic")
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img3(href="#")
								img(src="assets/blog__instagram-img3.jpg", alt="pic")
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img4(href="#")
								img(src="assets/blog__instagram-img4.jpg", alt="pic")
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img5(href="#")
								img(src="assets/blog__instagram-img5.jpg", alt="pic")
							a.prevdef.blog__right-instagram-img.blog__right-instagram-img6(href="#")
								img(src="assets/blog__instagram-img6.jpg", alt="pic")
						a.prevdef.blog__right-view-instagram(href="#") View Istagram
					.blog__right-tags-container
						h3.blog__right-tags-title Tags
						.blog__right__tags
							a.prevdef.blog__right-tag(href="#") Business
							a.prevdef.blog__right-tag(href="#") Freelance
							a.prevdef.blog__right-tag(href="#") Money
							a.prevdef.blog__right-tag(href="#") Experience
							a.prevdef.blog__right-tag(href="#") Lifestyle
							a.prevdef.blog__right-tag(href="#") SEO
							a.prevdef.blog__right-tag(href="#") Wordpress
							a.prevdef.blog__right-tag(href="#") Marketing
							a.prevdef.blog__right-tag(href="#") UX
							a.prevdef.blog__right-tag(href="#") Modern
							a.prevdef.blog__right-tag(href="#") Success
							a.prevdef.blog__right-tag(href="#") Nature
							a.prevdef.blog__right-tag(href="#") Productivity
							a.prevdef.blog__right-tag(href="#") Sales page
							a.prevdef.blog__right-tag(href="#") Sell
							a.prevdef.blog__right-tag(href="#") Teamwork
							a.prevdef.blog__right-tag(href="#") Montize
					.blog__right-subscribe-container
						h3.blog__right-subscribe-title Email Newsletter
						p.blog__right-subscribe-paragraph Sign up to receive email updates and to hear what's going on.
						form.blog__subscribe-form
							input.blog__subscribe-input.blog__subscribe-name-input(type="text" placeholder="Your name")
							input.blog__subscribe-input.blog__subscribe-email-input(type="text" placeholder="Your email address")
							button.prevdef.blog__subscribe-submit-button Subscribe to newsletter

		

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]