// Import Variables
include pug-includes/variables.pug

// Import Head
include pug-includes/head.pug

// Import Sections
include pug-includes/include.pug

// Import Scripts
include pug-includes/scripts.pug